<!-- 用户分组页面【用户管理下】 -->
<div class="panel panel-default cas-panel" ng-controller="UserGroupCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display:inline;">
			<li><a ui-sref='main.VDCMng' ><span translate="VDC.VDCMng"></span></a></li>
			<li><a ui-sref='main.userManage' ><span translate="user.userManage"></span></a></li>
			<li class="active"><span translate="user.userGroup"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('usrMgmt/userGroup/userGroupMgmt')"></span>
	</div>
	<div class="panel-body">
		<div class="section"></div>
		<div class="section">
			<div class='lead'>
		      <span class="pic Icon_operator_group Icon_common_display">
		      </span>
		      <span class="desc"><span translate="user.userGrpHead"></span></span>
		    </div>
		</div>
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
			<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshPage()">
						<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
					</label>
					<label has-permission="USER_GROUP_ADD" class="btn btn-default btn-menu hidden-xs" ng-click="addUserGroup()"> 
					    <span class="sm-icon icon-add"></span>
						<span translate="operator.addGrp"></span>
					</label>
				</div>
			</div>
		</nav>
		<div class="cas-list-body oneListWithLead-calc vmSummaryOverflow" id="userGrouplistDivId">
	      <tree-grid tree-data="treeData"
		    		   col-defs="column"
		    		   expand-on="expandColumn"
		    		   icon-leaf="-"
		    		   icon-expand=""
		    		   icon-collapse=""
		    		   on-select=""
		    		   on-click=""
		    		   template-url=""
		    		   expand-level="21"
		    		   tree-grid-heigth="100%"
		    		   header-color="#436bb3"
		    		   row-height="32">
		    </tree-grid>
	    </div>
	</div>
</div>