<!-- 查看用户 -->
<div class="modal-header">
    <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
    <button type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('usrMgmt/userGroup/viewUserGroupDetail')">
		<span class="icon-helpnew"></span>
	</button>

    <h4 class="modal-title" translate="user.viewUserGrp"></h4>
</div>
<div class="modal-body modal-detail">
	<div class="description">
		<div class="detail-item">
			<dl  class="dl-horizontal">
				<dt style="width:45%;" translate="user.parentGrp"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::entry.parentGrp}}">{{::entry.parentGrpe}}</dd>
				<dt style="width:45%;" translate="operator.groupName"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::entry.name}}">{{::entry.name}}</dd>
				<dt style="width:45%;" translate="operator.groupDesc"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::entry.description}}">{{::entry.description}}</dd>
				<dt style="width:45%;" translate="user.organization"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::entry.orgName}}">{{::entry.orgName}}</dd>
			</dl>
		</div>
	</div>
</div>
<!-- 内容1:按钮栏 -->
<div class="modal-footer">
    <button class="btn btn-black" ng-click="cancel()" translate="common.close"></button>
</div>
