<!-- 云安全 -->
<div class="panel panel-default cas-panel">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li><a ui-sref='main.cloudService' ><span translate="cloudService.cloudService"></span></a></li>
			<li class="active" translate="cloudService.cloudSecurity"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudService/cloudSecurityMgmt')"></span>
	</div>

	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      	<span class="pic Icon_vm_workflow_handle Icon_common_display">
		      	</span>
		      	 <span class='desc' >
		      	 		<span translate="cloudSecurity.manageHead"></span>
		      	 </span>
		    </div>
		</div>
	    <div class="panel-body">
 			<!-- 防病毒 -->
			<a ui-sref='main.cloudAntivirusConfig' class="dashboard-box" has-permission="CLOUDANTIVIRUS_CONFIG_MNG"> 
				<span class="custom-picture Icon_common_display Icon_vm_workflow" ></span>
				<span class="box-title" text="{{::'cloudSecurity.antiVirusMng'|translate}}"> <span translate="cloudSecurity.antiVirusMng"></span></span>
			</a>
			<!-- 防火墙 -->
			<!-- <a  ui-sref="main.acl" class="dashboard-box" has-permission="CLOUDDISKFLOW_MNG"> 
				<span class="custom-picture Icon_common_display Icon_vm_disk_workflow"></span>
				<span class="box-title" text="{{::'cloudSecurity.firewall'|translate}}"><span translate="cloudSecurity.firewall"></span></span>
			</a> -->
		</div>
	</div>
</div>