<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.h3cloud.vmware.api.mapper.PublicCloudMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.h3c.h3cloud.vmware.api.entity.PublicCloud">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="DESCRIPTION" property="description" />
        <result column="FLAG" property="flag" />
        <result column="URI" property="uri" />
        <result column="PROTOCAL" property="protocal" />
        <result column="PORT" property="port" />
        <result column="USER_NAME" property="userName" />
        <result column="PASSWORD" property="password" />
        <result column="OP_GROUP_ID" property="opGroupId" />
        <result column="OP_GROUP_CODE" property="opGroupCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, NAME AS name, DESCRIPTION AS description, FLAG AS flag, URI AS uri, PROTOCAL AS protocal, PORT AS port, USER_NAME AS userName, PASSWORD AS password, OP_GROUP_ID AS opGroupId, OP_GROUP_CODE AS opGroupCode
    </sql>

    <select id="getPublicCloudPageList" resultType="com.h3c.h3cloud.vmware.api.entity.PublicCloud">
        select * from
        TBL_PUBLIC_CLOUD
        <where>
            <if test="map.name!=null and map.name!=''">
                and NAME like #{map.name}
            </if>
            <if test="map.flag!=null and map.flag!=''">
                and FLAG = #{map.flag}
            </if>
            <if test="map.operatorGroupCode!=null and map.operatorGroupCode!=''">
                and OP_GROUP_CODE like #{map.operatorGroupCode}
            </if>
        </where>
        <if test="map.sortField!=null and map.sortField!=''">
            order by ${map.sortField}
        </if>
        <if test="map.sortField!=null and map.sortField!='' and map.sortDir!=null and map.sortDir!=''">
            ${map.sortDir}
        </if>
    </select>

</mapper>
