<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.h3cloud.vmware.api.mapper.VmMigrateTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.h3c.h3cloud.vmware.api.entity.VmMigrateTask">
        <id column="ID" property="id"/>
        <result column="SOURCE_HOST_KEY" property="sourceHostKey"/>
        <result column="SOURCE_HOST_NAME" property="sourceHostName"/>
        <result column="SOURCE_VM_KEY" property="sourceVmKey"/>
        <result column="SOURCE_VM_NAME" property="sourceVmName"/>
        <result column="PUBLIC_CLOUD_ID" property="publicCloudId"/>
        <result column="DEST_HOST_ID" property="destHostId"/>
        <result column="DEST_HOST_IP" property="destHostIp"/>
        <result column="DEST_HOST_NAME" property="destHostName"/>
        <result column="NEW_VM_UUID" property="newVmUuid"/>
        <result column="NEW_VM_TITLE" property="newVmTitle"/>
        <result column="SPEED_TYPE" property="speedType"/>
        <result column="SPEED_VALUE" property="speedValue"/>
        <result column="MIGRATE_TYPE" property="migrateType"/>
        <result column="CLOSE" property="close"/>
        <result column="START" property="start"/>
        <result column="STATUS" property="status"/>
        <result column="BACKUP_INTERVAL" property="backupInterval"/>
        <result column="OP_GROUP_ID" property="opGroupId"/>
        <result column="OP_GROUP_CODE" property="opGroupCode"/>
        <result column="TAG" property="tag"/>
        <result column="LAST_MIGRATE_TIME" property="lastMigrateTime"/>
        <result column="operator_id" property="operatorId"/>
        <result column="login_name" property="loginName"/>
        <result column="user_name" property="userName"/>
    </resultMap>
    <resultMap id="VmMigrateTaskEntityMap" type="com.h3c.h3cloud.vmware.api.entity.VmMigrateTaskEntity"
               extends="BaseResultMap">
        <result column="NAME" property="publicCloudName"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id,SOURCE_HOST_KEY as sourceHostKey,SOURCE_HOST_NAME as sourceHostName, SOURCE_VM_KEY AS sourceVmKey,
        SOURCE_VM_NAME AS sourceVmName, PUBLIC_CLOUD_ID AS publicCloudId, DEST_HOST_ID AS destHostId,DEST_HOST_IP as
        destHostIp,DEST_HOST_NAME AS destHostName, NEW_VM_UUID AS newVmUuid, NEW_VM_TITLE AS newVmTitle, SPEED_TYPE AS
        speedType, SPEED_VALUE AS speedValue, MIGRATE_TYPE AS migrateType, CLOSE AS close, START AS start, STATUS AS
        status, BACKUP_INTERVAL AS backupInterval, OP_GROUP_ID AS opGroupId, OP_GROUP_CODE AS opGroupCode,TAG,LAST_MIGRATE_TIME as lastMigrateTime
    </sql>

    <select id="getMigrateTaskPageList" resultMap="VmMigrateTaskEntityMap">
        select a.*, b.NAME from
        TBL_VM_MIGRATE_TASK a INNER JOIN TBL_PUBLIC_CLOUD b on a.PUBLIC_CLOUD_ID=b.ID
        <where>
            <if test="map.status!=null and map.status!=-1">
                and STATUS = #{map.status}
            </if>
            <if test="map.sourceVmName!=null and map.sourceVmName!=''">
                and SOURCE_VM_NAME like CONCAT('%',#{map.sourceVmName},'%')
            </if>
            <if test="map.publicCloudId!=null and map.publicCloudId!=''">
                and PUBLIC_CLOUD_ID = #{map.publicCloudId}
            </if>
        </where>
        <if test="map.sortField!=null and map.sortField!=''">
            order by ${map.sortField}
        </if>
        <if test="map.sortField!=null and map.sortField!='' and map.sortDir!=null and map.sortDir!=''">
            ${map.sortDir}
        </if>
    </select>

    <select id="getMigrateTaskDetail" parameterType="Long" resultMap="VmMigrateTaskEntityMap">
        select a.*, b.NAME from
        TBL_VM_MIGRATE_TASK a LEFT JOIN TBL_PUBLIC_CLOUD b on a.PUBLIC_CLOUD_ID=b.ID
        <where>
            <if test="id!=null and id!=''">
                and a.ID = #{id}
            </if>
        </where>
    </select>
    <select id="selectForUnfinished" resultType="com.h3c.h3cloud.vmware.api.entity.VmMigrateTask">
        select * from TBL_VM_MIGRATE_TASK a LEFT JOIN TBL_PUBLIC_CLOUD b on a.PUBLIC_CLOUD_ID=b.ID
        <where>
            <if test="sourceVmKey!=null and sourceVmKey!=''">
                and a.SOURCE_VM_KEY = #{sourceVmKey}
            </if>
            <if test="publicCloudIp!=null and publicCloudIp!=''">
                and b.URI = #{publicCloudIp}
            </if>
            <if test="completeSet!=null and completeSet.size>0">
                and a.STATUS not IN
                <foreach item="item" index="index" collection="completeSet"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <delete id="deleteBackupWithChildren">
        delete from TBL_VM_MIGRATE_TASK
        <where>
            dest_host_id = #{hostId}
            <if test="statuses!=null and statuses!=''">
                and STATUS in
                <foreach collection="statuses" item="id"  open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </delete>

    <delete id="deleteMigrateTaskByHostId">
        DELETE FROM TBL_VM_MIGRATE_TASK
        <where>
            dest_host_id = #{hostId}
            <if test="statuses != null and statuses.size > 0">
                AND status IN
                <foreach collection="statuses" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </delete>
</mapper>
