.ngVerticalBarVisible {
  background-color: #d4d4d4;
}

.table.tree-grid>thead>tr>th {
	border-right : 1px solid;
}

.table.tree-grid>tbody>tr>td {
	border-right : 1px solid  #d4d4d4;
}
#contentTable>tbody>tr>td{
	border-right : 1px solid  #d4d4d4;
}