[Unit]
Description=Flexible Storage Manager
Wants=libvirtd.service
After=iscsi.service o2cb.service multipathd.service

[Service]
Type=forking
PIDFile=/var/run/fsm_core.pid
Restart=always
RestartSec=30
ExecStart=/sbin/fsm_core.init start
ExecStop=/sbin/fsm_core.init stop
ExecReload=/sbin/fsm_core.init restart

[Install]
WantedBy=multi-user.target
