<div id="network{{index}}" class="container-fluid">
    <!-- 配置网络 -->
    <!-- 虚拟交换机 -->
    <div class="form-group" >
        <label class="btn col-md-4 large btn-cascpu" type="button" ng-mouseup="isCollapse('networkCollapse{{index}}')" data-toggle="collapse" data-target="#networkCollapse{{index}}" aria-expanded="false" aria-controls="networkCollapse{{index}}">
           <span id="networkCollapse{{index}}Icon" class="icon expand-icon fa fa-caret-right" style="width:6px;"></span>
           <span class="sm-icon  icon-casnet"> </span>
           <span translate="vmware.network"></span><span ng-if="deleteIcon == 'true'">{{index}}</span><span style="color:red">*</span>
        </label>
        <div class="control-input col-md-8">
           <div class="control-input">
               <div class="input-group" ng-class="{'width300':deleteIcon == 'true', 'width260':deleteIcon != 'true'}">
                   <select-input class="" options="networks" input-id="network_{{index}}" input-name="network_{{index}}"  bind-model="bindModel.deviceName" >
                   </select-input>
                   <span class="input-group-addon inner-addon last-child-angle" style="cursor:pointer;" ng-if="deleteIcon == 'true'" ng-click="deletNetwork()">
	                   <span class="icon-delete-gray" custom-title="{{'common.delete' | translate}}"></span>
	               </span>
               </div>               
           </div>
        </div>
    </div>
    <div class="collapse networkCollapse" id="networkCollapse{{index}}">
       <div class="form-group">
           <label for="adapter_{{index}}" class="control-label"><span translate="vmware.adapter" translate-values="{num:1}"></span><span style="color:red">&nbsp;</span></label>
           <div class="control-input">
               <div class="input-group width260">
                   <select-input class="" options="adapters" input-id="adapter_{{index}}" input-name="adapter_{{index}}"  bind-model="bindModel.deviceType" 
                   ng-init="bindModel.deviceType='VirtualE1000'">
                   </select-input>
               </div>
           </div>
       </div>
    </div>
</div>