<div id="disk{{index}}" class="container-fluid">
    <!-- 配置磁盘 -->
    <!-- 磁盘类型 -->
    <div class="form-group">
        <label class="btn col-md-4 large btn-cascpu" type="button" ng-mouseup="isCollapse('diskCollapse{{index}}')" data-toggle="collapse" data-target="#diskCollapse{{index}}" aria-expanded="false" aria-controls="diskCollapse{{index}}">
            <span id="diskCollapse{{index}}Icon" class="icon expand-icon fa fa-caret-right" style="width:6px;"></span>
            <span class="sm-icon icon-casdisk"> </span>
            <span translate="addDomain.disk"></span><span style="color: red">*</span>
        </label>
        <div class="control-input col-md-8">
             <div class="control-input">
                  <div class="input-group" ng-if="bindModel.diskUnit=='MB'" ng-class="{'has-error':capacityMBForm.$invalid, 'width300':deleteIcon != 'true'}" style="width:337px;">
                      <input id= "capacityMB{{index}}" name="capacityMB{{index}}" type="text" class="spinner-input"  ng-model="bindModel.diskSize" checkint spinner spinner-min="1024" spinner-max="{{bindModel.diskMax}}">                                               
                      <span class="input-group-btn" style="width:60px;">
	                      <select-input class="" options="bindModel.memoryUnitSelect" bind-model="bindModel.diskUnit" input-id="diskUnit" input-name="diskUnit" right-angle="true">
                          </select-input>
                      </span>
                      <span class="input-group-addon help-addon" ng-messages="capacityMBForm.$error">
                         <span ng-message="required"><span class="fa fa-exclamation-triangle" ng-attr-tooltip-placement="{{deleteIcon == 'true' ? 'left' : 'down'}}" tooltip="{{'require'|translate}}"></span></span>
                         <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'minValueIs'|translate}}1024"></span></span>
                         <span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'maxValueIs'|translate}}{{bindModel.diskMax}}"></span></span>
			        	 <span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'invalidint'|translate}}"></span></span>
                     </span>
                  </div>
                  <div class="input-group" ng-if="bindModel.diskUnit!='MB'" ng-class="{'has-error':capacityForm.$invalid, 'width300':deleteIcon != 'true'}" style="width:337px;">
                      <input id= "capacity{{index}}" name="capacity{{index}}" type="text" class="spinner-input"  ng-model="bindModel.diskSize" spinner checkintfloat decimal=2 spinner-min=1 spinner-max="{{bindModel.diskMax}}" required >                                               
                      <span class="input-group-btn" style="width:60px;">
	                      <select-input class="" options="bindModel.memoryUnitSelect" bind-model="bindModel.diskUnit" input-id="diskUnit" input-name="diskUnit" right-angle="true">
                          </select-input>
                      </span>
                      <span class="input-group-addon help-addon" ng-messages="capacityForm.$error">
                         <span ng-message="required"><span class="fa fa-exclamation-triangle" ng-attr-tooltip-placement="{{deleteIcon == 'true' ? 'left' : 'down'}}" tooltip="{{'require'|translate}}"></span></span>
                         <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'minValueIs'|translate}}1"></span></span>
				         <span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'maxValueIs'|translate}}{{bindModel.diskMax}}"></span></span>
				         <span ng-message="intfloat"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'invalidintfloat'|translate}}"></span></span>
                     </span>
                  </div>
              </div>
        </div>
    </div>
    <div class="collapse diskCollapse" id="diskCollapse{{index}}">
        <!-- 选中存储池 -->
        <div class="form-group" ng-class="{'has-error' : (poolNameForm.$invalid)}">
        	<label for="volumeName" class="control-label large"><span translate="vmware.datastore"></span></label>
	        <div class="input-group">   
	            <div class="input-group width260" style="cursor:pointer;" ng-click="selectStoragePool()">
	                <input id="poolName{{index}}" ng-readonly="true" name="poolName{{index}}" class="form-control selectInput" type="text" ng-model="bindModel.selectPool.name">
	                <span class="input-group-addon inner-addon last-child-angle">
	                    <span class="icon-search-gray" type="button"></span>
	                </span>  
	            </div>
	    		<span class="input-group-addon help-addon" ng-messages="poolNameForm.$error">
	                <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{::'require'|translate}}"></span></span>
	            </span>
	        </div>
        </div>
        <!-- 置备方式 -->
		<div class="form-group">
           	<label class="control-label" style="height:90px;"><span translate="vmware.diskModel"></span></label>
           	<div class="control-input">
           		<!-- 精简置备 -->
           		<div class="input-group width300">
           			<cas-ace-check id="diskModel_0" name="diskModel" type="radio" text="{{::'vmware.diskModel0' | translate}}" 
           				checked-value="0" checked="true" 
           				ng-model="bindModel.diskModel" >
           			</cas-ace-check>
            	</div>
                <!-- 厚置备延迟置零 -->
           		<div class="input-group width300">
           			<cas-ace-check id="diskModel_1" name="diskModel" type="radio" text="{{::'vmware.diskModel1' | translate}}" 
           				checked-value="1" 
           				ng-model="bindModel.diskModel" >
           			</cas-ace-check>
                </div>
                <!-- 厚置备置零 -->
                <div class="input-group width300">
           			<cas-ace-check id="diskModel_2" name="diskModel" type="radio" text="{{::'vmware.diskModel2' | translate}}" 
           				checked-value="2" 
           				ng-model="bindModel.diskModel" >
           			</cas-ace-check>
                </div>
          	</div>
       	</div>
    </div>
</div>