<div class="container-fluid">
<!--vmware 虚拟机CPU -->
	<!-- CPU个数 -->
	<div class="form-group" style="margin-top:15px;">
       <label class="btn col-md-4 large btn-cascpu" ng-mouseup="isCollapse('cpuCollapse')" data-toggle="collapse" data-target="#cpuCollapse" aria-expanded="false" aria-controls="cpuCollapse">
           <span id="cpuCollapseIcon" class="icon expand-icon fa fa-caret-right" style="width:6px;"> </span>
           <span class="sm-icon icon-cascpu"> </span>
           <span translate="addDomain.cpu"></span><span style="color: red">*</span>
<!--            <span ng-if="cpuError && !shown" class="fa fa-exclamation-triangle" style="color:#a94442" tooltip-placement="right" tooltip="{{'hasErrorTip'|translate}}"></span> -->
       </label>
       <div class="control-input col-md-8" ng-class="{'has-error' : (form.cpuSocket.$invalid)}">
           <div class="input-group width300">
               <input id= "cpuSocket" name="cpuSocket" checkint type="text" required class="spinner-input" spinner spinner-max={{maxSocket}} spinner-min=1  ng-model="bindModel.cpuSocket">
               <span class="input-group-addon unit-addon last-child-angle">{{'addDomain.ge'|translate}}</span>
               <span class="input-group-addon help-addon" ng-messages="form.cpuSocket.$error">
                    <span ng-if="form.cpuSocket.$valid">
                        <span class="icon-occupying"></span>
                    </span>
                    <span>
                        <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{::'require'|translate}}"></span></span>
                        <span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'vmware.maxCpu'|translate}}{{maxCpus}}"></span></span>
				        <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'minValueIs'|translate}}1"></span></span>
				        <span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'invalidint'|translate}}"></span></span>
                    </span>
               </span>
           </div>
       </div>
	</div>
	<!-- CPU核数 -->
	<div class="collapse" id="cpuCollapse">
	    <div class="form-group">
	        <label for="cpu_socket" class="control-label large">
	            <span translate="addDomain.cpuCoreNum"></span><span style="color: red">*</span>
	        </label>
	        <div class="control-input" ng-class="{'has-error' : (form.cpuCore.$invalid)}">
	            <div class="input-group width300">
	                <input id= "cpuCore" name="cpuCore" checkint required type="text" class="spinner-input" spinner spinner-max={{maxCoresPerSocket}} spinner-min=1  ng-model="bindModel.coresPerSocket">
	                <span class="input-group-addon unit-addon last-child-angle">{{'addDomain.core'|translate}}</span>
	                <span class="input-group-addon help-addon" ng-messages="form.cpuCore.$error">
	                    <span ng-if="form.cpuCore.$valid">
	                        <span class="icon-occupying"></span>
	                    </span>
	                    <span>
	                        <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{::'require'|translate}}"></span></span>
	                    	<span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'vmware.maxCpu'|translate}}{{maxCpus}}"></span></span>
				        	<span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'minValueIs'|translate}}1"></span></span>
				        	<span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'invalidint'|translate}}"></span></span>
	                    </span>
	                </span>
	            </div>
	        </div>                                      
	    </div>
	</div>
</div>