<div class="container-fluid">
<!--增加虚拟机-硬件信息-配置内存 -->
    <!-- 配置内存 -->                      
    <!-- vmware虚拟机内存 -->
    <div class="form-group">
        <label class="btn col-md-4 large btn-cascpu" type="button" style="cursor:default;padding-left:9px;">
            <span class="sm-icon small-icon-16-16 icon-casmemory"> </span>
            <span translate="addDomain.domainMemory"></span><span style="color: red">*</span>
        </label>
        <div class="control-input col-md-8" ng-class="{'has-error' : (form.domainMemory.$invalid && form.domainMemory.$dirty)}">
            <div class="input-group width300" ng-if="bindModel.memoryUnit == 'GB'">
                <input id= "domainMemory" name="domainMemory" required type="text" ng-model="bindModel.memory" class="spinner-input" spinner checkintfloat decimal=2 spinner-max="1024" spinner-min=1 memcheck>                                               
                <span class="input-group-btn" style="width:60px;">
                 <select-input class="" options="bindModel.memoryUnitSelect" bind-model="bindModel.memoryUnit" input-id="memoryUnit" input-name="memoryUnit" right-angle="true">
                 </select-input>
                </span>
                <span class="input-group-addon help-addon" ng-messages="form.domainMemory.$error" ng-style="{'color':form.domainMemory.$invalid?'#a94442':''}">
                     <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{::'require'|translate}}"></span></span>
                     <span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'maxValueIs'|translate}}1024"></span></span>
		        	 <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'minValueIs'|translate}}1"></span></span>
		        	 <span ng-message="intfloat"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'invalidintfloat'|translate}}"></span></span>
		        	 <span ng-message="memcheck"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'vm.memMultipleError'|translate}}"></span></span>
                </span>
            </div>
            <div class="input-group width300" ng-if="bindModel.memoryUnit != 'GB'">
                <input id= "domainMemory" name="domainMemory" required checkint type="text" ng-model="bindModel.memory" class="spinner-input" spinner step=4 spinner-max="1048576" spinner-min=1024 memcheck>                                               
                <span class="input-group-btn" style="width:60px;">
                 <select-input class="" options="bindModel.memoryUnitSelect" bind-model="bindModel.memoryUnit" input-id="memoryUnit" input-name="memoryUnit" right-angle="true">
                 </select-input>
                </span>
                <span class="input-group-addon help-addon" ng-messages="form.domainMemory.$error" ng-style="{'color':form.domainMemory.$invalid?'#a94442':''}">
                    <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{::'require'|translate}}"></span></span>
                    <span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'maxValueIs'|translate}}1048576"></span></span>
			       	<span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'minValueIs'|translate}}1024"></span></span>
			       	<span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'invalidint'|translate}}"></span></span>
			       	<span ng-message="memcheck"><span class="fa fa-exclamation-triangle" tooltip-placement="down" tooltip="{{'vm.memMultipleError'|translate}}"></span></span>
                </span>
            </div>
        </div>
    </div>
</div>