<div class="calc100"  ng-controller="OrgCloudOsTemplateCtrl">
<!-- cloudOS虚拟机镜像页面 -->
	<nav class="navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="btn-group navbar-left" >
		    	<h5 translate="template.template"></h5>
	       	</div>
			<div class="btn-group navbar-right" >
				<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshTempletPage()" >
					<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
			    </label>
			</div>
		</div>
	</nav>
	
	<div ng-class="{'cas-list-body oneList-calc':cloudType == 5,'cas-list-body templateNetList-calc':cloudType != 5}">
        <div id="templateListDivId" class="calc100" style="width:100%;" ng-grid="gridOptions"></div>
    </div>
	
</div>