<!-- CloudOS页面 -->
<div class="cas-panel" style="min-width:924px" >
	<!-- 导航 -->
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display:inline;">
			<li><a ui-sref='main.cloudResource' ><span translate="cloudResource.cloudResource"></span></a></li>
            <li class="active"><span translate="cloudResource.cloudOS"></span>：{{entryName}}</li>
        </ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudResource/vCenter/vCenterResMgmt')"></span>
	</div>
	<!-- 主体内容 -->
	<div class="panel-body" content-style>
		<!-- tab面板 -->
		<div class="section">
			<castabset>
		    	<castab has-permission="VIRT_MNG" active="{{currentTab=='vm'}}" href=".vm" icon="icon-virtual-host-gray" heading="{{'vmware.vm'|translate}}"></castab>
		    	<castab href=".cloudOsImg" icon="icon-vm-template-gray" active="{{currentTab == 'template'}}" heading="{{::'org.template'|translate}}"></castab>
		    </castabset>
		</div>
	    <div id="cloudOSContent" content-style class="tabContent" ui-view></div>	
	</div>
</div>