<!-- CloudOS 虚拟机列表 -->
<div id="cloudOSVmListDiv" class='calc100' ng-controller="cloudOSVmListController">
	<nav class="navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="btn-group navbar-right" >
				<!-- 刷新 -->
				<label class="btn btn-default btn-menu hidden-xs"  ng-click="refreshVmList()">
				    <span class='sm-icon icon-refresh'></span>
				    <span translate="common.refresh"></span>
		        </label>
		        <!-- 手工同步 -->
		        <label class="btn btn-default btn-menu hidden-xs"  ng-click="syncResource()">
				    <span class='sm-icon icon-synchronize'></span>
				    <span translate="cloudResource.syncResource"></span>
		        </label>
		        <!-- <label has-permission="VIRT_HOST_START" ng-if ="vm.enableStart == false" class="btn btn-default btn-menu btn-forbidden">
					  <span class="sm-icon icon-start-gray"></span><span translate="menu.start"></span>
				</label> -->
				<!-- <label has-permission="VIRT_HOST_START" ng-if ="vm.enableStart == true" class="btn btn-default btn-menu" ng-click="operateCloudOSVm('start')">
					  <span class="sm-icon icon-start"></span><span translate="menu.start"></span>
				</label> -->
				
				<!-- <label has-permission="VIRT_HOST_CLOSE" ng-if ="vm.enableClose == false" class="btn btn-default btn-menu btn-forbidden" >
				  <span class="sm-icon icon-vm-shutdown-gray"></span><span translate="vm.close"></span>
				</label> -->
				<!-- <label has-permission="VIRT_HOST_CLOSE" ng-if ="vm.enableClose == true" class="btn btn-default btn-menu " ng-click="operateCloudOSVm('close')">
				  <span class="sm-icon icon-vm-shutdown"></span><span translate="vm.close"></span>
				</label> -->
				<!-- <div class="btn btn-default btn-menu"  ng-if ="vm.enableDistribute != null" dropdown dropdown-toggle>
					  <span class="sm-icon icon-more-actions"></span>
					  <span translate="menu.moreOperate"></span>
					  <span class="dropdown-toggle icon-xialahao" type="button"></span>
					  <ul class="dropdown-menu" role="menu">
				        <li has-permission="VIRT_HOST_RESTORE" ng-if ="vm.enableRestore == false"><a href="#" class="dropdown-forbidden"><span class="sm-icon icon-vm-resume-gray"></span><span translate="menu.resume"></span></a></li>
				        <li has-permission="VIRT_HOST_RESTORE" ng-if ="vm.enableRestore == true"><a href="#" ng-click="operateCloudOSVm('revert')"><span class="sm-icon icon-vm-resume"></span><span translate="menu.resume"></span></a></li>
				         
				        <li ng-if ="vm.enableSuspended == false"><a href="#" class="dropdown-forbidden"><span class="sm-icon icon-vm-sleep-gray"></span><span translate="vm.suspended"></span></a></li>
				        <li ng-if ="vm.enableSuspended == true"><a href="#" ng-click="operateCloudOSVm('suspended')"><span class="sm-icon icon-vm-sleep"></span><span translate="vm.suspended"></span></a></li>
				        
				        <li has-permission="VIRT_HOST_RESTART" ng-if ="vm.enableReboot == false"><a href="#" class="dropdown-forbidden"><span class="sm-icon icon-vm-reboot-gray"></span><span translate="menu.restart"></span></a></li>
				        <li has-permission="VIRT_HOST_RESTART" ng-if ="vm.enableReboot == true"><a href="#" ng-click="operateCloudOSVm('restart')"><span class="sm-icon icon-vm-reboot"></span><span translate="menu.restart"></span></a></li>
				        
				        <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="vm.enableDistribute == false"><a href="#" class="dropdown-forbidden"><span class="sm-icon icon-operator-gray"></span><span translate="menu.distributeVm"></span></a></li>
				        <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="vm.enableDistribute == true"><a href="#" ng-click="distributeCloudOSVm()"><span class="sm-icon icon-operator"></span><span translate="menu.distributeVm"></span></a></li>
				        
				        <li has-permission="VIRT_HOST_DEL" ng-if ="vm.enableDelete == true"><a href="#" ng-click="operateCloudOSVm('delete')"><span class="sm-icon icon-delete"></span><span translate="menu.delete"></span></a></li>
     					<li has-permission="VIRT_HOST_DEL" ng-if ="vm.enableDelete == false"><a class="dropdown-forbidden"><span class="sm-icon icon-delete-gray"></span><span translate="menu.delete"></span></a></li>
				        
				      </ul>
				</div> -->
				
				<!-- 搜索框 -->
				<label>
			      <input class="form-control" id="navbarInput-01" type="search" placeholder="{{'vmTitleSearchHolder'|translate}}" ng-model="filterName" maxlength="64">
				</label>
			</div>
		</div>
	</nav>
	<div class="cas-list-body rightClick oneList-calc" data-toggle="context">
	    <div id='cloudOSVmListDivId' list-style  class="table" ng-grid="gridOptions"></div>
	    <div cas-context-menu-id="cloudOS-context-menu" cas-context-menu="gridOptions.selectedItems" cas-context-menu-type="cloudOSVmlist"  cas-enter-node-type="cloudResource"></div>
	</div>
</div>