<div class="carousel formt ">
	<div class="wizard-header modal-footer">
		<ol class="wizard-nav" ng-show="slides.length > 0">
			<li ng-repeat="slide in slides"
				ng-class="{active: isActive(slide),showActive:isShowActive(slide)}"
				ng-click="isClickActive(slide)?select(slide):javascript(0)"  ng-style="liwidth">
				<span class="cas-slide-content">
					<span class="cas-slide-arrow-left" ng-if="$index>0"></span>
					{{$index+1}} {{titles[$index]}}
					<span class="cas-slide-arrow-right" ng-if="$index<slides.length-1"></span>
				</span>
			</li>
		</ol>
	</div>
	<div class="carousel-inner step-inner sp-dol-for" style="z-index:1;"  ng-transclude></div>
	<div class="modal-footer">
		<div id="footerPlugin" style="position:relative;padding-left:30px;"></div>
		<button ng-if="getCurIndex()>0 && isPrevBtnShow()" class=" btn btn-green" id="prevbutton" ng-click="prev()" translate="common.prev"></button>
		<button ng-if="getCurIndex()!=slides.length-1" class=" btn btn-green" ng-click="next()"   ng-disabled="!getGoNextTag()" translate="common.next"></button>
		<button ng-if="getCurIndex()==slides.length-1 && confirmclose != 1" class=" btn btn-green" ng-click="cancel()" ng-disabled="!getGoNextTag()" translate="common.finish"></button>
		<button ng-if="getCurIndex()==slides.length-1 && confirmclose == 1" class=" btn btn-green" ng-click="cancel()" ng-disabled="!getGoNextTag()" translate="common.close"></button>
		<button ng-if="extraConfirmBtn" class="btn btn-green extra-confirm-btn"  ng-click="cancel()" ng-disabled="!allSlidesValid()" translate="common.finish"></button>
	</div>
</div>

