m	Z	m
defaultdict)
	FrozenSet
List
Optional
Union
AnyConstraint
ConstraintRuletype
Role
Type
User
DiffResultDescriptor)
Difference
SymbolWrapper
Wrapper)
class_wrapper_factory)
RuleListc
ConstraintsDifferencea
    Determine the difference in constraints between two policies.
    Since the compiler does not union constraints, there may be multiple
    constraints with the same ruletype, object class, and permission
    set, so constraints can only be added or removed, not modified.
    The constraint expressions are compared only on a basic level.
    Expressions that are logically equivalent but are structurally
    different, for example, by associativity, will be considered
    different.  Type and role attributes are also not expanded,
    so if there are changes to attribute members, it will not
    be reflected as a difference.
    
diff_constrains
diff_mlsconstrains
diff_validatetrans
diff_mlsvalidatetransN
_left_constraints
_right_constraints)
returnc
zAGenerate the difference in constraint rules between the policies.zJGenerating constraint differences from {0.left_policy} to {0.right_policy}N
)Left constraints didn't load, this a bug.
*Right constraints didn't load, this a bug.c
ConstraintWrapper
>/usr/lib64/python3.9/site-packages/setools/diff/constraints.py
	<genexpr>M
z8ConstraintsDifference.diff_constrains.<locals>.<genexpr>c
info
formatr
_create_constrain_lists
	_set_diffr	
Z	constrain
added_constrains
removed_constrains
self
z%ConstraintsDifference.diff_constrainsc
zEGenerate the difference in MLS constraint rules between the policies.zNGenerating MLS constraint differences from {0.left_policy} to {0.right_policy}Nr
z;ConstraintsDifference.diff_mlsconstrains.<locals>.<genexpr>c
mlsconstrain
added_mlsconstrains
removed_mlsconstrainsr/
z(ConstraintsDifference.diff_mlsconstrainsc
zDGenerate the difference in validatetrans rules between the policies.zMGenerating validatetrans differences from {0.left_policy} to {0.right_policy}Nr
z;ConstraintsDifference.diff_validatetrans.<locals>.<genexpr>c
validatetrans
added_validatetrans
removed_validatetransr/
z(ConstraintsDifference.diff_validatetransc
zHGenerate the difference in MLS validatetrans rules between the policies.zPGenerating mlsvalidatetrans differences from {0.left_policy} to {0.right_policy}Nr
z>ConstraintsDifference.diff_mlsvalidatetrans.<locals>.<genexpr>c
mlsvalidatetrans
added_mlsvalidatetrans
removed_mlsvalidatetransr/
z+ConstraintsDifference.diff_mlsvalidatetransc
z$Create rule lists for both policies.z.Building constraint lists from {0.left_policy}z
Loaded {0} {1} rules.z/Building constraint lists from {0.right_policy}z)Completed building constraint rule lists.N)
listr
debugr*
left_policy
constraints
ruletype
append
items
lenr
right_policy)
ruler;
rulesr$
z-ConstraintsDifference._create_constrain_listsc
z%Reset diff results on policy changes.z%Resetting all constraints differencesN)
_reset_diff
z!ConstraintsDifference._reset_diff)
__name__
__module__
__qualname__
__doc__r
__annotations__r
z#Wrap constraints for diff purposes.
tclass
perms
exprN)
itemr$
z-ConstraintWrapper.__init__.<locals>.<genexpr>)
originr;
AttributeError
hash
keyrJ
expression
isinstance
	frozensetr<
opr$
__init__
ConstraintWrapper.__init__c
__hash__
ConstraintWrapper.__hash__c
otherr$
__lt__
ConstraintWrapper.__lt__c
__eq__
ConstraintWrapper.__eq__)
	__slots__r
collectionsr
typingr
Z	policyrepr
descriptorsr
differencer
objclassr
<module>
