<!-- 用户页面【用户管理下】 -->
<div class="panel panel-default cas-panel" ng-controller="UserCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display:inline;">
			<li><a ui-sref='main.VDCMng' ><span translate="VDC.VDCMng"></span></a></li>
			<li><a ui-sref='main.userManage' ><span translate="user.userManage"></span></a></li>
			<li class="active"><span translate="org.user"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('usrMgmt/user/userMgmt')"></span>
	</div>
	<div class="panel-body">
		<div class="section"></div>
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_common_display Icon_operator">
		      </span>
		      <span class="desc"><span translate="user.userHead"></span></span>
		    </div>
		</div>
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
			<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshList()">
						<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
					</label>
					<label class="btn btn-default btn-menu hidden-xs" ng-click="userFilter()">
						<span class="sm-icon icon-filter"></span> 
						<span translate="common.filter"></span>
					</label> 
					<label has-permission="USER_ADD" class="btn btn-default btn-menu hidden-xs" ng-click="addUser()"> 
					    <span class="sm-icon icon-operator-add"></span>
						<span translate="user.addUser"></span>
					</label>
					<label has-permission="USER_DELETE" class="btn btn-default btn-menu hidden-xs" ng-click="deleteUser(mySelections)" ng-if="mySelections.length>0">
					    <span class="sm-icon icon-operator-delete"></span>
                        <span translate="user.deleteUser"></span>
					</label> 
					<label has-permission="USER_DELETE" class="btn btn-default btn-menu btn-forbidden" ng-if="mySelections.length==0">
					    <span class="sm-icon icon-operator-delete"></span>
                        <span translate="user.deleteUser"></span>
					</label> 
					<label has-permission="USER_MODIFY" class="btn btn-default btn-menu hidden-xs" ng-click="modifyUser(mySelections[0])" ng-if="mySelections.length==1"> 
					    <span class="sm-icon icon-operator-edit"></span>
						<span translate="user.modifyUser"></span>
					</label>
					<label has-permission="USER_MODIFY" class="btn btn-default btn-menu btn-forbidden" ng-if="mySelections.length!=1">
					    <span class="sm-icon icon-operator-edit"></span>
						<span translate="user.modifyUser"></span>
					</label> 
                    <label has-permission="USER_VIEW" class="btn btn-default btn-menu hidden-xs" ng-click="viewUser(mySelections[0])" ng-if="mySelections.length==1">
                        <span class="sm-icon icon-operator-view"></span>
						<span translate="user.viewUser"></span>
					</label> 
					<label has-permission="USER_VIEW" class="btn btn-default btn-menu btn-forbidden" ng-if="mySelections.length!=1">
					    <span class="sm-icon icon-operator-view"></span>
						<span translate="user.viewUser"></span>
					</label> 
					<label has-permission="USER_IMPORT" class="btn btn-default btn-menu hidden-xs" ng-click="importUser()"> 
					    <span class="sm-icon icon-auth-server"></span>
						<span translate="user.importUser"></span>
					</label>
				</div>
			</div>
		</nav>
		<div class="cas-list-body oneListWithLead-calc">
	      <div id="userlistDivId" list-style style="width: 100%; height: 100%;"  ng-grid="gridOptions"></div>
	    </div>
	</div>
</div>