[Desktop Entry]
Name=iNodeClient
Comment=iNodeClient
Exec=/opt/apps/com.client.inode.amd/files/iNodeClient.sh
Icon=/opt/apps/com.client.inode.amd/files/iNodeClient.png
Terminal=false
Categories=Development
Type=Application
