__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
.venv/
venv/
.env
*.log
.pytest_cache/
*.tar.gz
*.tar.xz
*.zip
*.iso
*.rpm
*.jar
*.war
*.so
*.ko
node_modules/
inode_dwarf/*/dwarf_info.txt
inode_dwarf/*/dwarf_line.txt
inode_dwarf/*/disasm.txt
inode_dwarf/*/strings.txt
*.tar.gz
rpm_extracts/EXTRAS_LOOSE/smartdev.package/vdpa/vdpa
