[Unit]
Description=upgrade linux bridge.
Before=network.target network.service
After=ovs-delete-invalid-ports.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/python /opt/bin/util_bridge_upgrade.pyc

[Install]
WantedBy=multi-user.target

