[Unit]
Description=init ovs/linux bridge.
Before=libvirtd.service 
After=systemd-udev-settle.service
After=network.service

[Service]
Type=oneshot
Environment="LC_ALL=en_US.utf-8" "LANG=en_US.utf-8"
ExecStart=/bin/bash /opt/bin/ovs_handle_bridge_event init
TimeoutSec=22

[Install]
WantedBy=multi-user.target
