[Unit]
Description=movesure service
After=syslog.target
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/movesure/6.0/server/script/movesureservice start
ExecStop=/usr/local/movesure/6.0/server/script/movesureservice stop

[Install]
WantedBy=multi-user.target