[Unit]
Description=dpi service
After=net-agent.target

[Service]
Type=simple
ExecStart=/usr/sbin/dpid &
ExecReload=/bin/kill-s HUP $MAINPID
ExecStop=/bin/kill-s QUIT $MAINPID

[Install]
WantedBy=multi-user.target

