<!-- 导入用户弹出窗口【系统管理下】 -->
<!-- 标题 -->
<div class="modal-header">
	 <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<button type="button" class="close cornerhelp" custom-title="{{::'help'|translate}}" ng-click="openHelp('usrMgmt/user/leadinginUser')">
		<span class="icon-helpnew"></span>
	</button>
	<h4 class="modal-title" translate="user.importUser"></span></h4>
</div>
<!-- 内容 -->
<div class="modal-body row">
    <div class="form-horizontal col-md-8">
	    <carousel-form titles="stepTitles" cancel="ok()">
	    	<!-- 第一页	导入文件 -->
	        <slide-form valid="valids.stepOneOver()" active="slide.active" tab-index='0'>
	          	<form name="form1" class="form-horizontal" role="form" novalidate>
	          	    <input type="hidden" id ="form1" value="{{form1.$valid}}">
		         	<!-- 导入文件 -->
		         	<div class="form-group">
						<label for="importFile" class="control-label" > <span translate="user.importFile"></span><span style="color:red">*</span></label>
						<div class="control-input" style="display:inline-block;" ng-style="{width: isEn ? '385px':'370px}" >
							<div class="input-group width260" style="display:inline-block;" id="file_select_btn">
								<input type="text" class="form-control selectInput" ng-style="{width:isEn ? '185px' : '207px'}" ng-model="model.importFile" ng-trim="false" id="importFile" name="importFile" required readonly>
			                    <span class="input-group-addon unit-addon last-child-angle browse-btn"  translate="addDomain.viewImage"></span>
	                        </div>
	                        <span class="previewBtn" ng-click="preview()">
	                         	<span translate="user.preview"></span>
                    		</span>
                    		<span style="display: inline-block;padding: 10px 10px;vertical-align: top;">
                    			<span class="icon-help-gray" tooltip-placement="right" tooltip="{{'user.importUserAlert'|translate}}"></span>
                    		</span>
						</div>
					</div>
					<div id = "i_select_files_btn_alert"></div>
					<div id="i_select_files"></div>
				   	<div id="i_stream_files_queue"></div>
				   	<div id="i_stream_message_container"></div>
				   	<!-- 进度条 -->
					    <!-- <div class="ngCellText" style="width:400px;">
					    	<div class="progress progressgray" style="margin-top:0;height:20px;"> 
			                   	<div class="progress-bar progress-bar-success progress-bar-striped"  role="progressbar" aria-valuenow="{{progress | number:2}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress | number:2}}%;position:relative;">
			                   		<span style="margin-left:10px;">{{progress | number:2}}%</span> 
			                   	</div> 
			                </div>
			        </div> -->
					<div class="tipMargin"><span translate="user.importTip"></span><a href="javascript:void(0)" ng-click="downloadTemplate()" translate="user.moduleFile"></a></div>
                    <!-- 分隔符 -->
                    <div class="form-group">
                        <label for="separator" class="control-label"><span translate="user.separator"></span><span style="color:red">*</span></label>
                        <div class="control-input">
                            <div class="input-group width300" >
                                <select-input class="" options="separator.options"  bind-model="model.separator" input-id="separator" input-name="separator" required>
                                </select-input>
                                 <span class="input-group-addon help-addon">
			                    		<span class="icon-help-gray" tooltip-placement="right" tooltip="{{'user.separatorTip'|translate}}"></span>
			                	</span>
                            </div>
                        </div>
                    </div>
					<!-- 导入起始行 -->
					<div class="form-group" ng-class="{'has-error' : (form1.startLine.$invalid && form1.startLine.$dirty)}">
						<label for="startLine" class="control-label" ><span translate="user.startLine"></span><span style="color:red">*</span></label>
						<div class="control-input input-group input-xlarge">
							<input id= "inputdescription" name= "startLine" type="text" class="spinner-only" checkint spinner spinner-min="1" spinner-max="1000" ng-trim="false" ng-model="model.startRow" required>
							<span class="input-group-addon help-addon" ng-messages="form1.startLine.$error">
								<span ng-if="form1.startLine.$valid||!form1.startLine.$dirty">
		                        	<span class="icon-occupying"></span>
		                        </span>
						 		<span ng-if="form1.startLine.$dirty">
						 			<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
				            		<span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}1000"></span></span>
				            		<span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}1"></span></span>
				           		    <span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
			          		    </span>
				            </span>
						</div>
						<!-- <div class="control-input">
							<div class="input-group input-xlarge">
								<input type="text" checkint class="form-input form-control" ng-trim="false" ng-model="model.startRow" id="inputdescription" name="startLine" required>
								<span class="input-group-addon help-addon" ng-messages="form1.startLine.$error">
		                            <span ng-if="form1.startLine.$valid||!form1.startLine.$dirty">
		                                <span class="icon-occupying"></span>
		                            </span>
		                            <span ng-if="form1.startLine.$dirty">
		                                <span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
		                            </span>
		                        </span>
							</div>
						</div> -->
						</div>
				</form>
	       	</slide-form>
			
			<!-- 第二页 	配置文件-->
			<slide-form valid="valids.stepTwoOver()" tab-index='1'>
                <form name="form2" class="form-horizontal" role="form" style="min-height: 422px; overflow-y: auto; margin-bottom:10px;" novalidate>
                    <input type="hidden" id ="form2" value="{{form2.$valid}}">
            	 	<!-- 组织 *-->
	        		<div class="form-group" ng-if="type=='import'">
                		<label for="organization" class="control-label"><span translate="user.organization"></span><span style="color: red">*</span></label>
                		<div class="control-input">
	                    	<div class="input-group width260" ng-click="orgSelector()">
	                        	<input type="text" class="form-control selectInput" ng-model="model.organization"  ng-trim="false" id="organization" name="organization" readonly required>
	                        	<span class="input-group-addon inner-addon">
	                              <span class="icon-search-gray" type="button" style="cursor:pointer;"></span>
	                        	</span>
	                   	 	</div>
                		</div>
            		</div>
                    <!-- 登录名 *-->
                    <div class="form-group">
                        <label for="loginName" class="control-label"><span translate="common.loginName"></span><span style="color:red">*</span></label>
                        <div class="control-input">
                            <div class="input-group width260" >
                                <select-input class="" options="level.selectCols1"  bind-model="model.loginName" input-id="loginName" input-name="loginName" required>
                                </select-input>
                            </div>
                        </div>
                    </div>
                    <!-- 登录密码 *-->
                    <div class="form-group">
                        <label for="loginPwd" class="control-label"><span translate="user.loginPwd"></span><span style="color:red">*</span></label>
                        <div class="control-input">
                            <div class="input-group width260" >
                                <select-input class="" options="level.selectCols1"  bind-model="model.password" input-id="loginPwd" input-name="loginPwd" required>
                                </select-input>
                            </div>
                        </div>
                    </div>
                    <!-- 用户姓名 *-->
                    <div class="form-group">
                        <label for="userName" class="control-label"><span translate="user.userName"></span><span style="color:red">*</span></label>
                        <div class="control-input">
                            <div class="input-group width260" >
                                <select-input class="" options="level.selectCols1"  bind-model="model.userName" input-id="userName" input-name="userName" required>
                                </select-input>
                            </div>
                        </div>
                    </div>
                    <!-- 证件号码 -->
                    <div class="form-group">
                        <label for="idNumber" class="control-label"><span translate="user.idNumber"></span><span style="color:red">&nbsp;</span></label>
                        <div class="control-input">
                            <div class="input-group width260" >
                                <select-input class="" options="level.selectCols2"  bind-model="model.credentialNumber" input-id="idNumber" input-name="idNumber">
                                </select-input>
                            </div>
                        </div>
                    </div>
                    <!-- E-mail* -->
                    <div class="form-group">
                        <label for="email" class="control-label"><span>E-mail</span><span style="color:red">*</span></label>
                        <div class="control-input">
                            <div class="input-group width260" >
                                <select-input class="" options="level.selectCols1"  bind-model="model.email" input-id="email" input-name="email" required>
                                </select-input>
                            </div>
                        </div>
                    </div>
                    <!-- 电话 -->
                    <div class="form-group">
                        <label for="phone" class="control-label"><span translate="user.phone"></span><span style="color:red">&nbsp;</span></label>
                        <div class="control-input">
                            <div class="input-group width260" >
                                <select-input class="" options="level.selectCols2"  bind-model="model.phone" input-id="phone" input-name="phone">
                                </select-input>
                            </div>
                        </div>
                    </div>
                    <!-- 通信地址 -->
                    <div class="form-group">
                        <label for="mailingAddress" class="control-label"><span translate="user.mailingAddress"></span><span style="color:red">&nbsp;</span></label>
                        <div class="control-input">
                            <div class="input-group width260" >
                                <select-input class="" options="level.selectCols2"  bind-model="model.address" input-id="mailingAddress" input-name="mailingAddress">
                                </select-input>
                            </div>
                        </div>
                    </div>
                    <!-- 用户分组 -->
                    <div class="form-group">
                        <label for="userGroup" class="control-label"><span translate="user.userGroup"></span><span style="color:red;">*</span></label>
                        <div class="control-input">
                            <div class="input-group width260" >
                                <select-input class="" options="level.selectCols2"  bind-model="model.userGroups" input-id="userGroup" input-name="userGroup">
                                </select-input>
                            </div>
                        </div>
                    </div>
                    <!-- 指定用户分组 -->
	        		<div class="form-group" ng-if="model.userGroups == col ">
                		<label for="assignUserGrp" class="control-label"><span translate="user.assignUserGrp"></span><span style="color:red;">*</span></label>
                		<div class="control-input">
	                    	<div class="input-group width260" ng-click="assignUserGrpSelector()">
	                        	<input type="text" class="form-control selectInput" ng-model="model.defaultGroupName"  ng-trim="false" id="assignUserGrp" name="assignUserGrp" required readonly>
	                        	<span class="input-group-addon inner-addon">
	                              <span class="icon-search-gray" type="button" style="cursor:pointer;"></span>
	                        	</span>
	                   	 	</div>
                		</div>
            		</div>
                </form>
            </slide-form>
	    </carousel-form>
    </div>
	<div class="detail-table col-md-4">
		<table class="table table-striped">
			<tr>
				<td class="gray"><h4 translate="configDetail"></h4></td>
			</tr>
			<tr>
				<td class="white"><span translate="user.importFile"></span></td>
				<td class="white" custom-title shortcut cut-str="{{model.importFile}}">{{model.importFile}}</td>
			</tr>
			<tr>
				<td class="gray"><span translate="user.separator"></span></td>
				<td class="gray"">{{model.separator|selectLabel:'0':separator.options}}</td>
			</tr>
			<tr>
                <td class="white"><span translate="user.startLine"></span></td>
                <td class="white">{{model.startRow}}</td>
            </tr>
		</table>
	</div>
</div>
