[Desktop Entry]
Name=iNodeManager
Comment=iNodeMnager to generate iNodeClient
Exec=sh -c "cd /opt/apps/com.manager.inode.arm/files/ && ./iNodeManager"
Icon=/opt/apps/com.manager.inode.arm/files/iNodeManager.png
Terminal=false
Categories=Development
Type=Application
