<!-- 健康检测 -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" custom-title="{{'common.close'|translate}}">
        <span class="icon-closenew"></span>
    </button>
	<button type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('/cloudService/virtualDesktopPool/vmHealthCheck')">
		<span class="icon-helpnew"></span>
	</button>
    <h4 class="modal-title" translate="virdesk.checkVirDesk"></h4>
</div>
<div class="modal-body">
    <nav class="navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- 检查系统是否能够ping通 -->
	        <div class="btn-group navbar-left" >
		        <cas-ace-check id="pingCheck_id" name="pingCheck" type="checkbox" text="{{::'virdesk.pingCheck' | translate}}"  checked-value="ping"  ng-model="checkPing"></cas-ace-check>
	        </div>
	        <div class="btn-group navbar-right" >
	       		<!-- 检查 -->
				<label class="btn btn-default btn-menu ng-scope btn-forbidden" ng-if="isChecking">
				  <span class="sm-icon icon-check-repair"></span><span translate="virdesk.inspect"></span>
				</label>
				<label class="btn btn-default btn-menu ng-scope" ng-if="!isChecking" ng-click="checkVmsHealth()">
				  <span class="sm-icon icon-check-repair"></span><span translate="virdesk.inspect"></span>
				</label>
				<!-- 全选 -->
				<label class="btn btn-default btn-menu ng-scope btn-forbidden" ng-if="showVmList.length <= 0" >
				  <span class="sm-icon icon-finish"></span><span translate="virdesk.select"></span>
				</label>
				<label class="btn btn-default btn-menu ng-scope" ng-if="showVmList.length > 0"  ng-click="selecetAllVm()">
				  <span class="sm-icon icon-finish"></span><span translate="virdesk.select"></span>
				</label>
				<!-- 修复 -->
				<label class="btn btn-default btn-menu ng-scope btn-forbidden" ng-if="showVmList.length <= 0" >
				  <span class="sm-icon icon-repair"></span><span translate="virdesk.repair"></span>
				</label>
				<label class="btn btn-default btn-menu ng-scope" ng-if="showVmList.length > 0"  ng-click="repairVm()">
				  <span class="sm-icon icon-repair"></span><span translate="virdesk.repair"></span>
				</label>
				<!-- 关闭 -->
				<label class="btn btn-default btn-menu ng-scope" ng-click="cancel()">
				  <span class="sm-icon icon-closenew"></span><span translate="virdesk.closed"></span>
				</label>
	        </div>
		</div>
	</nav>
	<!-- 虚拟机数量显示:虚拟机总数，检测中...， 检测结果 -->
	<div class="alert-info" style="margin-top:10px;padding:5px 0px 5px 10px;" role="alert" ng-bind="checkInfo" id="checkInfo"></div>
	
	<!-- 虚拟机检查结果列表 -->
	<div style="height:460px;overflow:auto;">
		<div id = "checkResult"></div>
	</div>
</div>