<!-- 回收策略 --> 
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" custom-title="{{'common.close'|translate}}">
        <span class="icon-closenew"></span>
    </button>
	<button type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('/cloudService/virtualDesktopPool/retrieveStrategy')">
		<span class="icon-helpnew"></span>
	</button>
	<h4 class="modal-title" translate="virdesk.retrieveStrategy"></h4>
</div>
<div class="modal-body panel-body">
	<div class="form-horizontal">
		<form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
		    <!-- 动作 -->
			<div class="form-group ">
				<label for="action" class="control-label ">
					<span translate="virdesk.retrieveAction"></span>
				</label>
				<div class="input-group width260">
					<select-input class="" options="levels.actionOptions"
						bind-model="model.action" input-id="action"
						input-name="action">
					</select-input>
				</div>
			</div>
		    <!-- 频率 -->
		    <div class="form-group ">
				<label for="frequency" class="control-label ">
					<span translate="virdesk.reFrequency"></span>
				</label>
				<div class="input-group width260">
					<select-input class="" options="levels.reFrequencyOptions"
						bind-model="model.frequency" input-id="frequency"
						input-name="frequency">
					</select-input>
				</div>
			</div>
            <!-- 开始时间 -->
            <div class="form-group" ng-if="model.frequency != 3">
               <label class="control-label"><span translate="virdesk.startDate"></span></label>
               <div class="control-input" ng-if="model.frequency == 0">
                    <div  class="input-group" style='width:108px;padding:0;float:left' ng-class="{'has-error' : (form.month.$invalid && form.month.$dirty)}">
                      <input name="month" type="text" checkint required style='width:35px' spinner spinner-max=12 spinner-min=1 ng-model="data.startMonth">
                      <span class="input-group-addon last-child-angle unit-addon">{{'virdesk.month'|translate}}</span>
                    </div>
                    <span class="input-group-addon help-addon" style="float:left;line-height:23px;" ng-style="{'color':(form.month.$invalid && form.month.$dirty)?'#a94442':''}" ng-messages="form.month.$error">
                        <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
                  	  <span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}12"></span></span>
                     <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}1"></span></span>
                     <span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
                    </span>
                    <div  class="input-group" style='width:108px;padding:0;float:left;margin-left:6px' ng-class="{'has-error' : (form.date.$invalid && form.date.$dirty)}">
                        <input name="date" type="text" checkint required style='width:35px' spinner   spinner-max={{data.maxDay}} spinner-min=1 ng-model="data.startDate">
                        <span class="input-group-addon last-child-angle unit-addon">{{'virdesk.date'|translate}}</span>
                    </div>
				  <span class="input-group-addon help-addon" style="float:left;line-height:23px;" ng-style="{'color':(form.date.$invalid && form.date.$dirty)?'#a94442':''}" ng-messages="form.date.$error">
                       <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
                       <span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}{{data.maxDay}}"></span></span>
                       <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}1"></span></span>
                       <span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
                    </span>
                </div>
                <div class="control-input" ng-if="model.frequency == 1">
                    <div  class="input-group" style='width:108px;padding:0;float:left;' ng-class="{'has-error' : (form.day.$invalid && form.day.$dirty)}">
                        <input  name="day" type="text" checkint required style='width:35px' spinner   spinner-max=31 spinner-min=1 ng-model="data.startDay">
                        <span class="input-group-addon last-child-angle unit-addon">{{'virdesk.date'|translate}}</span>
                    </div>
				  <span class="input-group-addon help-addon" style="float:left;line-height:23px;" ng-style="{'color':(form.day.$invalid && form.day.$dirty)?'#a94442':''}" ng-messages="form.day.$error">
                       <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
                       <span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}31"></span></span>
                      <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}1"></span></span>
                      <span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
                    </span>
                </div>
                <div class="control-input" ng-if="model.frequency == 2">
					<div class="input-group width260">
						<select-input class="" options="levels.weekOptions"
							bind-model="data.startWeek" input-id="startWeek"
							input-name="startWeek">
						</select-input>
					</div>
                </div>
            </div>
            <!-- 结束时间 -->
            <div class="form-group" ng-if="model.frequency != 3">
               <label class="control-label"><span translate="virdesk.endDate"></span></label>
               <div class="control-input " ng-if="model.frequency == 0">
                     <div class="input-group"  style='width:108px;padding:0;float:left' ng-class="{'has-error' : (form.endMonth.$invalid && form.endMonth.$dirty)}">
                       <input checkint required name="endMonth" type="text" style='width:35px'  spinner spinner-max=12 spinner-min=1 ng-model="data.endMonth">
                       <span class="input-group-addon last-child-angle unit-addon">{{'virdesk.month'|translate}}</span>
                     </div>
                     <span class="input-group-addon help-addon" style="line-height:23px;float:left" ng-style="{'color':(form.endMonth.$invalid && form.endMonth.$dirty)?'#a94442':''}" ng-messages="form.endMonth.$error">
                    	<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
                    	<span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}12"></span></span>
                        <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}1"></span></span>
                        <span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
                    </span>
                     <div class="input-group" style='width:108px;padding:0;float:left;margin-left:6px' ng-class="{'has-error' : (form.endDate.$invalid)}">
                         <input checkint required name="endDate" type="text" style='width:35px'  spinner spinner-max={{data.maxEndDay}} spinner-min=1  ng-model="data.endDate">
                         <span class="input-group-addon last-child-angle unit-addon">{{'virdesk.date'|translate}}</span>
                     </div>
                     <span class="input-group-addon help-addon" style="line-height:23px;float:left" ng-style="{'color':(form.endDate.$invalid)?'#a94442':''}" ng-messages="form.endDate.$error">
                        <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
                        <span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}{{data.maxEndDay}}"></span></span>
                        <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}1"></span></span>
                        <span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
                    </span>
                </div>
                <div class="control-input" ng-if="model.frequency == 1">
                    <div  class="input-group" style='width:108px;padding:0;float:left;' ng-class="{'has-error' : (form.endDay.$invalid && form.endDay.$dirty)}">
                        <input name="endDay" type="text" checkint required style='width:35px' spinner   spinner-max=31 spinner-min=1 ng-model="data.endDay">
                        <span class="input-group-addon last-child-angle unit-addon">{{'virdesk.date'|translate}}</span>
                    </div>
				  <span class="input-group-addon help-addon" style="float:left;line-height:23px;" ng-style="{'color':(form.endDay.$invalid && form.endDay.$dirty)?'#a94442':''}" ng-messages="form.endDay.$error">
                       <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
                       <span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}31"></span></span>
                   	   <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}1"></span></span>
                       <span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
                    </span>
                </div>
                <div class="control-input" ng-if="model.frequency == 2">
                    <div class="input-group width260">
						<select-input class="" options="levels.weekOptions"
							bind-model="data.endWeek" input-id="endWeek"
							input-name="endWeek">
						</select-input>
					</div>
                </div>
            </div>
            <!-- 时间选择 -->
            <div class="form-group">
            	<label class="control-label"><span translate="virdesk.runningTime"></span></label>
		         <table  id="periodTable" class="table-checking" border="1"
					cellspacing="0" cellpadding="0" data-checked="" editable="true" >
					<thead>
						<tr>
							<th>0</th>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
							<th>5</th>
							<th>6</th>
							<th>7</th>
							<th>8</th>
							<th>9</th>
							<th>10</th>
							<th>11</th>
							<th>12</th>
							<th>13</th>
							<th>14</th>
							<th>15</th>
							<th>16</th>
							<th>17</th>
							<th>18</th>
							<th>19</th>
							<th>20</th>
							<th>21</th>
							<th>22</th>
							<th>23</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td id="0"></td>
							<td id="1"></td>
							<td id="2"></td>
							<td id="3"></td>
							<td id="4"></td>
							<td id="5"></td>
							<td id="6"></td>
							<td id="7"></td>
							<td id="8"></td>
							<td id="9"></td>
							<td id="10"></td>
							<td id="11"></td>
							<td id="12"></td>
							<td id="13"></td>
							<td id="14"></td>
							<td id="15"></td>
							<td id="16"></td>
							<td id="17"></td>
							<td id="18"></td>
							<td id="19"></td>
							<td id="20"></td>
							<td id="21"></td>
							<td id="22"></td>
							<td id="23"></td>
						</tr>
					</tbody>
				</table>
            </div>
            <!-- 立即生效 -->
			<div class="form-group">
				<label for="audioMode" class="switch-label"> <span
					translate="virdesk.checkState"></span>
				</label>
				<div class="control-input">
					<div class="input-group">
						<div toggle-switch class="switch-success" ng-model="state"></div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	  <button id="okBtn" class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
	  <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
 </div>
