<!-- 批量部署虚拟桌面 --> 
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" custom-title="{{'common.close'|translate}}">
        <span class="icon-closenew"></span>
    </button>
    <button type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('/cloudService/virtualDesktopPool/vmTemp/batchDeployFloatVirtualDesktop')">
		<span class="icon-helpnew"></span>
	</button>
	<h4 class="modal-title" translate="virdesk.bathDeployVirDesk"></h4>
</div>
<div class="modal-body panel-body">
	<div class="form-horizontal">
		<form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
		   <!-- 起始IP -->
		   <div class="form-group" ng-class="{'has-error': (form.startIp.$dirty && form.startIp.$invalid)}">
		       	<label for="startIp" class="control-label"><span translate="virdesk.startIp"></span><span style="color: red">*</span></label> 
		       	<div class="input-group input-xlarge">
		        	<input checkip type="text" class="form-input form-control" ng-model="model.startIp"  ng-trim="false" id="startIp" name="startIp" required>
		      		<span class="input-group-addon help-addon" ng-messages="form.startIp.$error">
		        		<span ng-if="form.startIp.$valid||!form.startIp.$dirty">
		             	<span class="icon-occupying"></span>
		         	</span>
		      		<span ng-if="form.startIp.$dirty">
		     			<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		             	<span ng-message="checkip"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'checkip'|translate}}"></span></span>
		            </span>
		            </span>
		        </div>
           </div>
		   <!-- 终止IP -->
		   <div class="form-group" ng-class="{'has-error': (form.endIp.$dirty && form.endIp.$invalid)}">
		       	<label for="endIp" class="control-label"><span translate="virdesk.endIp"></span><span style="color: red">*</span></label> 
		       	<div class="input-group input-xlarge">
		        	<input type="text" checkip class="form-input form-control" ng-model="model.endIp"  ng-trim="false" id="endIp" name="endIp" required>
		      		<span class="input-group-addon help-addon" ng-messages="form.endIp.$error">
		        		<span ng-if="form.endIp.$valid||!form.endIp.$dirty">
		             	<span class="icon-occupying"></span>
		         	</span>
		      		<span ng-if="form.endIp.$dirty">
		     			<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		             	<span ng-message="checkip"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'checkip'|translate}}"></span></span>
		            </span>
		            </span>
		        </div>
           </div>
		   <!-- 子网掩码 -->
		   <div class="form-group" ng-class="{'has-error': (form.ipMask.$dirty && form.ipMask.$invalid)}">
		       	<label for="ipMask" class="control-label"><span translate="virdesk.ipMask"></span><span style="color: red">*</span></label> 
		       	<div class="input-group input-xlarge">
		        	<input type="text" checkipmask class="form-input form-control" ng-model="model.ipMask"  ng-trim="false" id="ipMask" name="ipMask" required>
		      		<span class="input-group-addon help-addon" ng-messages="form.ipMask.$error">
		        		<span ng-if="form.ipMask.$valid||!form.ipMask.$dirty">
		             	<span class="icon-occupying"></span>
		         	</span>
		      		<span ng-if="form.ipMask.$dirty">
		     			<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		             	<span ng-message="checkipmask"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'validatorBadMask'|translate}}"></span></span>
		            </span>
		            </span>
		        </div>
           </div>
		   <!-- 默认网关 -->
		   <div class="form-group" ng-class="{'has-error': (form.gateway.$dirty && form.gateway.$invalid)}">
		       	<label for="gateway" class="control-label"><span translate="virdesk.gateway"></span></label> 
		       	<div class="input-group input-xlarge">
		        	<input type="text" checkip alowed-empty="true" class="form-input form-control" ng-model="model.gateway"  ng-trim="false" id="gateway" name="gateway">
		      		<span class="input-group-addon help-addon" ng-messages="form.gateway.$error">
		        		<span ng-if="form.gateway.$valid||!form.gateway.$dirty">
		             	<span class="icon-occupying"></span>
		         	</span>
		      		<span ng-if="form.gateway.$dirty">
		             	<span ng-message="checkip"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'checkip'|translate}}"></span></span>
		            </span>
		            </span>
		        </div>
           </div>
		   <!-- 主DNS服务器 -->
		   <div class="form-group" ng-class="{'has-error': (form.firstDns.$dirty && form.firstDns.$invalid)}">
		       	<label for="firstDns" class="control-label"><span translate="virdesk.firstDns"></span></label> 
		       	<div class="input-group input-xlarge">
		        	<input type="text" checkip alowed-empty="true" class="form-input form-control" ng-model="model.firstDns"  ng-trim="false" id="firstDns" name="firstDns">
		      		<span class="input-group-addon help-addon" ng-messages="form.firstDns.$error">
		        		<span ng-if="form.firstDns.$valid||!form.firstDns.$dirty">
		             	<span class="icon-occupying"></span>
		         	</span>
		      		<span ng-if="form.firstDns.$dirty">
		             	<span ng-message="checkip"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'checkip'|translate}}"></span></span>
		            </span>
		            </span>
		        </div>
           </div>
		   <!-- 备DNS服务器 -->
		  <div class="form-group" ng-class="{'has-error': (form.secondDns.$dirty && form.secondDns.$invalid)}">
		       	<label for="secondDns" class="control-label"><span translate="virdesk.secondDns"></span></label> 
		       	<div class="input-group input-xlarge">
		        	<input type="text" checkip alowed-empty="true" class="form-input form-control" ng-model="model.secondDns"  ng-trim="false" id="secondDns" name="secondDns">
		      		<span class="input-group-addon help-addon" ng-messages="form.secondDns.$error">
		        		<span ng-if="form.secondDns.$valid||!form.secondDns.$dirty">
		             	<span class="icon-occupying"></span>
		         	</span>
		      		<span ng-if="form.startIp.$dirty">
		             	<span ng-message="checkip"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'checkip'|translate}}"></span></span>
		            </span>
			        </span>
		        </div>
           </div>
		   <!-- 扩展命令 -->
		   <div class="form-group" ng-class="{'has-error': (form.userData.$dirty && form.userData.$invalid)}">
		       	<label for="userData" class="control-label"><span translate="virdesk.expendCmdLine"></span></label> 
		       	<div class="input-group input-xlarge">
		        	<input type="text" ng-maxlength=256 class="form-input form-control" ng-model="model.userData"  ng-trim="false" id="userData" name="userData">
		      		<span class="input-group-addon help-addon" ng-messages="form.userData.$error">
		        		<span ng-if="form.userData.$valid||!form.userData.$dirty">
		             	<span class="icon-occupying"></span>
		         	</span>
		      		<span ng-if="form.userData.$dirty">
		             	<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}256"></span></span>
		            </span>
		            </span>
		        </div>
           </div>
		</form>
	</div>
</div>
<div class="modal-footer">
	  <button id="okBtn" class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
	  <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
 </div>
