<!-- 增加ACL策略弹出窗口 -->

<!-- 标题 -->
<div class="modal-header">
    <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
    <!-- <button ng-show = "type=='add'" type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('sysMgmt/acl/addACL')">
		<span class="icon-helpnew"></span>
	</button>
	<button ng-show = "type=='modify'" type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('sysMgmt/acl/modifyACL')">
		<span class="icon-helpnew"></span>
	</button> -->
	<button ng-show = "type=='view'" type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('sysMgmt/acl/viewACL')">
		<span class="icon-helpnew"></span>
	</button>
    <!-- <h4 class="modal-title" translate="securityMng.addAcl" ng-if="type=='add'"></h4>
    <h4 class="modal-title" translate="securityMng.modifyAcl" ng-if="type=='modify'"></h4> -->
    <h4 class="modal-title" translate="cloudSecurity.viewFirewallStrategy"></h4>
</div>
<!-- 步骤向导 -->
<div class="modal-body row">
    <div class="form-horizontal col-md-12">
         <form name="form" class="form-horizontal" role="form" novalidate style="margin-bottom: 10px;">
             <!-- 名称：长度64 -->
            <div class="form-group" style="margin-left:20px;" ng-class="{'has-error': (form.name.$dirty && form.name.$invalid)}">
	            <label for="name" class="control-label"><span translate="common.name"></span><span style="color: red">*</span></label>
	            <div class="control-input">
	                <div class="input-group input-xlarge">
	                    <input type="text" ng-readonly="true" checkname ng-maxlength=64  class="form-input form-control" ng-model="name"  ng-trim="false" id="name" name="name" required>
	                    <!-- <span class="input-group-addon help-addon" ng-messages="form.name.$error">
	                        <span ng-if="form.name.$valid||!form.name.$dirty">
	                            <span class="icon-occupying"></span>
	                        </span>
	                        <span ng-if="form.name.$dirty">
	                            <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
	                            <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}64"></span></span>
	                            <span ng-message="checkname"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'checkname'|translate}}"></span></span>
	                        </span>
	                    </span> -->
	                </div>
	            </div>   
	        </div>
            <!-- 描述：长度120 -->
            <div class="form-group" style="margin-left:20px;" ng-class="{'has-error': (form.desc.$dirty && form.desc.$invalid)}">
	            <label for="desc" class="control-label"><span translate="common.desc"></span><span style="color: red">&nbsp;</span></label>
	            <div class="control-input" >
	                <div class="input-group input-xlarge">
	                    <input type="text" ng-readonly="true" ng-maxlength=120  class="form-input form-control" ng-model="description"  ng-trim="false" id="desc" name="desc">
	                    <span class="input-group-addon help-addon" ng-messages="form.desc.$error">
	                        <span ng-if="form.desc.$valid||!form.desc.$dirty">
	                            <span class="icon-occupying"></span>
	                        </span>
	                        <span ng-if="form.desc.$dirty">
	                            <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}120"></span></span>
	                        </span>
	                    </span>
	                </div>
	            </div>   
	        </div>
            <!-- 出入方向默认动作--拒绝 -->
            <div class="form-group">
	            <label for="defaultInAction" style="margin-left:20px;" class="control-label"><span translate="cloudSecurity.DefaultAction"></span><span style="color:red">&nbsp;</span></label>
	            <input type="text" ng-readonly="true" class="form-input form-control" ng-model="defaultAction">
	            <!-- <div class="control-input">
	                <div class="input-group select-input-group">
	                    <select-input class="" input-readonly="{{type=='view'}}" options="accessType.options" bind-model="entry.defaultAclAction" input-id="defaultAclAction" input-name="defaultInAction">
	                    </select-input>
	                     <span class="input-group-addon help-addon" style="height:30px;" >
	                        <span class="icon-help-gray"   tooltip-placement="right" tooltip="{{::'securityMng.inDefaultActionTip'|translate}}"></span>
	                    </span>
	                </div>
	            </div> -->
	         </div>
             <!-- 出方向默认动作 -->
             <!-- <div class="form-group">
	            <label for="defaultOutAction" style="margin-left:20px;" ng-readonly="type=='view'" class="control-label"><span translate="securityMng.outDefaultAction"></span><span style="color:red">&nbsp;</span></label>
	            <div class="control-input">
	                <div class="input-group select-input-group">
	                    <select-input class="" input-readonly="{{type=='view'}}" options="accessType.options" bind-model="entry.defaultAclOutAction" input-id="defaultOutAction" input-name="defaultOutAction">
	                    </select-input>
	                    <span class="input-group-addon help-addon" style="height:30px;" >
	                        <span class="icon-help-gray"   tooltip-placement="right" tooltip="{{::'securityMng.outDefaultActionTip'|translate}}"></span>
	                    </span>
	              </div>
							 
	          </div>
	        </div> -->
	       <!--  <!-- ACL类型
            <div class="form-group" style="margin-left:20px;">
                <label for="aclType" class="control-label"><span translate="securityMng.aclType"></span><span style="color:red">&nbsp;</span></label>
                <div class="control-input">
                    <div class="input-group" style="width:262px !important;" ng-class="{disable: (type!='add')}">
                        <select-input input-readonly="{{type!='add'}}" options="aclType.options" bind-model="entry.type" input-id="aclType" input-name="aclType">
                        </select-input>
                    </div>
                </div>
            </div> -->
           <!--  <div class="form-group" >
				<label for="timeGroup" class="switch-label" style="margin-left:20px;"><span
					translate="securityMng.timeGroup"></span></label>
				<div class="control-input">
					<div class="input-group">
						<div toggle-switch is-disabled="type=='view'" class="switch-success" ng-model="entry.timeRangeEnabled"></div>
					</div>
				</div>
			</div> -->
			
			
			<!-- <div class="form-group" ng-show="entry.timeRangeEnabled == true">
				<label class="switch-label" style="margin-left:20px;"><span
					translate="securityMng.effectiveTime"></span></label>
				<div class="control-input">
				 时间选择
		         <table  id="periodTable" class="table-checking" border="1"
					cellspacing="0" cellpadding="0" data-checked=""  style="margin-left:20px;">
					<thead>
						<tr>
							<th>0</th>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
							<th>5</th>
							<th>6</th>
							<th>7</th>
							<th>8</th>
							<th>9</th>
							<th>10</th>
							<th>11</th>
							<th>12</th>
							<th>13</th>
							<th>14</th>
							<th>15</th>
							<th>16</th>
							<th>17</th>
							<th>18</th>
							<th>19</th>
							<th>20</th>
							<th>21</th>
							<th>22</th>
							<th>23</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td id="0"></td>
							<td id="1"></td>
							<td id="2"></td>
							<td id="3"></td>
							<td id="4"></td>
							<td id="5"></td>
							<td id="6"></td>
							<td id="7"></td>
							<td id="8"></td>
							<td id="9"></td>
							<td id="10"></td>
							<td id="11"></td>
							<td id="12"></td>
							<td id="13"></td>
							<td id="14"></td>
							<td id="15"></td>
							<td id="16"></td>
							<td id="17"></td>
							<td id="18"></td>
							<td id="19"></td>
							<td id="20"></td>
							<td id="21"></td>
							<td id="22"></td>
							<td id="23"></td>
						</tr>
					</tbody>
				</table>
				</div>
			</div> -->
            
            
            
            <!-- 

			<div id="activeTimeGroup" input-readonly="{{type=='view'}}" cascheckbox style="margin-bottom:2px;margin-left:15px;margin-bottom:15px;" class="cas-checkbox labeled-btn checkbox" ng-model="entry.timeRangeEnabled">
                <input type="checkbox" ng-checked="entry.timeRangeEnabled==1">
                <div class="corner-label">
                    <i class="glyphicon glyphicon-ok icon"></i>
                </div>
                <div class="box">
                    <span class="box-name" translate="securityMng.timeGroup"></span>
                </div>
            </div>
             -->
            <!-- 时间段选择 
            <div  ng-if="entry.timeRangeEnabled == true" style="width:600px;margin-left:15px">
                <div id="time{{time}}" input-readonly="{{type=='view'}}" cascheckbox style="margin:0px 0px 0px 0px" class="cas-checkbox labeled-btn checkbox" ng-model="timeGroup[time]" value={{time}} false-value=-1 ng-repeat="time in timeGroup24">
                    <input type="checkbox" ng-checked="isEffectTimeEnabled(time)==true">
	                <div class="corner-label">
	                    <i class="glyphicon glyphicon-ok icon"></i>
	                </div>
	                <div class="box" style="width:50px;">
	                    <span class="box-name" style="width:20px;">{{time}}</span>
	                </div>
	            </div>
            </div>
            -->
            <div class="panel-body">
					
				<!-- <div ng-show="type!='view'" class="form-group" style="margin-left:572px;">
				<div style ="width:205px;">
				 	<label style="float:right;margin-right: 0px ! important;" class="btn btn-default btn-menu hidden-xs" ng-click="modifyPriority()">
						<span class="sm-icon icon-modify"></span><span translate="securityMng.modifyAclPrior"></span>
					</label>  
					<label style="margin-right: 0px ! important;" class="btn btn-default btn-menu hidden-xs" ng-click="addAclRule()">
						<span class="sm-icon icon-add"></span><span translate="securityMng.addRule"></span>
					</label> 
					
					</div>
				</div>  --> 
	            <!-- 防火墙规则列表 -->
	            <div ng-controller="aclRuleListCtrl">
	                <div style="width: 778px; height: 130px;" class="table"  ng-grid="v4GridOptions"></div>
	            </div>
            </div>  
        </form>
    </div>    
</div>
<!-- 按钮栏 -->
<div class="modal-footer">
    <button id="addAclBtn" class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>