<!-- 查看LDAP服务器配置弹出窗口 -->
<!-- 标题 -->
<div class="modal-header">
   <button type="button" class="close" custom-title="{{'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
    <h4 class="modal-title" translate="ldap.viewLdapStra"></h4>
</div>
<div class="modal-body modal-detail">
	<div class="description">
		<div class="detail-item">
			<dl  class="dl-horizontal">
				<dt style="width:45%;" translate="ldap.strategyName"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.strategyName}}">{{strategy.strategyName}}</dd>
				<dt style="width:45%;" translate="ldap.serverName"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.ldapServer}}">{{strategy.ldapServer}}</dd>
				<dt style="width:45%;" translate="ldap.authLdapBaseDn"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.baseDn}}">{{strategy.baseDn}}</dd>
				<dt style="width:45%;" translate="ldap.childBaseDn"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.childBaseDN}}">{{strategy.childBaseDN}}</dd>
				<dt style="width:45%;" translate="ldap.conditions"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.conditions}}">{{strategy.conditions}}</dd>
				<dt style="width:45%;" translate="common.organization"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.orgName}}">{{strategy.orgName}}</dd>
				<dt style="width:45%;" translate="ldap.syncUserGroup"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.syncUserGroup | selectLabel:1:syncUserGroupOptions.options}}">{{strategy.syncUserGroup | selectLabel:1:syncUserGroupOptions.options}}</dd>
				<dt ng-if="strategy.syncUserGroup == 1" style="width:45%;" translate="ldap.fatherUserGroup"></dt><dd ng-if="strategy.syncUserGroup == 1" custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.userGroupName}}">{{strategy.userGroupName}}</dd>
				<dt ng-if="strategy.syncUserGroup == 0" style="width:45%;" translate="user.userGroup"></dt><dd ng-if="strategy.syncUserGroup == 0" custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.userGroupName}}">{{strategy.userGroupName}}</dd>
				<dt style="width:45%;" translate="ldap.configStatus"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.status | selectLabel:1:statusOptions.options}}">{{strategy.status | selectLabel:1:statusOptions.options}}</dd>
				
				<dt style="width:45%;" translate="ldap.syncOptions"></dt>
					<dd str-fontsize=12 >
					<span ng-if="strategy.autoSync==true"><span translate="ldap.autoSync"></span>&nbsp;</span>
					<span ng-if="strategy.requiredSync==true"><span translate="ldap.syncRequired"></span>&nbsp;</span>
					<span ng-if="strategy.newSync==true"><span translate="ldap.newSync"></span>&nbsp;</span>
					<span ng-if="strategy.existSync==true"><span translate="ldap.existSync"></span>&nbsp;</span>
					<span ng-if="strategy.childSync==true"><span translate="ldap.childSync"></span>&nbsp;</span>
					<span ng-if="strategy.autoDeleteUser==true"><span translate="ldap.autoDeleteUser"></span>&nbsp;</span>
					</dd>
				<!-- 
				<dt style="width:45%;" translate="ldap.autoSync"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.autoSync | yes}}">{{strategy.autoSync | yes}}</dd>
				<dt style="width:45%;" translate="ldap.syncRequired"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.requiredSync | yes}}">{{strategy.requiredSync | yes}}</dd>
				<dt style="width:45%;" translate="ldap.newSync"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.newSync | yes}}">{{strategy.newSync | yes}}</dd>
				<dt style="width:45%;" translate="ldap.existSync"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.existSync | yes}}">{{strategy.existSync | yes}}</dd>
				<dt style="width:45%;" translate="ldap.childSync"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.childSync | yes}}">{{strategy.childSync | yes}}</dd>
				<dt style="width:45%;" translate="ldap.autoDeleteUser"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.autoDeleteUser | yes}}">{{strategy.autoDeleteUser | yes}}</dd>
				 -->
				<dt style="width:45%;" translate="ldap.loginName"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.loginName}}">{{strategy.loginName}}</dd>
				<dt style="width:45%;" translate="ldap.userName"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.userName | selectLabel:0:userNameOptions.options}}">{{strategy.userName | selectLabel:0:userNameOptions.options}}</dd>
				<dt style="width:45%;" translate="ldap.iDNum"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.iDNum | selectLabel:0:iDNumOptions.options}}">{{strategy.iDNum | selectLabel:0:iDNumOptions.options}}</dd>
				<dt style="width:45%;" translate="ldap.address"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.address | selectLabel:0:addressOptions.options}}">{{strategy.address | selectLabel:0:addressOptions.options}}</dd>
				<dt style="width:45%;" translate="ldap.phoneNum"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.phoneNum | selectLabel:0:phoneNumOptions.options}}">{{strategy.phoneNum | selectLabel:0:phoneNumOptions.options}}</dd>
				<dt style="width:45%;" translate="ldap.eMail"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{strategy.eMail | selectLabel:0:eMailOptions.options}}">{{strategy.eMail | selectLabel:0:eMailOptions.options}}</dd>
			</dl>
		</div>
	</div>
</div>
<!-- 内容1:按钮栏 -->
<div class="modal-footer">
    <button class="btn btn-black" ng-click="cancel()" translate="common.close"></button>
</div>
