<!-- 查看LDAP服务器配置弹出窗口 -->
<!-- 标题 -->
<div class="modal-header">
   <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
    <h4 class="modal-title" translate="ldap.viewLdapServerConfig"></h4>
</div>
<div class="modal-body modal-detail">
	<div class="description">
		<div class="detail-item">
			<dl  class="dl-horizontal">
				<dt style="width:45%;" translate="ldap.ldapServerName"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::server.serverName}}">{{::server.serverName}}</dd>
				<dt style="width:45%;" translate="ldap.serverIp"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::server.serverIp}}">{{::server.serverIp}}</dd>
				<dt style="width:45%;" translate="ldap.serverPort"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::server.serverPort}}">{{::server.serverPort}}</dd>
				<dt style="width:45%;" translate="ldap.serverType"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{server.serverType | selectLabel:1:serverTypeList.options}}">{{server.serverType | selectLabel:1:serverTypeList.options}}</dd>
				<dt style="width:45%;" translate="ldap.authLdapVersion"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{server.serverVersion | selectLabel:1:serverVersionList.options}}">{{server.serverVersion | selectLabel:1:serverVersionList.options}}</dd>
				<dt style="width:45%;" translate="ldap.connectionTimeout"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::server.connectionTimeout}}">{{::server.connectionTimeout}}</dd>
				<dt style="width:45%;" translate="ldap.syncTimeout"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::server.syncTimeout}}">{{::server.syncTimeout}}</dd>
				<dt style="width:45%;" translate="ldap.authLdapBaseDn"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::server.baseDn}}">{{::server.baseDn}}</dd>
				<dt style="width:45%;" translate="ldap.authLdapAdminDn"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::server.adminDn}}">{{::server.adminDn}}</dd>
				<dt style="width:45%;" translate="ldap.authLdapUserNameAttrName"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::server.userNameAttrName}}">{{::server.userNameAttrName}}</dd>
			</dl>
		</div>
	</div>
</div>
<!-- 内容1:按钮栏 -->
<div class="modal-footer">
    <button class="btn btn-black" ng-click="cancel()" translate="common.close"></button>
</div>
