	<div class="panel-body">
	  <form name="form" class="form-horizontal"  style="padding-left:15px;padding-top:10px;" role="form" novalidate ng-controller="MailServerCtrl">
				 <fieldset>
		          		<div class="col-lg-6">
							<!-- 服务器地址 -->
				             <div class="form-group " ng-class="{'has-error' : form.serverAddr.$invalid && form.serverAddr.$dirty}">
					              <label for="serverAddr" class="control-label " style="width:135px;"><span translate="paramconfig.serverAddr"></span><span style="color: red">*</span></label>
					              <div class="control-input">
					              	<div class="input-group">
					                  <input ng-trim="false" checkserveraddr required ng-maxlength="32" id="serverAddr" name="serverAddr" class="form-input form-control" ng-model="model.server_addr" type="text" />
					              	  <span class="input-group-addon help-addon" ng-messages="form.serverAddr.$error">
					              	  	<span ng-if="form.serverAddr.$dirty">
					              	  		<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                    				<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                    				<span ng-message="checkserveraddr"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidserveraddr'|translate}}"></span></span>
					              	  	</span>
	                    				</span>
	                    			</div>
					              </div>
				             </div>
				             <!-- 服务器要求身份验证 -->
							<div class="form-group">
									<label class="control-label" translate="paramconfig.enableAuth" style="width:135px;"></label>
									<div class="control-input" style="display: inline-table;">
										<div class="input-group width260">
											<div toggle-switch class="switch-success" ng-model="param.auth"></div>
										</div>
									</div>
							</div>
							<!--  用户名--->
				             <div class="form-group " ng-if="param.auth == true" ng-class="{'has-error' : form.username.$invalid && form.username.$dirty}">
					              <label for="username" class="control-label " style="width:135px;"><span translate="username"></span><span style="color: red">*</span></label>
					               <div class="control-input">
					               	<div class="input-group">
					                  <input ng-trim="false" ng-maxlength=128 required checkblank id="usernameId" name="username" class="form-input form-control" ng-model="model.auth_username" type="text" />
					               	  <span class="input-group-addon help-addon" ng-messages="form.username.$error">
					               	  		<span ng-if="form.username.$dirty">
					               	  			<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}128"></span></span>
		                    					<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
					               	  			<span ng-message="checkblank"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'blank'|translate}}"></span></span>
					               	  		</span>
	                    				</span>
	                    			</div>
					               </div>
				             </div>
							<!-- 发件人邮箱地址--->
				             <div class="form-group " ng-class="{'has-error' : form.senderAddr.$invalid && form.senderAddr.$dirty}">
					              <label for="senderAddr" class="control-label " style="width:135px;"><span translate="paramconfig.senderAddr"></span><span style="color: red">*</span></label>
					               <div class="control-input">
					              	<div class="input-group">
					                  <input ng-trim="false" checkemail id="senderAddr" name="senderAddr" required ng-maxlength="128" class="form-input form-control" ng-model="model.sender_addr" type="text" />
					               	  <span class="input-group-addon help-addon" ng-messages="form.senderAddr.$error">
					               	  		<span ng-if="form.senderAddr.$dirty">
					               	  			<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}128"></span></span>
		                    					<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                    					<span ng-message="checkemail"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidemail'|translate}}"></span></span>
					               	  		</span>
	                    				</span>
	                    				</div>
					               </div>
				             </div>
			            </div>
		          		<div class="col-lg-6">
							<!-- 端口号  -->
			               <div class="form-group " ng-class="{'has-error' : form.port.$invalid && form.port.$dirty}">
					              <label for="port" class="control-label " style="width:135px;"><span translate="paramconfig.port"></span><span style="color: red">*</span></label>
					               <div class="control-input">
					               	<div class="input-group">
					                  <input spinner spinner-min=1 spinner-max=65535 required id="port" name="port" style="width:227px !important;" ng-model="model.server_port" type="text" checkint/>
					               	  <span class="input-group-addon help-addon" ng-messages="form.port.$error">
					               	  		<span ng-if="form.port.$dirty">
		                    					<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'require'|translate}}"></span></span>
					               	  			<span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'invalidint'|translate}}"></span></span>
					               	  			<span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'maxValueIs'|translate}}9999"></span></span>
				                        	  <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'minValueIs'|translate}}1"></span></span>
					               	  		</span>
	                    				</span>
	                    				</div>
					               </div>
				            </div>
				             <!-- SSL加密 -->
							<div class="form-group">
									<label class="control-label" translate="paramconfig.sshEncrypt" style="width:135px;"></label>
									<div class="control-input" style="display: inline-table;">
										<div class="input-group width260">
											<div toggle-switch class="switch-success" ng-model="model.sslEncrypt"></div>
										</div>
									</div>
							</div>
							<!-- 密码-->
			               <div class="form-group " ng-if="param.auth == true" ng-class="{'has-error' : form.pwd.$invalid && form.pwd.$dirty}">
					              <label for="pwd" class="control-label " style="width:135px;"><span translate="password"></span><span style="color: red">*</span></label>
					               <div class="control-input">
									   <div class="input-group width260">
					                  		<input id="pwd" name="pwd" required ng-maxlength="128" class="form-input form-control" ng-model="model.auth_password" type="password" />
					              	  		<span class="input-group-addon help-addon" ng-messages="form.pwd.$error">
					              	  			<span ng-if="form.pwd.$dirty">
					              	  				<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'maxlen'|translate}}128"></span></span>
		                    						<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'require'|translate}}"></span></span>
					              	  			</span>
	                    					</span>
	                    				</div>
					               </div>
				            </div>
							<!-- 发件人姓名-->
			               <div class="form-group " ng-class="{'has-error' : form.senderName.$invalid && form.senderName.$dirty}">
					              <label for="senderName" class="control-label " style="width:135px;"><span translate="paramconfig.senderName"></span></label>
					               <div class="control-input">
					                <div class="input-group width260">
					                  <input ng-trim="false" id="senderName" name="senderName" ng-maxlength="128" class="form-input form-control" ng-model="model.sender_name" type="text" />
					                  <span class="input-group-addon help-addon" ng-messages="form.senderName.$error">
					                  <span ng-if="form.senderName.$dirty">
					                  		<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'maxlen'|translate}}128"></span></span>
					                  </span>
	                    				</span>
	                    			</div>
					             </div>
				            </div>
			            </div>
		  		</fieldset>
		  		<div style="margin-left:450px;">
		  			<label class="btn btn-default btn-menu" ng-click="resetParamConfig()">
						<span class="sm-icon icon-reset"></span><span translate="common.reset"></span>
					</label>
			  		<label class="btn btn-default btn-menu btn-forbidden"  ng-if="form.$invalid">
						<span class="sm-icon icon-save"></span><span translate="common.save"></span>
					</label>
					<label class="btn btn-default btn-menu" ng-click="saveParamConfig()" ng-if="!form.$invalid">
						<span class="sm-icon icon-save"></span><span translate="common.save"></span>
					</label>
					<label class="btn btn-default btn-menu btn-forbidden"  ng-if="form.$invalid">
						<span class="sm-icon icon-advanced"></span><span translate="paramconfig.mailtest"></span>
					</label>
					<label class="btn btn-default btn-menu" ng-click="mailtest()" ng-if="!form.$invalid">
						<span class="sm-icon icon-advanced"></span><span translate="paramconfig.mailtest"></span>
					</label>
                 </div>
		 </form>
	</div>
