<div class="panel panel-default cas-panel" >
	<div class="panel-heading cas-panel-heading">
	     <ol class="breadcrumb">
			<li><a ui-sref='main.systemMng' ><span translate="systemMng.systemMng"></span></a></li>
			<li class="active" translate="common.paramConfig"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/sysParam/sysParam')"></span>
	</div>
	
	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_parameter_setting Icon_common_display">
<!-- 		      	<img alt="" src="css/img/blue/Icon_system_parameter.svg"> -->
		      </span>
		      <span class='desc'>
		      		<span translate="paramconfig.paramConfigHead"></span>
		      </span>
		    </div>
		</div>
		<castabset>
		      <castab has-permission="SYSTEMPARAM_MNG" active="{{currentTab == 'systemParam'}}" href=".systemParam" icon="icon-system-parameter" heading="{{'paramconfig.systemParam'|translate}}"></castab>
		      <castab has-permission="MAILSERVER_MNG" active="{{currentTab == 'mailServer'}}" href=".mailServer" icon="icon-email-parameter" heading="{{'paramconfig.mailServer'|translate}}"></castab>
		      <castab has-permission="USERSELFHELP_MNG" active="{{currentTab == 'userSelfhelp'}}" href=".userSelfhelp" icon="icon-operator-gray" heading="{{'paramconfig.userSelfParam'|translate}}"></castab>
		      <castab has-permission="SMSSERVER_MNG" active="{{currentTab == 'smsServer'}}" href=".smsServer" icon="icon-tips-gray" heading="{{'paramconfig.smsConfig'|translate}}"></castab>
	    </castabset>
	    <div ui-view></div>
	
	</div>
</div>