<div class="panel-body">
 <form name="form" class="form-horizontal"  role="form" style="padding-left:30px;padding-top:10px;" novalidate ng-controller="SmsServerCtrl">
		       <div class="row">
		       		<div class="col-lg-6">
		       		<!-- 启用短信通知 -->
		       		<div class="form-group"'>
						<label class="switch-label" translate="paramconfig.enableSms"></label>
						<div class="control-input">
							<div class="input-group width260">
								<div toggle-switch class="switch-success" ng-model="model.enableSms"></div>
							</div>
						</div>
					</div>
		       		</div>
		       		<div class="col-lg-6">
		       		<!-- 短信类型 -->
		       			<div class="form-group " ng-if="model.enableSms == true">
					          <label for="smsType" class="control-label "><span translate="paramconfig.smsType"></span></label>
					          <div class="input-group">
					                 <select-input class="" options="smsTypes" bind-model="model.smsType"
								     input-id="smsType" input-name="smsType"> </select-input>
					          </div>
				       </div>
		       		</div>
		       </div>
		       <!-- 吉信通短信平台 -->
			   <div class="row" ng-if="model.smsType == '2' && model.enableSms == true">
			   		<div class="col-lg-6">
			   				<!-- 登录名 -->
			   				<div class="form-group" ng-class="{'has-error' : form.smsJXTLoginName.$invalid && form.smsJXTLoginName.$dirty}">
								<label for="smsJXTLoginName" class="control-label">
									<span translate="paramconfig.loginName"></span><span style="color: red">*</span>
								</label>
								<div class="control-input">
									<div class="input-group width260">
										<input id="smsJXTLoginName" name="smsJXTLoginName" ng-trim="false" ng-maxlength="32" required check-special-char  type="text" class="form-input form-control" ng-model="model.smsJXTLoginName"> 
										<span class="input-group-addon help-addon"   ng-messages="form.smsJXTLoginName.$error">
											<span ng-if="form.smsJXTLoginName.$dirty">
												<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
			                    				<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
												<span ng-message="specialChar"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'checkname2'|translate}}"></span></span>
											</span>
	                    				</span>
	                    			</div>
								</div>
							</div>
							
							<!-- 启用HTTP代理 -->
							<div class="form-group"'>
									<label class="switch-label" translate="paramconfig.enableProxy"></label>
									<div class="control-input">
										<div class="input-group width260">
											<div toggle-switch class="switch-success" ng-model="model.smsJXTEnableProxy"></div>
										</div>
									</div>
		       				</div>
							
							<!-- 代理地址 -->
							<div class="form-group" ng-if="model.enableSms == true && model.smsType == '2' && model.smsJXTEnableProxy == true" ng-class="{'has-error' : form.smsJXTProxyServer.$invalid && form.smsJXTProxyServer.$dirty}">
								<label for="smsJXTProxyServer" class="control-label">
									<span translate="paramconfig.proxyAddr"></span><span style="color: red">*</span>
								</label>
								<div class="control-input">
									<div class="input-group width260">
										<input id="smsJXTProxyServer" name="smsJXTProxyServer" ng-trim="false" ng-maxlength="32" required checkserveraddr   type="text" class="form-input form-control" ng-model="model.smsJXTProxyServer"> 
										<span class="input-group-addon help-addon"   ng-messages="form.smsJXTProxyServer.$error">
											<span ng-if="form.smsJXTProxyServer.$dirty">
												<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
			                    				<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
			                    				<span ng-message="checkserveraddr"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidserveraddr'|translate}}"></span></span>
											</span>
	                    				</span>
	                    			</div>
								</div>
							</div>
							
							<!-- 代理用户名 -->
							<div class="form-group" ng-if="model.enableSms == true && model.smsType == '2' && model.smsJXTEnableProxy == true"  ng-class="{'has-error' : form.smsJXTProxyUsername.$invalid && form.smsJXTProxyUsername.$dirty}">
								<label for="smsJXTProxyUsername" class="control-label">
									<span translate="paramconfig.proxyUsername"></span>
								</label>
								<div class="control-input" >
									<div class="input-group width260">
										<input id="smsJXTProxyUsername" name="smsJXTProxyUsername" ng-trim="false" ng-maxlength="32" checkblank  type="text" class="form-input form-control" ng-model="model.smsJXTProxyUserName"> 
										<span class="input-group-addon help-addon"   ng-messages="form.smsJXTProxyUsername.$error">
		                        			<span ng-if="form.smsJXTProxyUsername.$dirty">
		                        				<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                        				<span ng-message="checkblank"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'blank'|translate}}"></span></span>
		                        			</span>
	                    				</span>
	                    			</div>
								</div>
							</div>
			   		</div>
			   		<div class="col-lg-6">
			   		<!-- 登陆密码 -->
			   				<div class="form-group" ng-class="{'has-error' : form.smsJXTPassword.$invalid && form.smsJXTPassword.$dirty}">
								<label for="smsJXTPassword" class="control-label">
									<span translate="paramconfig.loginPwd"></span><span style="color: red">*</span>
								</label>
								<div class="control-input">
									<div class="input-group width260">
										<input id="smsJXTPassword" name="smsJXTPassword" required ng-maxlength="32" ng-trim="false"  type="password" class="form-input form-control" ng-model="model.smsJXTPassword"> 
										<span class="input-group-addon help-addon"   ng-messages="form.smsJXTPassword.$error">
		                        			<span ng-if="form.smsJXTPassword.$dirty">
		                        				<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                    					<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                        			</span>
	                    				</span>
	                    			</div>
								</div>
							</div>
							<div class="form-group ">
					              <label for="hidden1" class="control-label "></label>
					               <div class="control-input" id="hidden1">
					               </div>
				            </div>
				            <div class="form-group ">
					              <label for="hidden2" class="control-label "></label>
					               <div class="control-input" id="hidden2">
					               </div>
				            </div>
				            <div class="form-group ">
					              <label for="hidden3" class="control-label "></label>
					               <div class="control-input" id="hidden3">
					               </div>
				            </div>
				            <!-- 代理端口 -->
				            <div class="form-group" ng-if="model.enableSms == true && model.smsType == '2' && model.smsJXTEnableProxy == true" ng-class="{'has-error' : form.smsJXTProxyPort.$invalid && form.smsJXTProxyPort.$dirty}">
								<label for="smsJXTProxyPort" class="control-label">
									<span translate="paramconfig.proxyPort"></span><span style="color: red">*</span>
								</label>
								<div class="control-input">
									<div class="input-group width260">
										<input id="smsJXTProxyPort" name="smsJXTProxyPort" spinner spinner-min=1 spinner-max=65535 required   type="text" style="width:227px !important;" ng-model="model.smsJXTProxyPort"> 
										<span class="input-group-addon help-addon"   ng-messages="form.smsJXTProxyPort.$error">
											<span ng-if="form.smsJXTProxyPort.$dirty">
												<span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}65535"></span></span>
				                        	  <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}1"></span></span>
		                    					<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
											</span>
	                    				</span>
	                    			</div>
								</div>
							</div>
							<!-- 代理密码 -->
							<div class="form-group" ng-if="model.enableSms == true && model.smsType == '2' && model.smsJXTEnableProxy == true" ng-class="{'has-error' : form.smsJXTProxyPassword.$invalid && form.smsJXTProxyPassword.$dirty}">
								<label for="smsJXTProxyPassword" class="control-label">
									<span translate="paramconfig.proxyPwd"></span>
								</label>
								<div class="control-input">
									<div class="input-group width260">
										<input id="smsJXTProxyPassword" name="smsJXTProxyPassword" ng-maxlength="32" style="float:left" ng-trim="false" type="password" class="form-input form-control" ng-model="model.smsJXTProxyPassword"> 
										<span class="input-group-addon help-addon"   ng-messages="form.smsJXTProxyPassword.$error">
											<span ng-if="form.smsJXTProxyPassword.$dirty">
												<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
											</span>
	                    				</span>
	                    			</div>
								</div>
							</div>
			   		</div>
			   		
			   		
			   </div>
			   <!-- 华为短信机 -->
			   <div class="row" ng-if="model.smsType == '1' && model.enableSms == true" >
			   		<div class="col-lg-6">
			   			    <div class="form-group" ng-class="{'has-error' : form.smsHWIpAddress.$invalid && form.smsHWIpAddress.$dirty}">
								<label for="smsHWIpAddress" class="control-label">
									<span translate="paramconfig.ipAddr"></span><span style="color: red">*</span>
								</label>
								<div class="control-input">
									<div class="input-group width260">
										<input ip required ng-trim="false" ng-maxlength="32"   id="smsHWIpAddress" name="smsHWIpAddress" type="text" class="form-input form-control" ng-model="model.smsHWIpAddress"> 
										<span class="input-group-addon help-addon"   ng-messages="form.smsHWIpAddress.$error">
										<span ng-if="form.smsHWIpAddress.$dirty">
											<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                    				<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                    				<span ng-message="ip"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidip'|translate}}"></span></span>
										</span>
	                    				</span>
	                    			</div>
								</div>
							</div>
							
							<div class="form-group" ng-class="{'has-error' : form.smsHWDbPassword.$invalid && form.smsHWDbPassword.$dirty}" >
								<label for="smsHWDbPassword" class="control-label">
									<span translate="paramconfig.pwd"></span><span style="color: red">*</span>
								</label>
								<div class="control-input">
									<div class="input-group width260">
										<input id="smsHWDbPassword" required ng-maxlength="32"  ng-trim="false" name="smsHWDbPassword" type="password" class="form-input form-control" ng-model="model.smsHWDbPassword"> 
										<span class="input-group-addon help-addon"   ng-messages="form.smsHWDbPassword.$error">
											<span ng-if="form.smsHWDbPassword.$dirty">
												<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                    					<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
											</span>
	                    				</span>
	                    			</div>
								</div>
							</div>
							
							<div class="form-group"  ng-class="{'has-error' : form.smsHWPassword.$invalid && form.smsHWPassword.$dirty}">
								<label for="smsHWPassword" class="control-label">
									<span translate="paramconfig.loginPwd"></span><span style="color: red">*</span>
								</label>
								<div class="control-input">
									<div class="input-group width260">
										<input id="smsHWPassword" name="smsHWPassword" required ng-maxlength="32" ng-trim="false"  type="password" class="form-input form-control" ng-model="model.smsHWPassword"> 
										<span class="input-group-addon help-addon"   ng-messages="form.smsHWPassword.$error">
										<span ng-if="form.smsHWPassword.$dirty">
											<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                    				<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
										</span>
	                    				</span>
	                    			</div>
								</div>
							</div>
							
							<div class="form-group" ng-class="{'has-error' : form.smsHWBusinessNum.$invalid && form.smsHWBusinessNum.$dirty}" >
								<label for="smsHWBusinessNum" class="control-label">
									<span translate="paramconfig.businessNum"></span><span style="color: red">*</span>
								</label>
								<div class="control-input">
									<div class="input-group width260">
										<input id="smsHWBusinessNum" name="smsHWBusinessNum" ng-trim="false" required ng-maxlength="32"   type="text" class="form-input form-control" ng-model="model.smsHWBusinessNum"> 
										<span class="input-group-addon help-addon"   ng-messages="form.smsHWBusinessNum.$error">
										 	<span ng-if="form.smsHWBusinessNum.$dirty">
										 		<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                    				<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
										 	</span>
	                    				</span>
	                    			</div>
								</div>
							</div>
							
							
			   		</div>
			   		<div class="col-lg-6">
			   				<div class="form-group"  ng-class="{'has-error' : form.smsHWDbUserName.$invalid && form.smsHWDbUserName.$dirty}">
								<label for="smsHWDbUserName" class="control-label">
									<span translate="paramconfig.dbUsername"></span><span style="color: red">*</span>
								</label>
								<div class="control-input">
									<div class="input-group width260">
										<input id="smsHWDbUserName" name="smsHWDbUserName" ng-trim="false" required ng-maxlength="32" checkblank  type="text" class="form-input form-control" ng-model="model.smsHWDbUserName"> 
										<span class="input-group-addon help-addon"   ng-messages="form.smsHWDbUserName.$error">
										<span ng-if="form.smsHWDbUserName.$dirty">
											<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'maxlen'|translate}}32"></span></span>
		                    				<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'require'|translate}}"></span></span>
											<span ng-message="checkblank"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'blank'|translate}}"></span></span>
										</span>
	                    				</span>
	                    			</div>
								</div>
							</div>
							
							<div class="form-group" ng-class="{'has-error' : form.smsHWLoginName.$invalid && form.smsHWLoginName.$dirty}">
								<label for="smsHWLoginName" class="control-label">
									<span translate="paramconfig.loginName"></span><span style="color: red">*</span>
								</label>
								<div class="control-input">
									<div class="input-group width260">
										<input id="smsHWLoginName" name="smsHWLoginName" ng-trim="false" required checkblank ng-maxlength="32"  ng-trim="false" type="text" class="form-input form-control" ng-model="model.smsHWLoginName"> 
										<span class="input-group-addon help-addon"   ng-messages="form.smsHWLoginName.$error">
											<span ng-if="form.smsHWLoginName.$dirty">
												<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'maxlen'|translate}}32"></span></span>
		                    					<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'require'|translate}}"></span></span>
												<span ng-message="checkblank"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'blank'|translate}}"></span></span>
											</span>
	                    				</span>
	                    			</div>
								</div>
							</div>
							
							<div class="form-group" ng-class="{'has-error' : form.smsHWIdNum.$invalid && form.smsHWIdNum.$dirty}">
								<label for="smsHWIdNum" class="control-label">
									<span translate="paramconfig.idNum"></span><span style="color: red">*</span>
								</label>
								<div class="control-input">
									<div class="input-group width260">
										<input id="smsHWIdNum" name="smsHWIdNum" ng-trim="false" required ng-maxlength="32"   type="text" class="form-input form-control" ng-model="model.smsHWIdNum"> 
										<span class="input-group-addon help-addon"   ng-messages="form.smsHWIdNum.$error">
											<span ng-if="form.smsHWIdNum.$dirty">
												<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'maxlen'|translate}}32"></span></span>
		                    					<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'require'|translate}}"></span></span>
											</span>
	                    				</span>
	                    			</div>
								</div>
							</div>
			   		</div>
			   </div>
			   <div ng-if="model.enableSms == true">
			   		<!-- 需转短信的业务 -->
							<div class="form-group" >
								<label for="convertSmsBusiness" class="control-label">
									<span translate="paramconfig.convertSmsBusiness"></span>
								</label>
								<div class="control-input width260 greenBorder" style="margin: 0 130px 0 120px;padding:0 0 4px 10px;">
									<div class="input-group">
										<cas-ace-check id="vmApply" name="vmApply" type="checkbox" text="{{::'paramconfig.vmApply' | translate}}"  checked-value="1" unchecked-value='0' ng-model="model.vmApply" checked="{{model.vmApply == '1'}}"></cas-ace-check>
									</div>
									<div class="input-group">
										<cas-ace-check id="cloudHdApply" name="cloudHdApply" type="checkbox" text="{{::'paramconfig.cloudHdApply' | translate}}" checked-value="1" unchecked-value='0' ng-model="model.cloudHdApply" checked="{{model.cloudHdApply == '1'}}"></cas-ace-check>
									</div>
									<div class="input-group">
										<cas-ace-check id="userAheadRegister" name="userAheadRegister" type="checkbox" text="{{::'paramconfig.userAheadRegister' | translate}}" checked-value="1" unchecked-value='0' ng-model="model.userAheadRegister" checked="{{model.userAheadRegister == '1'}}"></cas-ace-check>
									</div>
									<div class="input-group">
										<cas-ace-check id="cloudBackupStrategy" name="cloudBackupStrategy" type="checkbox" text="{{::'paramconfig.cloudBackupStrategy' | translate}}" checked-value="1" unchecked-value='0' ng-model="model.cloudBackupStrategy" checked="{{model.cloudBackupStrategy == '1'}}"></cas-ace-check>
									</div>
								</div>
							</div>
			   </div>
	
				<div style="margin-left:400px;">
		  			<label class="btn btn-default btn-menu" ng-click="resetParamConfig()">
						<span class="sm-icon icon-reset"></span><span translate="common.reset"></span>
					</label>
			  		<label class="btn btn-default btn-menu" ng-if="!form.$invalid && form.$dirty"
			  		     ng-click="saveParamConfig()">
						<span class="sm-icon icon-save"></span><span translate="common.save"></span>
					</label>
					<label class="btn btn-default btn-menu btn-forbidden" ng-if="form.$invalid || !form.$dirty">
						<span class="sm-icon icon-save"></span><span translate="common.save"></span>
					</label>
					<label class="btn btn-default btn-menu" ng-if="!form.$invalid && model.enableSms" ng-click="testSmsSend()">
						<span class="sm-icon icon-srm-faliover"></span><span translate="alarm.messageTest"></span>
					</label>
					<label class="btn btn-default btn-menu btn-forbidden" ng-if="form.$invalid || !model.enableSms">
						<span class="sm-icon icon-srm-faliover"></span><span translate="alarm.messageTest"></span>
					</label>
					
                 </div>
 </form>
</div>