	<div class="panel-body">
	  <form name="form" class="form-horizontal"  style="padding-left:15px;padding-top:10px;" role="form" novalidate ng-controller="UserSelfhelp">
				 <fieldset>
		          	 <div class="col-lg-6">
						<!-- 系统名称 -->
				        <div class="form-group " ng-class="{'has-error' : form.systemName.$invalid && form.systemName.$dirty}">
					        <label for="systemName" class="control-label " style="width:135px;"><span translate="paramconfig.sysname"></span></label>
					        <div class="control-input">
					        	<div class="input-group width260">
					            	<input ng-maxlength="60" id="systemName" name="systemName" class="form-input form-control" ng-model="model.systemName" type="text" />
					            	<span class="input-group-addon help-addon" ng-messages="form.systemName.$error">
					              		<span ng-if="form.systemName.$dirty">
					              	  		<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}60"></span></span>
					              		</span>
	                    			</span>
	                    		</div>
					       </div>
				         </div>
			        	<!-- 系统图标高度-->
				  		<div class="form-group">
	                 		<label for="sysIconHeight"  class="control-label" style="width:135px;"><span translate="paramconfig.sysIconHeight"></span></label>
	                  		<div class="control-input" >
	                        	<div class="input-group width260">
	                            	<input type="text"  style="width:185px;" checkint spinner spinner-min=103 spinner-max=100000 ng-model="model.systemLogoHeight" id="sysIconHeight" name="sysIconHeight">
	                            	<span translate="paramconfig.px" class="input-group-addon last-child-angle unit-addon" style="padding:6px;border-left:0;"></span>
	                            	<span class="input-group-addon help-addon" ng-messages="form.sysIconHeight.$error">
		                    			<span ng-if="form.sysIconHeight.$valid||!form.sysIconHeight.$dirty">
		                        			<span class="icon-occupying"></span>
		                        		</span>
		                       	 		<span ng-if="form.sysIconHeight.$dirty" style="color:#A94442;">
		                            		<span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}100000"></span></span>
				                        	  <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}103"></span></span>
		                            		<span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
		                        		</span>
	                       			</span>
	                        	</div>
	                    	</div>
	               		</div>
	               		<!-- 版权信息 -->
				        <div class="form-group " ng-class="{'has-error' : form.copyright.$invalid && form.copyright.$dirty}">
					        <label for="copyright" class="control-label " style="width:135px;"><span translate="paramconfig.copyright"></span></label>
					        <div class="control-input">
					        	<div class="input-group width260">
					            	<input ng-maxlength="128" id="copyrightInfo" name="copyright" class="form-input form-control" ng-model="model.copyright" type="text" ng-trim="false"/>
					            	<span class="input-group-addon help-addon" ng-messages="form.copyright.$error">
					              		<span ng-if="form.copyright.$dirty">
					              	  		<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}128"></span></span>
					              		</span>
	                    			</span>
	                    		</div>
					       </div>
				         </div>
			        	<!-- 厂商Logo高度-->
				  		<div class="form-group">
	                 		<label for="sysIconHeight"  class="control-label" style="width:135px;"><span translate="paramconfig.manufacturerLogoHeight"></span></label>
	                  		<div class="control-input" >
	                        	<div class="input-group width260">
	                            	<input type="text"  style="width:185px;" checkint spinner spinner-min=18 spinner-max=100000 ng-model="model.vendorLogoHeight" id="logoHeight" name="logoHeight">
	                            	<span translate="paramconfig.px" class="input-group-addon last-child-angle unit-addon" style="padding:6px;border-left:0;"></span>
	                            	<span class="input-group-addon help-addon" ng-messages="form.logoHeight.$error">
		                    			<span ng-if="form.logoHeight.$valid||!form.logoHeight.$dirty">
		                        			<span class="icon-occupying"></span>
		                        		</span>
		                       	 		<span ng-if="form.logoHeight.$dirty" style="color:#A94442;">
		                            		<span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}100000"></span></span>
				                        	  <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}18"></span></span>
		                            		<span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
		                        		</span>
	                       			</span>
	                        	</div>
	                    	</div>
	               		</div>
	               		<!-- 是否启用快照管理  -->
						<div class="form-group ">
					        <label for="enableSnapshoot" class="control-label " style="width:135px;"><span translate="paramconfig.enableSnapshoot"></span></label>
					        <div class="input-group">
					            <select-input class="" options="enable.options" bind-model="model.isusing_snap" input-id="enableSnapshoot" input-name="enableSnapshoot"> </select-input>
					         </div>
				         </div>
	               		<!-- 是否启用云备份管理  -->
						<div class="form-group ">
					        <label for="enableCloudBackup" class="control-label " style="width:135px;"><span translate="paramconfig.enableCloudBackup"></span></label>
					        <div class="input-group">
					            <select-input class="" options="enable.options" bind-model="model.isusing_backup" input-id="enableCloudBackup" input-name="enableCloudBackup"> </select-input>
					         </div>
				         </div>
	               		<!-- 是否启用云硬盘管理  -->
						<div class="form-group ">
					        <label for="enableCloudHarddisk" class="control-label " style="width:135px;"><span translate="paramconfig.enableCloudHarddisk"></span></label>
					        <div class="input-group">
					            <select-input class="" options="enable.options" bind-model="model.isusing_disk" input-id="enableCloudHarddisk" input-name="enableCloudHarddisk"> </select-input>
					         </div>
				         </div>
	               		<!-- 是否启用云告警管理  -->
						<div class="form-group ">
					        <label for="enableCloudAlarm" class="control-label " style="width:135px;"><span translate="paramconfig.enableCloudAlarm"></span></label>
					        <div class="input-group">
					            <select-input class="" options="enable.options" bind-model="model.isusing_alarm" input-id="enableCloudAlarm" input-name="enableCloudAlarm"> </select-input>
					         </div>
				         </div>
				         
						<!-- 是否启用防火墙管理  -->
						<!-- <div class="form-group ">
					        <label for="enableCloudFirewall" class="control-label " style="width:135px;"><span translate="paramconfig.enableCloudFirewall"></span></label>
					        <div class="input-group">
					            <select-input class="" options="enable.options" bind-model="model.isusing_firewall" input-id="enableCloudFirewall" input-name="enableCloudFirewall"> </select-input>
					         </div>
				         </div> -->
			        </div>
		            <div class="col-lg-6">
						<!-- 系统图标 -->
				        <div class="form-group " ng-class="{'has-error' : form.systemIcon.$invalid && form.systemIcon.$dirty}">
					        <label for="systemIcon" class="control-label " style="width:135px;"><span translate="paramconfig.systemIcon"></span></label>
					        <div class="control-input">
					        	<div class="input-group width260">
					            	<input ng-maxlength="128" id="systemIcon" name="systemIcon" class="form-input form-control" ng-model="model.systemLogo" type="text" />
					            	<span class="input-group-addon help-addon" ng-messages="form.systemIcon.$error">
					              		<span ng-if="form.systemIcon.$dirty">
					              	  		<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'maxlen'|translate}}128"></span></span>
					              		</span>
	                    			</span>
	                    		</div>
					       </div>
				         </div>
			        	<!-- 系统图标宽度-->
				  		<div class="form-group">
	                 		<label for="sysIconWidth"  class="control-label" style="width:135px;"><span translate="paramconfig.sysIconWidth"></span></label>
	                  		<div class="control-input" >
	                        	<div class="input-group width260">
	                            	<input type="text"  style="width:185px;" checkint spinner spinner-min=103 spinner-max=100000 ng-model="model.systemLogoWidth" id="sysIconWidth" name="sysIconWidth">
	                            	<span translate="paramconfig.px" class="input-group-addon last-child-angle unit-addon" style="padding:6px;border-left:0;"></span>
	                            	<span class="input-group-addon help-addon" ng-messages="form.sysIconWidth.$error">
		                    			<span ng-if="form.sysIconWidth.$valid||!form.sysIconWidth.$dirty">
		                        			<span class="icon-occupying"></span>
		                        		</span>
		                       	 		<span ng-if="form.sysIconWidth.$dirty" style="color:#A94442;">
		                            		<span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'maxValueIs'|translate}}100000"></span></span>
				                        	  <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'minValueIs'|translate}}103"></span></span>
		                            		<span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'invalidint'|translate}}"></span></span>
		                        		</span>
	                       			</span>
	                        	</div>
	                    	</div>
	               		</div>
	               		<!-- 厂商Logo -->
				        <div class="form-group " ng-class="{'has-error' : form.logo.$invalid && form.logo.$dirty}">
					        <label for="logo" class="control-label " style="width:135px;"><span translate="paramconfig.manufacturerLogo"></span></label>
					        <div class="control-input">
					        	<div class="input-group width260">
					            	<input ng-maxlength="128" id="copyrightInfo" name="logo" class="form-input form-control" ng-model="model.vendorLogo" type="text" />
					            	<span class="input-group-addon help-addon" ng-messages="form.logo.$error">
					              		<span ng-if="form.logo.$dirty">
					              	  		<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'maxlen'|translate}}128"></span></span>
					              		</span>
	                    			</span>
	                    		</div>
					       </div>
				         </div>
			        	<!-- 厂商Logo宽度-->
				  		<div class="form-group">
	                 		<label for="sysIconHeight"  class="control-label" style="width:135px;"><span translate="paramconfig.manufacturerLogoWidth"></span></label>
	                  		<div class="control-input" >
	                        	<div class="input-group width260">
	                            	<input type="text"  style="width:185px;" checkint spinner spinner-min=18 spinner-max=100000 ng-model="model.vendorLogoWidth" id="logoWidth" name="logoWidth">
	                            	<span translate="paramconfig.px" class="input-group-addon last-child-angle unit-addon" style="padding:6px;border-left:0;"></span>
	                            	<span class="input-group-addon help-addon" ng-messages="form.logoWidth.$error">
		                    			<span ng-if="form.logoWidth.$valid||!form.logoWidth.$dirty">
		                        			<span class="icon-occupying"></span>
		                        		</span>
		                       	 		<span ng-if="form.logoWidth.$dirty" style="color:#A94442;">
		                            		<span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'maxValueIs'|translate}}100000"></span></span>
				                        	  <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'minValueIs'|translate}}18"></span></span>
		                            		<span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" custom-title="{{'invalidint'|translate}}"></span></span>
		                        		</span>
	                       			</span>
	                        	</div>
	                    	</div>
	               		</div>
	               		<!-- 启用VNC  -->
						<div class="form-group ">
					        <label for="enableVnc" class="control-label " style="width:135px;"><span translate="paramconfig.enableVnc"></span></label>
					        <div class="input-group">
					            <select-input class="" options="enable.options" bind-model="model.ssv_vnc" input-id="enableVnc" input-name="enableVnc"> </select-input>
					         </div>
				         </div>
	               		<!-- 是否启用云消息管理  -->
						<div class="form-group ">
					        <label for="enableCloudMessage" class="control-label " style="width:135px;"><span translate="paramconfig.enableCloudMessage"></span></label>
					        <div class="input-group">
					            <select-input class="" options="enable.options" bind-model="model.isusing_message" input-id="enableCloudMessage" input-name="enableCloudMessage"> </select-input>
					         </div>
				         </div>
	               		<!-- 是否启用工单管理  -->
						<div class="form-group ">
					        <label for="enableWorkorder" class="control-label " style="width:135px;"><span translate="paramconfig.enableWorkorder"></span></label>
					        <div class="input-group">
					            <select-input class="" options="enable.options" bind-model="model.isusing_workorder" input-id="enableWorkorder" input-name="enableWorkorder"> </select-input>
					         </div>
				         </div>
				         
				         <!-- 是否启用即时消息  -->
						<div class="form-group ">
					        <label for="enableInstantMessage" class="control-label " style="width:135px;"><span translate="paramconfig.enableInstantMessage"></span></label>
					        <div class="input-group">
					            <select-input class="" options="enable.options" bind-model="model.isusing_instant_message" input-id="enableInstantMessage" input-name="enableInstantMessage"> </select-input>
					         </div>
				         </div>
		            </div>
		  		</fieldset>
		  		<div style="margin-left:450px;">
			  		<label class="btn btn-default btn-menu" ng-click="resetParamConfig()">
                        <span class="sm-icon icon-reset"></span><span translate="common.reset"></span>
                    </label>
			  		<label class="btn btn-default btn-menu" ng-click="save()" ng-if="!form.$invalid">
						<span class="sm-icon icon-save"></span><span translate="common.save">></span>
					</label>
					<label class="btn btn-default btn-menu btn-forbidden"  ng-if="form.$invalid">
						<span class="sm-icon icon-save"></span><span translate="common.save">></span>
					</label>
                 </div>
		 </form>
	</div>
