<div class="panel panel-default cas-panel">
    <div class="panel-heading cas-panel-heading"">
        <ol class="breadcrumb">
            <li><a ui-sref= "main.cloudService"><span translate="cloudService.cloudService"></span></a></li>
            <li><a ui-sref= "main.publicCloud"><span translate="publicCloud.cloudRainbow"></span></a></li>
        </ol>
                <span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}" target="_blank"
            aria-hidden="true" ng-click="openHelp('cloudService/cloudRainBowMgmt')"></span>
    </div>
    <div class="panel-body" ng-controller="CloudRainbowCtrl">
    	<div class="section">
			<div class='lead' >
		      <span class="pic Icon_common_display Icon_cloud_rainbow">
		      </span>
<!-- 		      <span ng-click="viewPublicCloud(0)">查看数据中心</span> -->
<!-- 		      <span ng-click="addPublicCloud()">新增数据中心</span> -->
<!-- 			  <span ng-click="modifyLocalCloud()">修改本地</span> -->
<!-- 			  <span ng-click="migrateConfig()">迁移配置</span> -->
		      <span><span translate="publicCloud.publicCloud"></span><span translate="publicCloud.publicCloudHead"></span></span>
			</div>
		</div>

        <div id='cloudRainbowMain' class="oneList-calc topo"></div>
    </div>
</div>