<div class="modal-header">
	<button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<h4 class="modal-title">{{custom.title}}</h4>
</div>
<div class="modal-body" style='padding-left:30px;padding-right:30px'>
	<div class="media" style="max-height:200px;">
	  <a class="media-left" href="#" style='vertical-align:middle;'>
	    <img ng-if="custom.type == 'question'" src="images/Icon_help_16x16.svg" width="45px" height="45px">
	    <img ng-if="custom.type == 'success'" src="images/Icon_fininsh_16x16.svg" width="45px" height="45px">
		<img ng-if="custom.type == 'error'" src="images/Icon_info_16x16.svg" width="45px" height="45px">
	  </a>
	  <div class="media-body alert-context-text">
	    <h4 class="font-size16" style="overflow-y:auto;overflow-x:hidden;max-height:190px;padding:2px;word-break:break-all;">{{custom.content}}</h4>
	  </div>
	</div>
</div>
 <div class="modal-footer">
	  <button id="alertOkBtn" ng-if="!custom.buttonParams" class="btn btn-green" ng-click="ok()" ng-keypress="enter($event)" translate="common.confirm"></button>
	  <button ng-if="custom.buttonParams[0]" class="btn btn-green" ng-click="ok()" ng-keypress="enter($event)" translate="{{custom.buttonParams[0].translate}}"></button>
      <button ng-if="custom.buttonParams[1]" class="btn btn-black" ng-click="cancel('close')" translate="{{custom.buttonParams[1].translate}}"></button>
	  <button ng-if="custom.isConform" class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>