<!-- 告警管理 -->
<div class="panel cas-panel panel-default" style="height:100%;" ng-controller="AlarmConfigListCtrl">
    <div class="panel-heading cas-panel-heading">
        <ol class="breadcrumb">
            <li><a ui-sref= "main.alarmMng"><span translate="alarm.alarmMng"></span></a></li>
            <li class="active"><span translate="alarm.alarmConfig"></span></li>
        </ol>
        <span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}" target="_blank"
            aria-hidden="true" ng-click="openHelp('alarm/alarmConfigMgmt')"></span>
    </div>
    <div class="panel-body" style="height:91%;">
        <div class="section">
            <div class='lead' >
              <span class="pic Icon_event_setting Icon_common_display">
              </span>
              <span class="desc"><span translate="alarm.alarmConfigPrompt"></span></span>
            </div>
        </div>
        <nav class="navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="btn-group navbar-right" >
                    <label class="btn btn-default btn-menu hidden-xs"  ng-click="refresh()" has-permission="ALARM_CONFIG_MGR">
                        <span class='sm-icon icon-refresh'></span>
                        <span translate="common.refresh"></span>
                    </label>
                    <label class="btn btn-default btn-menu" ng-click="addConfig()" has-permission="ALARM_CONFIG_ADD">
                           <span class="sm-icon icon-add"></span><span translate="alarm.addAlarmConfig"></span>
                       </label>
                </div>
            </div>
        </nav>
        <div class="cas-list-body oneListWithLead-calc">
               <div id="alarmSetListDivId" list-style class="table"  ng-grid="gridOptions"></div>
        </div>
    </div>
</div>
