<!-- 实时告警 -->
<div class="cas-panel" ng-controller="AlarmOverviewCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li class="active"><span translate="alarm.alarmMng"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}" target="_blank"
			aria-hidden="true" ng-click="openHelp('alarm/alarmOverview')"></span>
	</div>
	<div class="panel-body" id="overviewPanel" style="min-height:600px;min-width:1165px;">
		<div class="rowDashboard" style="padding-top:10px; height:49%;">
		  <!--最近7天告警总数统计-->
          <div class="square-dashboard-49" id="numStatistic">
            <h4 translate="alarm.numStatistic"></h4>
            <div id="alarmNumChart" class="trendChart">
                <div class="altStyle" style="padding-left:294px;padding-top:91.5px;" translate="common.noData"></div>
              </div>
          </div>
          <!--Top5未确认告警个数-->
          <div class="square-dashboard-49" id="statusStatistic">
              <h4 translate="alarm.statusStatistic"></h4>
              <div id="alarmStatusChart" class="trendChart">
                <div class="altStyle" style="padding-left:294px;padding-top:91.5px;" translate="common.noData"></div>
              </div>
          </div>
		</div>
		
		<div class="rowDashboard" style="padding-top:10px;height:49%;">
          <!--告警级别统计-->
          <div class="square-dashboard-49" id="levelStatistic">
              <div style="float:right;width:145px;margin-right:10px;margin-top:10px;" ng-if="levelClouds.length != 0">
                <select-input options="levelClouds" input-id="levelCloud" input-name="levelCloud"  bind-model="model.currentLevelCloud" cut-width=120></select-input>
              </div>
              <h4 translate="alarm.levelStatistic"></h4>
              <div id="alarmLevelChart" class="trendChart">
                <div class="altStyle" style="padding-left:294px;padding-top:91.5px;" translate="common.noData"></div>
              </div>
          </div>
          <!-- 告警类型统计 -->
          <div class="square-dashboard-49" id="catecoryStatistic">
              <div style="float:right;width:145px;margin-right:10px;margin-top:10px;" ng-if="catecoryClouds.length != 0">
                <select-input options="catecoryClouds" input-id="catecoryCloud" input-name="catecoryCloud"  bind-model="model.currentCatecoryCloud" cut-width=120></select-input>
              </div>
              <h4 translate="alarm.catecoryStatistic"></h4>
              <div id="alarmCatecoryChart" class="trendChart">
                <div class="altStyle" style="padding-left:294px;padding-top:91.5px;" translate="common.noData"></div>
              </div>
          </div>
        </div>
	</div>
</div>	