<!-- 告警通知模板 -->
<div class="panel cas-panel panel-default" style="height:100%;" ng-controller="AlarmNoticeTemplateCtrl">
    <div class="panel-heading cas-panel-heading">
        <ol class="breadcrumb">
            <li><a ui-sref= "main.alarmMng"><span translate="alarm.alarmMng"></span></a></li>
            <li class="active"><span translate="alarm.noticeTemplate"></span></li>
        </ol>
        <span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}" target="_blank"
            aria-hidden="true" ng-click="openHelp('alarm/noticeTemplateMgmt')"></span>
    </div>
    <div class="panel-body" style="height:91%;">
        <div class="section">
            <div class='lead' >
              <span class="pic Icon_common_display Icon_event_email">
              </span>
              <span class='desc lead-text-align' translate="alarm.emailTip"></span>
            </div>
        </div>
        <nav class="navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="btn-group navbar-right" >
                    <label class="btn btn-default btn-menu hidden-xs"  ng-click="refresh()" has-permission="ALARM_NOTICETEMPLATE_MGR">
                        <span class='sm-icon icon-refresh'></span>
                        <span translate="common.refresh"></span>
                    </label>
                    <label class="btn btn-default btn-menu" ng-click="addNoticeTemplate()" has-permission="ALARM_NOTICETEMPLATE_ADD">
                           <span class="sm-icon icon-add"></span><span translate="alarm.addNoticeTemplate"></span>
                       </label>
                </div>
            </div>
        </nav>
        <div class="cas-list-body oneListWithLead-calc">
            <div id="noticeTemplateDivId"  class="table"  ng-grid="gridOptions"></div>
        </div>
    </div>
</div>
