<!-- 实时告警 -->
<div class="cas-panel" ng-controller="RealtimeAlarmListCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li><a ui-sref= "main.alarmMng"><span translate="alarm.alarmMng"></span></a></li>
			<li class="active">
                <span translate="cloudResource.cloudResource"></span>：{{cloudName}}
            </li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}" target="_blank"
			aria-hidden="true" ng-click="openHelp('alarm/warnManageList')"></span>
	</div>
	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_common_display Icon_event_query">
		      </span>
		      <span class='desc'><span class="lead-text-align" translate="alarm.realtimeContent1"></span></span>
			</div>
		</div>
		<nav class="navbar-default" role="navigation">
		    <div class="container-fluid">
				<div class="btn-group navbar-right" style='margin-right: -14px;'>
					<label class="btn btn-default btn-menu hidden-xs"  ng-click="refresh()">
						<span class='sm-icon icon-refresh'></span>
						<span translate="common.refresh"></span>
					</label>
					<label class="btn btn-default btn-menu hidden-xs"  ng-click="filter()">
                        <span class='sm-icon icon-filter'></span>
                        <span translate="common.filter"></span>
                    </label>
					<label  id="exportAlarm" class="btn btn-default btn-menu hidden-xs"   ng-click="exportAlarm()">
						<span class="sm-icon icon-export"></span>
						<span translate="common.export"></span>
					</label>
					<div class="form-group" style="position: relative;float: right;margin-bottom:6px;" ng-style="{width: isEn ? '175px':'165px'}">
				         <label for="type" class="control-label short" style="padding-left:5px;padding-right:5px;"><span translate="common.refreshInterval"></span></label>
				         <div class="input-group" style="width: 75px;display: inline-block;float: right;">
				             <select-input class="" options="interval.options" bind-model="model.interval" style="height: 25px;"  input-id="interval" input-name="interval"> </select-input>
						</div>
				   </div>
				</div>
	        </div>
        </nav>
		<div class="cas-list-body oneListWithLead-calc">
			<div id="realtimeAlarmListDivId"  class="table"  ng-grid="gridOptions"></div>
		</div>
	</div>
</div>	