	   <div class="flex-box calc100" style="overflow-y:auto;overflow-x:hidden;" ng-style="contentstyle" ng-controller='ConsoleCtrl'>
	  	 <div class="description" style="height:581px;">
	  	   <div class="overview-col-full">
				<div class="detail-item">
		  	 	<div class="title">
		  	   	<h5 class="title-margin" translate="menu.openConsole"></h5>
			    </div>
			    <div class='panel-body'>  
				  	<table class="table" style='font-size:12px'>
						<tr>
							<td class="white"><span>UUID</span></td>
							<td class="white">{{summary.uuid}}</td>
						</tr>
						<tr>
							<td class="white"><span translate="vm.vmstate"></span></td>
							<td class="white">
							   <span ng-if= "summary.status == 'running' "><img class="pic1img" src="css/img/gray/Icon_vm_running.svg"><span class="text-pic-distance" translate="vm.execute"></span></span> 
							  <span ng-if= "summary.status == 'paused' "><img class="pic1img" src="css/img/gray/Icon_vm_pause.svg"><span class="text-pic-distance" translate="vm.pause"></span></span> 
							  <span ng-if= "summary.status == 'notdeploy' "><img class="pic1img" src="css/img/gray/Icon_vm_pause.svg"><span class="text-pic-distance" translate="vm.noDeploy"></span></span> 
							  <span ng-if= "summary.status == 'shutOff' "><img class="pic1img" src="css/img/gray/Icon_vm_close.svg"><span class="text-pic-distance" translate="vm.close"></span></span> 
							  <span ng-if= "summary.status == 'ha_exception' "><img class="pic1img" src="css/img/white/Icon_vm_haexception.svg"><span class="text-pic-distance" translate="vm.haException"></span></span> 
							  <span ng-if= "summary.status == 'unmanage'"><img class="pic1img" src="css/img/gray/Icon_unkown.svg"><span class="text-pic-distance" translate="vm.noManage"></span></span> 
							</td>
						</tr>
						<tr>
							<td class="white"><span translate="cluster.hostip"></span></td>
							<td class="white" style="word-break:break-all;">{{summary.hostName}}&nbsp;<span class="ip-color">{{"bracket1"|translate}}{{summary.hostIp}}{{"bracket2"|translate}}</span></td>
						</tr>
						<tr>
							<td class="white"><span translate="vm.vncport"></span></td>
							<td class="white">{{summary.vncport | vncPort}}</td>
						</tr>
						<tr ng-if="summary.status != 'unknown'">
						   <td>
						       <label class="btn btn-default btn-menu" ng-click="openVNC()">
									<span class="sm-icon icon-vm-console"></span><span translate="vm.openJavaConsole"></span>
							   </label> 
							</td>
							<td>
								<label class="btn btn-default btn-menu" ng-click="openNoNVC()">
									<span class="sm-icon icon-vm-console"></span><span translate="vm.openWebpageConsole"></span>
								</label>
							</td>
						</tr>
						
						<tr>
						   <td colspan=2><span translate="vm.openConsoleIf"></span>
						      <a ng-if ="isWindows == true" ng-click="downloadJre('windows')" href =""><span style='color:red' translate="vm.openConsoleElse"></span></a>
						      <a ng-if ="isLinux == true" ng-click="downloadJre('linux')"  href =""><span style='color:red' translate="vm.openConsoleElse"></span></a>
						   </td>
						</tr>
						
					</table>
					<img style="width: 325px; height: 250px;" src="{{domainScreen}}"  alt="{{domainScreenAlt}}" class="img-thumbnail"/>
			    </div>
	  	   </div>
	  	 	</div>
	  	 </div>
	  	
  	 		<div class="overview-charts" ng-style="rightStyle" style="margin-top:10px;margin-left:10px;padding-bottom:20px;padding-right:0px;height:581px;">
  	 			<div class="detail-item" style="margin-right:10px;">
	  	 			<div class="title">
			  	   		<h5 class="title-margin" translate="vm.remoteDesktop"></h5>
				    </div>
				    <div class="cas-list-body">
				    	<div style="height: 430px;" class="table"  ng-grid="gridOptions"></div>
				    </div>
  	 			</div>
  	 		</div>
	   </div>