<!-- 虚拟机页面 -->
	<div class="panel-heading cas-panel-heading" style="padding-top:10px">
		<ol class="breadcrumb" style="display:inline;">
            <li><a ui-sref='main.cloudHost' ><span translate="cloudHost.cloudHost"></span></a></li>
            <li class="active"><span translate="cloudHost.cloudHost"></span>：{{title}}</li>
        </ol>
	</div>
	<iframe id="iframepage_vm" ng-src="{{framesrc}}"  class="cvm-iframe" width="100%" 
	frameborder="0"  marginheight="0" marginwidth="0" target="_top"> </iframe>
	
	
	
