[Unit]
Description=cas_mon service
Wants=network.service
After=network.service
After=libvirtd.service

[Service]
Type=forking
ExecStart=/usr/sbin/cas_mon
PIDFile=/var/run/cas_mond.pid

# Always restart if the service is not running
Restart=always
# Restart after 60 seconds
RestartSec=60
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target

