<!-- 处理工单弹出窗口 -->

<!-- 标题 -->
<div class="modal-header">
     <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
    <!-- <button type="button" class="close cornerhelp" custom-title="{{::'help'|translate}}" ng-click="openHelp('cloudService/cloudMsg/addCloudMsg')">
		<span class="icon-helpnew"></span>
	</button> -->
    <h4 class="modal-title">{{title}}</h4>
</div>
<!-- 内容1:单form -->
<div class="modal-body">
	<div class="alert alert-info" role="alert" translate="cloudService.handleWorkorderAlert"></div>
    <div class="form-horizontal">
        <form name="form" class="form-horizontal" role="form" novalidate>
             <!-- 用户姓名 -->
            <div class="form-group">
               <label for="title" class="control-label"><span translate="user.userName"></span><span style="color: red">&nbsp;</span></label>
               <div class="control-input" >
                    <div class="input-group input-xlarge">
                        <input type="text" class="form-input form-control" ng-model="model.userName"  ng-trim="false" id="userName" name="userName" readonly>
                    </div>
                </div>   
            </div>
            <!-- 标题 -->
            <div class="form-group">
               <label for="title" class="control-label"><span translate="cloudService.title"></span><span style="color: red">&nbsp;</span></label>
               <div class="control-input" >
                    <div class="input-group input-xlarge">
                        <input type="text" class="form-input form-control" ng-model="model.title"  ng-trim="false" id="title" name="title" readonly>
                    </div>
                </div>   
            </div> 
            <!-- 内容 -->
            <div class="form-group">
               <label for="msgContent" class="control-label"><span translate="cloudService.content"></span><span style="color: red">&nbsp;</span></label>
               <div class="control-input" >
                    <div class="input-group input-xlarge">
                        <textarea class="form-input form-control" ng-model="model.content"  ng-trim="false" id="msgContent" name="msgContent" readonly></textarea>
                        <span class="input-group-addon help-addon" ng-messages="form.msgContent.$error">
                            <span ng-if="form.msgContent.$valid||!form.msgContent.$dirty">
                                <span class="icon-occupying"></span>
                            </span>
                        </span>
                    </div>
                </div>   
            </div> 
            <!-- 处理意见 -->
            <div class="form-group" ng-class="{'has-error': (form.idea.$dirty && form.idea.$invalid)}">
               <label for="idea" class="control-label"><span translate="cloudService.handlingIdea"></span><span ng-show="type=='process'" style="color: red">*</span></label>
               <div class="control-input" >
                    <div class="input-group input-xlarge">
                        <textarea ng-maxlength=512 class="form-input form-control" ng-model="model.reply"  ng-trim="false" id="idea" name="idea" required ng-readonly="type=='view'"></textarea>
                        <span class="input-group-addon help-addon" ng-messages="form.idea.$error">
                            <span ng-if="form.idea.$valid||!form.idea.$dirty">
                                <span class="icon-occupying"></span>
                            </span>
                            <span ng-if="form.idea.$dirty">
                                <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
                                <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}512"></span></span>
                            </span>
                        </span>
                    </div>
                </div>   
            </div> 
        </form>
    </div>
</div>
<!-- 内容1:按钮栏 -->
<div class="modal-footer">
    <button id="okBtn" class="btn btn-green" ng-if="type=='process'" ng-disabled="form.$invalid" ng-click="send()" translate="cloudService.send"></button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>