<!-- 选择用户列表 -->
<div class="modal-header">
	<button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<h4 class="modal-title" translate="common.selectUser"></h4>
</div>
<div class="modal-body list-body">
	<nav class="navbar-default"  role="navigation" style="margin:0;">
		<div class="container-fluid">
			<div class="btn-group navbar-left" >
				<h5>{{topTitle}}</h5>
			</div>
			<div class="btn-group navbar-right" >
					<!-- 增加用户 -->
					<label has-permission="USER_ADD" class="btn btn-default btn-menu hidden-xs" ng-click="addUser()"> 
					    <span class="sm-icon icon-operator-add"></span>
						<span translate="user.addUser"></span>
					</label>
					<!-- 刷新 -->
				    <label class="btn btn-default btn-menu hidden-xs"  ng-click="refreshUser()">
					    <span class='sm-icon icon-refresh'></span>
					    <span translate="common.refresh"></span>
			        </label>
					<!-- 搜索框 -->
					<!-- <label style="margin-left:6px;margin-bottom:0;">
				      <input class="form-control" id="navbarInput-01" type="search" placeholder="{{'user.searchUserTip'|translate}}" ng-model="searchUser">
					</label> -->
			</div>
		</div>
	</nav>
	<!-- 未分配此消息的用户 -->
	<div style=" height: 220px;margin-top:10px;clear: both;"  id="userList1Div" ng-grid="gridOptions1"></div>
	<nav class="navbar-default"  role="navigation" style="margin:0;">
		<div class="container-fluid">
			<div class="btn-group navbar-left" >
				<h5>{{buttomTitle}}</h5>
			</div>
			<div class="btn-group navbar-right" >
				<label class="btn btn-default btn-menu hidden-xs"  ng-click="appendUser()">
					<span class='sm-icon icon-add'></span>
					<span translate="org.addTo"></span>
				</label>
				<label class="btn btn-default btn-menu hidden-xs"  ng-click="removeUser()">
					<span class='sm-icon icon-delete-new'></span>
					<span translate="org.remove"></span>
				</label>
			</div>
		</div>
	</nav>
	<!-- 即将分配此消息的用户 -->
    <div style="width: 100%; height: 220px;margin-top:10px;clear: both;" class="table"  ng-grid="gridOptions2"></div>
</div>
<!-- 按钮栏 -->
<div class="modal-footer">
    <button id="okBtn" class="btn btn-green"  ng-click="ok()" ng-disabled="myData2.length==0" translate="common.confirm"></button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>