<!-- 选择用户分组弹出窗口 -->
<div class="modal-header">
	<button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<h4 class="modal-title" translate="user.userGroup"></h4>
</div>
<div class="modal-body">
	<div class="vmSummaryOverflow" style="height:400px;" id="userGrouplistDivId" ng-controller="UserGroupCtrl">
    	<tree-grid tree-data="treeData"
		    		   col-defs="column"
		    		   expand-on="expandColumn"
		    		   icon-leaf="-"
		    		   icon-expand=""
		    		   icon-collapse=""
		    		   on-select=""
		    		   on-click=""
		    		   template-url=""
		    		   expand-level="9"
		    		   tree-grid-heigth=100%
		    		   header-color="#436bb3"
		    		   row-height="32"
		    		   show-selection-checkbox="true"
		    		   selected-items="selectedItems"
		    		   tree-control="treeControl"
		    		   click-linkage = "true"
		    		   click-cascade = "false">
		    </tree-grid>
	</div>
</div>

<!-- 按钮栏 -->
<div class="modal-footer">
	<button has-permission="USER_GROUP_ADD" id="addBtn" class="btn btn-green"  ng-click="addUserGroup()" translate="common.add"></button>
    <button id="okBtn" class="btn btn-green"  ng-click="ok()" ng-disabled="" translate="common.confirm"></button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>