<!-- 云资源安装云病毒 -->
<div class="modal-header">
	 <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<h4 class="modal-title" translate="cloudService.setupAntivirus"></h4>
</div>
<div class="modal-body">
	<div class="form-horizontal">
		<form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
            <input type="hidden" id="form" value="{{form.$valid}}">
            
			<div class="form-group">
	            <label for="tmpDir_id" class="control-label"><span translate="cloudResource.name"></span></label>
	            <div class="control-input">
					<div class="input-group input-xlarge">
						<input ng-disabled="true" type="text" class="form-input form-control" ng-model="antivirus.resourceName" ng-trim="true" id="fileName_id" name="fileName">
					</div>
	            </div>
	        </div>
            
            <!-- 安装路径 -->
			<div class="form-group" ng-class="{'has-error': (form.targetPath.$dirty && form.targetPath.$invalid)}">
				<label for="targetPath" class="control-label">
					<span translate="cloudService.targetPath"></span>
					<span style="color: red">*</span>
				</label>
				<div class="control-input">
					<div class="input-group width260">
							<input checkpath check-spot ="true" type="text" ng-maxlength=120 class="form-input form-control" ng-model="antivirus.targetPath"
								ng-trim="false" id="targetPath" name="targetPath" required>
							<span class="input-group-addon help-addon" ng-messages="form.targetPath.$error">
			                    <span ng-if="form.targetPath.$valid||!form.targetPath.$dirty">
									<span class="icon-help-gray helpTip" tooltip-placement="right" tooltip="{{'cloudService.targetPathTip'|translate}}"></span>
			                    </span>
			                    <span ng-if="form.targetPath.$dirty">
			                    	<span ng-message="required">
										<span class="fa fa-exclamation-triangle"
											tooltip-placement="right" tooltip="{{'require'|translate}}"></span>
									</span>
									<span ng-message="maxlength">
										<span class="fa fa-exclamation-triangle"
											tooltip-placement="right" tooltip="{{'maxlen'|translate}}120"></span>
									</span>
									<span ng-message="checkpath">
										<span class="fa fa-exclamation-triangle"
											tooltip-placement="right" tooltip="{{'invalidpath'|translate}}"></span>
									</span>
			                    </span>
			                </span>
					</div>
				</div>
		    </div>
            <!-- 防病毒软件 -->
			<div class="form-group" >
               <label for="inputassign_adminGrp" class="control-label"><span translate="cloudService.antivirusSoftware"></span><span style="color: red">*</span></label>
               <div class="control-input">
					   <div id="selAntivirusSoftDiv" class="input-group width260" ng-click="selAntivirusSoft()">
						   <input type="text" class="form-control first-child-angle selectInput" ng-model="antivirus.softName"  ng-trim="false" id="antivirusSoft" name="antivirusSoft" required readonly>
					  	   <span class="input-group-addon inner-addon">
	                              <span class="icon-search-gray" type="button" style="cursor:pointer;"></span>
	                        </span>	
					   </div>
				</div>   
		  </div>
		</form>

	</div>
</div>

 <div class="modal-footer">
	  <button id="assignAuthorityBtn" class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
	  <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
 </div>