[Unit]
Description=OpenStack Neutron CAS Agent Server
After=syslog.target network.target

[Service]
User=neutron
ExecStart=/usr/bin/neutron-cas-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/ml2_conf.ini --log-file /var/log/neutron/cas-agent.log
PrivateTmp=true
KillMode=process
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
