<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" custom-title="{{'common.close'|translate}}">
        <span class="icon-closenew"></span>
    </button>
    <h4 class="modal-title"><span translate="template.deploy"></span></h4>
</div>


<div class="modal-body row">
	<div class="form-horizontal col-md-8">
		<carousel-form titles="stepTitles" cancel="ok()"> 
		<!-- 第一步 -->
		<slide-form valid="valids.stepOneOver()" active="slide.active">
			<form name="form1" class="form-horizontal" role="form" novalidate>
				<input type="hidden" id="form1" value="{{form1.$valid}}">
				
				<!-- 资源区域 -->
				<div class="form-group ">
					<label for="resourceArea" class="control-label short large">
						<span translate="org.resourceArea"></span><span style="color: red">*</span>
					</label>
					<div class="input-group width260">
						<select-input class="" options="levels.resourceAreaOptions" bind-model="model.resourceArea" input-id="resourceArea" input-name="resourceArea">
						</select-input>
					</div>
				</div>				
				
               	<!-- 虚拟机名称 -->
                <div class="form-group" ng-class="{'has-error': (form1.name.$dirty && form1.name.$invalid)}">
                   	<label for="name" class="control-label short large"><span translate="cloudResource.vmName"></span><span style="color: red">*</span></label> 
                   	<div class="input-group input-xlarge">
                    	<input type="text" check-special-char ng-maxlength=32 class="form-input form-control" ng-model="model.name"  ng-trim="false" id="name" name="name" required>
                  		<span class="input-group-addon help-addon" ng-messages="form1.name.$error">
                    		<span ng-if="form1.name.$valid||!form1.name.$dirty">
                         	<span class="icon-occupying"></span>
                     	</span>
                  		<span ng-if="form1.name.$dirty">
                 			<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
                         	<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}64"></span></span>
                         	<span ng-message="specialChar"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'checkname2'|translate}}"></span></span>
                         	<span ng-message="rpccheck"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'virdesk.sameNameExist'|translate}}"></span></span>
                        	</span>
                        </span>
                    </div>
                </div>
                <!-- 别名 
                <div class="form-group" ng-class="{'has-error': (form1.alias.$dirty && form1.alias.$invalid)}">
			   		<label class="col-sm-1 control-label short large"><span translate="org.alias"></span></label>
					<div class="input-group input-xlarge">
					 	<input type="text" ng-maxlength=120 class="form-input form-control" ng-model="model.alias"  ng-trim="false" id="description" name="description">
						<span class="input-group-addon help-addon" ng-messages="form1.alias.$error">
							<span ng-if="form1.alias.$valid||!form1.alias.$dirty">
								<span class="icon-occupying"></span>
							</span>
							<span ng-if="form1.alias.$dirty">
								<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}120"></span></span>
							</span>
						</span>
					</div>
				</div>    
                -->
                
                <!-- 描述 -->
                <div class="form-group" ng-class="{'has-error': (form1.description.$dirty && form1.description.$invalid)}">
			   		<label class="col-sm-1 control-label short large"><span translate="org.desc"></span></label>
					<div class="input-group input-xlarge">
					 	<input type="text" ng-maxlength=120 class="form-input form-control" ng-model="model.description"  ng-trim="false" id="description" name="description">
						<span class="input-group-addon help-addon" ng-messages="form1.description.$error">
							<span ng-if="form1.description.$valid||!form1.description.$dirty">
								<span class="icon-occupying"></span>
							</span>
							<span ng-if="form1.description.$dirty">
								<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}120"></span></span>
							</span>
						</span>
					</div>
				</div>                
                			
			</form>
		</slide-form>
		<!-- 第二步 -->
		<slide-form valid="valids.stepTwoOver()">
			<form name="form2" class="form-horizontal" role="form" novalidate>
				<input type="hidden" id="form2" value="{{form2.$valid}}">
				
				<!-- CPU -->
				<div class="form-group ">
					<label for="cpu" class="control-label short large">
						<span translate="addDomain.cpu"></span></span><span style="color: red">*</span>
					</label>
					<div class="input-group width260">
						<select-input class="" options="levels.cpuOptions" bind-model="model.cpu" input-id="cpu" input-name="cpu">
						</select-input>
					</div>
				</div>
				
				<!-- 内存（GB） -->
				<div class="form-group ">
					<label for="memory" class="control-label short large">
						<span translate="org.memory"></span></span><span style="color: red">*</span>
					</label>
					<div class="input-group width260">
						<select-input class="" options="levels.memoryOptions" bind-model="model.memory" input-id="memory" input-name="memory">
						</select-input>
					</div>
				</div>
				
				<!-- 系统盘（GB） -->
				<div class="form-group">
					<label for="sysDisk" class="control-label short large">
						<span translate="org.sysDisk"></span></span><span style="color: red">*</span>
					</label>
					<div class="input-group width260">
						<select-input class="" options="levels.sysDiskOptions" bind-model="model.sysDisk" input-id="sysDisk" input-name="sysDisk">
						</select-input>
					</div>
				</div>
				
				<div class="form-group ">
					  <label for="assignMode" class="control-label short large">
						  <span translate="virdesk.assignMode"></span>
					  </label>
					  <div class="control-input">
					  	<div class="input-group width260">
					  		<select-input class="" options="destributeWay" bind-model="deployInfo.assignMode" input-id="assignMode"	input-name="assignMode">
						  	</select-input>
					  	</div>
					 </div>
				</div>
				
				<!-- 分配给用户 -->
				<div class="form-group" ng-if="deployInfo.assignMode == 1">
					<label for="inputuser_name" class="control-label  short large"><span translate="org.user"></span><span class="required">*</span></label>
					<div class="input-group width260 " ng-click="selectUser()">
					<input type="text" class="form-control first-child-angle" ng-model="deployInfo.userNames" id="inputuser_name" input-id="inputuser_name" input-name="inputuser_name" required> 
						<span class="input-group-addon inner-addon last-child-angle" id="chooseUser">
                            <span class="icon-search-gray" type="button"></span>
                        </span>
					</div>
				</div>
				
				<!-- 分配给用户分组 -->
				<div class="form-group" ng-if="deployInfo.assignMode == 2">
					<label for="inputusergroup_name" class="control-label  short large"><span translate="common.userGroup"></span><span class="required">*</span></label>
					<div class="input-group width260" ng-click="selectUserGroup()">
						<input type="text" class="form-control first-child-angle" ng-model="deployInfo.groupNames" id="inputusergroup_name" input-id="inputusergroup_name" input-name="inputusergroup_name" required> 
						<span class="input-group-addon inner-addon last-child-angle" id="chooseHostpool">
                            <span class="icon-search-gray" type="button"></span>
                        </span>
					</div>
				</div>				
							
			</form>
		</slide-form>
		
		<!-- 第三步 -->
		<slide-form valid="valids.stepThreeOver()">
			<form name="form3" class="form-horizontal" role="form" novalidate>
				<input type="hidden" id="form2" value="{{form2.$valid}}">
				<!-- 网络列表 -->
				<div id="cloudOsNet" style="width: 100%; height: 271px;" class="table"  ng-grid="gridOptions"></div>
			</form>
		</slide-form>
	</div>
	
	<!-- 右侧确认信息 -->
	<div class="detail-table col-md-4">
		<table class="table table-striped">
			<tr>
                <td class="gray"><h4 translate="configDetail"></h4></td>
            </tr>
            <tr> <!-- 资源区域 -->
                <td class="white"><span translate="org.resourceArea"></span></td>
                <td class="white" shortcut cut-str="{{model.resourceArea|selectLabel:'':levels.resourceAreaOptions}}" custom-title>{{model.resourceArea|selectLabel:'':levels.resourceAreaOptions}}</td>
            </tr>
            <tr> <!-- 虚拟机名称 -->
                <td class="gray"><span translate="cloudResource.vmName"></span></td>
                <td class="gray" shortcut cut-str="{{model.name}}" custom-title>{{model.name}}</td>
            </tr>	
           	<!--<tr>  别名 
                <td class="white"><span translate="org.alias"></span></td>
                <td class="white" shortcut cut-str="{{model.alias}}" custom-title>{{model.alias}}</td>
            </tr>-->
           	<tr> <!-- 描述 -->
                <td class="gray"><span translate="org.desc"></span></td>
                <td class="gray" shortcut cut-str="{{model.description}}" custom-title>{{model.description}}</td>
            </tr>
           	<tr ng-if="stepIndex!=1"> <!-- CPU -->
                <td class="white"><span translate="addDomain.cpuNum"></span></td>
                <td class="white" shortcut cut-str="{{model.cpu}}" custom-title>{{model.cpu}}</td>
            </tr>
			<tr ng-if="stepIndex!=1"> <!-- 内存 -->
                <td class="gray"><span translate="addDomain.memory"></span></td>
                <td class="gray" shortcut cut-str="{{model.memory}}GB" custom-title>{{model.memory}}GB</td>
            </tr>
            <tr ng-if="stepIndex!=1"> <!-- 系统盘 -->
                <td class="white"><span translate="org.sysDisk"></span></td>
                <td class="white" shortcut cut-str="{{model.sysDisk}}GB" custom-title>{{model.sysDisk}}GB</td>
            </tr>
            <!-- 分配方式 -->
            <tr ng-if="stepIndex!=1">
                <td ><span translate="virdesk.assignMode"></span></td>
                <td  ng-if="deployInfo.assignMode == 0">{{'org.assignNo'|translate}}</td>
                <td  ng-if="deployInfo.assignMode == 1">{{'org.assignUser'|translate}}</td>
                <td  ng-if="deployInfo.assignMode == 2">{{'org.assignUserGroup'|translate}}</td>
            </tr>            
            <tr ng-if="deployInfo.assignMode == 1 && stepIndex!=1">
                <td ><span translate="org.user"></span></td>
                <td><span shortcut cut-str="{{deployInfo.userNames}}" custom-title>{{deployInfo.userNames}}</span></td>
            </tr>
            <tr ng-if="deployInfo.assignMode == 2 && stepIndex!=1">
                <td ><span translate="common.userGroup"></span></td>
                <td><span shortcut cut-str="{{deployInfo.groupNames}}" custom-title>{{deployInfo.groupNames}}</span></td>
            </tr>                                 	
		</table>
	</div>
</div>