<div class="modal-header">
    <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
        <span class="icon-closenew"></span>
    </button>
    <h4 class="modal-title" translate="common.selectOrg"></h4>
</div>
<form name="form3" class="form-horizontal" role="form" style="height:240px;overflow:auto;padding-left:10px;" novalidate>
     <div select-svg style="height:100%;" id="drxCluster" selected-svg="selectedOrg" src-svg-id="srcOrgId" svg-url="org/list"
          svg-src="css/img/gray/Icon_organize_16x16.svg" info-one-desc="common.userNum" info-one-value="userNum" 
          info-two-desc="common.vmNum" info-two-value="vmNum"></div>
</form>
<div class="modal-footer">
    <button id="okBtn" class="btn btn-green"  ng-click="ok()" translate="common.confirm"></button>
</div>