<!--组织-发布资源池 -->

<!-- 标题 -->
<div class="modal-header">
     <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<button type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('org/resourcePool/releaseResourcePool')">
		<span class="icon-helpnew"></span>
	</button>
    <h4 class="modal-title" translate="common.selectResPool"></h4>
</div>

         
<div class="modal-body row" style="height:550px;padding-bottom:0px;">
   	<div style="width: 100%; height: 100%;">
		<div class="panel-body col-md-5 col-sm-5 resourcePoolPanel"
			style="padding: 0px;  height: 100%; margin-top: -20px;"></div>
		<div class="panel-body col-md-7 col-sm-7" style="padding: 0px 15px 0px 0px;height:230px;">
			<!-- 计算资源监控信息 -->
			<div class="overviewheight-host hostcpuTop5 col-xs-12 " style="height:100% !important">
				<div class="detail-item" id="resourcePoolComputeMonitor">
					<div class="title">
						<h5 translate="resourcePool.computeMonitorInfo"></h5>
					</div>
					<div id="selectResourcePoolMonitorInfo" class="trendChart" style="min-height:150px; margin-top:-10px;"></div>
				</div>
			</div> 
			<!-- 基本属性 -->			
			<div class="description-new overviewheight overview-desc col-xs-12" style="min-height:290px;">
				<div class="detail-item">
					<div class="title">
						<h5 translate="common.basicAttribute"></h5>
					</div>
					<!-- CVM概要显示 -->
					<dl ng-if="cloudType==2" class="dl-horizontal dl-wide" style="margin-bottom:0">
						<dt translate="common.desc"></dt>
						<dd ng-bind="summary.description" shortcut cut-str="{{summary.description}}" short-width=300 custom-title></dd>
					
						<dt translate="resourcePool.cpu"></dt>
						<dd ng-bind="summary.cpu"></dd>
						
						<dt translate="resourcePool.memory"></dt>
						<dd ng-bind="summary.memory | byteUnitRender"></dd>
						
						<dt translate="resourcePool.storage"></dt>
						<dd ng-bind="summary.totalStorageCapacity | byteUnitRender"></dd>
						
						<dt translate="resourcePool.availStorage"></dt>
						<dd ng-bind="summary.avalibaleStorageCapacity | byteUnitRender"></dd>
						
						<dt translate="report.storageRate"></dt>
						<dd><summary-progress-bar rate="summary.storageRate"></summary-progress-bar></dd>
												
						<dt translate="resourcePool.backupDest"></dt>
						<dd ng-bind="summary.backupTarget" shortcut cut-str="{{summary.backupTarget}}" short-width=300 custom-title>{{summary.backupTarget}}</dd>
						
						<dt translate="resourcePool.useLocalStorageConfirm"></dt>
						<dd ng-bind="summary.useLocalStorageFlag | yes"></dd>
					</dl>
					<!-- VMware概要显示 -->
					<dl ng-if="cloudType==3" class="dl-horizontal dl-wide" style="margin-bottom:0">
						<dt translate="common.desc"></dt>
						<dd ng-bind="summary.description" shortcut cut-str="{{summary.description}}" short-width=300 custom-title></dd>
					
						<dt translate="resourcePool.cpu"></dt>
						<dd ng-bind="summary.cpu"></dd>
						
						<dt translate="resourcePool.memory"></dt>
						<dd ng-bind="summary.memory | byteUnitRender"></dd>
						
						<dt translate="resourcePool.storage"></dt>
						<dd ng-bind="summary.totalStorageCapacity | byteUnitRender2"></dd>
						
						<dt translate="resourcePool.availStorage"></dt>
						<dd ng-bind="summary.avalibaleStorageCapacity | byteUnitRender2"></dd>
						
						<dt translate="report.storageRate"></dt>
						<dd><summary-progress-bar rate="summary.storageRate"></summary-progress-bar></dd>
					</dl>
					<!-- CloudOS概要显示 -->
					<dl ng-if="cloudType==5" class="dl-horizontal dl-wide" style="margin-bottom:0">
						<dt translate="resourcePool.cloudName"></dt>
						<dd ng-bind="summary.cloudName"></dd>
					
						<dt translate="resourcePool.cpuQuota"></dt>
						<dd ng-bind="summary.cpuTotal"></dd>
						
						<dt translate="resourcePool.memoryQuota"></dt>
						<dd ng-bind="summary.memoryTotal | byteUnitRender2"></dd>
						
						<dt translate="resourcePool.storageQuota"></dt>
						<dd ng-bind="summary.capacityTotal | byteUnitRender2"></dd>
						
						<dt translate="board.vm"></dt>
						<dd>
							<span class="span_padding" ng-bind="summary.vmTotal"></span>
							<span class="span_padding">[</span>
							<span class="span_padding"><img class="pic1img" src="css/img/gray/Icon_vm_running.svg"></img></span>
							<span class="span_padding span_color_green" ng-bind="summary.runningVmTotal"></span>
							<span class="span_padding"><img class="pic1img" src="css/img/gray/Icon_vm_close.svg"></img></span>
							<span class="span_padding span_color_red" ng-bind="summary.offVmTotal"></span>
							<span class="span_padding">]</span>
						</dd>
					</dl>
			    </div>
			</div>
		</div>
	</div>   
</div>
<!-- 内容1:按钮栏 -->
<div class="modal-footer">
    <button id="addResourcePoolBtn"  has-permission="RESOURCEPOOL_ADD" class="btn btn-green" ng-click="addResourcePool()" translate="resourcePool.addResourcePool"></button>
    <button id="okBtn" class="btn btn-green" ng-disabled="selectedPool.id == undefined" ng-click="ok()" translate="common.confirm"></button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>