<!-- 批量部署虚拟机从文件导入错误信息展示 -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" custom-title="{{'common.close'|translate}}">
        <span class="icon-closenew"></span>
    </button>
<!-- 	<button type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('cloudService/virtualDesktopPool/batchDeployVMForVirtualDesktopPool')"> -->
<!-- 		<span class="icon-helpnew"></span> -->
<!-- 	</button> -->
    <h4 class="modal-title">{{title}}</span></h4>
</div>
<!-- 内容 -->
<div class="modal-body row">
	<div style="width: 100%;height: 300px;" class="table"  ng-grid="gridOptions"></div>
</div>
<div class="modal-footer">
	<button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>
