<div class="cas-panel" ng-controller="CloudDiskCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li><a ui-sref= "main.cloudService"><span translate="cloudService.cloudService"></span></a></li>
			<li class="active"><span translate="cloudDisk.cloudDisk"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudDisk/diskMgmt')"></span>
	</div>
	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon-virtual-storage Icon_common_display">
		      </span>
		      <span class="desc"><span translate="cloudDisk.cloudDiskHead"></span></span>
			</div>
		</div>
		<nav class="navbar-default" role="navigation">
		    <div class="container-fluid">
				<div class="btn-group navbar-right" style='margin-right: -14px;' >
					<label id="refreshCloudDisk" class="btn btn-default btn-menu hidden-xs"   ng-click="refreshCloudDisk()">
						<span class="sm-icon icon-refresh"></span>
						<span translate="common.refresh"></span>
					</label>
					<label has-permission="CLOUD_DISK_Delete" id="batchDelCloudDisk" class="btn btn-default btn-menu hidden-xs"   ng-click="batchDelCloudDisk()">
						<span class="sm-icon icon-delete"></span>
						<span translate="cloudDisk.batchDel"></span>
					</label>
				</div>
	        </div>
        </nav>
		<div class="cas-list-body oneListWithLead-calc">
			<div id="cloudDiskListId" list-style class="table"  ng-grid="gridOptions"></div>
		</div>
	</div>
</div>
