<!-- LDAP用户同步配置 -->
<div class="cas-panel" >
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
		   <li><a ui-sref='main.systemMng' ><span translate="systemMng.systemMng"></span></a></li>
           <li class="active"><span translate="ldap.ldapUserSync"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/ldap/ldapMrg')"></span>
	</div>
		<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon-ldap-user-config Icon_common_display">
		      </span>
		      <span class='desc'><span translate="ldap.ldapSyncHead"></span></span>
		    </div>
	    </div>
	    <div class="panel-body" style="height: 170px;">
	    	<!-- LDAP服务器配置 -->
			<a ui-sref='main.ldapServerConfig' class="dashboard-box" has-permission="LDAP_SERVER_MNG"> 
				<span class="custom-picture Icon_common_display Icon-ldap-server-config"></span>
				<span class="box-title" text="{{'ldap.ldapServerConfig'|translate}}"><span translate="ldap.ldapServerConfig"></span></span>
			</a>
			
			<!-- LDAP同步策略配置 -->
			<a ui-sref='main.ldapSyncStrategy' class="dashboard-box" has-permission="LDAP_CONFIG_MNG"> 
				<span class="custom-picture Icon_common_display Icon-ldap-sync-config" ></span>
				<span class="box-title" text="{{'ldap.ldapSyncStrategy'|translate}}"><span translate="ldap.ldapSyncStrategy"></span></span>
			</a>
			
			<!-- LDAP用户导出配置 -->
			<a ui-sref='main.ldapUserExport' class="dashboard-box" has-permission="LDAP_USER_EXPORT"> 
				<span class="custom-picture Icon_common_display Icon-ldap-user-export" ></span>
				<span class="box-title" text="{{'ldap.ldapUserExport'|translate}}"><span translate="ldap.ldapUserExport"></span></span>
			</a>
		</div>
	</div>
</div>