<!-- LDAP服务器配置 -->
<div class="cas-panel" ng-controller="ldapServerConfigCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
		   <li><a ui-sref='main.systemMng' ><span translate="systemMng.systemMng"></span></a></li>
		   <li><a ui-sref='main.ldapUserSync' ><span translate="ldap.ldapUserSync"></span></a></li>
           <li class="active"><span translate="ldap.ldapServerConfig"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/ldap/ldapServer/ldapServerMrg')"></span>
	</div>
	
		<div class="panel-body" content-style>
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshLdapServer()">
						<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
					</label>
					<label class="btn btn-default btn-menu hidden-xs" has-permission="LDAP_SERVER_ADD" ng-click="addServerConfig()">
						<span class="sm-icon icon-add"></span> 
						<span translate="ldap.addServer"></span>
					</label> 
				</div>
			</div>
		</nav>
	    <div class="cas-list-body oneList-calc" ng-controller="ldapServerConfigListCtrl">
	      <div id="serverConfigListDivId" list-style class="table" ng-grid="gridOptions"></div>
	    </div>
	</div>
	
</div>