/* h14520 2017.11.20 Cas定制uigrid样式， 实现对uigrid原始样式的覆盖 */

.grid {
    height: 100%;
}
.grid-important {
    height: 100% !important;
}
.ui-grid {
    border: 0;
}
.ui-grid-pager-panel {
    padding-top: 0px;
    padding-bottom: 0px;
    width:100%;
/*  height:45px; */
}
.ui-grid-cell {
    border-right-width: 0px;
}

/* uigrid表头取消下方的细灰横线 */
.ui-grid-header {
  border-bottom: 0px;
}

.ui-grid-header-cell {
    border-right: 0px solid;
}

/* add by h14520 2017.10.17 不可排序的列头，鼠标默认为指针。 */
.ui-grid-header-cell [role=button] {
    cursor: default;
}

/* add by h14520 2017.10.17 可排序的列头，鼠标为手型。 */
.ui-grid-header-cell .sortable [role=button] {
    cursor: pointer;
}

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
    overflow-x: hidden;
    overflow-y:auto;
}
.ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
    border-right: 0;
}
.panel-body form label, input, button, select, textarea {
    font-size: 12px;
    line-height: 28px;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
        border-right: 0px;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
    border-right: 0px;
}

.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
    border-bottom: 0px;
}
/* .ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
    background-color: #fff;
    border-bottom: 0px;
} */

.ui-grid-menu .ui-grid-menu-inner ul li button {
    padding: 0px;
    /* padding-right: 4px; */ /* modify by h14520 2017.11.14 [201710210373]在firefox里，当overflow-y:auto时，滚动条会遮挡部分文本，因此uigrid列选择下拉菜单里为每个菜单项设置一个右边距，使其文字远离滚动条不被遮挡；chrome无此问题 */
    padding-right: 20px; 
    color: #fff;
    border-bottom: 0px !important;
}

/* 表格的复选框*/
.ui-grid-selection-row-header-buttons {
  cursor: pointer;
  /* opacity: 0.1;   修改其未选中时透明度 h14520 2017.10.10 */
  opacity: 1;
}

/*表格取消Ｘ号*/
.ui-grid-icon-cancel:before {
    content:' ';
}

/* 表格数据行上鼠标指针为手型 - 只有可选择的单元格才会有此class，非可选表格的单元格无此class，鼠标依然是指针 */
.ui-grid-disable-selection {
    cursor: pointer;
}
/*for ui.grid.draggable only  */
.ui-grid-draggable-row-target {
  opacity: 0.9 !important;
}
.ui-grid-draggable-row {
  height: 30px;
}
.ui-grid-draggable-row-over {
  position: relative;
}
.ui-grid-draggable-row-over:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 2px dashed #555
}
.ui-grid-draggable-row-over--above:before {
  top: 0;
}
.ui-grid-draggable-row-over--below:before {
  bottom: 0;
}

*:focus {
    outline:none;
}

/* ----------------------- 2 表格中内容------------------ */
/*表格单元格*/
.ui-grid-cell-contents {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px; /* add by h14520 2017.11.28 */
    padding-right: 10px;/* add by h14520 2017.11.28 */
    font-size: 12px;
}

.ui-grid-cell-contents > .progress > .progress-bar > span {
    line-height:19px;
}

/* --------------------- 3 进度条 ------------------*/
.ui-grid-cell .ui-grid-cell-contents .progress {
    position: relative;
}
.ui-grid-cell .ui-grid-cell-contents .progress span{/* 修改问题单201605270163 by ckf6302 2016.6.13 */
    position:absolute; 
    left:1px;
    right:1px;
    font-size:12px;
    line-height:20px;  
}