[Unit]
Description=Libvirt nwfilter admin socket
Before=virtnwfilterd.service
BindsTo=virtnwfilterd.socket
After=virtnwfilterd.socket
Conflicts=libvirtd.socket libvirtd-ro.socket libvirtd-admin.socket libvirtd-tcp.socket libvirtd-tls.socket

[Socket]
# The directory must match the /etc/libvirt/virtnwfilterd.conf unix_sock_dir setting
# when using systemd version < 227
ListenStream=/var/run/libvirt/virtnwfilterd-admin-sock
Service=virtnwfilterd.service
SocketMode=0600

[Install]
WantedBy=sockets.target
