<!-- 防病毒列表 -->
<div class="cas-panel" ng-controller="AntiVirusSoftwareCtrl">
    <!-- 头部 目录-->
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li><a ui-sref='main.cloudService' ><span translate="cloudService.cloudService"></span></a></li>
			<li><a ui-sref='main.cloudSecurity' ><span translate="cloudService.cloudSecurity"></span></a></li>
			<li><a ui-sref='main.antiVirusMng' ><span translate="cloudSecurity.antiVirusMng"></span></a></li>
			<li class="active"><span translate="cloudSecurity.antiVirusSoftware"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudService/cloudSecurity/antiVirusMng')"></span>
	</div>
	<div class="panel-body">
	<!-- 页面顶部 注释-->
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_antivirus Icon_common_display">
		      </span>
		      <span class="desc"><span translate="cloudSecurity.antiVirusSoftware"></span></span>
			</div>
		</div>
		<!-- operation按钮 -->
		<nav class="navbar-default" role="navigation">
		    <div class="container-fluid">
				<div class="btn-group navbar-right" style='margin-right: -14px;' >
				   <label id="refreshAntiVirusSoftware" class="btn btn-default btn-menu hidden-xs"   ng-click="refresh()">
						<span class="sm-icon icon-refresh"></span>
						<span translate="common.refresh"></span>
					</label>
<!-- 					待补全has-permission="ANTIVIRUSSOFTWARE_ADD" -->
					<label id="addAntiVirusSoftware" class="btn btn-default btn-menu hidden-xs"  ng-click="addAntiVirusSoftWare()">
						<span class="sm-icon icon-add"></span>
						<span translate="common.add"></span>
					</label>
				</div>
	        </div>
        </nav>
        <!-- list部分 -->
		<div class="cas-list-body oneListWithLead-calc">
			<div class="table"  ng-grid="gridOptions" id="antiVirusSoftwareDiv"></div>
		</div>
	</div>
</div>
