<div class="cas-panel" ng-controller="CloudAntivirusConfigCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display:inline;">
			<li><a ui-sref= "main.cloudService"><span translate="cloudService.cloudService"></span></a></li>
			<li><a ui-sref='main.cloudSecurity' ><span translate="cloudService.cloudSecurity"></span></a></li>
			<li class="active" translate="cloudSecurity.antiVirusMng"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudService/antivirusMgmt')"></span>
	</div>

	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_work_order Icon_common_display">
		      </span>
		      <span><span translate="cloudService.antivirusConfigDesc"></span></span>
			</div>
		</div>
		<nav class="navbar-default" role="navigation">

			<div class="container-fluid">
				<div class="btn-group navbar-right" >
					<!--<div class="btn btn-default btn-menu" dropdown dropdown-toggle>
						<span class="sm-icon icon-more-actions"></span> <span translate="common.batchOper"></span> <span
							class="dropdown-toggle icon-xialahao" type="button"></span>
						<ul style="margin-left:-48px;" class="dropdown-menu" role="menu">
							<li><a href="#" ng-click="batchInstall()"><span class="sm-icon icon-setup"><span style="margin-left:5px;" translate="cloudService.batchInstall"></span></span></a></li>
							<li><a href="#" ng-click="batchUnInstall()"><span class="sm-icon icon-vm-recycle"><span style="margin-left:5px;" translate="cloudService.batchUninstall"></span></span></a></li>
						</ul>
				    </div>  -->
				
					<label class="btn btn-default btn-menu hidden-xs"  ng-click="refresh()">
						<span class='sm-icon icon-refresh'></span>
						<span translate="common.refresh"></span>
					</label>
				</div>
			</div>
		</nav>
	    <div class="cas-list-body oneListWithLead-calc">
		    <tree-grid tree-data="treeData"
		    		   col-defs="column"
		    		   expand-on="expandColum"
		    		   icon-leaf=""
		    		   icon-expand=""
		    		   icon-collapse=""
		    		   on-select=""
		    		   on-click=""
		    		   template-url=""
		    		   expand-level="9"
		    		   tree-grid-heigth=100%
		    		   row-height="32"
		    		   show-selection-checkbox="false"
		    		   selected-items="selectedItems"
		    		   tree-control="treeControl"
		    		   click-linkage = "true">
		    </tree-grid>
	    </div>
	</div>

</div>