[Unit]
Description=noVNC WebSocket Proxy Service for H3C CAS
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/websockify -6 --target-config=/usr/local/noVNC/vnc_tokens/ 8081 \
  --cert /usr/local/noVNC/utils/casnovnc_centos.pem \
  --ssl-version=tlsv1_2 \
  --log-file /var/log/noVNC/novnc.log
Restart=always
RestartSec=60
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
