[Unit]
Description=H3C CAS CVK Agent
After=network.target libvirtd.service
Wants=libvirtd.service

[Service]
Type=forking
ExecStart=/opt/cvk/bin/cvk-agent-start.sh
ExecStop=/opt/cvk/bin/cvk-agent-stop.sh
Restart=always
RestartSec=10
TimeoutStopSec=30
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
