[Unit]
Description=Kernel Samepage Merging (KSM) Tuning Daemon
ConditionPathExists=/sys/kernel/mm/ksm

[Service]
PIDFile=/var/run/ksmtune.pid
ExecStart=/usr/sbin/ksmtuned
ExecReload=/bin/kill -USR1 $MAINPID
Type=forking
KillMode=control-group
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
