[Unit]
Description=Restore PCI Driver Configuration
Before=openvswitch.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /opt/bin/device_config.pyc --restore driver
ExecStop=/usr/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
