[Unit]
Description=Restore SR-IOV Configuration
After=network.target
Before=libvirtd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /opt/bin/device_config.pyc --restore sriovNum
ExecStop=/usr/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
