[Unit]
Description=Swap Buffer Off Service for H3C CAS
After=network.target

[Service]
Type=forking
Environment="LC_ALL=en_US.utf-8" "LANG=en_US.utf-8"
ExecStart=/bin/bash /opt/bin/uis_swap_area_switch.sh off
ExecStop=/bin/bash /opt/bin/uis_swap_area_switch.sh on
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
