<!-- 插件管理 -->
<div class="cas-panel" ng-controller="pluginManagerCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li class="active" translate="pluginMgr.pluginMgr"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help"
			custom-title="帮助" aria-hidden="true" ng-click="openHelp()"></span>
	</div>
	<div class="panel-body">
		<div class="section"></div>
		<div class="section">
			<div class="lead">
				<span class="pic"> <img alt=""
					src="css/img/gray/icon_plugin_32x32.svg">
				</span> <span class="desc lead-text-align" translate="pluginMgr.pluginMgrHead"></span>
			</div>
		</div>
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right">
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshPluginList()"> 
						<span class="sm-icon icon-refresh"></span>
						<span translate="common.refresh"></span>
					</label> 
					<label id="AddPlugin" class="btn btn-default btn-menu hidden-xs"  ng-click="openAddPlugin()" >
						<span class="sm-icon icon-add"></span>
						<span translate="common.add"></span>
					</label>
				</div>
			</div>
		</nav>
		<div class="cas-list-body oneListWithLead-calc">
			<div id="pluginList" ng-grid="gridOptions" class="table"></div>

		</div>
	</div>
</div>