
<div class="cas-panel" ng-controller="pluginInfoCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li><a ui-sref='main.pluginMng' translate="pluginMgr.pluginMgr"></a></li>
			<li class="active">{{name}}</li>
		</ol>
	</div>
	<div class="panel-body">
		<h1 id="h" 
			style="display: none; text-align: center; position: relative; top: calc(50% - 50px);">
			<span>欢迎使用插件{{name}}!</span>
		</h1>
		 <iframe id=pluginIframe frameborder=0 name="frame"  width=100% height=100%>
		<span translate="pluginMgr.iframeUnsupported"></span>
	</iframe>
	</div>
</div>