<div class="panel panel-default cas-panel" ng-controller="gatherLogFileCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li class="active" translate="operateLog.downloadLog"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/log/downloadLog')"></span>
	</div>
	
	<div class="panel-body">
		<div class="section"></div>
		<div class="section">
			<div class='lead' >
		      <span class="pic">
<!-- 		      	<img alt="" src="css/img/blue/Icon_cvm_linkage.svg"> -->
		      	<img alt="" src="css/img/gray/Icon_cvm_linkage_16x16.svg">
		      </span>
		      <span>内容介绍</span>
		    </div>

		</div>
		
		<div class="panel-body" style="height: 595px;">
				<div>
					<span translate="operateLog.downloadLogFileHead"></span>
				</div>
				<nav class="navbar-default" >
				<div class="container-fluid">
					<div class="btn-group navbar-right">
						<label class="btn btn-default btn-menu" ng-click="download()"> 
							<span class="sm-icon icon-download"></span><span class="ng-scope" translate="operateLog.download"></span> 
						</label> 
					
						<label class="btn btn-default btn-menu" ng-click="regather()"> 
							<span class="sm-icon icon-refresh"></span><span class="ng-scope" translate="operateLog.regather"></span> 
						</label> 
					</div>
				</div>
				</nav>
				
				
			
		</div>
	</div>
</div>