<!-- 日志文件收集页面 -->
<div class="panel panel-default cas-panel" ng-controller="gatherLogFileCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li class="active" translate="operateLog.gatherLogFile"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/log/gatherLogFile')"></span>
	</div>

	<div class="panel-body">
		<div class="section"></div>
		<div class="section">
			<div class='lead' >
		      <span class="pic">
<!-- 		      	<img alt="" src="css/img/blue/Icon_cvm_linkage.svg"> -->
		      	<img alt="" src="css/img/gray/Icon_cvm_linkage_16x16.svg">
		      </span>
		      <span>内容介绍</span>
		    </div>

		</div>
	    <div class="panel-body" style="height: 595px;">
	    	<form name="form" style="width: 900px;margin: auto;font-size: 12px;font-weight: normal;line-height: 20px;" class="form-inline" role="form" novalidate >
				<div>
					<span translate="operateLog.gatherLogFileHead"></span>
				</div>
				<div class="row" style="margin-top:10px;">
				 	<!-- CVK主机日志时间范围-->
		        	<div class="form-group" style="margin-left:-10px;">
                    	<label for="timeRange" class="control-label" style="width:170px;">
                    		<span translate="operateLog.cvkHostLogTimeRange"></span>
                    	</label>
                        <div class="input-group width260">
                            <select-input options="timeRange.options" ng-init="model.timeRange='7'" bind-model="model.timeRange" input-id="timeRange" input-name="timeRange"></select-input>
              	   		</div>
                	</div>
                	<!-- CVK主机日志时间范围-->
		        	<div class="form-group" >
                    	<label class="control-label" style="width:170px;margin-left:53px;">
                    		<span translate="operateLog.cvkHostLogFileSize"></span>
                    	</label>
                        <div  class="input-group width260" >
                            <input id="fileSize" name="fileSize" type="text" style="width:225px;" spinner spinner-max=2048 spinner-min=10  ng-init="model.fileSize=100" ng-model="model.fileSize" >
                        </div>
                	</div>
				</div>
				<fieldset style="margin-top:10px;height:400px;">
					<legend style="border:0;"><span translate="operateLog.gatherCvkHostList"></span>
					</legend>
					<div show-checkbox="true" id="hostTree" cas-host-tree bind-data="target" style="margin-top:0;border: solid 1px;height: 100%;">
						<ul host-tree-accordion style="padding:0;">
							<li host-tree-link icon="icon-cloudresource" href="cloudResource.dashboard"	listhref="tree/getCloudHostList" text=""></li>
						</ul>
					</div>
				</fieldset>
				<fieldset style="margin-top: -40px;">
					<div class="text-center" style="margin-bottom: 30px;">
						<label class="btn btn-default btn-menu" ng-click="save()"> 
							<span class="sm-icon icon-ok"></span><span class="ng-scope" translate="operateLog.gatherLogFile"></span> 
						</label> 
					</div>
				</fieldset>
			</form>
	    </div>
	</div>
	
</div>