<!-- 操作日志 -->
<div class="panel panel-default cas-panel" ng-controller="systemCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display:inline;">
			<li><a ui-sref='main.systemMng' ><span translate="systemMng.systemMng"></span></a></li>
			<li class="active"><span translate="operlog.operlog"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/log/viewLogList')"></span>
	</div>

	<div class="panel-body">
		<div class="section"></div>
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_operate_log Icon_common_display">
		      </span>
		      <span class='desc'><span translate="operateLog.operLogHead"></span></span>
		    </div>
		</div>
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshLog()">
						<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
					</label>
					<label class="btn btn-default btn-menu hidden-xs"   ng-click="logFilter()">
						<span class="sm-icon icon-filter"></span>
						<span translate="common.filter"></span>
					</label>
	
					<label class="btn btn-default btn-menu hidden-xs" has-permission="OPERATE_LOG_DEL"  ng-click="clearLog()" >
						<span class="sm-icon icon-upload" ></span>
						<span translate="common.clearlog"></span>
					</label>
					<label class="btn btn-default btn-menu hidden-xs" has-permission="OPERATE_LOG_DOWNLOAD"  ng-click="downloadLog()" >
						<span class="sm-icon icon-download" ></span>
						<span translate="common.download"></span>
					</label>
	
				</div>
				
			</div>
		</nav>
	    <div class="cas-list-body oneListWithLead-calc" ng-controller="OperlogListCtrl">
	      <div list-style class="table" id="operlogDivId" ng-grid="gridOptions"></div>
	    </div>
	</div>
	
	</div>
</div>