[Unit]
Description=USB network redirection mananger
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/usbdemd -d
PIDFile=/var/run/usbdemd.pid
Restart=on-failure
RestartSec=60
LimitNOFILE=32768
TasksMax=32768

[Install]
WantedBy=multi-user.target
