<!-- 增加ACCESS RULE弹出窗口 -->

<!-- 标题 -->
<div class="modal-header">
     <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
    <h4 class="modal-title">{{accessRultTitle}}</h4>
</div>

<div class="modal-body">
	<form name="form" class="form-horizontal" role="form" novalidate>
	  
      <!-- 起始IP -->
      <div class="form-group" ng-class="{'has-error': (form.startIp.$dirty && form.startIp.$invalid)}">
          <label for="startIp" class="control-label short"><span translate="securityMng.startIp"></span><span style="color:red">&nbsp;</span></label>
          <div class="control-input">
              <div class="input-group input-xlarge">
                  <input type="text" ip ng-maxlength=130 class="form-input form-control" ng-model="startIp"  ng-trim="false" id="startIp" name="startIp" required>
                  <span class="input-group-addon help-addon" ng-messages="form.startIp.$error">
                      <span ng-if="form.startIp.$valid||!form.startIp.$dirty">
                           <span class="icon-occupying"></span>
                      </span>
                      <span ng-if="form.startIp.$dirty">
                           <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}130"></span></span>
                           <span ng-message="ip"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidip'|translate}}"></span></span>
                      </span>
                  </span>
              </div>
          </div>
      </div>

       <!-- 结束IP -->
       <div class="form-group" ng-class="{'has-error': (form.endIp.$dirty && form.endIp.$invalid)}">
           <label for="endIp" class="control-label short"><span translate="securityMng.endIp"></span><span style="color:red">&nbsp;</span></label>
           <div class="control-input">
               <div class="input-group input-xlarge">
                   <input type="text" ip ng-maxlength=130 class="form-input form-control" ng-model="endIp"  ng-trim="false" id="endIp" name="endIp" required>
                   <span class="input-group-addon help-addon" ng-messages="form.endIp.$error">
                       <span ng-if="form.endIp.$valid||!form.endIp.$dirty">
                            <span class="icon-occupying"></span>
                       </span>
                       <span ng-if="form.endIp.$dirty">
                       		<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
                            <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}130"></span></span>
                            <span ng-message="ip"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidip'|translate}}"></span></span>
                       </span>
                   </span>
               </div>
           </div>
       </div>
       <!-- 访问类型 -->
       <div class="form-group">
           <label for="ruleType" class="control-label short"><span translate="securityMng.accessType"></span><span style="color:red">&nbsp;</span></label>
           <div class="control-input">
               <div class="input-group width260">
                   <select-input class="" options="accessType.options" bind-model="action.accessAction" input-id="ruleType" input-name="ruleType">
                   </select-input>
               </div>
           </div>
       </div>
   </form>
</div>

<div class="modal-footer">
    <button id="addAccessStraBtn" class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>