<!-- SMS 输入号码 -->
<div class="modal-header">
	<button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<h4 class="modal-title" translate="paramconfig.testSmsTitle"></h4>
</div>
<div class="modal-body">
	<div class="form-horizontal">
		<form name="form" class="form-horizontal" ng-keypress="enter($event)"  role="form" novalidate>
			<div class="form-group" ng-class="{'has-error': (form.phoneNumber.$dirty && form.phoneNumber.$invalid)}">
				<label for="inputhostpool_name" class="control-label short"><span translate="paramconfig.phoneNumber"></span><span class="required">*</span></label>
				<div class="control-input">
				     <div class="input-group width260">
					   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.phone"  ng-trim="false" id="phone_id" name="phoneNumber" checksmsphone required>
						 <span class="input-group-addon help-addon" ng-messages="form.phoneNumber.$error" ng-if="form.phoneNumber.$dirty">
						 	 <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
						 	 <span ng-message="checkphone"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidPhone'|translate}}"></span></span>
						 </span>
                     </div>
				</div>
		  </div>
		</form>

	</div>
</div>

 <div class="modal-footer">
	  <button id="okId" class="btn btn-green" ng-disabled="form.$invalid" ng-click="smsPhoneTest()" translate="paramconfig.smsSend"></button>
	  <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
 </div>
