<div id="orgVmListDiv" class="calc100" ng-controller="OrgVmCtrl">
	<nav class="navbar-default" role="navigation">
		<div class="container-fluid">
	       <div class="btn-group navbar-left" >
		     <h5 translate="vm.domain"></h5>
	       </div>
	       <div class="btn-group navbar-right" >
				<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshOrgVmList()" >
					<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
			    </label>
			    <!-- 搜索框 -->
				<label>
			      <input class="form-control" id="navbarInput-01" type="search" placeholder="{{'vmTitleSearchHolder'|translate}}" ng-model="vmListTitle" maxlength="64">
				</label>
			</div>
		</div>
	</nav>
	<div class = "cas-list-body twoListWithLeadAndTwoNav-calc rightClick">
		<div class="table" ng-grid="gridOptions"></div>
		<div cas-context-menu-id="cas-context-menu" cas-context-menu="mySelections" cas-context-menu-type="{{menuType}}" cas-enter-node-type="org"> </div>
	</div>
	<nav class="navbar-default" role="navigation">
		<div class="container-fluid">
	       <div class="btn-group navbar-left" >
		     <h5 translate="org.userGroup"></h5>
	       </div>
		</div>
	</nav>
	<div class="cas-list-body twoListWithLeadAndTwoNav-calc">
		<div  class="table"  ng-grid="userOptions"></div>
	</div>
</div>
