<!-- 云消息 -->
<div class="cas-panel" ng-controller="CloudMessageCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display:inline;">
			<li><a ui-sref='main.workflowMng' ><span translate="workflow.manage"></span></a></li>
			<li class="active" translate="cloudService.cloudMessage"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudService/cloudMsg/cloudMsgMgmt')"></span>
	</div>

	<div class="panel-body">
		<div class="section"></div>
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_common_display Icon_cloud_message">
<!-- 		      	<img alt="" src="css/img/blue/Icon_virtual_storage.svg"> -->
		      </span>
		      <span class='desc'><span translate="cloudService.cloudMessageHead"></span></span>
			</div>
		</div>
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-left" >
			     <h5 translate="cloudService.cloudMessage"></h5>
		       </div>
				<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs"  ng-click="refreshCloudMsg()">
					    <span class='sm-icon icon-refresh'></span>
				        <span translate="common.refresh"></span>
			        </label>
					<label  has-permission="CLOUDMESSAGE_CREATE" class="btn btn-default btn-menu hidden-xs"  ng-click="addCloudMsg()" >
						<span class="sm-icon icon-add"></span>
						<span translate="cloudService.addCloudMessage"></span>
					</label>
					<label  has-permission="CLOUDMESSAGE_DELETE" class="btn btn-default btn-menu hidden-xs"  ng-if="mySelections.length>0" ng-click="deleteCloudMsg()" >
						<span class="sm-icon icon-delete-new"></span>
						<span translate="cloudService.deleteCloudMessage"></span>
					</label>
					<label  has-permission="CLOUDMESSAGE_DELETE" class="btn btn-default btn-menu btn-forbidden hidden-xs"  ng-if="mySelections.length==0" >
						<span class="sm-icon icon-delete-new"></span>
						<span translate="cloudService.deleteCloudMessage"></span>
					</label>
				</div>
				
			</div>
		</nav>
	    <div class="cas-list-body twoListWithLeadAndButton-calc">
	      <div id="cloudMsgListDivId" list-style class="table"  ng-grid="gridOptions"></div>
	    </div>
	    <nav class="navbar-default" role="navigation">
			<div class="container-fluid">
		       <div class="btn-group navbar-left" >
			     <h5 translate="org.userGroup"></h5>
		       </div>
			</div>
		</nav>
		<div class="cas-list-body twoListWithLeadAndButton-calc">
			<div  class="table" list-style ng-grid="userOptions"></div>
		</div>
	</div>
	
</div>