<!-- 云服务 -->
<div class="panel panel-default cas-panel">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li class="active" translate="cloudService.cloudService"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudService/serviceMgmt')"></span>
	</div>

	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      	<span class="pic Icon-cloud-business Icon_common_display">
		      	</span>
		      	<span class='desc' >
		      	   <span ng-if ="uiConfig.copyrightFrom == 'UNIS'" translate="cloudService.cloudServiceHead_unis"/></span>
		      	   <span ng-if ="uiConfig.copyrightFrom != 'UNIS'" translate="cloudService.cloudServiceHead"/></span>
		      	 </span>
		    </div>
		</div>
	    <div class="panel-body">
			<!-- 云主机 -->
			<a  ui-sref="main.cloudHost" class="dashboard-box" has-permission="VIRT_MNG"> 
				<span class="custom-picture Icon_common_display Icon_virtual_host"></span>
				<span class="box-title" text="{{::'cloudHost.cloudHost'|translate}}"><span translate="cloudHost.cloudHost"></span></span>
			</a>
			
			<!-- 云硬盘 -->
			<a ui-sref='main.cloudDisk' class="dashboard-box" has-permission="CLOUD_DISK_MGR" > 
				<span class="custom-picture Icon_common_display Icon_virtual_storage" ></span>
				<span class="box-title" text="{{::'cloudDisk.cloudDisk'|translate}}"><span translate="cloudDisk.cloudDisk"></span></span>
			</a>
			<!-- 云备份 -->
			<a  ui-sref="main.cloudBackup" class="dashboard-box" has-permission="CLOUD_BACKUP_STRATEGY_MGR"> 
				<span class="custom-picture Icon_common_display Icon_backup_strategy"></span>
				<span class="box-title" text="{{::'workflow.manage'|translate}}"><span translate="cloudBackup.cloudBackup"></span></span>
			</a>
			
			<!-- 云安全 -->
			<a  ui-sref="main.cloudSecurity" class="dashboard-box" has-permission="CLOUDSECURITY_MNG"> 
				<span class="custom-picture Icon_common_display Icon_security"></span>
				<span class="box-title" text="{{::'cloudSecurity.cloudSecurity'|translate}}"><span translate="cloudSecurity.cloudSecurity"></span></span>
			</a>
			<!-- 云彩虹 -->
			<a ui-sref="main.publicCloud" class="dashboard-box" has-permission="CLOUD_RAINBOW_MNG"> 
				<span class="custom-picture Icon_cloud_rainbow Icon_common_display" ></span>
				<span class="box-title"><span translate="publicCloud.cloudRainbow"></span></span>
			</a>
		</div>
	</div>
</div>

