<!-- 工单 -->
<div class="cas-panel" ng-controller="CloudWorkorderCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display:inline;">
			<li><a ui-sref='main.workflowMng' ><span translate="workflow.manage"></span></a></li>
			<li class="active" translate="cloudService.cloudTicket"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudService/cloudTicket/cloudTicketMgmt')"></span>
	</div>

	<div class="panel-body">
		<div class="section"></div>
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_work_order Icon_common_display">
<!-- 		      	<img alt="" src="css/img/blue/Icon_virtual_storage.svg"> -->
		      </span>
		      <span class='desc'><span translate="cloudService.workorderHead"></span></span>
			</div>
		</div>
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right" >
					<div class="form-group" style="position: relative;width: 160px;float: left;margin-right:10px;margin-bottom:6px;">
				         <label for="type" class="control-label short" style="margin-left: 10px;"><span translate="common.state"></span></label>
				         <div class="input-group" style="width: 85px;display: inline-block;float: right;">
				            <select-input class="" options="processed.options" bind-model="model.processed" input-id="processed" input-name="processed">
			             </select-input>
						</div>
				   </div>
					<label class="btn btn-default btn-menu hidden-xs"  ng-click="refreshCloudTicket()">
					    <span class='sm-icon icon-refresh'></span>
				        <span translate="common.refresh"></span>
			        </label>
					<label  class="btn btn-default btn-menu hidden-xs"  has-permission="CLOUDWORKORDER_DELETE" ng-click="deleteCloudTicket()" ng-if="mySelections.length>0">
						<span class="sm-icon icon-delete-new"></span>
						<span translate="cloudService.deleteCloudTicket"></span>
					</label>
					<label  class="btn btn-default btn-menu btn-forbidden"  has-permission="CLOUDWORKORDER_DELETE" ng-if="mySelections.length==0" >
						<span class="sm-icon icon-delete-new"></span>
						<span translate="cloudService.deleteCloudTicket"></span>
					</label>
				</div>
				
			</div>
		</nav>
	    <div class="cas-list-body oneListWithLead-calc">
	      <div id="cloudTicketDivId" list-style class="table"  ng-grid="gridOptions"></div>
	    </div>
	</div>
	
</div>