[Unit]
Description=Process accounting
After=syslog.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/accton /var/account/pacct
ExecStop=/usr/sbin/accton off
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
