<div class='row overview-content-row' ng-controller="resourcePoolSummaryCtrl">
	<!-- 基本属性 -->
	<div class="description-new overviewheight overview-desc col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<div class="detail-item" style="min-height:311px;">
			<div class="title">
				<h5 translate="common.basicAttribute"></h5>
				<div ng-click="modifyResourcePool()" style="display: inline;float: right;margin-right: 5px;margin-top: 5px;cursor:pointer;" has-permission="RESOURCEPOOL_MODIFY">
					<span type="button" class="modify-drx Icon_modify edit_vmTitle_img" style="margin:0;" custom-title="{{::'common.modify'|translate}}">
					</span>
				</div>
			</div>
			<!-- CVM概要显示 -->
			<dl ng-if="cloudType==2" class="dl-horizontal dl-wide" style="margin-bottom:0">
				<dt translate="resourcePool.cloudName"></dt>
				<dd ng-bind="summary.cloudName" shortcut cut-str="{{summary.cloudName}}" short-width=300 custom-title></dd>
				
				<dt translate="cloudResource.cloudResourceType"></dt>
				<dd ng-bind="summary.cloudType | cloudType"></dd>
				
				<dt translate="common.desc"></dt>
				<dd ng-bind="summary.description" shortcut cut-str="{{summary.description}}" short-width=300 custom-title></dd>
			
				<dt translate="resourcePool.cpu"></dt>
				<dd ng-bind="summary.cpu"></dd>
				
				<dt translate="resourcePool.memory"></dt>
				<dd ng-bind="summary.memory | byteUnitRender"></dd>
				
				<dt translate="resourcePool.storage"></dt>
				<dd ng-bind="summary.totalStorageCapacity | byteUnitRender"></dd>
				
				<dt translate="resourcePool.availStorage"></dt>
				<dd ng-bind="summary.avalibaleStorageCapacity | byteUnitRender"></dd>
				
				<dt translate="resourcePool.backupDest"></dt>
				<dd ng-bind="summary.backupTarget" shortcut cut-str="{{summary.backupTarget}}" short-width=300 custom-title>{{summary.backupTarget}}</dd>
				
				<dt translate="resourcePool.useLocalStorageConfirm"></dt>
				<dd ng-bind="summary.useLocalStorageFlag | yes"></dd>
			</dl>
			<!-- VMware概要显示 -->
			<dl ng-if="cloudType==3" class="dl-horizontal dl-wide" style="margin-bottom:0">
				<dt translate="resourcePool.cloudName"></dt>
				<dd ng-bind="summary.cloudName" shortcut cut-str="{{summary.cloudName}}" short-width=300 custom-title></dd>
				
				<dt translate="cloudResource.cloudResourceType"></dt>
				<dd ng-bind="summary.cloudType | cloudType"></dd>
				
				<dt translate="common.desc"></dt>
				<dd ng-bind="summary.description" shortcut cut-str="{{summary.description}}" short-width=300 custom-title></dd>
			
				<dt translate="resourcePool.cpu"></dt>
				<dd ng-bind="summary.cpu"></dd>
				
				<dt translate="resourcePool.memory"></dt>
				<dd ng-bind="summary.memory | byteUnitRender"></dd>
				
				<dt translate="resourcePool.storage"></dt>
				<dd ng-bind="summary.totalStorageCapacity | byteUnitRender2"></dd>
				
				<dt translate="resourcePool.availStorage"></dt>
				<dd ng-bind="summary.avalibaleStorageCapacity | byteUnitRender2"></dd>
			</dl>
			<!-- CloudOS概要显示 -->
			<dl ng-if="cloudType==5" class="dl-horizontal dl-wide" style="margin-bottom:0">
				<dt translate="resourcePool.cloudName"></dt>
				<dd ng-bind="summary.cloudName"></dd>
			
				<dt translate="cloudResource.cloudResourceType"></dt>
				<dd ng-bind="summary.cloudType | cloudType"></dd>
			
				<dt translate="resourcePool.cpuQuota"></dt>
				<dd ng-bind="summary.cpuTotal"></dd>
				
				<dt translate="resourcePool.memoryQuota"></dt>
				<dd ng-bind="summary.memoryTotal | byteUnitRender2"></dd>
				
				<dt translate="resourcePool.storageQuota"></dt>
				<dd ng-bind="summary.capacityTotal | byteUnitRender2"></dd>
				
				<dt translate="board.vm"></dt>
				<dd>
					<span class="span_padding" ng-bind="summary.vmTotal"></span>
					<span class="span_padding">[</span>
					<span class="span_padding"><img class="pic1img" src="css/img/gray/Icon_vm_running.svg"></img></span>
					<span class="span_padding span_color_green" ng-bind="summary.runningVmTotal"></span>
					<span class="span_padding"><img class="pic1img" src="css/img/gray/Icon_vm_close.svg"></img></span>
					<span class="span_padding span_color_red" ng-bind="summary.offVmTotal"></span>
					<span class="span_padding">]</span>
				</dd>
			</dl>
  	     </div>
	</div> 
	<!-- 计算资源监控信息 -->
	<div class="overviewheight hostcpuTop5 col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<div class="detail-item" id="computeMonitor" style="min-height:311px;">
			<div class="title">
				<h5 translate="resourcePool.computeMonitorInfo"></h5>
			</div>
			<div id="resourcePoolMonitorInfo" class="trendChart" style="height:89%;min-height:257px"></div>
		</div>
	</div> 
	<!-- 存储资源监控信息 -->
	<div class="overviewheight hostmenTop5 col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<div class="detail-item" id="storageMonitor" style="min-height:311px;">
			<div class="title">
				<h5 translate="resourcePool.storageMonitorInfo"></h5>
			</div>
			<!-- <div pie-chart url="{{storageRateUrl}}" style='width: 100%; min-height:257px;height:calc(100% - 40px)' id="storageMonitorInfo">
				<div class="altStyle" style="padding-left:180px;padding-top:110px;" translate="common.noData"></div>
			</div> -->
			<div id="storageMonitorInfo" class="trendChart" style="height:89%;min-height:249px"></div> 
			</div>
	</div> 
	<!-- 虚拟分配信息 -->
	<div class="overviewheight-host compute-res-host col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<div class="detail-item" style="min-height:311px;" ng-controller="resourcePoolVmInfoListCtrl">
			<div class="title">
				<h5 translate="resourcePool.vmDistribution"></h5>
			</div>
			<div class="cas-list-body" style="height:calc(100% - 46px)">
				<div style="min-height:250px;height:100%" ng-grid="gridOptions"></div>
			</div>
		</div>
	</div>
	<!-- CPU分配信息-->
	<div class="overviewheight  vmcpu-top5 col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<div class="detail-item" style="min-height:311px;" ng-controller="resourcePoolCPUInfoListCtrl">
			<div class="title">
				<h5 translate="resourcePool.cpuDistribution"></h5>
			</div>
			<div class="cas-list-body" style="height:calc(100% - 46px)">
				<div style="min-height:250px;height:100%" ng-grid="gridOptions"></div>
			</div>
		</div>
	</div>
	<!-- 内存分配信息-->
	<div class="overviewheight vmmem-top5 col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<div class="detail-item" style="min-height:311px;" ng-controller="resourcePoolMemoryInfoListCtrl">
			<div class="title">
				<h5 translate="resourcePool.memoryDistribution"></h5>
			</div>
			<div class="cas-list-body" style="height:calc(100% - 46px)">
				<div style="min-height:250px;height:100%" ng-grid="gridOptions"></div>
			</div>
		</div>
	</div>
</div>