<!-- 资源池管理 -->
<div class="panel panel-default cas-panel" ng-controller="resourcePoolListCtrl">
	<!-- 标题及帮助 -->
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li><a ui-sref='main.VDCMng' ><span translate="VDC.VDCMng"></span></a></li>
			<li class="active"><span translate="resourcePool.resourcePool"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('resourcePool/resourcePoolMgmt')"></span>
	</div>
	<!-- 主体内容 -->
	<div class="panel-body" style="height:91%;">
		<!-- 说明文字 -->
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_common_display Icon_res_pool_manage">
		      </span>
		      <span class="desc"><span translate="resourcePool.listHead"></span></span>
			</div>
		</div>
		<!-- 按钮 -->
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshPage()" >
						<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
				    </label>
					<label class="btn btn-default btn-menu" has-permission="RESOURCEPOOL_ADD" ng-click="addResourcePool()">
		                <span class="sm-icon icon-add"></span><span translate="resourcePool.addResourcePool"></span>
		            </label>
				</div>
			</div>
		</nav>
		<div id="resourcePoolListDivId" class="cas-list-body oneListWithLead-calc">
			<div class="table"  ng-grid="gridOptions"></div>
		</div>
	</div>
</div>