<div class="panel cas-panel panel-default" style="height:100%;" ng-controller="resourcePoolCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display:inline;">
			<li><a ui-sref='main.VDCMng' ><span translate="VDC.VDCMng"></span></a></li>
            <li><a ui-sref='main.resourcePoolMng' ><span translate="resourcePool.resourcePoolMng"></span></a></li>
            <li class="active"><span translate="resourcePool.resourcePool"></span>：{{name}}</li>
        </ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}"
			aria-hidden="true" ng-click="openHelp(resourceHelpUrl)"></span>
	</div>
	<!-- buttons -->
	<div class="panel-body" >
	<!-- Tabs:CAS,VMware,CloudOS -->
	<div class="section" ng-if="cloudType==2">
		<castabset>
	      <castab href=".summary" icon="icon-summary-gray" active="{{currentTab == 'summary'}}" heading="{{::'resourcePool.summary'|translate}}"></castab>
	      <castab href=".cluster" icon="icon-cluster-noha-gray" active="{{currentTab == 'cluster'}}" heading="{{::'resourcePool.computeResource'|translate}}"></castab>
	      <!-- <castab href=".storage" icon="icon-storage-gray" active="{{currentTab == 'storage'}}" heading="{{::'cluster.storage'|translate}}"></castab> -->
	      <castab href=".storageResource" icon="icon-storage-gray" active="{{currentTab == 'storageResource'}}" heading="{{::'resourcePool.storageResource'|translate}}"></castab>
	      <castab href=".vswitch" icon="icon-vswitch-gray" active="{{currentTab == 'vswitch'}}" heading="{{::'cluster.vswitch'|translate}}"></castab>
<!-- 	资源池网络策略模板删除      <castab href=".networkStrategyTemplet" icon="icon-network-profile" active="{{currentTab =='networkStrategyTemplet'}}" heading="{{::'common.profile'|translate}}"></castab> -->	  
	    </castabset>
	</div>
	<div class="section" ng-if="cloudType==3">
		<castabset>
	      <castab href=".summary" icon="icon-summary-gray" active="{{currentTab == 'summary'}}" heading="{{::'resourcePool.summary'|translate}}"></castab>
	      <castab href=".cluster" icon="icon-cluster-noha-gray" active="{{currentTab == 'cluster'}}" heading="{{::'resourcePool.computeResource'|translate}}"></castab>
	      <!-- <castab href=".storage" icon="icon-storage-gray" active="{{currentTab == 'storage'}}" heading="{{::'cluster.storage'|translate}}"></castab> -->
	      <castab href=".storageResource" icon="icon-storage-gray" active="{{currentTab == 'storageResource'}}" heading="{{::'resourcePool.storageResource'|translate}}"></castab>
	      <castab href=".vswitch" icon="icon-vswitch-gray" active="{{currentTab == 'vswitch'}}" heading="{{::'cluster.vswitch'|translate}}"></castab>
	    </castabset>
	</div>
	<div class="section" ng-if="cloudType==5">
		<castabset>
	      <castab href=".summary" icon="icon-summary-gray" active="{{currentTab == 'summary'}}" heading="{{::'resourcePool.summary'|translate}}"></castab>
	      <castab href=".net" icon="icon-vswitch-gray" active="{{currentTab == 'net'}}" heading="{{::'cluster.vswitch'|translate}}"></castab>
	     <!--  <castab href=".storage" icon="icon-storage-gray" active="{{currentTab == 'storage'}}" heading="{{::'cluster.storage'|translate}}"></castab> -->
		  <castab href=".storageResource" icon="icon-storage-gray" active="{{currentTab == 'storageResource'}}" heading="{{::'resourcePool.storageResource'|translate}}"></castab>
	    </castabset>
	</div>
	<div id="resourcePoolContent" class="tabContent" ui-view></div>
</div>