<div class="modal-header">
    <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
        <span class="icon-closenew"></span>
    </button>
    <h4 class="modal-title" translate="common.selectResPool"></h4>
</div>
<form name="form3" class="form-horizontal" role="form" style="height:240px;overflow:auto;padding-left:10px;" novalidate>
     <div select-svg style="height:100%;" id="drxCluster" selected-svg="selectedResPool" src-svg-id="srcResPoolId" svg-url="resourcePool/queryList" svg-src="css/img/gray/resourcePool_gray.svg" 
     	info-one-desc="common.type" info-one-value="cloudType" info-one-filter="cloudType" info-two-desc="common.desc" info-two-value="description"></div>
</form>
<div class="modal-footer">
    <button id="okBtn" class="btn btn-green"  ng-click="ok()" translate="common.confirm"></button>
</div>