<div class="modal-header">
    <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
        <span class="icon-closenew"></span>
    </button>
    <h4 class="modal-title" translate="common.selectStoragePool"></h4>
</div>
<form name="form3" class="form-horizontal" role="form" style="height:240px;overflow:auto;padding-left:10px;" novalidate>
     <div select-svg style="height:100%;" id="drxCluster" selected-svg="selectedStoragePool" src-svg-id="srcResourcePoolId" 
     	svg-url="resourcePool/resStorageByResourcePoolId?resorcePoolId={{srcResourcePoolId}}" 
     	svg-src="css/img/gray/Icon_storage_16x16.svg" 
     	info-one-desc="storagePool.assignSize" info-one-value="assignSize" info-one-filter="byteUnitRender" 
     	info-two-desc="storagePool.path" info-two-value="path"
     	>
   	 </div>
</form>
<div class="modal-footer">
    <button id="okBtn" class="btn btn-green"  ng-click="ok()" translate="common.confirm"></button>
</div>