<div class="calc100" ng-controller="vswitchResourceCtrl">
	<nav class="navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="btn-group navbar-right" >
				<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshPage()" >
					<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
			    </label>
				<label has-permission="RESOURCEPOOL_MODIFY" class="btn btn-default btn-menu hidden-xs" ng-click="releaseVswitch()">
					<span class="sm-icon icon-add"></span>
					<span translate="resourcePool.releaseVswitch"></span>
				</label>
			</div>
		</div>
	</nav>
	<div class="cas-list-body oneList-calc">
		<div id="vswitchResourceListDivId" class="table"  ng-grid="gridOptions"></div>
	</div>
</div>