[Unit]
Description=GPU config script
Wants=syslog.target
After=nvidia-vgpud.service nvidia-vgpu-mgr.service

[Service]
Type=forking
TimeoutStartSec=300
ExecStart=/usr/bin/python /opt/bin/gpu_config.pyc -o revert

[Install]
WantedBy=multi-user.target
