<!-- 过滤操作日志弹出窗口 -->

<!-- 标题 -->
<div class="modal-header">
    <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<button type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('alarm/fiterWarnInfo')">
        <span class="icon-helpnew"></span>
    </button>
    <h4 class="modal-title" translate="common.filter"></h4>
</div>
<!-- 内容 -->
<div class="modal-body">
    <div class="form-horizontal">
        <form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
            <!-- 确认状态 -->
            <div class="form-group">
               <label for="alarmState" class="control-label"><span translate="alarm.confirmState"></span><span style="color:red">&nbsp;</span></label>
                <div class="control-input">
                    <div class="input-group width260">
                        <select-input class="" options="state.options" bind-model="filter.state" input-id="alarmState" input-name="alarmState">
                        </select-input>
                    </div>
                </div>  
            </div>
            <!-- 告警级别 -->
            <div class="form-group">
               <label for="alarmLevel" class="control-label"><span translate="alarm.alarmLevel"></span><span style="color:red">&nbsp;</span></label>
                <div class="control-input">
                    <div class="input-group width260">
                        <select-input class="" options="level.options" bind-model="filter.eventLevel" input-id="alarmLevel" input-name="alarmLevel">
                        </select-input>
                    </div>
                </div>  
            </div>
            <!-- 告警类型 -->
            <div class="form-group">
               <label for="alarmCategory" class="control-label"><span translate="alarm.alarmType"></span><span style="color:red">&nbsp;</span></label>
                <div class="control-input">
                    <div class="input-group width260">
                        <select-input class="" options="category.options" bind-model="filter.category" input-id="alarmCategory" input-name="alarmCategory">
                        </select-input>
                    </div>
                </div>  
            </div>
            <!-- 告警信息 -->
            <div class="form-group" ng-class="{'has-error': (form.eventDesc.$dirty && form.eventDesc.$invalid)}">
               <label for="eventDesc" class="control-label"><span translate="alarm.alarmDesc"></span><span style="color: red">&nbsp;</span></label>
               <div class="control-input" >
                    <div class="input-group input-xlarge">
                        <input type="text" class="form-input form-control" ng-model="filter.eventDesc" ng-trim="false" id="eventDesc" name="eventDesc">
                        <span class="input-group-addon help-addon" ng-messages="form.eventDesc.$error">
                            <span ng-if="form.eventDesc.$valid||!form.eventDesc.$dirty">
                                <span class="icon-occupying"></span>
                            </span>
                            <span ng-if="form.eventDesc.$dirty">
                                
                            </span>
                        </span>
                    </div>
                </div>   
            </div>
            <!-- 告警来源 -->
            <div class="form-group" ng-class="{'has-error': (form.eventSrc.$dirty && form.eventSrc.$invalid)}">
               <label for="eventSrc" class="control-label"><span translate="alarm.alarmSource"></span><span style="color: red">&nbsp;</span></label>
               <div class="control-input" >
                    <div class="input-group input-xlarge">
                        <input type="text" class="form-input form-control" ng-model="filter.eventSrc" ng-trim="false" id="eventSrc" name="eventSrc">
                        <span class="input-group-addon help-addon" ng-messages="form.eventSrc.$error">
                            <span ng-if="form.eventSrc.$valid||!form.eventSrc.$dirty">
                                <span class="icon-occupying"></span>
                            </span>
                            <span ng-if="form.eventSrc.$dirty">
                                
                            </span>
                        </span>
                    </div>
                </div>   
            </div>
            <!-- 时间（从） -->
            <div class="form-group">
                <label for="clearLog" class="control-label">
                    <span translate="alarm.eventTime_from"></span><span style="color: red">&nbsp;</span>
                </label>
                <div class="control-input">
                    <div class="input-group date input-large"  date-cell="#finishTimeStartInput" jes-date is-time="true" format="YYYY-MM-DD hh:mm:ss" picker-position="right" max-date="startMaxDate" ng-model="filter.eventTime_from">
                        <input id="finishTimeStartInput" class="form-input form-control selectInput first-child-angle calendar-input-img" type="text" readonly>
                    </div>
                </div>
            </div>
            <!-- 时间（至） -->
            <div class="form-group">
                <label for="clearLog" class="control-label">
                    <span translate="alarm.eventTime_to"></span><span style="color: red">&nbsp;</span>
                </label>
                <div class="control-input">
                    <div class="input-group date input-large"  date-cell="#finishTimeEndInput" jes-date is-time="true" format="YYYY-MM-DD hh:mm:ss" picker-position="right" min-date="endMinDate" max-date="endMaxDate" ng-model="filter.eventTime_to">
                        <input id="finishTimeEndInput" class="form-input form-control selectInput first-child-angle calendar-input-img" type="text" readonly>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- 按钮栏 -->
<div class="modal-footer">
	<button id="resetId" class="btn btn-green" ng-click="reset()" translate="common.reset"></button>
    <button id="okId" class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>