<div class="modal-header">
	 <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<h4 class="modal-title" translate="modifypwd"></h4>
</div>
<div class="modal-body">
    <div ng-if="modifyType!=1" class="alert alert-info" role="alert" translate="pwdOverdue"></div>
	<div ng-if="modifyType==1" class="alert alert-info" role="alert" translate="pwdSysDefault"></div>
	<div class="form-horizontal">
		<form name="form" class="form-horizontal" role="form" novalidate>
			<input type="hidden" id="form" value="{{form.$valid}}">
			<div class="form-group" ng-class="{'has-error': (form.oldPwd.$dirty && form.oldPwd.$invalid)}">
				<label for="inputPassword" class="control-label"><span translate="load.static.oldpwd"></span><span style="color: red">*</span></label>
				<div class="control-input ">
					<div class="input-group input-xlarge">
					    <input ng-model="pwd.oldPwd" checkpasswordillegal  id="inputPassword" type="password" ng-maxlength=32 class="form-input form-control" ng-trim="false" name="oldPwd" required>
	                    <span class="input-group-addon help-addon"  ng-messages="form.oldPwd.$dirty && form.oldPwd.$error">
	                        <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
	                        <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'maxlen'|translate}}32"></span></span>
                            <span ng-message="checkpasswordillegal"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'passwordIllegal'|translate}}"></span></span>
	                    </span>
	                </div>
				</div>
		    </div>			
			
			
			<div class="form-group" ng-class="{'has-error': (form.pwd.$dirty && form.pwd.$invalid)}">
				<label for="inputPassword" class="control-label"><span translate="load.static.newpwd"></span><span style="color: red">*</span></label>
				<div class="control-input ">
				  <div class="input-group input-xlarge">
					   <input ng-model="pwd.newPwd" pwd-complexity-check complex-type='complexValue' checkpasswordillegal ng-minlength={{minlen}} id="inputPassword" type="password" ng-maxlength=32 class="form-input form-control" ng-trim="false" name="pwd" required>
		                    <span class="input-group-addon help-addon"  ng-messages="form.pwd.$error">
		                        <span  ng-if="type=='modify' ? form.pwd.$error : form.pwd.$dirty">
		                             <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                             <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                        	 <span ng-message="minlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minlen'|translate}}{{minlen}}"></span></span>
	                                 <span ng-message="pwdComplexityCheck"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{getPwdCheckMsg(complexValue)}}"></span></span>
	                                 <span ng-message="checkpasswordillegal"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'passwordIllegal'|translate}}"></span></span>
		                        </span>
		                    </span>
	                </div>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error': (form.pwdConfirm.$dirty && form.pwdConfirm.$invalid)}">
				<label for="inputConfrim" class="control-label"><span translate="load.static.newPwdConfirm"></span><span style="color: red">*</span></label>
				<div class="control-input"> 
				  <div class="input-group input-xlarge">
			         <input type="password"  ng-maxlength=32 equalcheck obj1="pwd.confirm" obj2="pwd.newPwd" considerspace=true class="form-input form-control" ng-model="pwd.confirm" ng-trim="false" name="pwdConfirm" required>
		                   <span class="input-group-addon help-addon" ng-messages="form.pwdConfirm.$error">
		                        <span ng-if="form.pwdConfirm.$valid||!form.pwd.$dirty">
		                             <span class="icon-occupying"></span>
		                        </span>
		                        <span ng-if="form.pwdConfirm.$dirty">
		                             <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                             <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                             <!-- 确认密码输入错误提示 -->
		                             <span ng-message="equalcheck"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'pwdMatch'|translate}}"></span></span>
	<!-- 			                             <span ng-message="pwdCheck"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'pwdMatch'|translate}}"></span></span> -->
	<!-- 			                             <span ng-message="checkpasswordillegal"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'passwordIllegal'|translate}}"></span></span> -->
		                        </span>
		                   </span>
		           </div>
				</div>
			</div>
		</form>

	</div>
</div>

 <div class="modal-footer">
	  <button class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
	  <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
 </div>
