<!-- 申请正式License-->
<div class="modal-header">
     <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
    <button type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('sysMgmt/license/requestLicense')">
		<span class="icon-helpnew"></span>
	</button>
    <h4 class="modal-title" ng-bind="title"></h4>
</div>
<!-- 内容1:单form -->
<div class="modal-body row">
    <div class="form-horizontal col-md-8">
	    <carousel-form titles="stepTitles" cancel="ok()"> 
	        <!-- 第一步 -->
	        <slide-form valid="valids.stepOneOver()" active="slide.active">
		        <form name="form1" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
		        <!-- 隐藏属性，用于js方法操作form是否显示 -->
                    <input type="hidden" id="form1" value="{{form1.$valid}}">
			        <div class="form-group" style="margin-top:15px;" ng-class="{'has-error': (form1.username.$dirty && form1.username.$invalid)}">
		           <label for="username_id" class="control-label"><span translate="licenseMng.userName"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.username"  ng-trim="false" id="username_id" name="username" required >
		                   <span class="input-group-addon help-addon" ng-messages="form1.username.$error">
		                       <span ng-if="form1.username.$valid||!form1.username.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form1.username.$dirty">
		                           <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		       <!-- 国家/地区 -->
				<div class="form-group">
					<label for="nationRegion_id" class="control-label"><span translate="licenseMng.nationRegion"></span></span><span style="color: red">*</span>
					</label>
					<div class="control-input">
						<div class="input-group width260">
							<select-input options="nationRegion.options" ng-init="model.country='China'" bind-model="model.country" input-id="country_id" input-name="country" required></select-input>
						</div>
					</div>
				</div>
				<!-- 省/市 -->
				<div class="form-group" ng-class="{'has-error': (form1.provinceCity.$dirty && form1.provinceCity.$invalid)}">
		           <label for="provinceCity_id" class="control-label"><span translate="licenseMng.provinceCity"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.provinceCity"  ng-trim="false" id="provinceCity_id" name="provinceCity" required >
		                   <span class="input-group-addon help-addon" ng-messages="form1.provinceCity.$error">
		                       <span ng-if="form1.provinceCity.$valid||!form1.provinceCity.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form1.provinceCity.$dirty">
		                           <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		       <!-- 公司或单位名称 -->
				<div class="form-group" ng-class="{'has-error': (form1.company.$dirty && form1.company.$invalid)}">
		           <label for="company_id" class="control-label"><span translate="licenseMng.companyOrganization"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.company"  ng-trim="false" id="company_id" name="company" required >
		                   <span class="input-group-addon help-addon" ng-messages="form1.company.$error">
		                       <span ng-if="form1.company.$valid||!form1.company.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form1.company.$dirty">
		                           <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		        <!-- 地址 -->
				<div class="form-group" ng-class="{'has-error': (form1.address.$dirty && form1.address.$invalid)}">
		           <label for="address_id" class="control-label"><span translate="licenseMng.address"></span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.address"  ng-trim="false" id="address_id" name="address" >
		                   <span class="input-group-addon help-addon" ng-messages="form1.address.$error">
		                       <span ng-if="form1.address.$valid||!form1.address.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form1.address.$dirty">
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		        <!-- 邮编 -->
				<div class="form-group" ng-class="{'has-error': (form1.postcode.$dirty && form1.postcode.$invalid)}">
		           <label for="postcode_id" class="control-label"><span translate="licenseMng.postcode"></span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.postcode"  ng-trim="false" id="postcode_id" name="postcode" >
		                   <span class="input-group-addon help-addon" ng-messages="form1.postcode.$error">
		                       <span ng-if="form1.postcode.$valid||!form1.postcode.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form1.postcode.$dirty">
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		        <!-- 电子邮件地址 -->
				<div class="form-group" ng-class="{'has-error': (form1.email.$dirty && form1.email.$invalid)}">
		           <label for="email_id" class="control-label"><span translate="licenseMng.emailAddress"></span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input checkemail type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.email" ng-trim="false" id="email_id" name="email" >
		                   <span class="input-group-addon help-addon" ng-messages="form1.email.$error">
		                       <span ng-if="form1.email.$valid||!form1.email.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form1.email.$dirty">
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       	   <span ng-message="checkemail"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidemail'|translate}}"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
				<!-- 联系电话 -->
				<div class="form-group" ng-class="{'has-error': (form1.phone.$dirty && form1.phone.$invalid)}">
		           <label for="phone_id" class="control-label"><span translate="licenseMng.phone"></span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 check-phone class="form-input form-control" ng-model="model.phone"  ng-trim="false" id="phone_id" name="phone" >
		                   <span class="input-group-addon help-addon" ng-messages="form1.phone.$error">
		                       <span ng-if="form1.phone.$valid||!form1.phone.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form1.phone.$dirty">
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                           <span ng-message="checkPhone"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidPhone'|translate}}"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>

		        </form>
	        </slide-form>
	        <!-- 第二步 -->
	        <slide-form valid="valids.stepTwoOver()">
		        <form name="form2" class="form-horizontal" role="form" novalidate>
		        <!-- 隐藏属性，用于js方法操作form是否显示 -->
                <input type="hidden" id="form2" value="{{form2.$valid}}">
		        <!-- 姓名 -->
				<div class="form-group" style="margin-top:15px;" ng-class="{'has-error': (form2.applicantName.$dirty && form2.applicantName.$invalid)}">
		           <label for="applicantName_id" class="control-label"><span translate="licenseMng.name"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.applicantName"  ng-trim="false" id="applicantName_id" name="applicantName" required >
		                   <span class="input-group-addon help-addon" ng-messages="form2.applicantName.$error">
		                       <span ng-if="form2.applicantName.$valid||!form2.applicantName.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form2.applicantName.$dirty">
		                           <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		       <!-- 公司或单位名称 -->
				<div class="form-group" ng-class="{'has-error': (form2.applicantCompany.$dirty && form2.applicantCompany.$invalid)}">
		           <label for="applicantCompany_id" class="control-label"><span translate="licenseMng.companyOrganization"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.applicantCompany"  ng-trim="false" id="applicantCompany_id" name="applicantCompany" required >
		                   <span class="input-group-addon help-addon" ng-messages="form2.applicantCompany.$error">
		                       <span ng-if="form2.applicantCompany.$valid||!form2.applicantCompany.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form2.applicantCompany.$dirty">
		                           <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		        <!-- 电子邮件地址 -->
				<div class="form-group" ng-class="{'has-error': (form2.applicantEmail.$dirty && form2.applicantEmail.$invalid)}">
		           <label for="applicantEmail_id" class="control-label"><span translate="licenseMng.emailAddress"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input checkemail type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.applicantEmail"  ng-trim="false" id="applicantEmail_id" name="applicantEmail" required>
		                   <span class="input-group-addon help-addon" ng-messages="form2.applicantEmail.$error">
		                       <span ng-if="form2.applicantEmail.$valid||!form2.applicantEmail.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form2.applicantEmail.$dirty">
		                       	   <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       	   <span ng-message="checkemail"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidemail'|translate}}"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
				<!-- 联系电话 -->
				<div class="form-group" ng-class="{'has-error': (form2.applicantPhone.$dirty && form2.applicantPhone.$invalid)}">
		           <label for="applicantPhone_id" class="control-label"><span translate="licenseMng.phone"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" check-phone ng-maxlength=32 class="form-input form-control" ng-model="model.applicantPhone"  ng-trim="false" id="applicantPhone_id" name="applicantPhone" required>
		                   <span class="input-group-addon help-addon" ng-messages="form2.applicantPhone.$error">
		                       <span ng-if="form2.applicantPhone.$valid||!form2.applicantPhone.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form2.applicantPhone.$dirty">
		                       	   <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       	   <span ng-message="checkPhone"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidPhone'|translate}}"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		        </form>
	        </slide-form>
        </carousel-form>
    </div>
    <!-- 右侧确认信息 -->
    <div class="detail-table col-md-4">
        <table class="table table-striped">
            <!-- 最终用户的信息 -->
            <tbody>
            	<tr>
                	<td class="white" colspan="2"><span translate="licenseMng.endUserInformation"></span></td>
            	</tr>
            	<tr>
                	<td class="gray"><span translate="licenseMng.userName"></span></td>
                	<td class="gray" custom-title shortcut cut-str="{{model.username}}">{{model.username}}</td>
            	</tr>
            	<tr>
                	<td class="white"><span translate="licenseMng.nationRegion"></span></td>
                	<td class="white" custom-title shortcut cut-str="{{model.country|selectLabel:'China':nationRegion.options}}">{{model.country|selectLabel:'China':nationRegion.options}}</td>
            	</tr>
            	<tr>
                	<td class="gray"><span translate="licenseMng.provinceCity"></span></td>
                	<td class="gray" custom-title shortcut cut-str="{{model.provinceCity}}">{{model.provinceCity}}</td>
            	</tr>
            	<tr>
                	<td class="white"><span translate="licenseMng.companyOrganization"></span></td>
                	<td class="white" custom-title shortcut cut-str="{{model.company}}">{{model.company}}</td>
            	</tr>
            	            	
            	<tr>
                	<td class="gray"><span translate="licenseMng.address"></span></td>
                	<td class="gray" custom-title shortcut cut-str="{{model.address}}">{{model.address}}</td>
            	</tr>
            	<tr>
                	<td class="white"><span translate="licenseMng.postcode"></span></td>
                	<td class="white" custom-title shortcut cut-str="{{model.postcode}}">{{model.postcode}}</td>
            	</tr>
            	<tr>
                	<td class="gray"><span translate="licenseMng.emailAddress"></span></td>
                	<td class="gray" custom-title shortcut cut-str="{{model.email}}">{{model.email}}</td>
            	</tr>
            	<tr>
                	<td class="white"><span translate="licenseMng.phone"></span></td>
                	<td class="white">{{model.phone}}</td>
            	</tr>
            </tbody>
           <!-- 申请人的信息 -->
           <tbody>    
            	<tr>
                	<td class="gray" colspan="2"><span translate="licenseMng.applicantInfo"></span></td>
            	</tr>  	
            	<tr>
                	<td class="white"><span translate="licenseMng.name"></span></td>
                	<td class="white" custom-title shortcut cut-str="{{model.applicantName}}">{{model.applicantName}}</td>
            	</tr>
            	<tr>
                	<td class="gray"><span translate="licenseMng.companyOrganization"></span></td>
                	<td class="gray" custom-title shortcut cut-str="{{model.applicantCompany}}">{{model.applicantCompany}}</td>
            	</tr>
            	<tr>
                	<td class="white"><span translate="licenseMng.emailAddress"></span></td>
                	<td class="white" custom-title shortcut cut-str="{{model.applicantEmail}}">{{model.applicantEmail}}</td>
            	</tr>
            	<tr>
                	<td class="gray"><span translate="licenseMng.phone"></span></td>
                	<td class="gray">{{model.applicantPhone}}</td>
            	</tr>
           </tbody>
        </table>
    </div>
</div>
