<!-- 访问策略 -->
<div class="panel panel-default cas-panel" ng-controller="systemCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li><a ui-sref='main.systemMng' ><span translate="systemMng.systemMng"></span></a></li>
			<li class="active" translate="securityMng.accessStrategy"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/accessStrategy/accessStrategyMgmt')"></span>
	</div>

	<div class="panel-body">
		<div class="section"></div>
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_security_access_strategy Icon_common_display">
		      </span>
		      <span class='desc'><span translate="securityMng.accessStrategyHead"></span></span>
		    </div>
		</div>
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right" >
					<!-- 刷新 -->
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshAccessStrategy()">
						<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
					</label>
					<!-- 增加 -->
					<label class="btn btn-default btn-menu hidden-xs" has-permission="ACCESS_STRATEGY_ADD" ng-click="addAccessStrategy()">
						<span class="sm-icon icon-add"></span> <span
						translate="securityMng.addAccessStrategy"></span>
					</label>
					<!-- 删除 -->
					<label class="btn btn-default btn-menu hidden-xs" has-permission="ACCESS_STRATEGY_DELETE" ng-click="deleteAccessStrategy()" ng-class="{'btn-forbidden':seleteAccessStrategy.length == 0}"> 
						<span class="sm-icon icon-delete"></span>
						<span translate="securityMng.delAccessStrategy"></span>
					</label>
					<!-- 修改 -->
					<label class="btn btn-default btn-menu hidden-xs" has-permission="ACCESS_STRATEGY_MODIFY" ng-click="modifyAccessStrategy()"  ng-class="{'btn-forbidden':seleteAccessStrategy.length != 1}"> 
						<span class="sm-icon icon-modify"></span>
						<span translate="securityMng.modifyAccessStrategy"></span>
					</label> 
					<!-- 查看 -->
					<label class="btn btn-default btn-menu hidden-xs" has-permission="ACCESS_STRATEGY_VIEW" ng-click="viewAccessStrategy()" ng-class="{'btn-forbidden':seleteAccessStrategy.length != 1}"> 
						<span class="sm-icon icon-view-detail"></span>
						<span translate="securityMng.viewAccessStrategy"></span>
					</label>
				</div>
			</div>
		</nav>
	    <div class="cas-list-body oneListWithLead-calc" ng-controller="AccessStrategyListCtrl">
	      	<div id="accessStrategyGridList" list-style class="table" ng-grid="gridOptions"></div>
	    </div>
	</div>
	</div>
</div>