<!-- CIC备份策略 -->
<div class="cas-panel" >
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
		    <li><a ui-sref='main.systemMng' ><span translate="systemMng.systemMng"></span></a></li>
            <li class="active"><span translate="securityMng.cicBackupMng"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/cicbackupconfig/cicbackupconfig')"></span>
	</div>
	<div class="panel-body">
		<castabset>
		      <castab active="{{currentTab == 'cicBackupConfig'}}" href=".cicBackupConfig" icon="icon-cvm-backup-config-gray" heading="{{'securityMng.cicBackupStrategy'|translate}}"></castab>
		      <castab active="{{currentTab == 'cicBackupHistory'}}" href=".cicBackupHistory" icon="{{uiConfig.copyrightFrom == 'UNIS' ? 'icon-cvm-backup-history-gray-unis' : 'icon-cvm-bakcup-hisotry-gray'}}" heading="{{'securityMng.backupHistory'|translate}}"></castab>
	    </castabset>
	    <div content-style class="pbody-calc" ui-view></div>
	
	</div>
</div>