<!-- CIC备份策略标签页：CIC备份历史 -->
<div class='calc100'  ng-controller="cicBackupHistoryCtrl">
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshHistoryPage()">
						<span class='sm-icon icon-refresh'></span>
						<span translate="common.refresh"></span>
					</label>
					<label class="btn btn-default btn-menu hidden-xs" ng-click="uploadBackInfo()">
						<span class='sm-icon icon-upload'></span>
						<span translate="securityMng.upload"></span>
					</label>
					<!-- 导入备份历史 -->
					<label class="btn btn-default btn-menu hidden-xs" ng-click="importBackupCICHistory()">
						<span class='sm-icon icon-import-vm'></span>
						<span translate="common.import"></span>
					</label>	
				</div>
			</div>
		</nav>
		<div class="cas-list-body oneWithTab-calc">
			<div class="table" list-style ng-grid="gridOptions"></div>
		</div>
</div>