<div class="modal-header">
	<button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<h4 class="modal-title" translate="securityMng.modifypwd"></h4>
</div>
<div class="modal-body" style='padding-left:30px;padding-right:30px'>
	<div class="media" style="height:100px;">
	  <a class="media-left" href="#" style='vertical-align:middle;'>
	     <img src="images/Icon_info_16x16.svg" width="45px" height="45px">
	  </a>
       <div class="media-body alert-context-text">
          <h4 class="font-size16" style="overflow-y:auto;overflow-x:hidden;max-height:190px;padding:2px;word-break:break-all;" translate="securityMng.sysOperDefPwd"></h4>
       </div>
     </div>
</div>
<div class="modal-footer">
	  <button id="alertOkBtn" class="btn btn-green" ng-click="ok()" translate="securityMng.modifyImmediately"></button>
	  <button class="btn btn-black" ng-click="cancel()" translate="securityMng.modifyLater"></button>
</div>