<div class="panel panel-default cas-panel" ng-controller="PwdStrategyCtrl"> 
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li><a ui-sref='main.systemMng' ><span translate="systemMng.systemMng"></span></a></li>
			<li class="active"><span translate="securityMng.passwordStrategy"></span></li>
		</ol>
<!-- 		<span class="panel-title" translate="securityMng.pwdStrategy"></span> -->
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/pwdStrategy/pwdStrategyMgmt')"></span>
	</div>
	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_security_pwd_strategy Icon_common_display">
		      </span>
		      <span class='desc'><span translate="securityMng.pwdStrategyHead"></span></span>
		    </div>
		</div>

		<!-- 密码策略输入框 -->
			<div class="form-group" style="padding:20px 0 0 45px;">
		        <form name="form" class="form-horizontal" role="form" novalidate>
					<!-- 密码最小长度 -->
					<fieldset>
						<div class="form-group" ng-class="{'has-error' : (form.pwdMinlen.$invalid)}">
							<label for="pwdMinlen" class="control-label">
								<span translate="securityMng.pwdMinlength"></span></span><span style="color: red">*</span>
							</label>
							<div ng-if="initParam.securityMode != 1" class="input-group">
						        <input id= "pwdMinlen" name="pwdMinlen" type="text" class="spinner-only" ng-model="model.pwdMinlen"  spinner spinner-min=1 spinner-max=14 checkint required>
                  				<span class="input-group-addon help-addon" ng-messages="form.pwdMinlen.$error">
		                       		<span ng-if="form.pwdMinlen.$valid">
		                           		<span class="icon-help-gray" tooltip-placement="right" tooltip="{{'securityMng.pwdLengthRange' | translate}}"></span>
		                       		</span>
		                       		<span ng-if="form.pwdMinlen.$invalid || form.pwdMinlen.$dirty">
		                           		<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                       			<span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
		                       			<span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}14"></span></span>
				                        <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}1"></span></span>
		                       		</span>
		                   		</span>
						    </div>
						    <div ng-if="initParam.securityMode == 1" class="input-group">
						        <input id= "pwdMinlen" name="pwdMinlen" type="text" class="spinner-only" ng-model="model.pwdMinlen" spinner spinner-min=8 spinner-max=14 checkint required>
                  				<span class="input-group-addon help-addon" ng-messages="form.pwdMinlen.$error">
		                       		<span ng-if="form.pwdMinlen.$valid">
		                           		<span class="icon-help-gray" tooltip-placement="right" tooltip="{{'securityMng.secPwdLengthRange' | translate}}"></span>
		                       		</span>
		                       		<span ng-if="form.pwdMinlen.$invalid || form.pwdMinlen.$dirty">
		                           		<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                       			<span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
		                       			<span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}14"></span></span>
				                        <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}8"></span></span>
		                       		</span>
		                   		</span>
						    </div>
						</div>
			            
			            <!-- 密码复杂性要求 " -->
						<div class="form-group">
							<label for="pwdcomplex" class="control-label"><span translate="securityMng.pwdComplexRequrie"></span></label>
						    <div class="input-group">
								<select-input class="" options="levels.options" bind-model="model.complex" input-id="pwdcomplex" input-name="pwdcomplex"> </select-input>
							</div>
							</div>
						<!-- 密码有效期-->
			            <div class="form-group" ng-class="{'has-error' : (form.pwdValidTime.$invalid)}">
							<label for="pwdValidTime" class="control-label">
								<span translate="securityMng.pwdInvalidTime"></span></span><span style="color: red">*</span>
							</label>
							<div ng-if="initParam.securityMode != 1" class="input-group" style="width:300px;">
						        <input id="pwdValidTime" name="pwdValidTime" type="text" class="spinner-input" ng-model='model.pwdValidTime' spinner spinner-min=0 spinner-max=365  checkint required>
						        <span class="input-group-addon last-child-angle unit-addon" translate="paramconfig.day"></span>
						        <span class="input-group-addon help-addon" ng-messages="form.pwdValidTime.$error">
		                       		<span ng-if="form.pwdValidTime.$valid">
		                           		<span class="icon-help-gray" tooltip-placement="right" tooltip="{{'securityMng.pwdTimeRange' | translate}}"></span>
		                       		</span>
		                       		<span ng-if="form.pwdValidTime.$invalid || form.pwdValidTime.$dirty">
		                           		<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                       			<span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
		                       			<span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}365"></span></span>
				                        <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}0"></span></span>
		                       		</span>
		                   		</span>
						         	<!-- <span class="input-group-addon help-addon">
                      				  	<span>
                          				  	<span class="icon-help-gray" tooltip-placement="right" tooltip="{{'securityMng.pwdTimeRange' | translate}}"></span>
                      				  	</span>
                  				 	</span> -->
						        </div>
						        
						       <div ng-if="initParam.securityMode == 1" class="input-group" style="width:300px;">
						        <input id="pwdValidTime" name="pwdValidTime" type="text" class="spinner-input" ng-model='model.pwdValidTime' spinner spinner-min=1 spinner-max=7  checkint required>
						        <span class="input-group-addon last-child-angle unit-addon" translate="paramconfig.day"></span>
						        <span class="input-group-addon help-addon" ng-messages="form.pwdValidTime.$error">
		                       		<span ng-if="form.pwdValidTime.$valid">
		                           		<span class="icon-help-gray" tooltip-placement="right" tooltip="{{'securityMng.secPwdTimeRange' | translate}}"></span>
		                       		</span>
		                       		<span ng-if="form.pwdValidTime.$invalid || form.pwdValidTime.$dirty">
		                           		<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                       			<span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
		                       			<span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}7"></span></span>
				                        <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}1"></span></span>
		                       		</span>
		                   		</span>
						        </div>
						</div>
						<div has-permission="PWD_MANAGE" class="form-group text-right">
							<div  style="text-align: left;margin-left:210px">
							  	<label ng-if="form.$invalid || (initParam.securityMode == 1 && (model.complex == 0 || model.complex == 2))" id="saveLabel" class="btn btn-default btn-menu btn-forbidden" >
									<span class="sm-icon icon-save"></span><span class="ng-scope" translate="common.save"></span>
							  	</label>
								<label ng-if="!form.$invalid && !(initParam.securityMode == 1 && (model.complex == 0 || model.complex == 2))" id="saveLabel" class="btn btn-default btn-menu" ng-click="savePwdStrategy(form)">
									<span class="sm-icon icon-save"></span><span class="ng-scope" translate="common.save"></span>
							  	</label>
							</div> 
						</div>
					</fieldset>
				</form>				
			</div>

	</div>
</div>