<!-- 安全管理大面板 -->
<div class="panel cas-panel" ng-controller="systemCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
		    <li><a ui-sref='main.systemMng' ><span translate="systemMng.systemMng"></span></a></li>
			<li class="active" translate="securityMng.securityMng"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/sysMgmt')"></span>
	</div>
	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      <span class="pic">
		      	 <img alt="" src="css/img/gray/Icon_security_manage_16x16.svg">
		      </span>
		      <span class='desc'><span translate="securityMng.securityMng"></span><span translate="securityMng.securityMngHead"></span></span>
		    </div>
	    </div>
	    <div class="panel-body" style="height: 170px;">
	    	<!-- 密码策略 -->
			<div class="dashboard-box" ng-if="showPwdMng==true">
				<a ui-sref='main.pwdStrategy'> 
					<span class="custom-picture" ><img src="css/img/gray/Icon_security_pwd_strategy_16x16.svg"></span>
					<span class="box-title" text="{{'operator.operatorMgr'|translate}}"><span translate="securityMng.passwordStrategy"></span></span>
				</a>
			</div>
			
			<!-- 访问控制策略 -->
			<div class="dashboard-box" ng-if="showAccessStrategyMgr==true">
				<a ui-sref='main.accessStrategy'> 
					<span class="custom-picture" ><img src="css/img/gray/Icon_security_access_strategy_16x16.svg"></span>
					<span class="box-title" text="{{'operator.opertorGrp'|translate}}"><span translate="securityMng.accessStrategy"></span></span>
				</a>
			</div>			
		</div>
	</div>	
</div>