.pusherChat {
	position: fixed;
	right: 0;
	bottom: 0;
	font-family: Arial, Helvetica, Garuda, sans-serif;
	font-size: 12px;
	color: #515151;
	width: 100%;
	z-index: 9999;
}

.pusherChat #membersContent {
	position: absolute;
	right: 10px;
	bottom: -2px;
	width: 200px;
	padding: 2px;
	color: white;
}

.pusherChat #membersContent a {
	position: relative;
	background: #fff;
	color: #515151;
	padding: 2px 0px;
	display: block;
	border-bottom: 1px solid #eee;
	width: available;
	text-decoration: none;
	padding: 2px 4px;
	height: 28px;
	line-height: 28px;
	text-indent: 10px;
	font-size: 12px;
}

.pusherChat #membersContent a.off {
	opacity: 0.5;
	background: #eee;
}

.pusherChat #membersContent a:hover {
	background: #00B4FF;
	color: #fff
}

.pusherChat #membersContent h2 {
	font-size: 12px;
	line-height: 0;
	text-indent: 10px;
}

.pusherChat #membersContent .scroll {
	overflow-y: auto;
	background: white;
}

.pusherChat #expand, .pusherChat .expand {
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	right: 10px;
	top: 0px;
	cursor: pointer;
}

.pusherChat #expand .open, .pusherChat .pusherChatBox .expand .open {
	display: none;
}

.pusherChat .pusherChatBox .expand {
	right: 20px
}

.pusherChat #membersContent a img {
	width: 25px;
	height: 25px;
	margin: 2px 0 0 0;
	outline: 1px solid #eee;
	border: none;
}

.pusherChat .pusherChatBox {
	color: white;
	width: 250px;
	padding: 1px;
	position: relative;
	bottom: 0px;
}

.pusherChat .pusherChatBox textarea {
	color: black;
	overflow: auto;
	resize: none;
	width: 244px;
	height: 60px;
	margin: 4px 0px 2px 0px;
	font-size: 12px;
	font-family: Arial, Helvetica, Garuda, sans-serif;
	border: 1px solid #2C4D6C;
}

.pusherChat .pusherChatBox .logMsg {
	word-break: break-all;
	width: 248px;
	background: #fff;
	height: 250px;
	margin: 35px 0px 0px 1px;
	overflow: hidden;
	position: relaive;
	overflow-y: auto;
}

.pusherChat .pusherChatBox h2 {
	margin: 0;
	padding: 0;
	display: block;
	font-size: 12px;
	padding-top: 1px;
	padding-bottom: 2px
}

.pusherChat .pusherChatBox h2 img {
	z-index: 100;
	position: relative;
	border: 1px solid #ccc;
	margin-right: 4px;
	margin-bottom: -16px;
	margin-left: 1px;
}

.pusherChat .pusherChatBox .closeBox {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	right: 5px;
	top: 0px;
	cursor: pointer;
}

.pusherChat .pusherChatBox h2  a {
	text-decoration: none;
	color: inherit
}

.pusherChat .pusherChatBox .state {
	position: absolute;
	left: 25px;
    top: 4px;
	z-index: 101
}

.pusherChat .pusherChatBox .state .quote, .pusherChat .pusherChatBox .state .pencil
	{
	display: none
}

.pusherChat .pusherChatBox .msgTxt {
	padding: 0px;
	font-size: 12px;
	line-height: normal
	color: black;
}

.pusherChat .pusherChatBox .msgTxt p {
	line-height: 16px;
	padding: 1px 3px 1px 3px;
	margin: 3px 0px 0px 0px;
	border-bottom: 1px solid #eee
}

.pusherChatBox .boxHeader {
	height:20px;
}

.pusherChatBox .boxHeader .headerBottom {
	display: inline-block;
	width: 248px;
	background-color: #EAEAEA;
	height: 35px;
	margin:1px;
	border-bottom: 1px #DADADA solid;
}

.pusherChatBox .boxHeader .headerBottom .imgFriend {
	margin: 4px;
	width: 25px;
	height: 25px;
	display: inline-block;
	float: left;
	background:white;
}

.pusherChatBox .boxHeader .headerBottom .userName {
    display: inline-block;
    padding-top: 10px;
    font-size: 12px;
    float: left;
    color: black;
}

.pusherChatBox .msgTxt .time{
    float: right;
    color: black !important;
    font-weight: normal;
}
.pusherChatBox .slider textarea {
    line-height: normal;
    box-sizing: content-box !important;
    padding: 2px;
}

.pusherChat .pusherChatBox .msgTxt p.you b {
	color: #00B4FF
}

.pusherChat .pusherChatBox .msgTxt p.friend b {
	color: #000
}

.pusherChat .pusherChatBox.off {
	background-color: #ccc;
}

.pusherChat .pusherChatBox.off h2 img {
	opacity: 0.6
}

.pusherChat .pusherChatBox.writing .state .pencil {
	display: block
}

@-webkit-keyframes usertwinkling{
  0% {
      opacity: 0.5; 
      background-color:gray;
  }
  100% {
      opacity: 1; 
  }
}

@keyframes usertwinkling{
  0% {
      opacity: 0.5; 
      background-color:gray;
  }
  100% {
      opacity: 1; 
  }
}

@-webkit-keyframes headtwinkling{
  0% {
      opacity: 0.2; 
  }
  100% {
      opacity: 1; 
  }
}

@keyframes headtwinkling{
  0% {
      opacity: 0.2; 
  }
  100% {
      opacity: 1; 
  }
}

@-webkit-keyframes headtwinkling2{
  0% {
      background-color:gray;
  }
  100% {
  }
}

@keyframes headtwinkling2{
  0% {
      background-color:gray;
  }
  100% {
  }
}

#SideNav .headtwinkling {
    -webkit-animation: headtwinkling 1s infinite ease-in-out; 
	-webkit-animation-iteration-count: infinite;
	animation: headtwinkling 1s infinite ease-in-out;
	animation-iteration-count: infinite;
}

.pusherChat .headtwinkling2 {
    -webkit-animation: headtwinkling2 1s infinite ease-in-out; 
	-webkit-animation-iteration-count: infinite;
	animation: headtwinkling2 1s infinite ease-in-out;
	animation-iteration-count: infinite;
}

#members-list .usertwinkling {
    -webkit-animation: usertwinkling 1s infinite ease-in-out; 
	-webkit-animation-iteration-count: infinite;
	animation: usertwinkling 1s infinite ease-in-out;
	animation-iteration-count: infinite;
}

.pusherChat .chatBoxWrap {
	float: left;
	position: relative
}

.pusherChat .chatBoxWrap .pusherChatBox {
	margin-right: 10px;
	position: absolute
}

#templateChatBox {
	display: none
}

.pusherChat .chatBoxslide {
	float: right;
	position: relative;
}

.pusherChat .overFlow {
	top: 9000px !important
}

.pusherChat .chatBoxWrap #slideLeft, .pusherChat .chatBoxWrap #slideRight
	{
	display: none;
	position: absolute;
	font-size: 18px;
	top: -24px;
	cursor: pointer;
	color: #00B4FF
}

.pusherChat .chatBoxWrap #slideLeft img, .pusherChat .chatBoxWrap #slideRight img
	{
	display: none
}

.pusherChat .chatBoxWrap #slideLeft.on img, .pusherChat .chatBoxWrap #slideRight.on img
	{
	display: block
}

.pusherChat .chatBoxWrap #slideLeft {
	left: 10px;
}

.pusherChat .chatBoxWrap #slideRight {
	right: -5px
}

.pusherChat .chatBoxWrap  .overFlowHide {
	display: none !important;
}

.msgTxt p {
	font-size: 12px;
}

#SideNav {
	position: fixed;
	right: 0;
	bottom: 400px;
	z-index: 998;
}

#SideNav .sideLink {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 98;
}

#SideNav .sideLink img {
	cursor: pointer;
}

#SideNav .SideSubmit {
	background: rgba(0, 0, 0, 0) no-repeat scroll 0 0;
	position: absolute;
	top: 0;
	z-index: 98;
}

#SideNav .sideLink div {
	font-size: 14px;
    color: #3397D3;
    text-indent: 2px;
}

.pusherChat #members-list .realName{
	white-space:nowrap; 
	width:120px; 
	overflow:hidden; 
	text-overflow:ellipsis;
	line-height:16px;
	display: inline-block;
    position: relative;
    top: -6px;
}
.pusherChatBox .userName {
	margin-top: 2px;
	margin-left: 10px;
    display: inline-block;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 16px;
}
.pusherChat #members-list .notreadnum {
    display: inline-block;
    left: 31px;
    position: absolute;
    top: 1px;
    background: #bf1031 none repeat scroll 0 0;
    border: 1px solid #b11331;
    border-radius: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}