/*下拉*/
#dropdown-content {
	width: 110px !important;
	padding: 0px !important;
}
#dropdown-content .menu-item {
	color: #FFFFFF !important;
	cursor: pointer !important;
	/* display: inline-block !important; */
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Helvetica, Arial,
		sans-serif !important;
	font-size: 12px !important;
	margin: 0 auto !important;
	padding: 0 !important;
	width: 110px !important;
	height: 25px !important;
}

#dropdown-content .menu-active {
	border-radius: 0px !important;
}

#dropdown-content .menu-text {
	margin: 0 auto !important;
	padding-left: 25px !important;
	width: 110px !important;
}

.graph-actions .icon-btn .text,.graph-actions .icon-btn-forbidden .text
	{
	color: #FFFFFF;
	display: none;
	height: 24px;
	left: 58px;
	line-height: 22px;
	padding: 10px;
	position: absolute;
	top: 0px;
	width: 100px;
}
.description dl dt {
	width: 90px;
}