/*黑色#262626 #1d1d1d*/
.page-intro {
	background: none repeat scroll 0 0 #FFFFFF;
}
/*左侧菜单栏start*/
#menuframe,.colorpick{
	background: none repeat scroll 0 0 #262626;/*左侧菜单栏*/
}

/*左侧菜单栏start*/
.navigation-permission {
	border-top: 1px solid #262626;
}
.navigation-permission h5 {
	color: #FFF;
}
.navigation-permission ul li:hover,.navigation-permission ul li.current{
	background: none repeat scroll 0 0 #1d1d1d;/*菜单hover，和选中*/
}
#user-name a {
	color: #EEE;/*用户名*/
}
#user-links ,.navigation-permission ul li{
	border-top: 1px solid #1d1d1d;/*菜单分割线*/
}
.navigation-permission ul li.item-last{
	border-bottom: 1px solid #1d1d1d;
}
/* 首页样式start*/
.page{
	background: none repeat scroll 0 0 #ddd;
}
/* 弹出窗口头部的样式 */
.window-header {
  background: #262626 !important;
  padding: 0px 0px 6px 0px;
}

/* 弹出窗口的title的颜色。*/
.panel-title{
	font-size: 14px;
	height:25px;
	line-height: 30px;
	color:#FFFFFF;
	margin-left:3px;
}
/* panel 内容样式，背景为白色，字体颜色为样式颜色。  */
.window-body {
  background-color: #FFF;
  color: #262626;
  font-size: 12px;
}
/* 确认对话框按钮。 */
.messager-button  a.l-btn{
	background: none repeat scroll 0 0 #FFFFFF !important;
	border-color: #262626 !important;/*按钮框*/
	border-style: solid !important;
	border-width: 1px !important;
	color:#262626 !important;/*按钮字*/
}

/* 按钮start*/
.btn,.btn-primary,#upload  {
	background: none repeat scroll 0 0 #FFFFFF !important;
	border-color: #262626 !important;/*按钮框*/
	border-style: solid !important;
	border-width: 1px !important;
	color:#262626 !important;/*按钮字*/
}
.btn.btn-forbidden,.btn.btn-forbidden:hover {
	background: none repeat scroll 0 0 #FFFFFF !important;
	border-color: #BFBFBF !important;
	color:#CCCCCC !important;
	opacity:1;
    filter:alpha(opacity=100);
}
.btn:hover,#dropdown-content .menu-active,#upload:hover {
   opacity:0.9;
   filter:alpha(opacity=90);
}
#dropdown-content .menu-item {
	background: none repeat scroll 0 0 #262626 !important;/*更多按钮*/
	border-color: #262626 !important;
	border-style: none none solid !important;
	border-width: 0px !important;
}

.searchbox {
	border-color: #262626 !important;
}
/*标签*/
.tabs li a.tabs-inner {
	background: none repeat scroll 0 0 #BFBFBF;
}
.tabs li.tabs-selected a.tabs-inner {
	border: 0 0 12px 0 solid #FFFFFF;
	background: #262626 none repeat scroll 0 0 ;
}
.tab-item {
	background: none repeat scroll 0 0 #BFBFBF;
	border-color: #BFBFBF;
}
.tab-item.current {
    background: none repeat scroll 0 0 #262626;
}
/*模态标题*/
.modal-header {
	background: none repeat scroll 0 0 #262626;
}
.view-types .view-type.current {
	color: #FFFFFF;
}
/*图形toolbar的颜色*/
.graph-actions .icon-btn,.graph-actions .icon-btn-forbidden {
	background: none repeat scroll 0 0 #000;/*详情图形*/
	border-bottom: 1px solid #000;/*详情图形按钮分割线*/
	border-top: 1px solid #000;
	opacity:0.9;
    filter:alpha(opacity=90);
}
.graph-actions .icon-btn .text,.graph-actions .icon-btn-forbidden .text
{
	background: none repeat scroll 0 0 #000;/*详情图形*/
	opacity:0.9;
    filter:alpha(opacity=90);
}
.graph-actions .icon-btn-danger {
	background: none repeat scroll 0 0 #F9382E;
	border-bottom: 1px solid #F9382E;
}
.basic-inner .title,.detail-item .title,.detail-item .title .dropdown,.monitor .title{
	background: none repeat scroll 0 0 #FFFFFF;
}
.datagrid-header-inner {
	background-color: #FFFFFF;
}
.easyui-combobox,select,input, .spinner ,.combo,.controls input[type="text"],.controls input[type="password"],.controls textarea, .cloudsafety .controls input[type="text"],
.cloudsafety .controls textarea,.cloudsafety .controls select{
	background:#fafdfe;  
    line-height:28px;  
    border:1px solid #262626;  
    -moz-border-radius:0px;  
    -webkit-border-radius:0px;  
    border-radius:0px; 
}
.wizard-nav {
}
/*datagrid 选中背景*/
.datagrid-row-selected {
	background: #555;
	color: #fff;
}
 /**下拉图标*/
 a.m-btn-plain-active .m-btn-downarrow{
	background: url('../icons/default/more-pic-black.png') no-repeat 2px center;
}
.page-intro h1 {
    color: #262626;
    font-weight: normal;
    font-size: 18px;
}

a {
    color: #1d1d1d;
    display: block;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

#SideNav .sideLink div {
    font-size: 14px;
    color: #262626;
    text-indent: 2px;
}

.datagrid .panel-header .panel-title{
    font-size: 18px;
    color: #262626;
    font-weight: normal;
}

.datagrid-header{
  border-color: #262626;
}

.datagrid-row-over,
.datagrid-header td.datagrid-header-over {
  background: #e6e6e6;
  color: #1d1d1d;
  cursor: default;
}

.alert-info {
    background: none repeat scroll 0 0 #D9EDF7;
    border-color: #C6E4F3;
    color: #262626;
}

.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_today {
    color: #1d1d1d;
}

.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current{
    background: #262626;
    box-shadow: #262626 0px 1px 3px 0px inset;
    color:#fff;
    font-weight: 700;
}

.xdsoft_datetimepicker  .xdsoft_calendar td:hover,
.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_time_box >div >div:hover{
    color: #1d1d1d !important;
    background: #e6e6e6 !important;
    box-shadow: none !important;
}

.detail-item .title h3 {
    color: #262626;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    line-height: 40px;
}

.basic-inner .title {
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    padding: 30px 0px 10px;
    width: 300px;
    color: #262626;
    border-bottom: 2px solid #262626;
}

.monitor .title h3 {
    font-size: 16px;
    line-height: 40px;
    color: #262626;
    display: inline-block;
    margin: 0;
}

.combobox-item-hover {
    background-color: #e6e6e6;
    color: #1d1d1d;
}
.combobox-item-selected {
    background-color: #262626;
    color: #fff;
}

.accordion .accordion-header-selected {
    background: #262626;
}

.wizard-nav li.current span hr {
    background: none repeat scroll 0 0 #262626;
}

.spinner-arrow-up {
    background: url('img/black/spinner_arrows.png') no-repeat 1px center;
}
.spinner-arrow-down {
    background: url('img/black/spinner_arrows.png') no-repeat -15px center;
}

.combo-clear {  
    background-color: #E0ECFF;  
    width: 18px;  
    height: 20px;  
    overflow: hidden;  
    display: inline-block;  
    vertical-align: middle;  
    cursor: pointer;  
    opacity: 0.6;  
    filter: alpha(opacity=60);  
    background: url('img/black/combo_clear.png') no-repeat center center;
}

.combo-arrow {
    background: url('img/black/combo_arrow.png') no-repeat center center;
}

.wizard-nav li.current span {
    background: url('img/black/xuanzhong.png');
    color: #FFFFFF;
}

.wizard-nav li.current {
    color: #262626;
}

.icon-text-select:before {
    content: url('img/black/text-select.png');
}

.icon-graph-select:before {
    content: url('img/black/graph-select.png');
}

.icon-goback-select:before {
    content: url('img/black/goback0.png');
}

.pagination-first {
    background: url('img/black/pagination_icons.png') no-repeat 0 center;
}
.pagination-prev {
    background: url('img/black/pagination_icons.png') no-repeat -16px center;
}
.pagination-next {
    background: url('img/black/pagination_icons.png') no-repeat -32px center;
}
.pagination-last {
    background: url('img/black/pagination_icons.png') no-repeat -48px center;
}
.pagination-load {
    background: url('img/black/pagination_icons.png') no-repeat -64px center;
}

.datagrid-row-collapse {
    background: url('img/black/datagrid_icons.png') no-repeat -48px center;
}
.datagrid-row-expand {
    background: url('img/black/datagrid_icons.png') no-repeat -32px center;
}

input:focus, select:focus, textarea:focus, .controls input[type="text"]:focus, .controls input[type="password"]:focus, .controls textarea:focus {
    border: #1d1d1d 1px solid;
}

/*不换*/
.run-instances .illustrate h4{
	color:#262626;
}
.pusherChat .pusherChatBox {
	background-color: #262626;
}
.pusherChat #membersContent {
	background-color: #262626;
}