/*公用样式*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,em,img,dl,dt,dd,ol,ul,li,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,input,select,option,hr,textarea,a
	{
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Helvetica, Arial,
		sans-serif;
}

.wrong-word-color {
	color: red !important;
}

.wrong-border {
	border: red 2px solid !important;
}

.tips {
	color: #777777;
	font-style: italic;
	margin-left: 30px;
	margin-bottom: 30px;
}

.alert-info {
	background: none repeat scroll 0 0 #D9EDF7;
	border-color: #C6E4F3;
	color: #3A87AD;
}

.wordIcon {
	display: inline-block;
	font-family: Entypo;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	width: 1em;
	margin: 0 10px 0 -10px;
}

.single-word-icon {
	display: inline-block;
	font-family: Entypo;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	width: 1em;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Microsoft Yahei", "微软雅黑", serif;
	color: #333333;
	font-size: 12px;
	line-height: 16px;
}

h1,h2,h3,h4,h5 {
	font-weight: 400;
	line-height: 1;
	margin: 4px 0;
}

h1 {
	font-size: 22px;
	line-height: 40px;
}

h5 {
	font-size: 16px;
	line-height: 20px;
}

h4 {
	font-size: 16px;
	line-height: 20px;
	padding: 8px;
}

p {
	color: #555555;
	font-size: 14px;
	line-height: 1.5;
	font-weight: normal;
	margin: 0;
}

ul,ol,ul li,ol li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: #3397D3;
	display: block;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
}

textarea,input[type="text"],input[type="combo"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{
	color: #555555;
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	padding: 7px 10px;
	vertical-align: middle;
}

img {
	border: 0px solid #262626; /*左侧菜单栏*/
}

.wrapper {
	height: 100%;
	overflow-y: auto;
}

.wrapper.adapter {
	margin: 20px;
	background: none repeat scroll 0 0 #FFF;
	height: auto;
	min-width: 1160px;
}

.wrapper.home {
	min-width: 1200px;
}

.page-intro {
	height: 100px;
	padding: 20px 30px;
	margin: 0 auto;
	min-width: 800px;
}

.page-intro h1 {
	color: #1F90C8;
	font-weight: normal;
	font-size: 18px;
}

/*所有图片img设置为自适应大小*/
img.icon {
	width: 100%;
	height: 100%;
	display: block;
}

.chart .labels .req_c,.chart .labels .rsp_c,.chart .labels .l_rsp_c_4,.chart .labels .l_rsp_c_5,.chart .labels .b_rsp_c_1,.chart .labels .b_rsp_c_2,.chart .labels .b_rsp_c_3,.chart .labels .b_rsp_c_4,.chart .labels .b_rsp_c_5,.chart .labels .rsp_c_1,.chart .labels .rsp_c_2,.chart .labels .rsp_c_3,.chart .labels .rsp_c_4,.chart .labels .rsp_c_5,.chart .labels .lat_max,.chart .labels .lat_min,.chart .labels .lat_avg,.chart .labels .s_max,.chart .labels .s_lim,.chart .labels .s_avg,.chart .labels .l_s_c,.chart .labels .b_s_c,.chart .labels .inbound,.chart .labels .outbound,.chart .labels .cpu,.chart .labels .memory,.chart .labels .read,.chart .labels .write
	{
	border-radius: 25px 25px 25px 25px;
	display: inline-block;
	height: 10px;
	margin: 0 5px;
	width: 10px;
}

.navigation-permission h5 {
	margin: 0px 0px 18px 30px;
	width: 200px;
	font-size: 18px;
}

.navigation-permission h5.second{
	margin: 32px 0px 18px 30px;
	width: 200px;
	font-size: 18px;
}

.navigation-permission ul li a {
	color: #EEEEEE;
	display: block;
	font-size: 16px;
	padding: 16px 10px 16px 40px;
	text-decoration: none;
	height: 16px;
	width: 180px;
	cursor: pointer;
	filter: alpha(opacity =   50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.navigation-permission ul li:hover a,.navigation-permission ul li.current a
	{
	filter: alpha(opacity =   100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.navigation-permission ul li span {
	height: 24px;
	width: 24px;
	margin: -10px 20px -10px 0px;
	display: inline-block;
	position: relative;
	top: -4px;
}

/*头像60*60*/
#portrait {
	height: 60px;
	width: 60px;
	margin: 35px auto 0px;
}

#user-name a {
	width: 120px;
	margin: 12px auto 12px;
	text-decoration: none;
	font-family: "Microsoft Yahei", "微软雅黑", serif;
	color: #969696;
	font-size: 20px;
	text-align: center;
	line-height:1.1;
	height : 26px;
}
/*名称下面的工具栏*/
#user-links {
	width: 200px;
	height: 90px;
	margin: 0px auto;
	position: relative;
	padding: 0px 14px;
}

.icon-small {
	float: left;
	height: 36px;
	width: 36px;
	margin: 10px 0px 0px 24px;
	display: inline-block;
	cursor: pointer;
}
/*左侧菜单栏end*/
/* 首页样式start*/
.status-bar {
	position: relative;
	padding: 30px 0px 25px;
}

.status-back {
	width: 100%;
}

.operation-table {
	float: left;
	margin: 25px 15px auto 20px;
}

.warnings-table {
	float: left;
	margin: 25px auto auto 10px;
}

.status { /*float: left; remove by w10456 2014-07-10*/
	width: 270px;
	height: 143px;
	margin-left: 20px;
	display: inline-block;
	/*cursor: pointer; removed by z14580 2017-07-03 for solve 201706120658  */
}

.status-instance {
	background: url("../icons/default/instancesback.png");
}

.status-start {
	background: url("../icons/default/startback.png");
}

.status-close {
	background: url("../icons/default/closeback.png");
}

.status-error {
	background: url("../icons/default/errorback.png");
}

.status-num {
	font-family: Arial, sans-serif;
	font-size: 75px;
	height: 75px;
	line-height: 75px;
	margin: -85px 0 0 150px;
	text-align: center;
	width: 100px;
}

.status-pic {
	margin: 35px 35px;
	width: 50px;
	height: 50px;
}

.status-name {
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Helvetica, Arial,
		sans-serif;
	font-size: 20px;
	height: 50px;
	line-height: 20px;
	margin: -15px 0 0 -150px;
	text-align: center;
	width: auto;
}
/* 首页样式end*/

/*云主机样式start*/
#toolbar {
	border: 0px solid #ddd;
	padding: 10px 30px;
	min-width: 800px;
}

#toolbarTip {
	padding: 0 0 0 20px;
	width: 275px;
}

.btn {
	color: #FFFFFF !important;
	cursor: pointer !important;
	display: inline-block;
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Helvetica, Arial,
		sans-serif !important;
	font-size: 14px !important;
	margin: 0 3px 0 0 !important;
	padding: 0 16px !important;
	text-align: center !important;
	vertical-align: middle !important;
	width: 80px;
	height: 30px !important;
}

.btn-primary {
	height: 30px;
}

.btn.btn-forbidden {
	cursor: no-drop !important;
	color: #FFFFFF !important;
	cursor: no-drop !important;
}

.btn.linkbtn {
	line-height: 30px;
	height: 30px;
}

a.l-btn span span.l-btn-text {
	display: inline-block;
	font-size: 14px;
	height: 16px;
	line-height: 12px;
	margin: 0;
	padding: 0;
	position: relative;
	top: 6px;
	vertical-align: top;
	width: auto;
}

.searchbox {
	height: 26px !important;
	padding: 2px !important;
	vertical-align: middle !important;
	width: 180px !important;
	/*border-radius: 25px 25px 25px 25px !important;*/
	border-width: 1px !important;
}
/*工具栏end*/
.tabs {
	border-style: solid;
	border-width: 0;
	height: 26px;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 100px;
	width: 5000px;
}

.tabs li a.tabs-inner {
	border-color: transparent;
	color: #F2F2F2;
	filter: none;
}

.tabs li a.tabs-inner {
	border-radius: 0;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	height: 25px;
	width: 80px;
	line-height: 25px;
	margin: 0;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

.tabs li.tabs-selected a.tabs-inner {
	color: #F2F2F2;
	font-weight: normal;
	outline: medium none;
}

span#pretitle {
	font-size: 16px !important;
	position: absolute;
	top: 222px;
	left: 42px;
}
/*tab内容end（表格样式未完成）*/
/*模态窗口样式*/
.window-overlay {
	background: -moz-radial-gradient(center center, ellipse farthest-corner, transparent
		0pt, rgba(0, 0, 0, 0.65) 100% ) repeat scroll 0 0 transparent;
	background: -ms-radial-gradient(center center, ellipse farthest-corner, transparent
		0pt, rgba(0, 0, 0, 0.65) 100% ) repeat scroll 0 0 transparent;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0,
		rgba(0, 0, 0, .65) 100% );
	display: none;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 101;
}

.window-overlaynew {
	background: -moz-radial-gradient(center center, ellipse farthest-corner, transparent
		0pt, rgba(0, 0, 0, 0.65) 100% ) repeat scroll 0 0 transparent;
	background: -ms-radial-gradient(center center, ellipse farthest-corner, transparent
		0pt, rgba(0, 0, 0, 0.65) 100% ) repeat scroll 0 0 transparent;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0,
		rgba(0, 0, 0, .65) 100% );
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 101;
}

.transparent_class {
	filter: alpha(opacity =   50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.modal {
	background: none repeat scroll 0 0 #FFFFFF;
	width: 1000px;
	min-height: 150px;
	position: relative;
	z-index: 1000;
	top: 10%;
	margin: auto;
	filter: progid : DXImageTransform.Microsoft.Shadow ( color = '#969696',
		Direction = 135, Strength = 5 ); /*for ie6,7,8*/
	-moz-box-shadow: 2px 2px 5px #969696; /*firefox*/
	-webkit-box-shadow: 2px 2px 5px #969696; /*webkit*/
	box-shadow: 2px 2px 5px #969696; /*opera或ie9*/
}

.modal-header {
	color: #FFFFFF;
	font-size: 20px;
	overflow: hidden;
	padding: 0px 10px;
	position: relative;
	height: 34px;
}

.modal-header h5 {
	margin: 7px 0;
}

.modal-header #modal-close {
	cursor: pointer;
	float: right;
	height: 10px;
	left: -15px;
	position: relative;
	top: -22px;
	width: 10px
}

.modal-header #modal-close .single-word-icon {
	color: #ddd;
}

.modal-header #modal-close .single-word-icon:hover {
	color: #fff;
}

.modal-header h4 {
	margin-top: 2px;
	margin-bottom: 2px;
}

.run-instances {
	background: none repeat scroll 0 0 #FFF;
	overflow: hidden;
}

.wizard {
	border-right: 1px solid #DDD;
	float: left;
}

.wizard-nav {
	padding: 20px 13px;
	height: 55px;
	font-size: 14px;
}

.wizard-nav li {
	display: inline-block;
	text-align: center;
	width: 24%;
	float: left;
	position: relative;
}

.wizard-nav li.current {
	color: #3397D3;
}

.wizard-content {
	overflow: hidden;
	position: relative;
	background: none repeat scroll 0 0 #FFF;
}

.wizard-content .steps {
	left: 0;
	position: absolute;
	top: 0;
	width: 9000px;
	height: 460px;
}

.wizard-content .step {
	float: left;
}

.wizard-content .step-inner {
	background: none repeat scroll 0 0 #FFFFFF;
	height: 350px;
	overflow: auto;
	padding: 10px 30px;
}

.wizard-content .step-action {
	background: none repeat scroll 0 0 #FFF;
	border-top: 1px solid #EEEEEE;
	overflow: hidden;
	padding: 5px 30px;
}

.tab-item {
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Helvetica, Arial,
		sans-serif;
	font-size: 16px;
	margin: 0 3px 0 0;
	padding: 10px 16px;
	text-align: center;
	vertical-align: middle;
	line-height: 16px;
	width: 100px;
}

.wizard-content .step-action .btn-next,.wizard-content .step-action .btn-prev
	{
	height: 30px;
}

.wizard-content .step-action .btn-next,.wizard-content .step-action .btn-primary
	{
	float: right;
}

/*云主机样式end*/
/*云主机图形拓扑详情样式start*/
.topbar {
	overflow: hidden;
	height: 74px;
}

.topbar .breadcrumbs {
	float: left;
}

.view-types {
	color: #777777;
	float: left;
	margin-left: 800px;
}

.topbar a.level {
	color: #777777;
	display: inline-block;
	font-size: 18px;
	padding: 24px 0px 24px 30px;
	text-transform: uppercase;
}

.view-types .view-type {
	display: inline-block;
	padding: 20px 15px 24px 0;
	position: relative;
}

.view-types .title {
	display: inline-block;
	padding: 20px 20px 24px 0;
	position: relative;
	font-size: 16px;
	height: 30px;
	top: -10px;
}

.graph-wrapper {
	background: none repeat scroll 0 0 #FFFFFF;
	overflow: hidden;
	padding: 20px 50px 50px;
	position: relative;
}

.graph-title {
	line-height: 3em;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.grid_20 {
	width: 83.3333%;
}

.grid_16 {
	width: 60%;
}

.grid_16.details-tab {
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #CCC;
	height: auto;
	min-height: 700px;
	background: none repeat scroll 0 0 #FFFFFF;
}

.grid_16.graph {
	margin-left: 30px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	height: 700px;
	min-height: 700px;
	background: none repeat scroll 0 0 #FFFFFF;
}

.grid_8 {
	width: 33.3333%;
}

.grid_8.description {
	margin-left: 30px;
	border: 1px solid #CCC;
	width: 320px;
	height: auto;
	min-height: 700px;
	background: none repeat scroll 0 0 #FFFFFF;
}

.grid_8.graph-info {
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	height: 700px;
	min-height: 700px;
	background: none repeat scroll 0 0 #FFFFFF;
}

.grid_4 {
	width: 10.6667%;
}

[class ^="grid_"] {
	display: inline;
	float: left;
	margin-left: 0;
	margin-right: 0;
}

.graph-actions .icon-btn-forbidden {
	color: #777777 !important;;
	cursor: no-drop;
}

.graph-actions .icon-btn,.graph-actions .icon-btn-forbidden {
	color: #FFFFFF;
	display: block;
	padding: 10px 16px;
	position: relative;
	width: 24px;
}

#instance-detail [class ^="icon-"] {
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	width: 24px;
	height: 24px;
}

/* .graph-actions .icon-btn .text:before,.graph-actions .icon-btn-forbidden .text:before */
/* 	{ */
/* 	border-style: solid; */
/* 	border-width: 8px; */
/* 	content: ""; */
/* 	font-size: 0; */
/* 	height: 0; */
/* 	left: -16px; */
/* 	line-height: 0; */
/* 	position: absolute; */
/* 	top: 10px; */
/* } */
/*左侧工具栏end*/
/*结构图start*/
.components {
	text-align: center;
}

.component-instance-network img {
	margin: 0 auto;
}

.component-instance-link0 {
	width: 150px;
	height: 28px;
	margin: 0 auto;
}

.component-instance-link-left0 {
	float: left;
	width: 72px;
	height: 28px;
	border-right: 3px solid #3D3D3D;
}

.component-instance-link-right0 {
	float: left;
	width: 72px;
	height: 28px;
	border-left: 3px solid #3D3D3D;
}

.component-instance-link1 {
	width: 150px;
	height: 28px;
	margin: 0 auto;
}

.component-instance-link-left1 {
	float: left;
	width: 72px;
	height: 28px;
	border-right: 3px solid #3D3D3D;
	border-bottom: 6px dashed #3D3D3D;
}

.component-instance-link-right1 {
	float: left;
	width: 72px;
	height: 28px;
	border-left: 3px solid #3D3D3D;
	border-bottom: 6px dashed #3D3D3D;
}

.component-instance-link2 {
	width: 250px;
	height: 40px;
	margin: 0 auto;
}

.component-instance-link-left2 {
	float: left;
	width: 122px;
	height: 28px;
	border-right: 3px solid #3D3D3D;
	border-bottom: 6px solid #3D3D3D;
}

.component-instance-link-right2 {
	float: left;
	width: 122px;
	height: 28px;
	border-left: 3px solid #3D3D3D;
	border-bottom: 6px solid #3D3D3D;
}

.component-instance-link3 {
	width: 250px;
	height: 54px;
	margin: 0 auto;
}

.component-instance-link-left3 {
	float: left;
	width: 122px;
	height: 48px;
	border-right: 3px solid #3D3D3D;
	border-top: 6px solid #3D3D3D;
}

.component-instance-link-right3 {
	float: left;
	width: 122px;
	height: 48px;
	border-left: 3px solid #3D3D3D;
	border-top: 6px solid #3D3D3D;
}

.component-instance-link4 {
	width: 406px;
	height: 32px;
	margin: 0 auto;
}

.component-instance-link-left4 {
	float: left;
	width: 200px;
	height: 32px;
	border-right: 3px solid #3D3D3D;
	border-bottom: 6px solid #3D3D3D;
}

.component-instance-link-right4 {
	float: left;
	width: 200px;
	height: 32px;
	border-left: 3px solid #3D3D3D;
	border-bottom: 6px solid #3D3D3D;
}

.component-instance-link5 {
	width: 406px;
	height: 34px;
	margin: 0 auto;
}

.component-instance-link-left5 {
	float: left;
	width: 200px;
	height: 68px;
	/* 	border-right: 3px solid #3D3D3D; */
}

.component-instance-link-right5 {
	float: left;
	width: 200px;
	height: 68px;
	/* 	border-left: 3px solid #3D3D3D; */
}

.harddisk-link-left {
	float: left;
	width: 60px;
	height: 28px;
	border-right: 6px solid #3D3D3D;
}

.harddisk-link-left span {
	font-size: 60px;
	height: 16px;
	right: -33px;
	line-height: 16px;
	position: relative;
	top: 50px;
}

.component-instance-key {
	margin-top: 30px;
}

.bind-ip {
	margin: 0 auto;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px dashed #2E2E2E;
	color: #333333;
	width: 100px;
	padding: 4px 6px;
}

.left-top {
	position: relative;
	top: 0px;
	right: -100px;
	display: none;
	z-index: 3;
}
/*基本信息*/
.instance-basic {
	margin: 20px 20px 20px 0;
}

.basic-inner {
	background: none repeat scroll 0 0 #FFFFFF;
	padding: 20px 30px;
	font-size: 14px;
}

.basic-inner .title {
	font-size: 18px;
	line-height: 20px;
	display: inline-block;
	padding: 30px 0px 10px;
	width: 300px;
	color: #3397D3;
	border-bottom: 2px solid #3397D3;
}

.instance-basic table {
	background: none repeat scroll 0 0 #FFFFFF;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 15px 0;
	width: 300px;
}

.id,.ids,.rname {
	color: #1F90C8;
	display: inline-block;
	font-size: 14px;
	margin-right: 8px;
	vertical-align: top;
	word-wrap: break-word;
}

.graph-info .basic table.info td {
	color: #666;
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Helvetica, Arial,
		sans-serif;
	font-size: 16px;
	line-height: 34px;
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.graph-info .basic table.info tr td.second {
	width: 178px;
}

.graph-info .basic table.info tr {
	width: 300px;
	border-bottom: 1px solid #DDD;
}

@font-face {
	font-family: 'Entypo';
	src: url('../fonts/entypo.eot');
	src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/entypo.woff') format('woff'), url('../fonts/entypo.ttf')
		format('truetype'), url('../fonts/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*云主机图形拓扑详情样式end*/
/*云主机文字详情样式start*/
.detail-item {
	background: none repeat scroll 0 0 #FFFFFF;
	overflow: hidden;
	padding-left: 17px;
}

.detail-item .title {
	float: none;
}

.detail-item .title h3 {
	color: #3397D3;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	line-height: 40px;
}

.detail-item .title .dropdown {
	float: right;
	margin: 5px 5px 0 0;
	/* 	width: 30px; */
}

dl {
	margin-bottom: 32px;
}

dt,dd {
	line-height: 16px;
	min-height: 16px;
	color: #555555;
}

dt {
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Helvetica, Arial,
		sans-serif;
	font-size: 14px;
}

dd {
	
}

.dl-horizontal dt,.dl-horizontal dd {
	padding: 10px;
}

.shortcut {
	text-align: center;
	float: right;
	margin: 5px 5px auto auto;
}

.modal .shortcut ul li {
	margin: 3px auto 3px auto
}

/*云主机样式end*/
.dl-horizontal dt {
	clear: left;
	float: left;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 120px;
}

.dl-horizontal dd {
	border-bottom: 1px solid #EEEEEE;
	margin: 0;
	padding-left: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.description dl {
	margin: 0;
}

.description dl dd,.description dl dt {
	border-bottom: 0 none;
	line-height: 16px;
	padding: 8px 8px 8px 0;
}

.description dl dd {
	border-bottom: 1px solid #F3F3F3;
	margin: 3px 0;
	font-size: 14px;
}

.monitor .title h3 {
	font-size: 16px;
	line-height: 40px;
	color: #3397D3;
	display: inline-block;
	margin: 0;
}

.tab-content {
	background: none repeat scroll 0 0 #FFFFFF;
}

.tab-content .monitor .charts {
	margin: 0;
}

.tab-content .monitor .charts .chart {
	background: none repeat scroll 0 0 #FFFFFF;
	overflow: hidden;
	float: left;
	width: 42%;
	height: 300px;
	padding-left: 22px;
	padding-top: 22px;
	padding-right: 22px;
	border-top: 1px solid #EEE;
	border-right: 1px solid #EEE;
	position: relative;
}

.tab-content .monitor .charts .bigChart {
	background: none repeat scroll 0 0 #FFFFFF;
	overflow: hidden;
	float: left;
	height: 360px;
	padding-left: 22px;
	margin-left:40px;
	padding-top: 22px;
	padding-right: 22px;
	border: 1px solid #EEE;
	position: relative;
}

#diskUsageP,#netUsageP,#cpuUsageP,#memUsageP,#diskUsagePP,#netUsagePP {
	padding-left: 5px;
	color: #999;
	font-size: 12px;
	display: none;
}

.monitor .charts {
	background: none repeat scroll 0 0 #FFFFFF;
	margin: 0 20px;
	overflow: hidden;
}

.monitor .title {
	float: none;
	overflow: hidden;
	padding-left: 22px;
}

.chart .meter-title,.chart h3 {
	display: inline-block;
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Helvetica, Arial,
		sans-serif;
	line-height: 29px;
	margin-left: 0;
	margin-top: -8px;
	text-transform: uppercase;
}

.chart .tips {
	color: #777777;
	float: right;
	line-height: 29px;
	padding: 0 10px;
}

.chart .labels {
	color: #777777;
	overflow: hidden;
	position: absolute;
	bottom: 20px;
}

.chart .labels .clock-icon {
	width: 22px;
	height: 29px;
	display: inline-block;
	margin-left: 50px;
	position: relative;
	top: 7px;
}

.chart .labels .circle-icon {
	width: 13px;
	height: 13px;
	display: inline-block;
	margin-left: 40px;
	position: relative;
	top: 2px;
}

.chart .unit,.chart .step {
	font-style: normal;
	padding: 0 20px 0 10px;
	height: 29px;
	display: inline-block;
}

.chart .labels .cpu {
	background: none repeat scroll 0 0 #8CC9E7;
}

.chart .svg img,.chart .lineChart img {
	margin: 50px 0px 0px 120px
}

.chart .svg p,.chart .lineChart p {
	text-align: center;
	color: #CCC;
	font-size: 16px;
}

.bigChart .svg img,.bigChart .lineChart img {
	margin: 50px 0px 0px 120px;
}

.bigChart .svg p,.bigChart .lineChart p {
	text-align: center;
	color: #CCC;
	font-size: 16px;
}

span.unit {
	color: #777777;
	font-size: 12px;
	font-style: italic;
	padding: 0 8px;
}

.chart .toggle {
	float: right;
}

.toggle {
	background-color: #FFF;
	display: inline-block;
	height: 29px;
	margin: 0;
	overflow: hidden;
	transition: all 0.25s ease 0s;
}

input[type="radio"],input[type="checkbox"] {
	cursor: pointer;
	line-height: normal;
	margin: 4px 4px 0 0;
	box-sizing: border-box;
	padding: 0;
}

.toggle input {
	display: none;
	opacity: 0.01;
	outline: 0 none !important;
	position: absolute;
}

.toggle:before,.toggle:after {
	content: "";
	display: table;
}

.toggle:after {
	clear: both;
}

.toggle:before,.toggle:after {
	content: "";
	display: table;
}

.toggle.toggle-off {
	background-color: #FFF;
}

.toggle .toggle-radio {
	background: url("../icons/default/open-pic.png") no-repeat;
	color: #1ABC9C;
	display: block;
	font-weight: 700;
	height: 21px;
	padding: 5px 25px 3px;
	position: relative;
	text-align: center;
	transition: all 0.25s ease 0s;
}

.toggle .toggle-openmore {
	background: url("../icons/default/Icon_more_actions.svg") no-repeat;
	color: #1ABC9C;
	display: block;
	font-weight: 700;
	height: 21px;
	padding: 5px 9px 3px;
	position: relative;
	text-align: center;
	transition: all 0.25s ease 0s;
	cursor:pointer;
}

.toggle.toggle-off .toggle-radio {
	background: url("../icons/default/close-pic.png") no-repeat;
	color: #FFFFFF;
}

.toggle.toggle-off .toggle-radio:first-child { /*     left: -120%; */
	
}

.toggle .toggle-radio:first-child { /*     left: 0; */
	/*     margin-bottom: -29px; */
	
}
/*云主机文字详情样式end*/
.form-actions {
	border-top: 1px solid #FFF;
	padding: 10px 20px;
	background: #FFF;
}

.clear {
	clear: both;
}

/*环形进度条样式start*/
.grid-rect-1 {
	width: 200px;
	height: 200px;
	background: #FFF; /*浅绿*/
	position: relative;
	margin: 5px 0 0 57px
}

.green-rect { /* 	    background: #96C18E; 浅绿 */
	background: #FFF;
}

.yellow-rect { /* 	    background: #EFE4B0; 浅黄 */
	background: #FFF;
}

.red-rect { /* 	    background: #FFB5CD; 浅红 */
	background: #FFF;
}

.hold {
	width: 200px;
	height: 200px;
	position: absolute;
	z-index: 1;
}

.pie {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	position: absolute;
	background-color: #339933;
}

.pie1 {
	clip: rect(0px, 200px, 200px, 100px);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

.pie2 {
	clip: rect(0px, 100px, 200px, 0px);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.hold1 {
	clip: rect(0px, 200px, 200px, 100px);
}

.hold2 {
	clip: rect(0px, 100px, 200px, 0px);
}

.bg {
	width: 200px;
	height: 200px;
	background-color: #ddd; /*深绿*/
	border-radius: 100px;
	position: absolute;
}

.green-bg {
	background-color: #88CC67; /* 	   */
	/* 		background-color: #ddd; */
}

.yellow-bg {
	background-color: #FFAC2A; /*深黄 */
	/* 		background-color: #ddd; */
}

.red-bg {
	background-color: #FF3636; /*深红 */
	/* 		background-color: #ddd; */
}

.inner-pie {
	width: 156px;
	height: 156px;
	margin: 23px 0 0 23px;
	border-radius: 100px;
	position: absolute;
	z-index: 1;
	text-align: center;
	line-height: 110px;
	font-family: Arial, sans-serif;
	font-size: 44px;
}

.inner-pie #inner-pie {
	display: inline-block;
	padding-top: 25px;
}

.green-inner-pie,.yellow-inner-pie,.red-inner-pie {
	background-color: #FFF; /*中心颜色 */
}

.green-pie { /* 	    background-color: #96C18E;浅绿 */
	background-color: #EEE;
}

.yellow-pie { /* 	    background-color: #EFE4B0;浅黄 */
	background-color: #EEE;
}

.red-pie { /* 	    background-color: #FFB5CD;浅红 */
	background-color: #EEE;
}

.green-word {
	color: #88CC67; /*浅绿 */
}

.yellow-word {
	color: #FFAC2A; /*浅黄 */
}

.red-word {
	color: #FF3636; /*浅红 */
}
/*环形进度条样式end*/
<
style type ="text/css"> /*申请主机第二步*/ h6 {
	font-size: 12px;
	line-height: 20px;
}

.custom-instance-types .types-item .types-item-line,.types-item-cpu .types-item-line,.types-item-memory .types-item-line,.types-item-storage .types-item-line
	{
	diplay: inline-block;
	height: 3px;
	margin-top: 2px;
	background-color: #DDD;
}
/*类型*/
.custom-instance-types .types {
	margin: 0 auto 30px 0;
	overflow: hidden;
}

.custom-instance-types .cpu {
	margin: 0 auto 40px 0;
	overflow: hidden;
}

.custom-instance-types .memory {
	margin: 0 auto 40px 0;
	overflow: hidden;
}

.custom-instance-types .storage {
	margin: 0 auto 40px 0;
	overflow: hidden;
}

.custom-instance-types .types-item,.custom-instance-types .cpu .types-item-cpu,.custom-instance-types .memory .types-item-memory,.custom-instance-types .storage .types-item-storage
	{
	cursor: pointer;
	float: left;
	height: 40px;
	margin: 0;
	text-align: center;
	position: relative;
	diplay: inline-block;
}

.custom-instance-types .types  .types-item {
	width: 57px;
}

.custom-instance-types .types  .types-item .inner {
	height: 28px;
	background-color: #FFF;
}

.custom-instance-types .types .types-item:hover .inner,.custom-instance-types .types .types-item:hover .types-item-line
	{
	background-color: #99CBE9;
}

.custom-instance-types .types .types-item.selected .inner,.custom-instance-types .types .types-item.selected .types-item-line
	{
	background-color: #3397D3;
	color: #FFF;
}

.custom-instance-types .types .types-item .inner div#selected {
	margin: 0;
	padding-top: 3px; position：relative;
	diplay: inline-block;
}

.custom-instance-types .types .types-item.selected .inner div#selected {
	opacity: 1;
}

.custom-instance-types .types-item h6 {
	margin-top: 3px;
	text-align: center;
	font-weight: normal;
}

.custom-instance-types h5 {
	color: #3397D3;
	padding-bottom: 20px;
}
/* .custom-instance-types .types-item:hover, .custom-instance-types .types-item.selected { */
/*     opacity: 1; */
/* } */
/* .types .types-item#nth-child-1 .inner { */
/*     background-color: #B5CDE5; */
/* } */
/* .types .types-item#nth-child-2 .inner { */
/*     background-color: #8EB4E3; */
/* } */
/* .types .types-item#nth-child-3 .inner { */
/*     background-color: #7AA7DE; */
/* } */
/* .types .types-item#nth-child-4 .inner { */
/*     background-color: #669AD9; */
/* } */
/* .types .types-item#nth-child-5 .inner { */
/*     background-color: #588DD4; */
/* } */
/* .types .types-item#nth-child-6 .inner { */
/*     background-color: #518CD5; */
/* } */
/* .types .types-item#nth-child-7 .inner { */
/*     background-color: #3278CD; */
/* } */
/* .types .types-item#nth-child-8 .inner { */
/*     background-color: #2C67AF; */
/* } */
/* .types .types-item#nth-child-9 .inner { */
/*     background-color: #245591; */
/* } */
/* .custom-instance-types .options { */
/*     margin: 2px 0; */
/* } */
/*cpu选择*/
.custom-instance-types .cpu  .types-item-cpu.selected .cpu-options,.custom-instance-types .cpu  .types-item-cpu.selected .types-item-line
	{
	background: none repeat scroll 0 0 #8A71CD;
	color: #FFF;
}

.custom-instance-types .cpu  .types-item-cpu:hover .cpu-options,.custom-instance-types .cpu  .types-item-cpu:hover .types-item-line
	{
	background-color: #C4B8E6;
}

.custom-instance-types .memory  .types-item-memory.selected .memory-options,.custom-instance-types .memory  .types-item-memory.selected .types-item-line
	{
	background: none repeat scroll 0 0 #E87234;
	color: #FFF;
}

.custom-instance-types .memory  .types-item-memory:hover .memory-options,.custom-instance-types .memory  .types-item-memory:hover .types-item-line
	{
	background-color: #F2B999;
}

.custom-instance-types .storage  .types-item-storage.selected .storage-options,.custom-instance-types .storage  .types-item-storage.selected .types-item-line
	{
	background: none repeat scroll 0 0 #3397D3;
	color: #FFF;
}

.custom-instance-types .storage  .types-item-storage:hover .storage-options,.custom-instance-types .storage  .types-item-storage:hover .types-item-line
	{
	background-color: #99CBE9;
}

.hide-block{
	display:none;
}

.cpu-options {
	width: 133.75px;
}

.memory-options {
	width: 59.44px;
}

.storage-options {
	width: 89.16px;
}

.types-options {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	padding: 9px 0px;
	text-align: center;
}

.types-options.selected {
	background: none repeat scroll 0 0 #1F90C8;
	color: #FFFFFF;
}
/*申请主机第三步*/
.form .item {
	margin: 12px auto;
}

.run-instances .control-label {
	color: #666666;
	line-height: 41px;
}

.form-horizontal .control-label {
	float: left;
	font-size: 16px;
	line-height: 35px;
	text-align: right;
	vertical-align: middle;
	max-width: 160px;
	width: 140px;
	margin-right: 10px;
}

.form-horizontal .controls {
	min-height: 35px;
}

.form-horizontal .oneline {
	display:inline-block;
}
.controls input[type="password"],.controls input[type="text"],.controls textarea,.cloudsafety .controls input[type="text"],.cloudsafety .controls textarea
	{
	margin-right: 10px;
	vertical-align: middle;
	width: 246px;
}

.cloudsafety .controls select {
	margin-right: 10px;
	padding: 9px;
	vertical-align: middle;
	width: 280px;
	height: 40px;
}

.cloudsafety .controls input[type="checkbox"] {
	width: 18px;
	height: 20px;
}

.run-instances .controls textarea,.cloudsafety .controls textarea {
	resize: none;
}

input[type="radio"],input[type="checkbox"] {
	cursor: pointer;
	line-height: normal;
	margin: 4px 4px 0 0;
	padding: 0;
}

.run-instances .controls label.inline {
	display: inline-block;
	line-height: 35px;
	margin: 0;
	padding-right: 10px;
	vertical-align: middle;
	font-size: 14px;
}
/*右侧配置详情*/
.run-instances .illustrate {
	float: right;
	padding: 20px;
	width: 358px;
}

.illustrate .config-info {
	
}
/*person.jsp*/
#upload {
	font-size: 16px !important;
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Helvetica, Arial,
		sans-serif !important;
	text-align: center;
	color: #EEEEEE;
	width: 140px;
	cursor: pointer !important;
}

#upload {
	display: inline-block;
}

.darkbg {
	background: #ddd !important;
}

#status {
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Helvetica, Arial,
		sans-serif !important;
	padding: 5px;
}

ul#files {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul#files li {
	padding: 10px;
	margin-bottom: 2px;
	width: 200px;
	float: left;
	margin-right: 10px;
}

ul#files li img {
	max-width: 180px;
	max-height: 150px;
}

.success {
	background: #99f099;
	border: 1px solid #339933;
}

.error {
	background: #f0c6c3;
	border: 1px solid #cc6622;
}

/*easyui*/
.datagrid-header-inner {
	float: left;
	width: 10000px;
}

.easyui-combobox {
	margin-right: 10px;
	padding: 0 6px;
	vertical-align: middle;
	width: 275px;
	color: #555555;
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
}

select,.spinner,.combo {
	display: inline-block;
	white-space: nowrap;
	margin: 0;
	padding: 0;
	overflow: hidden;
	vertical-align: middle;
	color: #555555;
	font-size: 14px;
	line-height: 16px;
	height: 32px;
	width: 280px;
}

.spinner .spinner-text {
	font-size: 14px;
	border: 0px !important;
	margin: 0;
	padding: 0 9px;
	color: #555555;
}
/*选择steps圆圈样式*/
h6 {
	font-size: 12px;
}

.table {
	width: 100%;
	clear: both;
	background: #fff;
	margin: 15px 0;
	font-size: 14px;
	line-height: 16px;
	border-collapse: collapse;
}

.td {
	border: solid #e8e8e8;
	border-width: 0px 0px 1px;
	padding: 9px 10px;
	color: #666;
}

.table-bordered {
	border: 1px solid #e8e8e8;
	border-collapse: collapse;
}

.wizard-nav li.current span {
	background: url(../icons/default/xuanzhong.png);
	color: #FFFFFF;
}

.wizard-nav li span {
	background: url(../icons/default/weixuanzhong.png);
	color: #FFFFFF;
	display: block;
	margin: 3px auto;
	position: relative;
	width: 34px;
	height: 34px;
	font-size: 20px;
	line-height: 34px;
}

.wizard-nav li span hr {
	background: none repeat scroll 0 0 #E2E2E2;
	border: 0 none;
	height: 8px;
	left: 34px;
	position: absolute;
	top: 3px;
	width: 120px;
}

.wizard-nav li.current span hr {
	background: none repeat scroll 0 0 #3397D3;
}

.m-btn-downarrow {
	background: url('../icons/default/more-pic.png') no-repeat 2px center;
}

.description a:hover.l-btn {
	background: #FFF;
	color: #00438a;
	border: 0px solid #ddd;
	filter: none;
}

.description a.m-btn-plain-active.l-btn {
	background: #FFF;
	color: #00438a;
	border: 0px solid #ddd;
	filter: none;
}

#dropdown-content .menu-item.divDisable,.graph-actions a.divDisable,.graph-actions a.divDisable .text
	{
	opacity: 0.85;
	filter: alpha(opacity = 85);
	cursor: no-drop !important;
}

#dropdown-content .menu-item.divDisable .menu-text,#dropdown-content .menu-item.divDisable .menu-icon,.graph-actions a.divDisable img
	{
	opacity: 0.6;
	filter: alpha(opacity = 6);
	cursor: no-drop !important;
}

.disable {
	background-color: #EBEBE4 !important;
	color: #000 !important;
	readonly: true;
	disabled: true;
}

/*问题单201408060256多个存储*/
.diskLinkLine {
	display: block;
	border-left: 6px solid #3D3D3D;
	border-bottom: 6px solid #3D3D3D;
	height: 90px;
	width: 400px;
}

.diskLinkLine-left {
	display: block;
	border-left: 6px solid #3D3D3D;
	border-bottom: 6px solid #3D3D3D;
	height: 90px;
	width: 20px;
	margin-top: -20px;
}

.diskLinkLine-go {
	display: block;
	height: 110px;
	width: 90px;
	margin-top: 20px;
	padding-top: 85px;
	cursor: pointer;
}

#closeMoreStorage {
	padding-top: 80px;
	width: 380px;
}

.diskLinkLine-go div {
	margin-left: 30px;
	height: 24px;
	letter-spacing: 2px;
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Helvetica, Arial,
		sans-serif;
}

.diskLinkLine-go div:hover {
	font-weight: bold;
}

#specialPage {
	position: relative;
	overflow: hidden;
}

.div-form {
	width: 99%;
}

.div-form-group {
	margin-bottom: 0;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
}

.div-form-group .label-text {
	width: 130px;
	text-align: left;
	float: left;
}

.div-form-group .label-value {
	text-align: left;
	float: left;
	display:block;/*内联对象需加*/
	width:200px;
	word-break:keep-all;/* 不换行 */
	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/ 
}

.div-left-form {
	float: left;
	width: 49%;
}

.div-right-form {
	float: left;
	width: 49%;
}

.combo-clear {  
  background-color: #E0ECFF;  
  width: 18px;  
  height: 20px;  
  overflow: hidden;  
  display: inline-block;  
  vertical-align: middle;  
  cursor: pointer;  
  opacity: 0.6;  
  filter: alpha(opacity=60);  
  background: url('../icons/combo_clear.png') no-repeat center center;  
}  
.combo-clear-hover {  
  opacity: 1.0;  
  filter: alpha(opacity=100);  
  background-color: #eaf2ff;  
}
/* 移除IE10+中type="text"的input输入框内小叉叉和type="password"的input输入框内小眼睛图标 */
::-ms-clear,::-ms-reveal{
	display: none;
}

/* 增加云消息滚动栏 */
.zg-noti-number {
    -moz-text-size-adjust: none;
    background: #bf1031 none repeat scroll 0 0;
    border: 1px solid #b11331;
    border-radius: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}

.zu-top-nav-count {
    left: -10px;
     position: relative;
     top: -12px;
    z-index: 12;
}

#marquee{
	height:189px;
	margin-bottom: 5px;
	background: #ffffff;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    
	}
#marquee ul li{
	float:left;
 	width:315px;
  	padding:10px;
   	line-height:20px;
   	word-wrap:break-word;
   	color: #666666;
   }

#marquee-close {
	position:absolute;
	top:5px;
	right:5px;
	cursor: pointer;
	width: 10px;
	display:none;
}

.icon-text-normal:before {
    content: url('../icons/default/text-normal.png');
}
.icon-graph-normal:before {
    content: url('../icons/default/graph-normal.png');
}
.icon-goback-normal:before {
    content: url('../icons/default/goback1.png');
}

:focus {
    outline : 0px;
}
