<!-- cas custom menu with dropdown-menu as default styling -->
<div id="{{casContextMenuId}}" class="cas-context-menu">
  <!-- domain menu for org and virtual desk -->
  <ul ng-if="vmMenu==true" class="dropdown-menu" role="menu" has-permission="VIRT_HOST_START || VIRT_HOST_PAUSE || VIRT_HOST_RESTORE || VIRT_HOST_SLEEP || VIRT_HOST_RESTART ||
  VIRT_HOST_SHUTDOWN || VIRT_HOST_CLOSE || VIRT_HOST_DISTRIBUTE || VIRT_HOST_RETRIEVE || VIRT_HOST_SNAPSHOT || VIRT_HOST_BACKUP || VIRT_HOST_REVERT || VIRT_HOST_MIGRATE || VIRT_HOST_DEL ||
  VIRT_HOST_CONSOLE || VIRT_HOST_UPGRADE_CASTOOLS">
     <li has-permission="VIRT_HOST_START" ng-if ="vm.enableStart == true"><a><span class="sm-icon icon-start"></span><span translate="menu.start"></span></a></li>
     <li has-permission="VIRT_HOST_START" ng-if ="vm.enableStart == false"><a class="dropdown-forbidden"><span class="sm-icon icon-start-gray"></span><span translate="menu.start"></span></a></li>
     
     <li has-permission="VIRT_HOST_PAUSE" ng-if ="vm.enablePause == true"><a><span class="sm-icon icon-pause-yellow"></span><span translate="menu.pause"></span></a></li>
     <li has-permission="VIRT_HOST_PAUSE" ng-if ="vm.enablePause == false"><a class="dropdown-forbidden"><span class="sm-icon icon-pause-gray"></span><span translate="menu.pause"></span></a></li>
     
     <li has-permission="VIRT_HOST_RESTORE" ng-if ="vm.enableRestore == true"><a><span class="sm-icon icon-vm-resume"></span><span translate="menu.resume"></span></a></li>
     <li has-permission="VIRT_HOST_RESTORE" ng-if ="vm.enableRestore == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-resume-gray"></span><span translate="menu.resume"></span></a></li>
     
     <li has-permission="VIRT_HOST_SLEEP" ng-if ="vm.enableSleep == true"><a><span class="sm-icon icon-vm-sleep"></span><span translate="menu.sleep"></span></a></li>
     <li has-permission="VIRT_HOST_SLEEP" ng-if ="vm.enableSleep == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-sleep-gray"></span><span translate="menu.sleep"></span></a></li>
     
     <li has-permission="VIRT_HOST_RESTART" ng-if ="vm.enableReboot == true"><a><span class="sm-icon icon-vm-reboot"></span><span translate="menu.restart"></span></a></li>
     <li has-permission="VIRT_HOST_RESTART" ng-if ="vm.enableReboot == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-reboot-gray"></span><span translate="menu.restart"></span></a></li>
     
     <li has-permission="VIRT_HOST_SHUTDOWN" ng-if ="vm.enableShutdown == true"><a><span class="sm-icon icon-vm-shutdown"></span><span translate="menu.shutdown"></span></a></li>
     <li has-permission="VIRT_HOST_SHUTDOWN" ng-if ="vm.enableShutdown == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-shutdown-gray"></span><span translate="menu.shutdown"></span></a></li>
     
     <li has-permission="VIRT_HOST_CLOSE" ng-if ="vm.enableClose == true"><a><span class="sm-icon icon-vm-power-off"></span><span translate="menu.close"></span></a></li>
     <li has-permission="VIRT_HOST_CLOSE" ng-if ="vm.enableClose == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-power-off-gray"></span><span translate="menu.close"></span></a></li>
     
     <li class="divider" has-permission="VIRT_HOST_DISTRIBUTE || VIRT_HOST_SNAPSHOT || VIRT_HOST_BACKUP || VIRT_HOST_MIGRATE"></li>
     <!-- 固定桌面池显示或组织 -->
     <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="vm.enableDistribute==true && isFloatDesk!=true"><a><span class="sm-icon icon-distributeVm"></span><span translate="menu.distributeVm"></span></a>
  	 <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="vm.enableDistribute==false && isFloatDesk!=true"><a class="dropdown-forbidden"><span class="sm-icon icon-distributeVm-gray"></span><span translate="menu.distributeVm"></span></a>
  	 <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="vm.enableDistribute==true && isFloatDesk!=true"><a><span class="sm-icon icon-revokeDomain"></span><span translate="menu.revokeDomain"></span></a>
  	 <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="vm.enableDistribute==false && isFloatDesk!=true"><a class="dropdown-forbidden"><span class="sm-icon icon-revokeDomain-gray"></span><span translate="menu.revokeDomain"></span></a>
     <!-- 浮动桌面池显示 -->
     <li has-permission="VIRT_HOST_RETRIEVE" ng-if ="vm.enableRetrieve==true && isFloatDesk==true"><a><span class="sm-icon icon-synchronize"></span><span translate="menu.etrieve"></span></a>
  	 <li has-permission="VIRT_HOST_RETRIEVE" ng-if ="vm.enableRetrieve==false && isFloatDesk==true"><a class="dropdown-forbidden"><span class="sm-icon icon-synchronize-gray"></span><span translate="menu.etrieve"></span></a>
     
     <li has-permission="VIRT_HOST_SNAPSHOT" ng-if ="vm.enableSnapshot == true && isFloatDesk==false"><a><span class="sm-icon icon-vm-snapshot"></span><span translate="menu.snapshotMng"></span></a>
     <li has-permission="VIRT_HOST_SNAPSHOT" ng-if ="vm.enableSnapshot == false && isFloatDesk==false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-snapshot-gray"></span><span translate="menu.snapshotMng"></span></a>
     
     <li has-permission="VIRT_HOST_BACKUP" ng-if ="vm.enableBackup == true && isFloatDesk==false"><a><span class="sm-icon icon-vm-backup"></span><span translate="menu.backup"></span></a></li>
     <li has-permission="VIRT_HOST_BACKUP" ng-if ="vm.enableBackup == false && isFloatDesk==false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-backup-gray"></span><span translate="menu.backup"></span></a></li>
     <!-- 备份管理 -->
  	 <li has-permission="VIRT_HOST_REVERT" ng-if ="vm.enableBackupMgr == true && isFloatDesk==false"><a><span class="sm-icon icon-cvm-bakcup-hisotry"></span><span translate="vm.backupMng"></span></a></li>
     <li has-permission="VIRT_HOST_REVERT" ng-if ="vm.enableBackupMgr == false && isFloatDesk==false"><a class="dropdown-forbidden"><span class="sm-icon icon-cvm-bakcup-hisotry-gray"></span><span translate="vm.backupMng"></span></a></li>
  
  	 <li has-permission="VIRT_HOST_MIGRATE" ng-if ="vm.enableMigrate == true"><a><span class="sm-icon icon-vm-migrate"></span><span translate="menu.migrate"></span></a></li>
     <li has-permission="VIRT_HOST_MIGRATE" ng-if ="vm.enableMigrate == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-migrate-gray"></span><span translate="menu.migrate"></span></a></li>
     
     <li class="divider" has-permission="VIRT_HOST_DEL || VIRT_HOST_CONSOLE || VIRT_HOST_UPGRADE_CASTOOLS"></li>
  
     <li has-permission="VIRT_HOST_DEL" ng-if ="vm.enableDelete == true"><a><span class="sm-icon icon-delete"></span><span translate="menu.delete"></span></a></li>
     <li has-permission="VIRT_HOST_DEL" ng-if ="vm.enableDelete == false"><a class="dropdown-forbidden"><span class="sm-icon icon-delete-gray"></span><span translate="menu.delete"></span></a></li>
  	 
  	 <li has-permission="VIRT_HOST_CONSOLE" ng-if ="vm.enableConsole == true"><a><span class="sm-icon icon-vm-console"></span><span translate="menu.openConsole"></span></a></li>
     <li has-permission="VIRT_HOST_CONSOLE" ng-if ="vm.enableConsole == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-console-gray"></span><span translate="menu.openConsole"></span></a></li>
     
     <!-- 升级Castools -->
     <li has-permission="VIRT_HOST_UPGRADE_CASTOOLS" ng-if ="vm.enableUpgradeCastools == false"><a class="dropdown-forbidden"><span class="sm-icon icon-upgrade-gray"></span><span translate="menu.upgradeCastools"></span></a></li>
	 <li has-permission="VIRT_HOST_UPGRADE_CASTOOLS" ng-if ="vm.enableUpgradeCastools == true"><a><span class="sm-icon icon-upgrade"></span><span translate="menu.upgradeCastools"></span></a></li>
  </ul>
  
  <!-- 云资源虚拟机操作 -->
  <ul ng-if="cloudVmMenu==true" class="dropdown-menu" role="menu" >
     <li has-permission="VIRT_HOST_START" ng-if ="vm.enableStart == true"><a><span class="sm-icon icon-start"></span><span translate="menu.start"></span></a></li>
     <li has-permission="VIRT_HOST_START" ng-if ="vm.enableStart == false" ng-init="vm.enableStart = false"><a class="dropdown-forbidden"><span class="sm-icon icon-start-gray"></span><span translate="menu.start"></span></a></li>
     
     <li has-permission="VIRT_HOST_PAUSE" ng-if ="vm.enablePause == true"><a><span class="sm-icon icon-pause-yellow"></span><span translate="menu.pause"></span></a></li>
     <li has-permission="VIRT_HOST_PAUSE" ng-if ="vm.enablePause == false"><a class="dropdown-forbidden"><span class="sm-icon icon-pause-gray"></span><span translate="menu.pause"></span></a></li>
     
     <li has-permission="VIRT_HOST_RESTORE" ng-if ="vm.enableRestore == true"><a><span class="sm-icon icon-vm-resume"></span><span translate="menu.resume"></span></a></li>
     <li has-permission="VIRT_HOST_RESTORE" ng-if ="vm.enableRestore == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-resume-gray"></span><span translate="menu.resume"></span></a></li>
     
     <li has-permission="VIRT_HOST_SLEEP" ng-if ="vm.enableSleep == true"><a><span class="sm-icon icon-vm-sleep"></span><span translate="menu.sleep"></span></a></li>
     <li has-permission="VIRT_HOST_SLEEP" ng-if ="vm.enableSleep == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-sleep-gray"></span><span translate="menu.sleep"></span></a></li>
     
     <li has-permission="VIRT_HOST_RESTART" ng-if ="vm.enableReboot == true"><a><span class="sm-icon icon-vm-reboot"></span><span translate="menu.restart"></span></a></li>
     <li has-permission="VIRT_HOST_RESTART" ng-if ="vm.enableReboot == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-reboot-gray"></span><span translate="menu.restart"></span></a></li>
     
     <li has-permission="VIRT_HOST_SHUTDOWN" ng-if ="vm.enableShutdown == true"><a><span class="sm-icon icon-vm-shutdown"></span><span translate="menu.shutdown"></span></a></li>
     <li has-permission="VIRT_HOST_SHUTDOWN" ng-if ="vm.enableShutdown == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-shutdown-gray"></span><span translate="menu.shutdown"></span></a></li>
     
     <li has-permission="VIRT_HOST_CLOSE" ng-if ="vm.enableClose == true"><a><span class="sm-icon icon-vm-power-off"></span><span translate="menu.close"></span></a></li>
     <li has-permission="VIRT_HOST_CLOSE" ng-if ="vm.enableClose == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-power-off-gray"></span><span translate="menu.close"></span></a></li>
     
     <li class="divider" has-permission="VIRT_HOST_CLONE || VIRT_HOST_MIGRATE || VIRT_HOST_BACKUP ||
     									 VIRT_HOST_EXPORTOVF || VIRT_HOST_SNAPSHOT || VIRT_HOST_CLONE_TEMPLET || VIRT_HOST_SWITCH_TEMPLET"></li>
     
     <li has-permission="VIRT_HOST_CLONE" ng-if ="vm.enableClone == true"><a><span class="sm-icon icon-vm-clone"></span><span translate="menu.clone"></span></a></li>
     <li has-permission="VIRT_HOST_CLONE" ng-if ="vm.enableClone == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-clone-gray"></span><span translate="menu.clone"></span></a></li>
     
     <li has-permission="VIRT_HOST_MIGRATE" ng-if ="vm.enableMigrate == true"><a><span class="sm-icon icon-vm-migrate"></span><span translate="menu.migrate"></span></a></li>
     <li has-permission="VIRT_HOST_MIGRATE" ng-if ="vm.enableMigrate == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-migrate-gray"></span><span translate="menu.migrate"></span></a></li>
     
     <li has-permission="VIRT_HOST_BACKUP" ng-if ="vm.enableBackup == true"><a><span class="sm-icon icon-vm-backup"></span><span translate="menu.backup"></span></a></li>
     <li has-permission="VIRT_HOST_BACKUP" ng-if ="vm.enableBackup == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-backup-gray"></span><span translate="menu.backup"></span></a></li>
     
     <li has-permission="VIRT_HOST_REVERT" ng-if ="vm.enableBackupMgr == true"><a><span class="sm-icon icon-cvm-bakcup-hisotry"></span><span translate="vm.backupMng"></span></a></li>
     <li has-permission="VIRT_HOST_REVERT" ng-if ="vm.enableBackupMgr == false"><a class="dropdown-forbidden"><span class="sm-icon icon-cvm-bakcup-hisotry-gray"></span><span translate="vm.backupMng"></span></a></li>
     
     <li has-permission="VIRT_HOST_SNAPSHOT" ng-if ="vm.enableSnapshot == true"><a><span class="sm-icon icon-vm-snapshot"></span><span translate="menu.snapshotMng"></span></a>
     <li has-permission="VIRT_HOST_SNAPSHOT" ng-if ="vm.enableSnapshot == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-snapshot-gray"></span><span translate="menu.snapshotMng"></span></a>
  	 
  	 <li has-permission="VIRT_HOST_CLONE_TEMPLET" ng-if ="vm.enableCloneTemplate == true"><a><span class="sm-icon icon-vm-clone-to-template"></span><span translate="menu.cloneTemplate"></span></a></li>
     <li has-permission="VIRT_HOST_CLONE_TEMPLET" ng-if ="vm.enableCloneTemplate == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-clone-to-template-gray"></span><span translate="menu.cloneTemplate"></span></a></li>
     
     <li has-permission="VIRT_HOST_SWITCH_TEMPLET" ng-if ="vm.enableConvertTemplate == true"><a><span class="sm-icon icon-vm-convert-to-template"></span><span translate="menu.toTemplate"></span></a></li>
     <li has-permission="VIRT_HOST_SWITCH_TEMPLET" ng-if ="vm.enableConvertTemplate == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-convert-to-template-gray"></span><span translate="menu.toTemplate"></span></a></li>
  	 
  	 <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="vm.enableDistribute == true"><a><span class="sm-icon icon-distributeVm"></span><span translate="menu.distributeVm"></span></a>
  	 <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="vm.enableDistribute == false"><a class="dropdown-forbidden"><span class="sm-icon icon-distributeVm-gray"></span><span translate="menu.distributeVm"></span></a>
  	  <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="vm.enableDistribute==true"><a><span class="sm-icon icon-revokeDomain"></span><span translate="menu.revokeDomain"></span></a>
  	 <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="vm.enableDistribute==false"><a class="dropdown-forbidden"><span class="sm-icon icon-revokeDomain-gray"></span><span translate="menu.revokeDomain"></span></a>
  	 
     <li class="divider" has-permission="VIRT_HOST_DEL || VIRT_HOST_MODIFY || VIRT_HOST_CONSOLE || VIRT_HOST_UPGRADE_CASTOOLS || VIRT_HOST_CREATE_RESTOREPOINT"></li>
     
     <li has-permission="VIRT_HOST_DEL" ng-if ="vm.enableDelete == true"><a><span class="sm-icon icon-delete"></span><span translate="menu.delete"></span></a></li>
     <li has-permission="VIRT_HOST_DEL" ng-if ="vm.enableDelete == false"><a class="dropdown-forbidden"><span class="sm-icon icon-delete-gray"></span><span translate="menu.delete"></span></a></li>
     <!-- 
     <li has-permission="VIRT_HOST_MODIFY" ng-if ="vm.enableEdit == true"><a><span class="sm-icon icon-modify"></span><span translate="menu.edit"></span></a></li>
     <li has-permission="VIRT_HOST_MODIFY" ng-if ="vm.enableEdit == false"><a class="dropdown-forbidden"><span class="sm-icon icon-modify-gray"></span><span translate="menu.edit"></span></a></li>
      -->
     <li has-permission="VIRT_HOST_CONSOLE" ng-if ="vm.enableConsole == true"><a><span class="sm-icon icon-vm-console"></span><span translate="menu.openConsole"></span></a></li>
     <li has-permission="VIRT_HOST_CONSOLE" ng-if ="vm.enableConsole == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-console-gray"></span><span translate="menu.openConsole"></span></a></li>
     
     <!-- 升级Castools -->
     <li has-permission="VIRT_HOST_UPGRADE_CASTOOLS" ng-if ="vm.enableUpgradeCastools == false"><a class="dropdown-forbidden"><span class="sm-icon icon-upgrade-gray"></span><span translate="menu.upgradeCastools"></span></a></li>
	 <li has-permission="VIRT_HOST_UPGRADE_CASTOOLS" ng-if ="vm.enableUpgradeCastools == true"><a><span class="sm-icon icon-upgrade"></span><span translate="menu.upgradeCastools"></span></a></li>
	 
<!-- 	 <li has-permission="VIRT_HOST_CREATE_RESTOREPOINT" ng-if ="vm.enableCreateRestorePoint == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-restore-gray"></span><span translate="menu.createRestorePoint"></span></a></li> -->
<!-- 	 <li has-permission="VIRT_HOST_CREATE_RESTOREPOINT" ng-if ="vm.enableCreateRestorePoint == true"><a><span class="sm-icon icon-vm-restore"></span><span translate="menu.createRestorePoint"></span></a></li> -->
	 
  </ul>
  
  <!-- 云资源虚拟机批量操作 -->
  <ul ng-if="cloudVmMenuBatch==true" class="dropdown-menu" role="menu" has-permission="VIRT_HOST_START || VIRT_HOST_PAUSE || VIRT_HOST_RESTORE || VIRT_HOST_RESTART || VIRT_HOST_SHUTDOWN
  || VIRT_HOST_CLOSE || VIRT_HOST_DEL || VIRT_HOST_MIGRATE || VIRT_HOST_UPGRADE_CASTOOLS || VIRT_HOST_DISTRIBUTE">
  	 <!-- 批量启动 -->
  	 <li has-permission="VIRT_HOST_START"><a><span class="sm-icon icon-start"></span><span translate="menu.start"></span></a></li>
  	 <!-- 批量暂停 -->
  	 <li has-permission="VIRT_HOST_PAUSE"><a><span class="sm-icon icon-pause-yellow"></span><span translate="menu.pause"></span></a></li>
  	 <!-- 批量恢复 -->
  	 <li has-permission="VIRT_HOST_RESTORE"><a><span class="sm-icon icon-vm-resume"></span><span translate="menu.resume"></span></a></li>
  	 <!-- 批量重启 -->
  	 <li has-permission="VIRT_HOST_RESTART"><a><span class="sm-icon icon-vm-reboot"></span><span translate="menu.restart"></span></a></li>
  	 <!-- 批量关闭 -->
  	 <li has-permission="VIRT_HOST_SHUTDOWN"><a><span class="sm-icon icon-vm-shutdown"></span><span translate="menu.shutdown"></span></a></li>
  	 <!-- 批量关闭电源 -->
  	 <li has-permission="VIRT_HOST_CLOSE"><a><span class="sm-icon icon-vm-power-off"></span><span translate="menu.close"></span></a></li>
  	 <!-- 批量删除 -->
  	 <li has-permission="VIRT_HOST_DEL"><a><span class="sm-icon icon-delete"></span><span translate="menu.delete"></span></a></li>
  	 <!-- 批量迁移虚拟机 -->
  	 <li has-permission="VIRT_HOST_MIGRATE"><a><span class="sm-icon icon-vm-migrate"></span><span translate="menu.batchMigrateVm"></span></a></li>
     <!-- 批量修改虚拟机 -->
     <!-- <li has-permission="VIRT_HOST_MODIFY"><a><span class="sm-icon icon-modify"></span><span translate="menu.batchModifyVm"></span></a></li> -->
	 <!-- 批量升级Castools -->
     <li has-permission="VIRT_HOST_UPGRADE_CASTOOLS"><a><span class="sm-icon icon-upgrade"></span><span translate="menu.upgradeCastools"></span></a></li>
<!--      批量虚拟机一键还原 -->
<!--      <li has-permission="VIRT_HOST_CREATE_RESTOREPOINT"><a><span class="sm-icon icon-vm-restore"></span><span translate="menu.batchCreateRestorePoint"></span></a></li> -->
	 <!-- 批量分配:浮动桌面池不显示 -->
	 <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if="isFloatDesk!=true"><a><span class="sm-icon icon-operator"></span><span translate="menu.distributeVm"></span></a></li>
  </ul>
  
  <!-- VMware虚拟机菜单（单机操作） -->
  <ul ng-if="vmwareVmMenu==true" class="dropdown-menu" role="menu" >
     <li has-permission="VIRT_HOST_START" ng-if ="entity.status == 'shutOff'"><a><span class="sm-icon icon-start"></span><span translate="menu.start"></span></a></li>
     <li has-permission="VIRT_HOST_START" ng-if ="entity.status != 'shutOff'"><a class="dropdown-forbidden"><span class="sm-icon icon-start-gray"></span><span translate="menu.start"></span></a></li>
     
     <li has-permission="VIRT_HOST_SLEEP" ng-if ="entity.status == 'running'"><a><span class="sm-icon icon-vm-sleep"></span><span translate="menu.sleep"></span></a></li>
     <li has-permission="VIRT_HOST_SLEEP" ng-if ="entity.status != 'running'"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-sleep-gray"></span><span translate="menu.sleep"></span></a></li>
     
     <li has-permission="VIRT_HOST_RESTART" ng-if ="entity.status == 'running'"><a><span class="sm-icon icon-vm-reboot"></span><span translate="menu.restart"></span></a></li>
     <li has-permission="VIRT_HOST_RESTART" ng-if ="entity.status != 'running'"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-reboot-gray"></span><span translate="menu.restart"></span></a></li>
     
     <li has-permission="VIRT_HOST_SHUTDOWN" ng-if ="entity.status == 'running'"><a><span class="sm-icon icon-vm-shutdown"></span><span translate="menu.shutdown"></span></a></li>
     <li has-permission="VIRT_HOST_SHUTDOWN" ng-if ="entity.status != 'running'"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-shutdown-gray"></span><span translate="menu.shutdown"></span></a></li>
     
     <li has-permission="VIRT_HOST_CLOSE" ng-if ="entity.status == 'running'"><a><span class="sm-icon icon-vm-power-off"></span><span translate="menu.close"></span></a></li>
     <li has-permission="VIRT_HOST_CLOSE" ng-if ="entity.status != 'running'"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-power-off-gray"></span><span translate="menu.close"></span></a></li>
     
     <li has-permission="VIRT_HOST_DEL"><a><span class="sm-icon icon-delete"></span><span translate="menu.delete"></span></a>
     
     <li has-permission="VIRT_HOST_MIGRATE" ng-if ="entity.status != 'unknown'"><a><span class="sm-icon icon-vm-migrate"></span><span translate="menu.migrate"></span></a></li>
     <li has-permission="VIRT_HOST_MIGRATE" ng-if ="entity.status == 'unknown'"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-migrate-gray"></span><span translate="menu.migrate"></span></a></li>
     
     <li has-permission="VIRT_HOST_SNAPSHOT" ng-if ="entity.status == 'unknown'"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-snapshot-gray"></span><span translate="menu.createSnapshot"></span></a>
     <li has-permission="VIRT_HOST_SNAPSHOT" ng-if ="entity.status != 'unknown'"><a><span class="sm-icon icon-vm-snapshot"></span><span translate="menu.createSnapshot"></span></a>
     
     <li has-permission="VIRT_HOST_CLONE_TEMPLET" ng-if ="entity.status == 'unknown'"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-clone-to-template-gray"></span><span translate="menu.cloneTemplate"></span></a></li>
     <li has-permission="VIRT_HOST_CLONE_TEMPLET" ng-if ="entity.status != 'unknown'"><a><span class="sm-icon icon-vm-clone-to-template"></span><span translate="menu.cloneTemplate"></span></a></li>
     
     <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="entity.status == 'unknown'"><a class="dropdown-forbidden"><span class="sm-icon icon-distributeVm-gray"></span><span translate="menu.distributeVm"></span></a></li>
     <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="entity.status != 'unknown'"><a><span class="sm-icon icon-distributeVm"></span><span translate="menu.distributeVm"></span></a></li>
      <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="entity.status != 'unknown'"><a><span class="sm-icon icon-revokeDomain"></span><span translate="menu.revokeDomain"></span></a>
  	 <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="entity.status == 'unknown'"><a class="dropdown-forbidden"><span class="sm-icon icon-revokeDomain-gray"></span><span translate="menu.revokeDomain"></span></a>
     
  </ul>
  
   <!-- CLoudOS虚拟机菜单（单机操作） -->
  <ul ng-if="cloudOSVmMenu==true" class="dropdown-menu" role="menu" >
     <li has-permission="VIRT_HOST_START" ng-if ="vm.enableStart == true"><a><span class="sm-icon icon-start"></span><span translate="menu.start"></span></a></li>
     <li has-permission="VIRT_HOST_START" ng-if ="vm.enableStart == false"><a class="dropdown-forbidden"><span class="sm-icon icon-start-gray"></span><span translate="menu.start"></span></a></li>
     
     <li has-permission="VIRT_HOST_CLOSE" ng-if ="vm.enableClose == true"><a><span class="sm-icon icon-vm-shutdown"></span><span translate="menu.shutdown"></span></a></li>
     <li has-permission="VIRT_HOST_CLOSE" ng-if ="vm.enableClose == false"><a class="dropdown-forbidden"><span class="sm-icon icon-vm-shutdown-gray"></span><span translate="menu.shutdown"></span></a></li>
     
     <li has-permission="VIRT_HOST_RESTORE" ng-if ="vm.enableRestore == false"><a href="#" class="dropdown-forbidden"><span class="sm-icon icon-vm-resume-gray"></span><span translate="menu.resume"></span></a></li>
	 <li has-permission="VIRT_HOST_RESTORE" ng-if ="vm.enableRestore == true"><a><span class="sm-icon icon-vm-resume"></span><span translate="menu.resume"></span></a></li>
	 
	 <li ng-if ="vm.enableSuspended == false"><a href="#" class="dropdown-forbidden"><span class="sm-icon icon-vm-sleep-gray"></span><span translate="vm.suspended"></span></a></li>
     <li ng-if ="vm.enableSuspended == true"><a><span class="sm-icon icon-vm-sleep"></span><span translate="vm.suspended"></span></a></li>
     
     <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="vm.enableDistribute == false"><a href="#" class="dropdown-forbidden"><span class="sm-icon icon-distributeVm-gray"></span><span translate="menu.distributeVm"></span></a></li>
     <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="vm.enableDistribute == true"><a><span class="sm-icon icon-distributeVm"></span><span translate="menu.distributeVm"></span></a></li>
       	 <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="vm.enableDistribute == false""><a><span class="sm-icon icon-revokeDomain"></span><span translate="menu.revokeDomain"></span></a>
  	 <li has-permission="VIRT_HOST_DISTRIBUTE" ng-if ="vm.enableDistribute == false""><a class="dropdown-forbidden"><span class="sm-icon icon-revokeDomain-gray"></span><span translate="menu.revokeDomain"></span></a>
     <li has-permission="VIRT_HOST_DEL" ng-if ="vm.enableDelete == true"><a><span class="sm-icon icon-delete"></span><span translate="menu.delete"></span></a></li>
	 <li has-permission="VIRT_HOST_DEL" ng-if ="vm.enableDelete == false"><a class="dropdown-forbidden"><span class="sm-icon icon-delete-gray"></span><span translate="menu.delete"></span></a></li>
   
  </ul>
  <!-- CLoudOS虚拟机菜单（批量操作） -->
  <ul ng-if="cloudOSBatchVmMenu==true" class="dropdown-menu" role="menu" >
     <li has-permission="VIRT_HOST_START"><a><span class="sm-icon icon-start"></span><span translate="menu.start"></span></a></li>
     <li has-permission="VIRT_HOST_CLOSE"><a><span class="sm-icon icon-vm-power-off"></span><span translate="menu.close"></span></a></li>
  </ul>
  <!-- VMware虚拟机菜单（批量操作） -->
  <ul ng-if="vmwareBatchVmMenu==true" class="dropdown-menu" role="menu" >
     <li has-permission="VIRT_HOST_START"><a><span class="sm-icon icon-start"></span><span translate="menu.start"></span></a></li>
     
     <li has-permission="VIRT_HOST_SLEEP"><a><span class="sm-icon icon-vm-sleep"></span><span translate="menu.sleep"></span></a></li>
     
     <li has-permission="VIRT_HOST_RESTART"><a><span class="sm-icon icon-vm-reboot"></span><span translate="menu.restart"></span></a></li>
     
     <li has-permission="VIRT_HOST_SHUTDOWN"><a><span class="sm-icon icon-vm-shutdown"></span><span translate="menu.shutdown"></span></a></li>
     
     <li has-permission="VIRT_HOST_CLOSE"><a><span class="sm-icon icon-vm-power-off"></span><span translate="menu.close"></span></a></li>
     
     <li has-permission="VIRT_HOST_DEL"><a><span class="sm-icon icon-delete"></span><span translate="menu.delete"></span></a>
     
     <!-- 批量分配 -->
	 <li has-permission="VIRT_HOST_DISTRIBUTE"><a><span class="sm-icon icon-operator"></span><span translate="menu.distributeVm"></span></a></li>
  </ul>
  
  <!-- 云资源 -->
  <ul ng-if="cloudMenu==true" has-permission="CVM_MNG_ADD" class="dropdown-menu" role="menu" >
     <li><a><span class="sm-icon icon-add cloudResource"></span><span translate="menu.addCloundResource"></span></a></li>
  </ul>
  
  <!-- 组织管理 -->
  <ul ng-if="orgMngMenu==true" has-permission="ORGANIZATION_ADD" class="dropdown-menu" role="menu" >
     <li><a><span class="sm-icon icon-add"></span><span translate="menu.addOrg"></span></a></li>
  </ul>
  
  <!-- 组织节点 -->
  <ul ng-if="orgMenu==true" has-permission="ORGANIZATION_MODIFY||ORGANIZATION_DELETE" class="dropdown-menu" role="menu" >
     <li has-permission="ORGANIZATION_MODIFY"><a><span class="sm-icon icon-modify"></span><span translate="menu.modifyOrg"></span></a></li>
     <li ng-if="entity.cloudType!=5" has-permission="ORGANIZATION_MODIFY"><a><span class="sm-icon icon-resourcePool"></span><span translate="resourcePool.releaseResourcePool"></span></a></li>
     <li has-permission="ORGANIZATION_DELETE"><a><span class="sm-icon icon-delete"></span><span translate="menu.deleteOrg"></span></a></li>
     <li class="divider" has-permission="(ORGANIZATION_MODIFY||ORGANIZATION_DELETE)&&(USER_ADD||USER_GROUP_ADD)"></li>
     
     <li has-permission="USER_ADD"><a><span class="sm-icon icon-operator-add"></span><span translate="menu.addUser"></span></a></li>
     <li has-permission="USER_GROUP_ADD"><a><span class="sm-icon icon-operator-group"></span><span translate="menu.addGroup"></span></a></li>
  </ul>
  
  <!-- 虚拟桌面池管理 -->
  <ul ng-if="desktopMngMenu==true" has-permission="DESKTOP_POOL_ADD" class="dropdown-menu" role="menu" >
     <li><a><span class="sm-icon icon-add"></span><span translate="menu.addDesktopPool"></span></a></li>
  </ul>
  
  <!-- 虚拟桌面池节点 -->
  <ul ng-if="desktopMenu==true" has-permission="DESKTOP_POOL_EDIT||DESKTOP_POOL_DEL" class="dropdown-menu" role="menu" >
     <li has-permission="DESKTOP_POOL_EDIT"><a><span class="sm-icon icon-modify"></span><span translate="menu.modifyDesktopPool"></span></a></li>
     <li has-permission="DESKTOP_POOL_DEL"><a><span class="sm-icon icon-delete"></span><span translate="menu.deleteDesktopPool"></span></a></li>
  </ul>
  
  <!-- 资源池管理 -->
  <ul ng-if="resourcePoolMngMenu==true" has-permission="RESOURCEPOOL_ADD" class="dropdown-menu" role="menu" >
     <li><a><span class="sm-icon icon-add"></span><span translate="menu.addResourcePool"></span></a></li>
  </ul>
  <!-- 资源池节点 -->
  <ul ng-if="resourcePoolMenu==true" has-permission="RESOURCEPOOL_MODIFY||RESOURCEPOOL_DELETE" class="dropdown-menu" role="menu" >
     <li has-permission="RESOURCEPOOL_MODIFY"><a><span class="sm-icon icon-modify"></span><span translate="menu.modifyResourcePool"></span></a></li>
     <li has-permission="RESOURCEPOOL_MODIFY"><a><span class="sm-icon icon-storage"></span><span translate="menu.releaseStoragePool"></span></a></li>
     <li ng-if="entity.cloudType==2||entity.cloudType==3"  has-permission="RESOURCEPOOL_MODIFY"><a><span class="sm-icon icon-vswitch"></span><span translate="menu.releaseVswitch"></span></a></li>
     <li has-permission="RESOURCEPOOL_DELETE"><a><span class="sm-icon icon-delete"></span><span translate="menu.deleteResourcePool"></span></a></li>
  </ul>
</div>