[Desktop Entry]
Name=iNodeManager
Comment=iNodeMnager to generate iNodeClient
Exec=sh -c "cd @INSTALL_PATH/ && ./iNodeManager"
Icon=@INSTALL_PATH/iNodeManager.png
Terminal=false
Categories=Development
Type=Application
