<!-- 在线操作员列表 -->
<div class="panel panel-default cas-panel" ng-controller="OnlineOperatorListCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
		    <li><a ui-sref='main.systemMng' ><span translate="systemMng.systemMng"></span></a></li>
			<li><a ui-sref='main.operatorMng' ><span translate="operator.operatorMgr"></span></a></li>
			<li class="active" translate="operator.onlineOperator"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/operatorOnline/operatorOnlineMgmt')"></span>
	</div>

	<div class="panel-body">
		<div class="section"></div>
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_operator_online Icon_common_display">
		      </span>
		      <span class='desc'><span translate="operator.onlineOperatorHead"></span></span>
		    </div>
		</div>
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs"  ng-click="refresh()">
                        <span class='sm-icon icon-refresh'></span>
                       <span translate="common.refresh"></span>
                    </label>
					<label class="btn btn-default btn-menu hidden-xs" ng-click="filter()">
                        <span class="sm-icon icon-filter"></span> 
                        <span translate="common.filter"></span>
                    </label>
					<label has-permission="OPERATOR_OFFLINE" class="btn btn-default btn-menu hidden-xs" ng-class="{'btn-forbidden':mySelections.length == 0}" ng-click="offline()">
						<span class="sm-icon icon-operator-offline"></span>
						<span translate="operator.quickOff"></span>
					</label>
				</div>
				
			</div>
		</nav>
	    <div class="cas-list-body oneListWithLead-calc" >
	      <div id="onlineOperatorGrid" list-style class="table"  ng-grid="gridOptions"></div>
	    </div>
	</div>
	
	</div>
</div>