<!-- 操作员管理大面板 -->
<div class="panel cas-panel" ng-controller="systemCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
		    <li><a ui-sref='main.systemMng' ><span translate="systemMng.systemMng"></span></a></li>
			<li class="active" translate="operator.operatorMgr"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/operator/operatorMgmt')"></span>
	</div>
	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_operator_manage Icon_common_display">
		      </span>
		      <span class='desc'><span translate="operator.operatorMgrHead"></span></span>
		    </div>
	    </div>
	    <div class="panel-body" style="height: 170px;">
	    	<!-- 操作员 -->
			<a ui-sref='main.operator' class="dashboard-box" has-permission="OPERATOR_MNG"> 
				<span class="custom-picture Icon_operator Icon_common_display " ></span>
				<span class="box-title" text="{{'operator.operator'|translate}}"><span translate="operator.operator"></span></span>
			</a>
			
			<!-- 操作员分组 -->
			<a ui-sref='main.operatorGroup' class="dashboard-box" has-permission="OPERATOR_GROUP_MNG"> 
				<span class="custom-picture Icon_operator_group Icon_common_display" ></span>
				<span class="box-title" text="{{'operator.opertorGrp'|translate}}"><span translate="operator.opertorGrp"></span></span>
			</a>
		
			<!-- 在线操作员 -->
			<a ui-sref='main.onlineOperator' class="dashboard-box" has-permission="ONLONE_OPERATOR_MNG"> 
				<span class="custom-picture Icon_operator_online Icon_common_display"></span>
				<span class="box-title" text="{{'operator.onlineOperator'|translate}}"><span translate="operator.onlineOperator"></span></span>
			</a>
		</div>
	</div>
</div>