<!-- 操作员分组列表 -->
<div class="panel panel-default cas-panel" ng-controller="systemCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
		    <li><a ui-sref='main.systemMng' ><span translate="systemMng.systemMng"></span></a></li>
			<li><a ui-sref='main.operatorMng' ><span translate="operator.operatorMgr"></span></a></li>
			<li class="active" translate="operator.opertorGrp"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/operatorGroup/operatorGroupMgmt')"></span>
	</div>

	<div class="panel-body">
		<div class="section"></div>
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_operator_group Icon_common_display">
		      </span>
		      <span class='desc'><span translate="operator.operatorGrpHead"></span></span>
		    </div>
		</div>
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshOperatorGroup()">
						<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
					</label>
					<label has-permission="OPERATOR_GROUP_ADD" class="btn btn-default btn-menu hidden-xs"  ng-click="addOperatorGroup()">
						<span class="sm-icon icon-add"></span>
						<span translate="operator.addGrp"></span>
					</label>
				</div>
				
			</div>
		</nav>
	    <!-- <div class="panel-body" ng-controller="OperatorGrpListCtrl">
	      <div ng-style="listStyle" class="table"  ng-grid="gridOptions"></div>
	    </div> -->
	    
	    <!-- treegrid -->
	    <div class="cas-list-body oneListWithLead-calc" id="operatorGrpListDivId" ng-controller="OperatorGrpTreeListCtrl">
		    <tree-grid tree-data="treeData"
		    		   col-defs="column"
		    		   expand-on="expandColum"
		    		   icon-leaf="-"
		    		   icon-expand=""
		    		   icon-collapse=""
		    		   on-select=""
		    		   on-click=""
		    		   template-url=""
		    		   expand-level="9"
		    		   tree-grid-heigth="550px"
		    		   header-color="#e4eaec"
		    		   row-height="32">
		    </tree-grid>
	    </div>
	</div>
	
</div>
