<!-- 操作员列表-->
<div class="panel panel-default cas-panel" ng-controller="systemCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li><a ui-sref='main.systemMng' ><span translate="systemMng.systemMng"></span></a></li>
			<li><a ui-sref='main.operatorMng' ><span translate="operator.operatorMgr"></span></a></li>
			<li class="active" translate="operator.operator"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/operator/operatorMgmt')"></span>
	</div>

	<div class="panel-body">
		<div class="section"></div>
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_common_display Icon_operator">
		      </span>
		      <span class='desc'><span translate="operator.operatorHead"></span></span>
		    </div>
		</div>
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshOperator()">
						<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
					</label>
					<label class="btn btn-default btn-menu hidden-xs" ng-click="operatorFilter()">
						<span class="sm-icon icon-filter"></span> 
						<span translate="common.filter"></span>
					</label> 
					<label has-permission="OPERATOR_ADD" class="btn btn-default btn-menu hidden-xs" ng-click="addOperator()"> 
					    <span class="sm-icon icon-operator-add"></span>
						<span translate="operator.addOperator"></span>
					</label>
					<label has-permission="OPERATOR_DELETE" class="btn btn-default btn-menu hidden-xs" ng-click="deleteOperator()" ng-class="{'btn-forbidden':seleteOperator.length == 0}">
					    <span class="sm-icon icon-operator-delete"></span>
                        <span translate="operator.delOperator"></span>
					</label> 
					<label has-permission="OPERATOR_MODIFY" class="btn btn-default btn-menu hidden-xs" ng-click="modifyOperator()" ng-class="{'btn-forbidden':seleteOperator.length != 1}"> 
					    <span class="sm-icon icon-operator-edit"></span>
						<span translate="operator.modifyOperator"></span>
					</label>
                    <label has-permission="OPERATOR_VIEW" class="btn btn-default btn-menu hidden-xs" ng-click="viewOperator()" ng-class="{'btn-forbidden':seleteOperator.length != 1}">
                        <span class="sm-icon icon-operator-view"></span>
						<span translate="operator.viewOperator"></span>
					</label> 
				</div>
			</div>
		</nav>
	    <div class="cas-list-body oneListWithLead-calc" ng-controller="OperatorListCtrl">
	      <div id="operatorListDivId" list-style class="table"  ng-grid="gridOptions"></div>
	    </div>
	</div>
	
	</div>
</div>