<div id="keydownModalBody" tabindex="-1" ng-keydown="keydown($event)" style="outline:none">
	<div class="modal-header">
		 <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
			<span class="icon-closenew"></span>
		</button>
		<h4 class="modal-title" translate="about"></h4>
	</div>
	<div    class="modal-body"  >
		<div  class="form-horizontal">
			<form name="form" class="form-horizontal">
			   <div class="form-group">
			      <label for="productName" class="control-label short"><span translate="editDomain.product"></span></label>
				  <div class="control-input">
				     <div class="input-group">
				       <span ng-bind="productName" style="word-wrap:break-word;word-break:break-all;line-height:32px"></span>
	                 </div>
			      </div>
			   </div>
			   
			   <div class="form-group">
			      <label for="productVersion" class="control-label short"><span translate="paramconfig.version"></span></label>
				  <div class="control-input">
				     <div class="input-group">
				        <span ng-bind="productVersion" style="word-wrap:break-word;word-break:break-all;line-height:32px"></span>
	                 </div>
			      </div>
			   </div>
			   
			   <div class="form-group" ng-show = "showInnerVersion">
			      <label for="innerVersion" class="control-label short"><span translate="innerVersion"></span></label>
				  <div class="control-input">
				     <div class="input-group">
				        <span ng-bind="innerVersion" style="word-wrap:break-word;word-break:break-all;line-height:32px"></span>
	                 </div>
			      </div>
			   </div>
			   
			   <div class="form-group">
			       <span ng-bind="copyright" style="word-wrap:break-word;word-break:break-all;line-height:32px"></span>
			   </div>
			</form>
	
		</div>
	</div>
	 <div class="modal-footer">
		  <button class="btn btn-black" ng-click="cancel()" translate="common.close"></button>
	 </div>
</div>
