<!-- 组织资源配额高级查询弹出窗口 -->

<!-- 标题 -->
<div class="modal-header">
    <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
    <h4 class="modal-title" translate="common.advancedQuery"></h4>
</div>
<!-- 内容 -->
<div class="modal-body">
    <div class="form-horizontal">
        <form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
            <!-- 组织 -->
            <div class="form-group" ng-class="{'has-error': (form.organization.$invalid)}">
            	<label for="organization" class="control-label"><span translate="common.organization"></span><span style="color: red">&nbsp;</span></label>
                <div class="input-group" style="width:299px">
                    <div class="input-group width260" >
                        <input id="organization" ng-readonly="true" name="organization"  class="form-control first-child-angle selectInput" type="text" ng-model="org.name" ng-click="selectOrg()">
                        <span class="input-group-addon inner-addon" ng-click="selectOrg()">
                            <span class="icon-search-gray" type="button"></span>
                        </span> 
                    </div>
                </div>
            </div>
	                    
            <!-- 开始时间（从） -->
            <div class="form-group">
                <label for="clearLog" class="control-label">
                    <span translate="common.satrtTime"></span><span style="color: red">&nbsp;</span>
                </label>
                <div class="control-input">
                    <div class="input-group date input-large"  date-cell="#satrtTimeInput" jes-date is-today="false" format="YYYY-MM-DD" picker-position="right" max-date="startMaxDate" ng-model="org.startTime">
                        <input id="satrtTimeInput" class="form-input form-control selectInput first-child-angle calendar-input-img" type="text" readonly>
                    </div>
                </div>
            </div>
            <!-- 结束时间（至） -->
            <div class="form-group">
                <label for="clearLog" class="control-label">
                    <span translate="common.endTime"></span><span style="color: red">&nbsp;</span>
                </label>
                <div class="control-input">
                    <div class="input-group date input-large"  date-cell="#endTimeInput" jes-date is-today="false" format="YYYY-MM-DD" picker-position="right" min-date="endMinDate" max-date="endMaxDate" ng-model="org.endTime">
                        <input id="endTimeInput" class="form-input form-control selectInput first-child-angle calendar-input-img" type="text" readonly>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>
<!-- 按钮栏 -->
<div class="modal-footer">
	<button id="resetId" class="btn btn-green" ng-click="reset()" translate="common.reset"></button>
    <button id="okId" class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>