<!-- 多选择列表窗口（通用对话框） -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" custom-title="{{'common.close'|translate}}">
        <span class="icon-closenew"></span>
    </button>
    <button ng-if="helpFlag == 'releaseTemplate'" type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('org/VMTemplate/addVMTempForOrg')">
		<span class="icon-helpnew"></span>
	</button>
    <button ng-if="helpFlag == 'releaseStorage'" type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('resourcePool/addResourcePoolStorageRes')">
		<span class="icon-helpnew"></span>
	</button>
	<button ng-if="helpFlag == 'selManger'" type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('org/operator/addOperatorInOrg')">
		<span class="icon-helpnew"></span>
	</button>
	<button ng-if="helpFlag == 'selMangerGp'" type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('org/operator/addOperatorGroupInOrg')">
		<span class="icon-helpnew"></span>
	</button>
	
	<button ng-if="helpFlag == 'cloudResource'" type="button" class="close cornerhelp" custom-title="{{::'help'|translate}}" ng-click="openHelp('cloudResource/vm/undistributeCVMvm')">
		<span class="icon-helpnew"></span>
	</button>
	<button ng-if="helpFlag == 'cloudHost'" type="button" class="close cornerhelp" custom-title="{{::'help'|translate}}" ng-click="openHelp('cloudVm/undistributeVm')">
		<span class="icon-helpnew"></span>
	</button>
	<button ng-if="helpFlag == 'virtualDesktopPool'" type="button" class="close cornerhelp" custom-title="{{::'help'|translate}}" ng-click="openHelp('cloudService/virtualDesktopPool/desktop/undistributeDesktoptoUser')">
		<span class="icon-helpnew"></span>
	</button>
	<button ng-if="helpFlag == 'org'" type="button" class="close cornerhelp" custom-title="{{::'help'|translate}}" ng-click="openHelp('org/VM/undistributeVMtoUser')">
		<span class="icon-helpnew"></span>
	</button>
	
	
	<h4 class="modal-title" >{{title}}</h4>
</div>
<div class="modal-body list-body">
   <div id ="multiselectGrid" style="width: 100%; height: 300px;" class="table"  ng-grid="gridOptions"></div>
</div>
<!-- 按钮栏 -->
<div class="modal-footer">
	<button ng-if="helpFlag == 'selUserGp'" id="addBtn" class="btn btn-green"  ng-click="addUserGrp()" translate="common.add"></button>
    <button id="okBtn" class="btn btn-green"  ng-click="ok()" ng-disabled="mySelections.length<1" translate="common.confirm"></button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>