<div class="modal-header">
    <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
        <span class="icon-closenew"></span>
    </button>
    <h4 class="modal-title" translate="common.selectTemplateStorage"></h4>
</div>
<form name="form" class="form-horizontal" role="form" style="height:240px;overflow:auto;padding-left:10px;margin-bottom: 0px;" novalidate>
	<div style="margin-top:10px">
		<div cas-template-storage-pool cloud-id="{{cloudId}}" id="templateStorage" select-pool="selectPool"></div>
	</div>
</form>
<div class="modal-footer">
    <button id="okBtn" class="btn btn-green" ng-disabled="selectPool.targetPath == undefined" ng-click="ok()" translate="common.confirm"></button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>