<!--上传存储卷弹出窗口 -->
<!-- 标题 -->
<div class="modal-header">
     <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
    <h4 class="modal-title" translate="host.uploadFile"></h4>
</div>
<div class="modal-body" style="padding:15px 30px">
    <div>
		<div class="row">
			<div class="col-sm-8">
				<div id="i_select_files"></div>

				<div id="i_stream_files_queue"></div>
				<br>
				<div class="modal-footer" style='margin-bottom: -14px'>
					<button id="uploadBtn" class=" btn btn-green" ng-click="stream.upload()" translate="uploadfile.uploadisoUploadBtnTips"></button>
					<button id="stopBtn" class=" btn btn-black" ng-click="stream.stop();" translate="uploadfile.uploadisoStopBtnTips"></button>
					<button id="cancelBtn" class=" btn btn-black" ng-click="stream.cancel();" translate="uploadfile.uploadisoCancelBtnTips"></button>
				</div>


			</div>
			<div class="col-sm-4">
				<h5 translate="uploadfile.uploadisoStatusTips"></h5>
				<div id="i_stream_message_container" class="stream-main-message-box"
					style="overflow: auto; height: 400px;"></div>


			</div>
		</div>

		<!-- 	|<button ng-click="stream.disable();">禁用文件选择</button> -->
		<!-- 	|<button ng-click="stream.enable();">启用文件选择</button> -->
		<!-- 	|<button ng-click="stream.hideBrowseBlock();">隐藏文件选择按钮</button> -->
		<!-- 	|<button ng-click="stream.showBrowseBlock();">显示文件选择按钮</button> -->
		<!-- 	|<button ng-click="destroy()">销毁重新生成按钮</button> -->

	</div>
</div>
<!-- 按钮栏 -->
<!-- <div class="modal-footer"> -->
<!--     <button class=" btn btn-black" ng-click="stream.upload()" translate="uploadfile.uploadisoUploadBtnTips">开始上传</button> -->
<!-- 	<button class=" btn btn-black" ng-click="stream.stop();" translate="uploadfile.uploadisoStopBtnTips">停止上传</button> -->
<!-- 	<button class=" btn btn-black" ng-click="stream.cancel();" translate="uploadfile.uploadisoCancelBtnTips">取消上传</button> -->
<!--     <button class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button> -->
<!--     <button class="btn btn-black" ng-click="upload.abort();cancel()" translate="common.cancel"></button> -->
<!-- </div> -->