<!-- 标题 -->
<div class="modal-header">
    <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
   <!--  <button type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('cloudResource/hostPool/shareFileSys/viewFilesDetail')">
		<span class="icon-helpnew"	style="font-size: 16px;" aria-hidden="true"></span>
	</button> -->
    <h4 class="modal-title" translate="uicustomVm.iPv4Attributes"></h4>
</div>

<div class="modal-body" style="padding-top:0px; padding-left:15px;padding-right:15px;">
	<!-- storage info -->
	<div class="panel-body" style="padding-bottom:0px;">
	      <div class="table" style="height:350px;" ng-grid="gridOptions"></div>
	</div>
</div>

<!-- 按钮栏 -->
<div class="modal-footer">
    <button class="btn btn-black" ng-click="cancel()" translate="common.close"></button>
</div>