<!-- 备份管理 -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" custom-title="{{'common.close'|translate}}">
        <span class="icon-closenew"></span>
    </button>
    <button type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('cloudResource/vm/bak/backupMgmt')">
		<span class="icon-helpnew"></span>
	</button>
	<h4 class="modal-title" >{{title}}</h4>
</div>
<div class="modal-body list-body">
   <!-- <div style="width: 100%; height: 300px;" class="table"  ng-grid="gridOptions"></div> -->
   <div class="panel-body" ng-controller="BackupTreeListCtrl" id="backupMngListDiv">
	    <tree-grid tree-data="treeData"
	    		   col-defs="column"
	    		   expand-on="expandColum"
	    		   icon-leaf="-"
	    		   icon-expand=""
	    		   icon-collapse=""
	    		   on-select="setSelectData(branch)"
	    		   on-click=""
	    		   template-url=""
	    		   expand-level="9"
	    		   tree-grid-heigth="360px"
	    		   header-color="#e4eaec"
	    		   row-height="32">
	    </tree-grid>
	 </div>
</div>
<!-- 按钮栏 -->
<div class="modal-footer">
    <button id="importBackupFileBtn"  class="btn btn-green" ng-click="importBackupFile()" translate="common.import"></button>
    <button id="okBtn" class="btn btn-green"  ng-click="ok()" ng-disabled="mySelections.length<1" translate="common.confirm"></button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>