<!-- 克隆模板-->
<div class="modal-header">
	 <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
<!-- 	<button type="button" class="close cornerhelp"  custom-title="{{::'help'|translate}}" ng-click="openHelp('cloudResource/vmTemp/cloneVMToTemp')"> -->
<!-- 		<span class="icon-helpnew"></span> -->
<!-- 	</button> -->
	<h4 class="modal-title" translate="vm.cloneTemplate"></h4>
</div>
<div class="modal-body">
	<div class="form-horizontal">
		<form name="form" class="form-horizontal" ng-keypress="enter($event)"  role="form" novalidate>
			<div class="form-group" ng-class="{'has-error': (form.templatename.$dirty && form.templatename.$invalid)}">
				<label for="templatename" class="control-label short"><span translate="vm.templateName"></span><span style="color: red">*</span></label>
				<div class="control-input">
				     <div class="input-group width260">
					   <input type="text" checkname  ng-maxlength=64 class="form-input form-control" ng-model="template.name"  ng-trim="false" id="templatename" name="templatename" required>
					   <span class="input-group-addon help-addon" ng-messages="form.templatename.$error" ng-if="form.templatename.$dirty">
					   <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
							 <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'maxlen'|translate}}64"></span></span>
							 <span ng-message="checkname"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'checkname'|translate}}"></span></span>
					   </span>
                     </div>
				</div>
		  </div>
		  <div class="form-group" ng-class="{'has-error': (form.templatedesc.$dirty && form.templatedesc.$invalid)}">
				<label for="templatedesc" class="control-label short"><span translate="vm.templateDesc"></span></label>
				<div class="control-input">
				     <div class="input-group width260">
                         <input id="templatedesc" name="templatedesc" ng-maxlength=120 type="text" class="form-input form-control" ng-model="template.desc" > 
					 <span class="input-group-addon help-addon" ng-messages="form.templatedesc.$error" ng-if="form.templatedesc.$dirty">
						 <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'maxlen'|translate}}120"></span></span>
					 </span>
                     </div>
				</div>
		  </div>
			<!-- 模板存储 -->
			<div class="form-group">
				<label for="templetStoragePath" class="control-label short"> <span
					translate="template.templateStorage"></span><span
					style="color: red">*</span>
				</label>
				<div class="control-input">
					<div class="input-group width260" ng-click="selectTempletStorage()">
						<input id="templetStoragePath" ng-readonly="true" name="cluster"
							class="form-control first-child-angle selectInput" type="text"
							ng-model="template.templetStoragePath" required /> 
						<span class="input-group-addon inner-addon last-child-angle" style="cursor:pointer"> 
							<span class="icon-add-btn" type="button"></span> 
						</span>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>

 <div class="modal-footer">
	  <button id="cloneTemplateBtn" class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
	  <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
 </div>
