<!-- 标题 -->
<div class="modal-header">
	 <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<button type="button" class="close cornerhelp"  custom-title="{{::'help'|translate}}" ng-click="openHelp('cloudResource/vm/deleteVM')">
		<span class="icon-helpnew"></span>
	</button>
	<h4 class="modal-title" translate="vm.deleteVm"></h4>
</div>
<div class="modal-body">
	<div class="form-horizontal">
		<form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
            <!-- 删除方式 -->
            <!-- 放入回收站 -->
		    <div class="form-group" >
               <label for="unique-id0" class=""><span translate="vm.deleteVmType"></span></label>
            </div>
		    <div ng-if="!isRecycle" class="form-group" style="margin-left: 20px">
            	<div class="input-group">
					<cas-ace-check id="delVmTypeDiv" input-readonly="{{recycleReadonly}}" name="delVmTypeDiv" type="radio" text="{{::'vm.recycle' | translate}}" checked-value="3" checked="{{!recycleReadonly}}" ng-model="del.type"></cas-ace-check>
				</div>
		    </div>
		    <!-- 保留虚拟机的数据存储文件 -->
	        <div class="form-group" style="margin-left: 20px">
			   	<div class="control-input">
				   	<div class="input-group">
						<cas-ace-check id="remainVmTypeDiv" name="delVmTypeDiv" type="radio" text="{{::'vm.remainFile' | translate}}" checked-value="0" checked="{{recycleReadonly}}" ng-model="del.type"></cas-ace-check>
					</div>
				</div>
	        </div>
	        <!-- 删除虚拟机的数据存储文件-->
			<div class="form-group" style="margin-left: 20px">
				<div class="control-input">
					<div class="input-group">
						<cas-ace-check id="deleteFileDiv" name="delVmTypeDiv" type="radio" text="{{::'vm.deleteFile' | translate}}" checked-value="1" ng-model="del.type"></cas-ace-check>
					</div>
				</div>
			</div>
            <!--  销毁数据 -->
			<div class="form-group" ng-show="del.type == '1'" style="margin-left: 40px">
               <div class="control-input">
					<cas-ace-check id="completeDeleteDiv" name="completeDeleteDiv" type="checkbox" text="{{::'vm.completeDelete' | translate}}"  checked-value="1"  ng-model="del.data" value="1"></cas-ace-check>
			   </div>
			</div>
			<div class="form-group" ng-show="del.type == '1'" style="margin-left: 40px">
			   <label class=""><span style="color:red" translate="vm.completeDeleteNotes"></span></label>
			</div>
		</form>

	</div>
</div>
	
 <div class="modal-footer">
	  <button id="deleteVmBtn" class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
	  <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
 </div>
