<!-- 备份文件导入弹出窗口 -->
<div class="modal-header">
	 <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<button type="button" class="close cornerhelp" custom-title="{{::'help'|translate}}" ng-click="openHelp('cloudResource/vm/bak/importBakOfVM')">
		<span class="icon-helpnew"></span>
	</button>
	<h4 class="modal-title" translate="vm.backupFileImport"></h4>
</div>
<div class="modal-body">
	<div class="form-horizontal">
		<form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
            <!-- 恢复方式选择框 -->
		    <div class="form-group">
		        <label for="restoreTyepSelect" class="control-label"><span translate="host.restoreType"></span><span style="color:red">&nbsp;</span></label>
		            <div class="control-input">
		                <div class="input-group" style="width:302px;">
		                    <select-input options="restoreType.options" ng-init="model.type = 'cp'" left-angle="true" bind-model="model.type" input-id="restoreType" input-name="restoreType">
		                    </select-input>
		                    <span class="input-group-addon iconSearch last-child-angle" style="background:white;border-left:0;" ng-click="paraQuote()">
		                    	<span class="icon-search-gray" type="button"></span>
		                    	<span style="margin-left:5px;" translate="host.attrQuote"></span>
		                    </span>
		                    <span class="input-group-addon help-addon">
		                        <span class="icon-occupying"></span>
		                    </span>
		                </div>
		           </div>
		    </div>
		    <!-- 远程方式所需参数 -->
		    <div id="remoteType" ng-if="model.type != 'cp'">
			    <!-- IP地址 -->
		        <div class="form-group" ng-class="{'has-error': (form.ip.$dirty && form.ip.$invalid)}">
		            <label for="ip" class="control-label"><span translate="ip"></span><span style="color:red">*</span></label>
		                <div class="control-input">
		                    <div class="input-group input-xlarge">
		                        <input type="text" ip ng-maxlength=130 class="form-input form-control" ng-model="model.targetAddr"  ng-trim="false" id="ip" name="ip" required>
		                        <span class="input-group-addon help-addon" ng-messages="form.ip.$error">
		                        	<span ng-if="form.ip.$valid||!form.ip.$dirty">
		                            	<span class="icon-occupying"></span>
		                        	</span>
		                        	<span ng-if="form.ip.$dirty">
		                          	  	<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                            	<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}130"></span></span>
		                            	<span ng-message="ip"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidip'|translate}}"></span></span>
		                        	</span>
		                        </span>
		                   </div>
		              </div>
		       </div>
		       <!-- 用户名 -->
		       <div class="form-group" ng-class="{'has-error': (form.username.$dirty && form.username.$invalid)}">
		           <label for="user_name" class="control-label"><span translate="username"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text"  ng-maxlength=32 class="form-input form-control" ng-model="model.userName"  ng-trim="false" id="inputhost_username" name="username" required>
		                   <span class="input-group-addon help-addon" ng-messages="form.username.$error">
		                       <span ng-if="form.username.$valid||!form.username.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form.username.$dirty">
		                           <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'maxlen'|translate}}32"></span></span>
		                       </span>
		                  </span>
		              </div>
		          </div>   
		      </div>
		      <!-- 密码 -->
		      <div class="form-group" ng-class="{'has-error': (form.pwd.$dirty && form.pwd.$invalid)}">
		          <label for="pwd" class="control-label"><span translate="password"></span><span style="color: red">*</span></label>
		          <div class="control-input">
		              <div class="input-group input-xlarge">
		                  <input type="password"  ng-maxlength=32 class="form-input form-control" ng-model="model.password" ng-trim="false" id="inputpwd" name="pwd" required>
		                  <span class="input-group-addon help-addon" ng-messages="form.pwd.$error">
		                      <span ng-if="form.pwd.$valid||!form.pwd.$dirty">
		                          <span class="icon-occupying"></span>
		                      </span>
		                      <span ng-if="form.pwd.$dirty">
		                          <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
		                          <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'maxlen'|translate}}32"></span></span>
		                      </span>
		                  </span>
		             </div>
		         </div>
		     </div>
	      </div>	                
           <!-- 数据源位置 -->
           <div class="form-group" ng-class="{'has-error': (form.resourceLocation.$dirty && form.resourceLocation.$invalid)}">
            <label for="resourceLocation" class="control-label"><span translate="host.resourceLocation"></span><span style="color: red">*</span></label>
            <div class="control-input">
                <div class="input-group input-xlarge">
                    <input checkpath type="text"  ng-maxlength=120 class="form-input form-control" ng-model="model.directory" ng-trim="false" id="resourceLocation" name="resourceLocation" required>
                       <span class="input-group-addon help-addon" ng-messages="form.resourceLocation.$error">
                          <span ng-if="form.resourceLocation.$dirty">
                              <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
                              <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'maxlen'|translate}}120"></span></span>
                              <span ng-message="checkpath"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'invalidpath'|translate}}"></span></span>
                          </span>
                        </span>
                 </div>
             </div>
        </div>
           <!-- 临时目录 -->
           <div class="form-group" ng-class="{'has-error': (form.tempPath.$dirty && form.tempPath.$invalid)}">
                  <label for="tempPath" class="control-label"><span translate="host.tempPath"></span><span style="color: red">*</span></label>
                  <div class="control-input">
                      <div class="input-group input-xlarge">
                          <input checkpath type="text"  ng-maxlength=120 class="form-input form-control" ng-model="model.tmpDir" ng-init="model.tmpDir = '/vms/vmbackuptmp' " ng-trim="false" id="tempPath" name="tempPath" required>
                          <span class="input-group-addon help-addon" ng-messages="form.tempPath.$error">
                             <span ng-if="form.tempPath.$dirty">
                                 <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
                                 <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}120"></span></span>
                                 <span ng-message="checkpath"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidpath'|translate}}"></span></span>
                             </span>
                           </span>
                       </div>
                   </div>
              </div>
		</form>

	</div>
</div>

 <div class="modal-footer">
	  <button id="importBackupBtn" class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
	  <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
 </div>
