<!-- 虚拟机备份管理中还原窗口 -->
<div class="modal-header">
	 <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<!-- <button type="button" class="close cornerhelp" custom-title="{{::'help'|translate}}" ng-click="openHelp('cloudResource/vm/revertVM')">
		<span class="icon-helpnew"></span>
	</button> -->
	<h4 class="modal-title" translate="backupVm.restoreVm"></h4>
</div>
<div class="modal-body">
    <div class="alert alert-warning" role="alert" translate="vm.restoreVmAlert"></div>

	<div class="form-horizontal">
		<form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
		    <!--临时目录  -->
            <div class="form-group" ng-class="{'has-error': (form.temdir.$dirty && form.temdir.$invalid)}">
                <label for="temdir" class="control-label"><span translate="backupVm.tempDir"></span><span style="color: red">*</span></label>
                <div class="control-input">
                    <div class="input-group input-xlarge">
                        <input checkpath type="text" ng-maxlength=32 required class="form-input form-control" ng-model="model.tmpDir"  ng-trim="false" id="temdir" name="temdir">
                         <span class="input-group-addon help-addon" ng-messages="form.temdir.$error" ng-if="form.temdir.$dirty">
							 <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
							 <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'maxlen'|translate}}32"></span></span>
							 <span ng-message="checkpath"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'invalidpath'|translate}}"></span></span>
					     </span>
                    </div>
                </div>
            </div>
		</form>

	</div>
</div>
	
 <div class="modal-footer">
	  <button id="restoreVmBtn" class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
	  <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
 </div>
