<!-- 组织用户分组列表 -->
<div class="calc100"  ng-controller="OrgUserGroupCtrl">
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-left" >
			    	<h5 translate="user.userGroup"></h5>
		       	</div>
				<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refresh()" >
						<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
				    </label>
					<label has-permission="USER_GROUP_ADD" class="btn btn-default btn-menu hidden-xs" ng-click="addUserGroup()">
						<span class="sm-icon icon-add"></span>
						<span translate="org.addGroup"></span>
					</label>
				</div>
			</div>
		</nav>
	       <div id="orgUserGrpListDivId" class="cas-list-body twoListWithOneNav1-calc" style="overflow-y:auto;">
	       		<tree-grid tree-data="treeData"
		    		   col-defs="column"
		    		   expand-on="expandColum"
		    		   icon-leaf="-"
		    		   icon-expand=""
		    		   icon-collapse=""
		    		   on-select="onSelect(branch)"
		    		   on-click=""
		    		   template-url=""
		    		   expand-level="21"
		    		   tree-grid-heigth="100%"
		    		   header-color="#e4eaec"
		    		   row-height="32">
		    	</tree-grid>
	       	</div>
	    <nav class="navbar-default" role="navigation">
			<div class="container-fluid">
		       <div class="btn-group navbar-left" >
			     <h5 translate="vm.domain"></h5>
		       </div>
			</div>
		</nav>
		<div class="cas-list-body twoListWithOneNav2-calc" ng-controller="OrgUserVmCtrl">
				<div id="userGrplistDiv" style="height: 100%;width:100%;" class="table"  ng-grid="userVmOptions"></div>
		</div>
</div>