<div class="calc100"  ng-controller="OrgManagerCtrl">
	<nav class="navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="btn-group navbar-right" >
				<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshPage()" >
					<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
			    </label>
				<label has-permission="ORGANIZATION_MODIFY" class="btn btn-default btn-menu hidden-xs" ng-click="selManger()">
					<span class="sm-icon icon-add"></span>
					<span translate="org.selManger"></span>
				</label>
				<label has-permission="ORGANIZATION_MODIFY" class="btn btn-default btn-menu hidden-xs" ng-click="selMangerGp()">
					<span class="sm-icon icon-add"></span>
					<span translate="org.selMangerGp"></span>
				</label>
			</div>
		</div>
	</nav>
	<div class="cas-list-body oneList-calc">
		<div id="orgManagerListDivId" class="table"  ng-grid="gridOptions"></div>
	</div>
</div>