<div class="calc100" ng-controller="OrgNetStCtrl">
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshPage()" >
						<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
				    </label>
					<label class="btn btn-default btn-menu hidden-xs" ng-click="releaseProfile()">
						<span class="sm-icon icon-add"></span>
						<span translate="org.releaseProfile"></span>
					</label>
				</div>
			</div>
		</nav>
		<div class="cas-list-body oneList-calc">
			<div list-style class="table"  ng-grid="gridOptions"></div>
		</div>
</div>