<div class="panel cas-panel panel-default" style="height:100%;" ng-controller="WorkflowDiskCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li class="active"><span translate="org.list"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('org/orgMgmt')"></span>
	</div>
	<div class="panel-body" style="height:91%;">
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_organize Icon_common_display">
		      </span>
		      <span class="desc"><span translate="org.list"></span><span translate="org.listHead"></span></span>
			</div>
		</div>
		<div class="section" style='padding-bottom:2px'>
            <!-- view list-->
            <label class="btn btn-default btn-menu" >
                <span class="sm-icon icon-add"></span><span  translate="org.add"></span>
            </label>
        </div>
		<div class="panel-body">
			<div ng-style="listStyle" class="table"  ng-grid="gridOptions"></div>
		</div>
	</div>
</div>
