<!-- 组织页面 -->
<div class="panel panel-default cas-panel" style="min-width:865px" ng-controller="OrgCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display:inline;">
			<li><a ui-sref='main.VDCMng' ><span translate="VDC.VDCMng"></span></a></li>
            <li><a ui-sref='main.orgMng' ><span translate="org.orgMng"></span></a></li>
            <li class="active"><span translate="org.org"></span>：{{name}}</li>
        </ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('org/orgMgmt')"></span>
	</div>
	<div class="panel-body" >
		<div class="section">
				<div class="btn-group" role="group" aria-label="...">
				<label has-permission="ORGANIZATION_MODIFY" ng-if="showModifyOrg == true" class="btn btn-default btn-menu" ng-click="modifyOrg()">
				  <span class="sm-icon icon-modify"></span><span translate="org.modify"></span>
				</label>
				<label has-permission="ORGANIZATION_MODIFY" ng-if="showModifyOrg == true" class="btn btn-default btn-menu" class="btn btn-default btn-menu" ng-click="releaseResourcePool()">
				  <span class="sm-icon icon-resourcePool"></span><span translate="resourcePool.releaseResourcePool"></span>
				</label>
				<div has-permission="ORGANIZATION_DELETE | USER_ADD | USER_GROUP_ADD" class="btn btn-default btn-menu" dropdown dropdown-toggle>
						<span class="sm-icon icon-more-actions"></span> <span translate="menu.moreOperate"></span> <span
							class="dropdown-toggle icon-xialahao" type="button"></span>
						<ul class="dropdown-menu" role="menu">
							<li has-permission="ORGANIZATION_DELETE" ng-if="showDelOrg == true"><a class="" href="#" ng-click="delOrg()"><span class="sm-icon icon-delete"></span><span translate="org.del"></span></a></li>
							<li has-permission="USER_ADD" ng-if="showAddUser == true"><a class="" href="#" ng-click="addUser()"><span class="sm-icon icon-operator-add"></span><span translate="org.addUser"></span></a></li>
							<li has-permission="USER_GROUP_ADD" ng-if="showAddGroup == true"><a class="" href="#" ng-click="addGroup()"><span class="sm-icon icon-operator-group"></span><span translate="org.addGroup"></span></a></li>
						</ul>
			     </div>
			</div>
	</div>
	<!-- 		
	<div class="section">
		<div class='lead' >
		      <span class="pic">
		        <img alt="" src="css/img/gray/Icon_organize_16x16.svg">
		      </span>
		      <span class='org.org'><span translate="org.orgHead"></span></span>
		</div>
	</div>
	 -->
	<div class="section">
		<castabset>
	      <castab href=".summary" icon="icon-summary-gray" active="{{currentTab == 'summary'}}" heading="{{::'editDomain.summary'|translate}}"></castab>
	      <castab href=".vm" icon="icon-virtual-host-gray" active="{{currentTab == 'vm'}}" heading="{{::'cluster.vm'|translate}}"></castab>
	      <castab href=".template" icon="icon-vm-template-gray" active="{{currentTab == 'template'}}" heading="{{::'org.template'|translate}}"></castab>
          <castab href=".resourcePool" icon="icon-cluster-noha-gray" active="{{currentTab == 'resourcePool'}}" heading="{{::'resourcePool'|translate}}"></castab>

		  <!-- <castab href=".netSt" icon="icon-network-profile" heading="{{::'addDomain.profile'|translate}}"></castab> -->
	      <!-- 
	      <castab href=".virDesk" icon="icon-desktop-pool-gray" heading="{{::'org.virDesk'|translate}}"></castab>
	       -->
	      <castab href=".user" icon="icon-operator-gray" active="{{currentTab == 'user'}}" heading="{{::'org.user'|translate}}"></castab>
	      <castab href=".group" icon="icon-operator-group-gray" active="{{currentTab == 'group'}}" heading="{{::'common.userGroup'|translate}}"></castab>
	      <castab href=".manager" icon="icon-operator-manage-gray" active="{{currentTab == 'manager'}}" heading="{{::'org.manger'|translate}}"></castab>
	      <!-- <castab href=".task" icon="icon-task-manage-gray" heading="{{::'cluster.task'|translate}}"></castab>
	      <castab href=".operLog" icon="icon-task-manage-gray" heading="{{::'org.operLog'|translate}}"></castab>
	       -->
	    </castabset>
	    
	<!-- 	<castabset ng-if="cloudType==5">
	      <castab href=".cloudOsVm" icon="icon-virtual-host-gray" active="{{currentTab == 'vm'}}" heading="{{::'cluster.vm'|translate}}"></castab>
	      <castab href=".cloudOsImg" icon="icon-vm-template-gray" active="{{currentTab == 'template'}}" heading="{{::'org.template'|translate}}"></castab>
	      <castab href=".user" icon="icon-operator-gray" active="{{currentTab == 'user'}}" heading="{{::'org.user'|translate}}"></castab>
	      <castab href=".group" icon="icon-operator-group-gray" active="{{currentTab == 'group'}}" heading="{{::'common.userGroup'|translate}}"></castab>
	      <castab href=".manager" icon="icon-operator-manage-gray" active="{{currentTab == 'manager'}}" heading="{{::'org.manger'|translate}}"></castab>
	    </castabset> -->
	    
	</div>
	<div id="orgContent" class="content" ui-view></div>
	</div>
</div>