<!-- 组织管理 -->
<div class="panel cas-panel panel-default" style="height:100%;" ng-controller="OrgListCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li><a ui-sref='main.VDCMng' ><span translate="VDC.VDCMng"></span></a></li>
			<li class="active"><span translate="org.orgMng"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('org/orgMgmt')"></span>
	</div>
	<div class="panel-body" style="height:91%;">
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_organize_manage Icon_common_display">
		      </span>
		      <span class="desc"><span translate="org.listHead"></span></span>
			</div>
		</div>
        <nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshPage()" >
						<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
				    </label>
					<label class="btn btn-default btn-menu" has-permission="ORGANIZATION_ADD" ng-click="addOrg()">
		                <span class="sm-icon icon-add"></span><span translate="org.add"></span>
		            </label>
				</div>
			</div>
		</nav>
		<div id="orgListDivId" class="cas-list-body oneListWithLead-calc">
			<div class="table"  ng-grid="gridOptions"></div>
		</div>
	</div>
</div>
