<div class='row overview-content-row'  ng-controller="OrgOverviewCtrl">
			<!-- 第三行 虚拟机状态统计+用户数+CPU数+内存数 -->
					<!-- 虚拟机统计-->
					<div class="overviewheight overview-desc col-xs-12 col-sm-6 col-md-6 col-lg-3" id="vmInfo">
						<div class="detail-item">
							<div class="title">
								<h5 translate="dashboard.vmStatusInfo"></h5>
							</div>
							<div id="vmCircle" class="circle" style="min-height:190px"> </div>
							<div id="vmnumBar" class="numBar">
								<div class="numItem" id="numItem-normal">
									<label></label><br> <span translate="dashboard.vmOpened"></span>
								</div>
								<div class="numItem" id="numItem-close">
									<label></label><br> <span translate="dashboard.vmClosed"></span>
								</div>
								<div class="numItem" id="numItem-error">
									<label></label><br> <span translate="dashboard.vmUnKnown"></span>
								</div>
							</div>
							</div>
					</div>
					
					<!-- 用户数 -->
					<div class="overviewheight user-status col-xs-12 col-sm-6 col-md-6 col-lg-3" id="userinfo">
						<div class="detail-item">
							<div class="title">
								<h5 translate="dashboard.countUser"></h5>
							</div>
							<div class = "circle" id = "countUserPic" style="min-height:190px"></div>
							<div id="usernumBar" class="numBar">
							    <div class="numItem numItem_double" id="numItem-useryes">
									<label></label><br> <span translate="dashboard.useryes"></span>
								</div>
								<div class="numItem numItem_double" id="numItem-userno">
									<label></label><br> <span translate="dashboard.userno"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="overviewheight org-cpu-mem col-xs-12 col-sm-6 col-md-6 col-lg-3" id="cpuinfo">
						<div class="detail-item">
							<div class="title">
								<h5 translate="dashboard.countCpuMem"></h5>
							</div>
							<!-- CPU -->
							<div class="remind count height44">
								<div class = "countPic" id = "countCpuPic" ></div>
								<div class = "countTable" style="margin-top:5% !important">
							    	<table>
								    	<tr><td translate="dashboard.orgCpu"></td><td class="leftText" id = "orgCpu"></td></tr>
								    	<tr><td translate="dashboard.orgCpuCur"></td><td class="leftText" id = "orgCpuCur"></td></tr>
								    	<tr><td translate="dashboard.cpuUtilRate"></td><td class="leftText" id = "cpuUtilRate"></td></tr>
							    	</table>
							    </div>
							</div>
							<!-- 内存 -->
							<div class="remind count height44">
								<div class = "countPic" id = "countMemoryPic" ></div>
								<div class = "countTable" style="margin-top:5% !important">
							    	<table>
								    	<tr><td translate="dashboard.orgMem"></td><td class="leftText" id = "orgMem"></td></tr>
								    	<tr><td translate="dashboard.orgMemCur"></td><td class="leftText" id = "orgMemCur"></td></tr>
								    	<tr><td translate="dashboard.memUtilRate"></td><td class="leftText" id = "memUtilRate"></td></tr>
							    	</table>
							    </div>
							</div>
						</div>
					</div>
					<div class="overviewheight org-store-vm col-xs-12 col-sm-6 col-md-6 col-lg-3" id="meminfo">
						<div class="detail-item">
							<div class="title">
								<h5 translate="dashboard.countStorageVm"></h5>
							</div>
							<!-- 存储 -->
							<div class="remind count height44">
								<div class = "countPic" id = "countStoragePic" ></div>
								<div class = "countTable" style="margin-top:5% !important">
							    	<table>
								    	<tr><td translate="dashboard.orgStorage"></td><td class="leftText" id = "orgStorage"></td></tr>
								    	<tr><td translate="dashboard.orgStorageCur"></td><td class="leftText" id = "orgStorageCur"></td></tr>
								    	<tr><td translate="dashboard.storageUtilRate"></td><td class="leftText" id = "storageUtilRate"></td></tr>
							    	</table>
							    </div>
							</div>
							<!-- 虚拟机数量 -->
							<div class="remind count height44">
								<div class = "countPic" id = "countVmPic" ></div>
								<div class = "countTable" style="margin-top:5% !important">
							    	<table>
								    	<tr><td translate="dashboard.orgVmCount"></td><td class="leftText" id = "orgVmCount"></td></tr>
								    	<tr><td translate="dashboard.orgVmCur"></td><td class="leftText" id = "orgVmCur"></td></tr>
								    	<tr><td translate="dashboard.vmUtilRate"></td><td class="leftText" id = "vmUtilRate"></td></tr>
							    	</table>
							    </div>
							</div>
						</div>
					</div>
				<!-- 第四行 top5虚拟机CPU利用率+top5虚拟机内存利用率-->
					<!-- top5虚拟机cpu-->
					<div class="overviewheight org-vmCpuTop5 col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="detail-item">
							<div class="title"><h5 translate="dashboard.topVmCpu"></h5></div>
							<div id="vmringChart" class="trendChart" style="height:89%;min-height:249px">
							</div>
						</div>
					</div>
					<!-- top5虚拟机内存-->
					<div class="overviewheight org-vmMemTop5 col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="detail-item">
							<div class="title"><h5 translate="dashboard.topVmMemory"></h5></div>
							<div id="vmbarChart" class="trendChart" style="height:89%;min-height:249px"></div>
						</div>
					</div>
</div>