<div class="calc100" ng-controller="OrgStorageCtrl">
	<nav class="navbar-default" role="navigation">
		<div class="container-fluid">
			<div ng-if="cloudType==2" class="btn-group navbar-left" >
			     <h5 translate="template.storage"></h5>
		       </div>
			<div class="btn-group navbar-right" >
				<label class="btn btn-default btn-menu hidden-xs" ng-click="refash()" >
					<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
			    </label>
				<label has-permission="ORGANIZATION_MODIFY" class="btn btn-default btn-menu hidden-xs" ng-click="releaseStorage()">
					<span class="sm-icon icon-add"></span>
					<span translate="org.addStoragePool"></span>
				</label>
			</div>
		</div>
	</nav>
		<div ng-if="cloudType==2" class="cas-list-body oneList-calc">
			<div id="orgStorageListDivId" class="table"  ng-grid="gridOptions"></div>
		</div>
		<div ng-if="cloudType==3" class="cas-list-body oneList-calc">
			<div id="orgStorageListDivId" class="table"  ng-grid="gridOptions"></div>
		</div>
</div>
