<!-- 虚拟机模板页面 -->
<div class="calc100"  ng-controller="OrgTemplateCtrl">
	<nav class="navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="btn-group navbar-left" >
		    	<h5 translate="template.template"></h5>
	       	</div>
			<div class="btn-group navbar-right" >
				<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshTempletPage()" >
					<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
			    </label>
			     <!-- 手工同步 -->
		        <label ng-if="!queryType" class="btn btn-default btn-menu hidden-xs"  ng-click="syncResourceTemp()">
				    <span class='sm-icon icon-synchronize'></span>
				    <span translate="cloudResource.syncTemplateResource"></span>
		        </label>
				<!-- <label has-permission="VM_TEMPLET_RELEASE" ng-if="cloudType != 5" class="btn btn-default btn-menu hidden-xs" ng-click="releaseTemplate()">
					<span class="sm-icon icon-add"></span>
					<span translate="org.releaseTemp"></span>
				</label> -->
			</div>
		</div>
	</nav>
    <!--  原来的模板
	   	<div class="cas-list-body templateNetList-calc">
	        <div id="templateListDivId" class="calc100" style="width:100%;" ng-grid="gridOptions"></div>
		</div>
	-->
	<div ng-class="{'cas-list-body oneList-calc':cloudType == 5,'cas-list-body templateNetList-calc':cloudType != 5}">
        <div id="templateListDivId" class="calc100" style="width:100%;" ng-grid="gridOptions"></div>
    </div>
	<div class="cas-list-body" style="height:176px;" ng-if="cloudType != 5">
		    <castabset>
		      	<castab href=".net" icon="icon-net-gray" heading="{{::'addDomain.network'|translate}}"></castab> 
		      	<castab href=".storage" icon="icon-storage-gray" heading="{{::'vm.storage'|translate}}"></castab> 
		    </castabset>
		    <div style="height: -moz-calc(100% - 36px);height: -webkit-calc(100% - 36px);height: calc(100% - 36px);" ui-view></div>
	</div>
</div>