<!-- 虚拟机模板列表 -->
<div class="calc100 "  ng-controller="OrgUserCtrl">
	<nav class="navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="btn-group navbar-left" >
		    	<h5 translate="org.user"></h5>
	       	</div>
			<div class="btn-group navbar-right" >
				<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshPage()" >
					<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
			    </label>
				<label has-permission="USER_ADD" class="btn btn-default btn-menu hidden-xs" ng-click="addUser()">
					<span class="sm-icon icon-add"></span>
					<span translate="org.addUser"></span>
				</label>
				<label has-permission="USER_IMPORT" has-permission="USER_IMPORT" class="btn btn-default btn-menu hidden-xs" ng-click="importUser()"> 
					    <span class="sm-icon icon-auth-server"></span>
						<span translate="user.importUser"></span>
				</label>
			</div>
		</div>
	</nav>
    <div class="cas-list-body twoListWithLeadAndTwoNav-calc">
       	<div id="userListDiv" style="width:100%;" class="table"  ng-grid="gridOptions"></div>
    </div>
    <!-- <div class="cas-list-body">
        <ul id="myTab" class="newcas-tabs">
			 <li role="presentation" ng-class="{'active': isUser,newnavliActive2:isUser}" ng-click = "selectTab('user')"><a ng-class="{newnavaActive2:isUser}" href="#">{{::'org.userVm'|translate}}</a></li>
			 <li role="presentation"  ng-class="{'active': isBackup,newnavliActive2:isBackup}" ng-click = "selectTab('backup')"><a ng-class="{newnavaActive2:isBackup}" href="#">{{::'org.cloudBackupStrategy'|translate}}</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div  ng-class="{true: 'tab-pane fade in active', false: 'tab-pane fade'}[isUser]" id="user" ng-controller="OrgUserVmCtrl">
				<div style="width: 100%;height:200px; " class="table"  ng-grid="userVmOptions"></div>
			</div>
			<div  ng-class="{true: 'tab-pane fade in active', false: 'tab-pane fade'}[isBackup]" id="back" ng-controller="OrgBackupCtrl">
		    	<div style="width: 100%;height:200px; " class="table"  ng-grid="backupOptions"></div>
			</div>
        </div>
    </div> -->
    <nav class="navbar-default" role="navigation">
		<div class="container-fluid">
	       <div class="btn-group navbar-left" >
		     <h5 translate="org.vmsAndBackups"></h5>
	       </div>
		</div>
	</nav>
    <div class="cas-list-body twoListWithLeadAndTwoNav-calc" ng-controller="OrgUserDetailCtrl">
		    <castabset>
		      	<castab href=".userVm" icon="sm-icon icon-virtual-host-gray" heading="{{::'org.userVm'|translate}}"></castab> 
		      	<castab ng-if="cloudType!=5" href=".backup" icon="sm-icon icon-cvm-bakcup-hisotry-gray" heading="{{::'org.cloudBackupStrategy'|translate}}"></castab> 
		    </castabset>
		    <div style="height: -moz-calc(100% - 36px);height: -webkit-calc(100% - 36px);height: calc(100% - 36px);" ui-view></div>
       <!-- 	<tabset  type="pills">
	           	  <tab heading="{{'org.userVm'|translate}}">
	           		  用户虚拟机列表
	           		  <div ng-controller="OrgUserVmCtrl">
			          	  <div style="width:100%;height:130px;height:200px;" ng-grid="userVmOptions"></div>
	           		  </div>
	              </tab>
	              <tab heading="{{'org.cloudBackupStrategy'|translate}}">
	           		  云备份策略列表
	           		  <div ng-controller="OrgBackupCtrl">
			          	  <div style="width:100%;height:130px;height:200px;" ng-grid="backupOptions"></div>
	           		  </div>
	             </tab>
	    </tabset> -->
    </div>
</div>