<div class="panel cas-panel panel-default" style="height:100%;" ng-controller="OrgVirDeskCtrl">
	<div class="panel-body">
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs" style="width:46px" ng-click="refreshPage()" >
						<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
				    </label>
				    <!-- 
					<label class="btn btn-default btn-menu hidden-xs" ng-click="releaseProfile()">
						<span class="sm-icon icon-add"></span>
						<span translate="org.releaseProfile"></span>
					</label>
					 -->
				</div>
			</div>
		</nav>
		<div class="cas-list-body oneList-calc">
			<div list-style style="width: 100%; class="table"  ng-grid="gridOptions"></div>
		</div>
	</div>
</div>