[Unit]
Description=Restore Encryption Card SR-IOV
After=libvirtd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python /opt/bin/encryption_card_config.pyc -o reload
ExecStop=/usr/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
