<!-- 标题 -->
<div class="modal-header">
   <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		   <span class="icon-closenew"></span>
	</button>
    <h4 class="modal-title" translate="vmware.configClusterDRS"></h4>
</div>
<!-- 内容 -->
<div class="modal-body">
    <div class="form-horizontal">
        <form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
            <!-- 开启关闭集群 -->
            <div class="form-group">
				<label for="startDRS" class="switch-label"><span translate="vmware.enableDRS"></span></label>
				<div class="control-input">
					 <div class="input-group">
				    	<div id="startDRS" toggle-switch  class="switch-success" ng-model="pageData.enable"></div>
				    	<span class="input-group-btn help-addon" tooltip-placement="right" tooltip="{{::'vmware.enableDRSTip'|translate}}">
				    		<img class="icon-prompt" src="css/img/gray/Icon_help_16x16.svg"/>
				    	</span>
			  	  	</div>
		  	  	</div>
			</div>
			<!-- 自动化级别 -->
			<div class="form-group">
                <label for="autoLevel" class="control-label"><span translate="vmware.autoLevel"></span><span style="color:red">&nbsp;</span></label>
                <div class="control-input">
	                <div class="col-xs-2"  style="padding-left:0px;padding-right:0px">
		                <cas-ace-check id="manual" name="autoLevel" type="radio" text="{{::'vmware.manual' | translate}}" 
	           				checked-value="manual" input-readonly="{{!pageData.enable}}" 
	           				checked="{{pageData.defaultVmBehavior == 'manual'}}"
	           				ng-model="pageData.defaultVmBehavior" >
	           			</cas-ace-check>
           			</div>
           			<div class="col-xs-2"  style="padding-left:0px;padding-right:0px">
	           			<cas-ace-check id="semiAutoDiv" name="autoLevel" type="radio" text="{{::'vmware.semiAuto' | translate}}" 
	           				checked-value="partiallyAutomated" input-readonly="{{!pageData.enable}}" 
	           				checked="{{pageData.defaultVmBehavior == 'partiallyAutomated'}}" 
	           				ng-model="pageData.defaultVmBehavior" >
	           			</cas-ace-check>
           			</div>
           			<div class="col-xs-2"  style="padding-left:10px;padding-right:0px">
	           			<cas-ace-check id="fullyAutoDiv" name="autoLevel" type="radio" text="{{::'vmware.fullyAuto' | translate}}" 
	           				checked-value="fullyAutomated" input-readonly="{{!pageData.enable}}" 
	           				checked="{{pageData.defaultVmBehavior == 'fullyAutomated'}}" 
	           				ng-model="pageData.defaultVmBehavior" >
	           			</cas-ace-check>
           			</div>
		        </div>
		        <span style="float:left;margin-top:-27px;margin-left:240px;" tooltip-placement="right" tooltip="{{::'vmware.autoLevelTip'|translate}}">
		    		 <img class="icon-prompt" src="css/img/gray/Icon_help_16x16.svg"/>
		    	</span>
	        </div>
			<!-- 迁移阈值 -->
			<div class="form-group">
				<label for="autoLevel" class="control-label"><span translate="vmware.migrationThreshold"></span><span style="color:red">&nbsp;</span></label>
				<div class="control-input" ng-class="{'forbidden-state':!pageData.enable}" ng-disabled='!pageData.enable' ng-style="{'pointer-events':!pageData.enable?'none':''}">
		             <div slider bind-data="pageData.vmotionRate" slider-id="drsmin" ng-disabled="!pageData.enable" min=1 sliderstyle="width:170px" text="" max=5 pips-rest="label" pips-step="1">  </div>
		        </div>
		        <span style="float:left;margin-top:-30px;margin-left:70px;" tooltip-placement="right" tooltip="{{::'vmware.migrationThresholdTip'|translate}}">
		    		 <img class="icon-prompt" src="css/img/gray/Icon_help_16x16.svg"/>
		    	</span>
			</div>
			<!-- 电源管理 -->
			<div class="form-group">
                <label for="autoLevel" class="control-label"><span translate="vmware.dpm"></span><span style="color:red">&nbsp;</span></label>
                <div class="control-input">
	                <div class="col-xs-2"  style="padding-left:0px;padding-right:0px">
		                <cas-ace-check id="dpmCloseDiv" name="dpm" type="radio" text="{{::'vmware.close' | translate}}" 
	           				checked-value="disabled"  input-readonly="{{!pageData.enable}}" 
	           				checked="{{pageData.dpm == 'disabled'}}" 
	           				ng-model="pageData.dpm" >
	           			</cas-ace-check>
           			</div>
           			<div class="col-xs-2"  style="padding-left:0px;padding-right:0px">
	           			<cas-ace-check id="dpmManualDiv" name="dpm" type="radio" text="{{::'vmware.manual' | translate}}" 
	           				checked-value="manual" input-readonly="{{!pageData.enable}}" 
	           				checked="{{pageData.dpm == 'manual'}}" 
	           				ng-model="pageData.dpm" >
	           			</cas-ace-check>
           			</div>
           			<div class="col-xs-2"  style="padding-left:0px;padding-right:0px">
	           			<cas-ace-check id="dpmAutoDiv" name="dpm" type="radio" text="{{::'vmware.auto' | translate}}" 
	           				checked-value="automated" input-readonly="{{!pageData.enable}}" 
	           				checked="{{pageData.dpm == 'automated'}}" 
	           				ng-model="pageData.dpm" >
	           			</cas-ace-check>
           			</div>
		        </div>
		        <span style="float:left;margin-top:-27px;margin-left:240px;" tooltip-placement="right" tooltip="{{::'vmware.dpmTip'|translate}}">
		    		 <img class="icon-prompt" src="css/img/gray/Icon_help_16x16.svg"/>
		    	</span>
	        </div>
			<!-- DPM阈值 -->
			<div class="form-group">
				<label for="dpmmin" class="control-label"><span translate="vmware.dpmThreshold"></span><span style="color:red">&nbsp;</span></label>
				<div class="control-input" ng-class="{'forbidden-state':!pageData.enable}" ng-disabled='!pageData.enable' ng-style="{'pointer-events':!pageData.enable?'none':''}">
		             <div slider bind-data="pageData.hostPowerActionRate" slider-id="dpmmin" ng-disabled="!pageData.enable" min=1 sliderstyle="width:170px" text="" max=5 pips-rest="label" pips-step="1">  </div>
		        </div>
		        <span style="float:left;margin-top:-30px;margin-left:70px;" tooltip-placement="right" tooltip="{{::'vmware.dpmThresholdTip'|translate}}">
		    		 <img class="icon-prompt" src="css/img/gray/Icon_help_16x16.svg"/>
		    	</span>
			</div>
        </form>
    </div>
</div>
<!-- 按钮栏 -->
<div class="modal-footer">
    <button class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>