<!-- 标题 -->
<div class="modal-header">
   <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		   <span class="icon-closenew"></span>
	</button>
    <h4 class="modal-title" translate="migrateVm.migrateVm"></h4>
</div>
<!-- 步骤向导 -->
<div class="modal-body row">
    <div class="form-horizontal col-md-8">
        <carousel-form titles="step" cancel="ok()"> 
            <!-- 第一步 -->
            <slide-form valid="valids.stepOneOver()" active="slide.active" is-add="true" tab-index=0>
                <form name="form1" class="form-horizontal" role="form" novalidate>
                    <!-- 隐藏属性，用于js方法操作form是否显示 -->
                    <input type="hidden" id="form1" value="{{form1.$valid}}">
                    <!-- 选择迁移类型：0-主机，1-存储，2-主机和存储 -->
                    <div class="form-group" style="margin-bottom:0px;">
                    	<label class="control-label"><span translate="migrateVm.migrateType"></span></label>
                        <div class="control-input">
                        	<div class="input-group">
		                        <div id="hostDiv" cascheckbox class="cas-checkbox labeled-btn radio" ng-model="pageData.migrateType" value='0' input-readonly="{{isOnline}}">
		                            <input id="host" name="migrateType" type="radio" ng-checked="pageData.migrateType==0">
		                            <div class="corner-label">
		                                <i class="glyphicon glyphicon-ok icon"></i>
		                            </div>
		                            <div class="box">
		                                <span class="box-name" style="width:150px;" translate="migrateVm.changeHost"></span>
		                            </div>
		                        </div>
		                        <!-- <span class="input-group-btn help-addon" style="height:30px;" tooltip-placement="right" tooltip="{{::'migrateVm.migrateTip'|translate}}">
							   		<img class="icon-prompt" src="css/img/gray/Icon_help_16x16.svg"/>
						    	</span> -->
					    	</div>
	                   </div> 
                       <div style="margin-top:0px;margin-bottom:5px;">
                       	   <label class="control-label"></label>
                           <span style="font-size:12px;" translate="migrateVm.changeHostDesc"></span>
                       </div>  
                     </div>
                     <div class="form-group" style="margin-bottom:0px;">   
                        <label class="control-label"></label>    
                        <div class="control-input">
                        	<div class="input-group">              
		                        <div id="storageDiv" cascheckbox class="cas-checkbox labeled-btn radio" ng-model="pageData.migrateType" value='1'>
		                            <input id="storage" name="migrateType" type="radio" ng-checked="pageData.migrateType==1">
		                            <div class="corner-label">
		                                <i class="glyphicon glyphicon-ok icon"></i>
		                            </div>
		                            <div class="box">
		                                <span class="box-name" style="width:150px;" translate="migrateVm.changeStorage"></span>
		                            </div>
		                        </div>
                        	</div>
                        </div>
                    </div>
                    <div style="margin-top:0px;margin-bottom:5px;">
                    	<label class="control-label"></label>
                        <span style="font-size:12px;" translate="migrateVm.changeStorageDesc"></span>
                    </div> 
                    <div class="form-group" style="margin-bottom:0px;">
                    	<label class="control-label"></label>
                        <div class="control-input">
                        	<div class="input-group">     
		                        <div id="hostAndStorageDiv" cascheckbox class="cas-checkbox labeled-btn radio" ng-model="pageData.migrateType" value='2' input-readonly="{{isOnline}}">
		                            <input id="hostAndStorage" name="migrateType" type="radio" ng-checked="pageData.migrateType==2">
		                            <div class="corner-label">
		                                <i class="glyphicon glyphicon-ok icon"></i>
		                            </div>
		                            <div class="box">
		                                <span class="box-name" style="width:150px;" translate="migrateVm.changeHostAndStorage"></span>
		                            </div>
		                        </div>
				    		</div>
				    	</div>
                    </div>
                    <div style="margin-top:0px;margin-bottom:5px;">
                    	<label class="control-label"></label>
                        <span style="font-size:12px;" translate="migrateVm.changeHostAndStorageDesc"></span>
                    </div>
                </form>
            </slide-form>
            <!-- 第二步 -->
            <slide-form valid="valids.stepTwoOver()" is-add="pageData.migrateType==0 || pageData.migrateType==2" tab-index=1>
                <form name="form2" class="form-horizontal" role="form" style="margin-top:-20px;overflow:auto;height:310px;" novalidate>
                    <!-- 隐藏属性，用于js方法操作form是否显示 -->
                    <input type="hidden" id="form2" value="{{form2.$valid}}">
                    <div id="vmwareHostTree" cas-host-tree bind-data="pageData.targetHost">
                        <ul host-tree-accordion style="padding:0px;">
                            <li host-tree-link icon="icon-cloudresource" href="cloudResource.dashboard"
                                listhref="vmware/vcenter/{{model.cloudId}}" text="" cloud-id="model.cloudId"></li>
                        </ul>
                    </div>
                </form>
            </slide-form>
            <!-- 第三步 -->
            <slide-form valid="valids.stepThreeOver()" is-add="pageData.migrateType==1 || pageData.migrateType==2" tab-index=2>
                <form name="form3" class="form-horizontal" role="form" novalidate>
                    <!-- 隐藏属性，用于js方法操作form是否显示 -->
                    <input type="hidden" id="form3" value="{{form3.$valid}}">
                    <div style="margin-left:-16px;height:280px;overflow:auto;">
                    	<div vmware-storage-pool url="{{queryStorageUrl}}" id="vmwareHostStorage" select-pool="pageData.selectPool"></div>
                    </div>
                </form>
            </slide-form>
        </carousel-form>
    </div>
    <!-- 右侧确认信息 -->
    <div class="detail-table col-md-4">
        <table class="table table-striped">
            <tr class="gray">
                <td><h4 translate="configDetail"></h4></td><td></td>
            </tr>
            <tr>
                <td><span translate="migrateVm.migrateType"></span></td>
                <td><span custom-title shortcut cut-str="{{pageData.migrateType|migrateType}}">
                {{pageData.migrateType|migrateType}}</span></td>
            </tr>
            <tr ng-if="showTargetHost">
                <td><span translate="migrateVm.targetHost"></span></td>
                <td><span custom-title shortcut cut-str="{{pageData.targetHost.stateParams.hostName}}">{{pageData.targetHost.stateParams.hostName}}</span></td>
            </tr>
            <tr ng-if="showTargetStorage">
                <td><span translate="migrateVm.targetStorage"></span></td>
                <td><span custom-title shortcut cut-str="{{pageData.selectPool.name}}">{{pageData.selectPool.name}}</span></td>
            </tr>
            <!-- 兼容性提示 -->
            <tr ng-if="accessMsg">
                <td><span translate="vmware.compatibility"></span></td>
                <td><span custom-title shortcut cut-str="{{accessMsg}}">{{accessMsg}}</span></td>
            </tr>
        </table>
    </div>
</div>