<!-- 增加监控面板 -->
<div class="modal-header">
	<button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<button ng-show = "isAdd == true" type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('moniterMgmt/addCustomMonitoringBoard')">
		<span class="icon-helpnew"></span>
	</button>
	<button ng-show = "isAdd == false" type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('moniterMgmt/editCustomMonitoringBoard')">
		<span class="icon-helpnew"></span>
	</button>
	<h4 class="modal-title" translate="cloudMonitor.addMonitor"></h4>
</div>
<div class="modal-body panel-body" >
	<div class="form-horizontal">
		<form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
		    <!-- 父节点名称 -->
			<div class="form-group">
				<label for="" class="control-label">
				  <span translate="cloudMonitor.monitorParentName"></span>
				</label>
				<div class="control-input">
				  <div class="input-group input-xlarge" >
					<input type="text" class="form-input form-control" value="{{::'cloudMonitor.performanceMonitor'|translate}}" disabled="disabled">
				  </div>
				</div>
			</div>
			<!-- 监控面板名称  -->
			<div class="form-group" ng-class="{'has-error': (form.monitorNodeName.$dirty && form.monitorNodeName.$invalid)}">
				<label for="monitorNodeName" class="control-label">
				  <span translate="cloudMonitor.monitorNodeName"></span><span style="color: red">*</span>
				</label>
				<div class="control-input">
				  <div class="input-group input-xlarge" >
					<input check-special-char type="text" rpccheck ='cloudMonitor/definedMonitor/exist' class="form-input form-control" ng-model="model.monitorNodeName" 
					ng-trim="false" ng-maxlength=32 required id="monitorNodeName" name="monitorNodeName">
					
					<span class="input-group-addon help-addon" ng-messages="form.monitorNodeName.$error" ng-if="form.monitorNodeName.$dirty">
						 <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
						 <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
					 	 <span ng-message="specialChar"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'checkname2'|translate}}"></span></span>
					 	 <span ng-message="rpccheck"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'cloudMonitor.monitorNameExist'|translate}}"></span></span>
					 </span>
				  </div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
  <button id="okId" class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
  <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>
