<div class="modal-header">
	<button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<h4 class="modal-title" translate="cloudMonitor.definedConf"></h4>
</div>
<div class="modal-body panel-body">
	<div class="form-horizontal">
		<form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
		    <!-- 标题名称 -->
			<div class="form-group" ng-if="model.isOnly == true"  ng-class="{'has-error': (form.dataTitle.$dirty && form.dataTitle.$invalid)}">
				<label for="dataTitle" class="control-label">
				  <span translate="cloudMonitor.definedTitleName"></span><span style="color: red">*</span>
				</label>
				<div class="control-input">
				  <div class="input-group input-xlarge" >
					<input check-special-char type="text" class="form-input form-control" ng-model="model.dataTitle" 
					ng-trim="false" ng-maxlength=36 required id="dataTitle" name="dataTitle">
					  <span class="input-group-addon help-addon" ng-messages="form.dataTitle.$error">
	              		<span ng-if="form.dataTitle.$valid||!form.dataTitle.$dirty">
	                   		<span class="icon-occupying"></span>
	               		</span>
		            	<span ng-if="form.dataTitle.$dirty">
		           			<span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
	                       <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}36"></span></span>
	                       <span ng-message="specialChar"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'checkname2'|translate}}"></span></span>
	                  	</span>
	                  </span>
                  </div>
				</div>
			</div>
			<!-- 指标项  -->
			<div class="form-group">
				<label for="dataItem" class="control-label ">
					<span translate="cloudMonitor.definedMonitorItem"></span><span style="color: red">*</span>
				</label>
				<div ng-class="{disable: (model.isUnSelect)}" class="input-group" >
					<select-input class="" options="levels.options" input-readonly="{{model.isUnSelect}}"
						bind-model="model.dataItem" input-id="dataItem"
						input-name="dataItem">
					</select-input>
				</div>
			</div>
			
			<!-- 选择组织 -->
	        <div class="form-group" ng-if="model.dataItem == 0">
            	<label for="dataRelative" class="control-label">
            		<span translate="org.org"></span><span style="color:red">*</span>
            	</label>
                <div class="control-input">
	                <div class="input-group" style="width:300px"  ng-click="selectOrg()">
	                    <input id="org" name="org" class="form-control first-child-angle selectInput" type="text" ng-model="orgName" readonly required>
	                    <span class="input-group-addon inner-addon last-child-angle">
	                        <span class="icon-search-gray" type="button"></span>
	                    </span>
	                    <span class="input-group-addon help-addon" ng-messages="form.org.$error">
	                        <span ng-if="form.org.$valid||!form.org.$dirty">
	                            <span class="icon-occupying"></span>
	                        </span>
	                        <span ng-if="form.org.$dirty">
	                             <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
	                        </span>
	                    </span>
	                </div>
                 </div>
            </div>		
            
            <!-- 选择资源池  -->
			<div class="form-group" ng-if="model.dataItem == 1">
				<label for="dataItem" class="control-label ">
					<span translate="report.respool"></span><span style="color: red">*</span>
				</label>
				<div class="control-input">
	                <div class="input-group" style="width:300px"  ng-click="selectResPool()">
	                    <input id="pool" name="pool" class="form-control first-child-angle selectInput" type="text" ng-model="poolName" readonly required>
	                    <span class="input-group-addon inner-addon last-child-angle">
	                        <span class="icon-search-gray" type="button"></span>
	                    </span>
	                    <span class="input-group-addon help-addon" ng-messages="form.pool.$error">
	                        <span ng-if="form.pool.$valid||!form.pool.$dirty">
	                            <span class="icon-occupying"></span>
	                        </span>
	                        <span ng-if="form.pool.$dirty">
	                             <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
	                        </span>
	                    </span>
	                </div>
                 </div>
			</div>
			
		</form>
	</div>
</div>
<div class="modal-footer">
  <button id="okId" ng-disabled="form.$invalid" class="btn btn-green" ng-click="ok()" translate="common.confirm"></button>
  <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>
