<!-- 增加CVM资源弹出窗口 -->
<div class="modal-header">
	<button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
    <button type="button" ng-if="type=='add'" class="close cornerhelp" custom-title="{{::'help'|translate}}" ng-click="openHelp('cloudResource/addCloudRes')">
		<span class="icon-helpnew"></span>
	</button>
	<button type="button" ng-if="type=='modify'" class="close cornerhelp" custom-title="{{::'help'|translate}}" ng-click="openHelp('cloudResource/modifyCloudRes')">
		<span class="icon-helpnew"></span>
	</button>
	<h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
		<div ng-if="type=='add'" class="alert alert-info alert-margin" role="alert" >{{alert}}</div>
        <form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
			<!-- 云资源类型 -->
	        <div class="form-group">
					<!--选择类型标签-->
			        <label for="type" class="control-label">
			            <span translate="cloudResource.cloudResourceType"></span><span style="color: red">*</span>
			        </label>
			        <!-- 云资源类型选择框 -->
			        <div class="control-input">
			            <div class="input-group width260" >
			                <select-input class="" input-readonly="{{type!= 'add'}}" options="cloudResourceType.options" bind-model="cloudResource.type" input-id="addCloudResource_1" input-name="cloudResource.cloudResourceType">
			                </select-input>
			            </div>
			        </div>	
				</div>
	        <!-- 云资源名称 -->
			<div class="form-group" ng-class="{'has-error':form.name.$invalid && form.name.$dirty}">
					<label for="name" class="control-label">
						 <span translate="cloudResource.name"></span><span style="color: red">*</span>
					</label>
					<div class="control-input">
						<div class="input-group width260" >
							<input type="text" class="form-input form-control" ng-model="cloudResource.name" ng-trim="false" ng-maxlength=32 id="name" name="name" check-special-char required>
							<span class="input-group-addon help-addon" ng-messages="form.name.$error">
								 <span ng-if="form.name.$valid||!form.name.$dirty">
									  <span class="icon-occupying"></span>
								 </span>
								 <span ng-if="form.name.$dirty">
									 <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
									 <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'maxlen'|translate}}32"></span></span>
									 <span ng-message="specialChar"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'checkname2'|translate}}"></span></span>
								 </span>
							</span>
						  </div>
						</div>
					</div>
			<!-- 描述 -->
			<div class="form-group" ng-class="{'has-error':form.desc.$invalid && form.desc.$dirty}">
						<label for="desc" class="control-label">
						  <span translate="common.desc"></span>
						</label>
						<div class="control-input">
						  <div class="input-group width260">
							<input type="text" class="form-input form-control" ng-model="cloudResource.description" ng-trim="false" ng-maxlength=128 id="desc" name="desc" >
							<span class="input-group-addon help-addon" ng-messages="form.desc.$error">
							     <span ng-if="form.desc.$valid||!form.desc.$dirty">
									 <span class="icon-occupying"></span>
								 </span>
								 <span ng-if="form.desc.$dirty">
									 <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'maxlen'|translate}}128"></span></span>
								 </span>
							</span>
						  </div>
						</div>
					</div>
            <!-- IP地址 -->
			<div class="form-group" ng-class="{'has-error': (form.ip.$dirty && form.ip.$invalid)}">
				<label for="inputPassword" class="control-label"><span translate="ip"></span><span style="color: red">*</span></label>
				<div class="control-input">
				     <div class="input-group width260">
						   <input type="text" ng-disabled="{{type!= 'add'}}" ip ng-maxlength=128 class="form-input form-control" ng-model="cloudResource.uri"  ng-trim="false" id="ip" name="ip" required>
						   <span class="input-group-addon help-addon" ng-messages="form.ip.$error">
						    	<span ng-if="form.ip.$valid||!form.ip.$dirty">
									 <span class="icon-occupying"></span>
								</span>
								<span ng-if="form.ip.$dirty">
									 <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
									 <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'maxlen'|translate}}128"></span></span>
									 <span ng-message="ip"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'invalidip'|translate}}"></span></span>
								</span>
						   </span>
					  </div>
			   </div>
		  </div>
		    <!-- 登录方式-->
		    <div class="form-group">
                <label for="unique-id0" class="control-label"><span translate="common.loginWay"></span></label>
	            <div class="control-input">
					<div id="httpId" cascheckbox style='margin-left:0px;margin-right:15px' class="cas-checkbox labeled-btn radio"  ng-model="cloudResource.protocal" value='http'>
					    <input id="unique-id0" name="accessUrlProtocol" type="radio" ng-checked="cloudResource.protocal == 'http'" >
					    	<div class="corner-label">
					      		<i class="glyphicon glyphicon-ok icon"></i>
					     	</div>
					     	<div class="box"> <span class="box-name" style="width:50px;" translate="netstrategy.http"></span></div>
					</div>
					<div id="httpsId" cascheckbox style='margin-left:0px;margin-right:15px'  class="cas-checkbox labeled-btn radio" ng-model="cloudResource.protocal" value="https">
					   	<input id="unique-id1" name="accessUrlProtocol" type="radio" ng-checked="cloudResource.protocal == 'https'">
					     	<div class="corner-label">
					       		<i class="glyphicon glyphicon-ok icon"></i>
					     	</div>
					     	<div class="box"> <span class="box-name" style="width:50px;" translate="netstrategy.https"></span></div>
					</div>
				</div>
		    </div>
            <!-- 端口号-->
			<div class="form-group" ng-class="{'has-error': (form.port.$dirty && form.port.$invalid)}">
				<label for="port" class="control-label"><span translate="cvmres.port"></span><span class="required">*</span></label>
				<div class="control-input">
                    <div class="input-group input-xlarge">
                        <input type="text" class="spinnerWidth227"  ng-model="cloudResource.port" checkint spinner spinner-max=65535 spinner-min=1 ng-trim="false" id="port" name="port" required>
                        <span class="input-group-addon help-addon" ng-messages="form.port.$error">
                            <span ng-if="form.port.$valid||!form.port.$dirty">
                                <span class="icon-occupying"></span>
                            </span>
                            <span ng-if="form.port.$dirty">
                            <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
                            <span ng-message="spinnerMax"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxValueIs'|translate}}65535"></span></span>
                            <span ng-message="spinnerMin"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'minValueIs'|translate}}1"></span></span>
                            <span ng-message="int"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'invalidint'|translate}}"></span></span>
                            </span>
                        </span>
                    </div>
				</div>
            </div>
            <!-- 用户名 -->
			<div class="form-group" ng-class="{'has-error': (form.username.$dirty && form.username.$invalid)}">
                <label for="inputhost_name" class="control-label"><span translate="username"></span><span style="color: red">*</span></label>
                <div class="control-input">
                    <div class="input-group input-xlarge">
                        <input type="text" ng-disabled="{{type!= 'add'}}" ng-maxlength=64 class="form-input form-control" ng-model="cloudResource.userName"  ng-trim="false" id="inputhost_name" name="username" required>
                            <span class="input-group-addon help-addon" ng-messages="form.username.$error">
                                <span ng-if="form.username.$valid||!form.username.$dirty">
                                    <span class="icon-occupying"></span>
                                </span>
						   		<span ng-if="form.username.$dirty">
						   			 <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
									 <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'maxlen'|translate}}64"></span></span>
								</span>
                            </span>
                    </div>
                </div>   
            </div>
            <!-- 密码 -->
			<div class="form-group" ng-class="{'has-error': (form.pwd.$dirty && form.pwd.$invalid)}">
                <label for="pwd" class="control-label"><span translate="password"></span><span style="color: red">*</span></label>
                <div class="control-input">
				    <div class="input-group input-xlarge">
                        <input type="password"  ng-maxlength=128 class="form-input form-control" ng-model="cloudResource.password" ng-trim="false" id="inputpwd" name="pwd" required>
                        <span class="input-group-addon help-addon" ng-messages="form.pwd.$error">
                            <span ng-if="form.pwd.$valid||!form.pwd.$dirty">
                                <span class="icon-occupying"></span>
                            </span>
                            <span ng-if="form.pwd.$dirty">
                                <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'require'|translate}}"></span></span>
                                <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{::'maxlen'|translate}}128"></span></span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button id="okBtn" class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>
