<!-- 查看网络策略信息弹出窗口 -->
<!-- 标题 -->
<div class="modal-header">
   <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
    <h4 class="modal-title" translate="netstrategy.view"></h4>
</div>
<div class="modal-body modal-detail">
	<div class="description">
		<div class="detail-item">
			<dl  class="dl-horizontal">
				<dt style="width:45%;" translate="common.name">UUID</dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::entry.name}}">{{::entry.name}}</dd>
				<dt style="width:45%;" translate="common.desc"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::entry.description}}">{{::entry.description}}</dd>
				<dt ng-if="entry.vlanType==0" style="width:45%;" translate="vswitch.vlan"></dt>
				<dt ng-if="entry.vlanType==1" style="width:45%;" translate="vswitch.vxlan"></dt>
				<dd>{{::entry.vlanId}}</dd>
				<dt ng-if="entry.aclName != null" style="width:45%;" translate="vswitch.aclName"></dt>
				<dd ng-if="entry.aclName != null"><a ng-click="viewAcl(entry.aclId)" href="javascript:void(0)"><span custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::entry.aclName}}">{{entry.aclName}}</span></a></dd>
				
				<dt ng-if="entry.inAvgBandwidth>0" style="width:45%;" translate="netstrategy.inAvgBandwidth"></dt><dd ng-if="entry.inAvgBandwidth>0">{{::entry.inAvgBandwidth}}Kbps</dd>
				<dt ng-if="entry.inAvgBandwidth>0" style="width:45%;" translate="netstrategy.inBurstSize"></dt><dd ng-if="entry.inAvgBandwidth>0">{{::entry.inBurstSize}}KBytes</dd>
				<dt ng-if="entry.outAvgBandwidth>0" style="width:45%;" translate="netstrategy.outAvgBandwidth"></dt><dd ng-if="entry.outAvgBandwidth>0">{{::entry.outAvgBandwidth}}Kbps</dd>
				<dt ng-if="entry.outAvgBandwidth>0" style="width:45%;" translate="netstrategy.outBurstSize"></dt><dd ng-if="entry.outAvgBandwidth>0">{{::entry.outBurstSize}}KBytes</dd>
				
				<dt style="width:45%;" translate="netstrategy.netPriority"></dt>
				   <dd ng-if="entry.vnetPriority == 0">{{::'common.low'|translate}}</dd>
                   <dd ng-if="entry.vnetPriority == 1">{{::'common.middle'|translate}}</dd>
                   <dd ng-if="entry.vnetPriority == 2">{{::'common.high'|translate}}</dd>
			</dl>
		</div>
	</div>
</div>
<!-- 内容1:按钮栏 -->
<div class="modal-footer">
    <button class="btn btn-black" ng-click="cancel()" translate="common.close"></button>
</div>
