<!-- 查看CVM/vCenter资源弹出窗口 -->
<!-- 标题 -->
<div class="modal-header">
   <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
	<button type="button" class="close cornerhelp" custom-title="{{::'help'|translate}}" ng-click="openHelp('cloudResource/viewCloudRes')">
		<span class="icon-helpnew"></span>
	</button>
    <h4 class="modal-title">{{::title}}</h4>
</div>
<div class="modal-body modal-detail">
	<div class="description">
		<div class="detail-item">
			<dl  class="dl-horizontal">
				<dt style="width:45%;" translate="cloudResource.name"></dt><dd >{{::cloudResource.name}}</dd>
				<dt style="width:45%;" translate="common.desc"></dt><dd style="padding-left:45%;"custom-title short-width=280 shortcut cut-str="{{::cloudResource.description}}">{{::cloudResource.description}}</dd>
				<dt style="width:45%;" translate="ip"></dt><dd>{{::cloudResource.uri}}</dd>
				<dt style="width:45%;" translate="common.loginWay"></dt><dd>{{::cloudResource.protocal}}</dd>
				<dt style="width:45%;" translate="paramconfig.port"></dt><dd >{{::cloudResource.port}}</dd>
				<dt style="width:45%;" translate="username"></dt><dd>{{::cloudResource.userName}}</dd>
				
				
			</dl>
		</div>
	</div>
</div>
<!-- 内容1:按钮栏 -->
<div class="modal-footer">
    <button class="btn btn-black" ng-click="cancel()" translate="common.close"></button>
</div>
