[Unit]
Description=cmsd service
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/cmsd
ExecStop=/opt/bin/ms_admin_wrapper wait-stop
PIDFile=/var/run/cmsd.pid

# Always restart if the service is not running
Restart=on-failure
# Restart after 60 seconds
RestartSec=60
TimeoutStartSec=60s
TimeoutStopSec=60s

[Install]
WantedBy=multi-user.target
