<div class="cas-panel" style="min-width:550px"	ng-controller="cvmCloudResourceCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display: inline;">
			<li><a ui-sref='main.cloudResource' ><span translate="cloudResource.cloudResource"></span></a></li>
			<li class="active">
				<span translate="cloudResource.cloudResource"></span>：{{resource.name}}
			</li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}" target="_blank"
			aria-hidden="true" ng-click="openHelp('cloudResource/CVMResMgmt')"></span>
	</div>

	<div class="panel-body">
		<div class="section">
			<castabset>
			    <castab href=".dashboard" active="{{currentTab == 'dashboard'}}" icon="icon-summary-gray" heading="{{::'editDomain.summary'|translate}}"></castab> 
			    <castab has-permission="HOST_MNG" href=".host" active="{{currentTab == 'host'}}" icon="icon-host-gray" heading="{{::'host.host'|translate}}"></castab>
			    <castab has-permission="VIRT_MNG" href=".vm" active="{{currentTab == 'vm'}}" icon="icon-virtual-host-gray" heading="{{::'board.vm'|translate}}"></castab>
			    <castab has-permission="VM_TEMPLET_MNG" href=".template" active="{{currentTab == 'template'}}" icon="icon-vm-template-gray" heading="{{::'template.template'|translate}}"></castab>
			    <castab has-permission="HOST_NET_PROFILE_MGR" href=".netstrategy" active="{{currentTab == 'netstrategy'}}" icon="icon-network-profile" heading="{{::'addDomain.profile'|translate}}"></castab>
			</castabset>
		</div>
		<div id="cvmCloudResourceContent" class="tabContent"  ui-view></div>
	</div>
</div>