<!-- 云资源列表 -->
<div class="panel panel-default cas-panel" ng-controller="CloudResourceCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
<!-- 			<li><a ui-sref='main.cloudResource.dashboard' ><span translate="cloudResource.cloudResource"></span></a></li> -->
			<li class="active"><span translate="cloudResource.cloudResource"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudResource/resourceMgmt')"></span>
	</div>

	<div class="panel-body">
		<div class="section"></div>
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_cloud_resource Icon_common_display">
		      </span>
		      <span class="desc">
		         <span ng-if ="uiConfig.copyrightFrom == 'UNIS'" translate="cloudResource.cloudResourceHead_unis"></span>
		         <span ng-if ="uiConfig.copyrightFrom != 'UNIS'" translate="cloudResource.cloudResourceHead"></span>
		      </span>
			</div>
		</div>
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshCloudResList()">
						<span class='sm-icon icon-refresh'></span><span translate="common.refresh"></span>
					</label>
					<label has-permission="CVM_MNG_ADD" class="btn btn-default btn-menu hidden-xs" has-permission="CVM_MNG_ADD" ng-click="addCloudResource()" >
						<span class="sm-icon icon-add"></span>
						<span translate="cloudResource.addCloundResource"></span>
					</label>
					<!--  <label has-permission="CVM_MNG_ADD"  class="btn btn-default btn-menu hidden-xs"  ng-click="addVcenter()" >
						<span class="sm-icon icon-add"></span>
						<span translate="cloudResource.addVcenter"></span>
					</label>
					-->
				</div>
				
			</div>
		</nav>
    	<div class="cas-list-body rightClick oneListWithLead-calc" data-toggle="context">
    		<div id='cloudResourceListDivId' list-style  class="table" ng-grid="gridOptions"></div>
		</div>
	</div>
	
</div>
