<!-- 主机列表 -->
<div  class='calc100' ng-controller="CvmCloudResourceHostCtrl">
	<nav class="navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="btn-group navbar-right" >
				<label class="btn btn-default btn-menu hidden-xs"  ng-click="refreshHostList()">
				    <span class='sm-icon icon-refresh'></span>
				    <span translate="common.refresh"></span>
		        </label>
			</div>
		</div>
	</nav>
	<div class="cas-list-body rightClick oneList-calc" data-toggle="context">
	    <div id='cvmHostListDivId' list-style  class="table" ng-grid="gridOptions"></div>
	</div>
</div>