<div class='row overview-content-row' ng-controller="cvmCloudResourceOverviewCtrl">
    <div class="description-new overviewheight overview-desc col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<div class="detail-item">
			<div class="title">
				<h5 translate="common.basicAttribute"></h5>
			</div>
			<dl class="dl-horizontal dl-wide" style="margin-bottom:0">
				<dt translate="hostpool.hostpool"></dt>
				<dd id="dc-hostpool"></dd>
				<dt translate="host.host"></dt>
				<dd id="dc-host"></dd>
				<dt translate="cloudResource.cpuTotalCore"></dt>
				<dd id="dc-cpuCount"></dd>
				<dt translate="cloudResource.totalMemory"></dt>
				<dd id="dc-totalMemory"></dd>
				<dt translate="cloudResource.localTotalStorage"></dt>
				<dd id="dc-totalStorage"></dd>
				<dt title="{{'cloudResource.localTotalAvailStorage'|translate}}" data-replacement="right" data-target="tooltip" translate="cloudResource.localTotalAvailStorage"></dt>
				<dd id="dc-usableStorage"></dd>
				<dt translate="board.vm"></dt>
				<dd id="dc-vm"></dd>
				<dt translate="cloudResource.vmDensity"></dt>
				<dd id="dc-density"></dd>
			</dl>
  	     </div>
	</div> 
	<div class="overviewheight hostcpuTop5 col-xs-12 col-sm-6 col-md-6 col-lg-4" >
		<!-- top5主机CPU-->
		<div class="detail-item" id="hostCpuTop5">
			<div class="title">
				<h5 translate="board.hostCpuRateInfoTitle"></h5>
			</div>
			<div id="hostCpuTop5Chart" class="trendChart" style="height:89%;min-height:249px"></div>
		</div>
	</div>
	<div   class="overviewheight hostmenTop5 col-xs-12 col-sm-6 col-md-6 col-lg-4">
	    <!-- top5主机内存-->
		<div class="detail-item" id="hostMemoryTop5" >
			<div class="title">
				<h5 translate="board.hostMemoryInfoTitle"></h5>
			</div>
			<div id="hostMemoryTop5Chart" class="trendChart" style="height:89%;min-height:249px"></div>
		</div>
	</div>
	 <div class="overviewheight hoststatus col-xs-12 col-sm-6 col-md-6 col-lg-4">
	    <!--主机状态 -->
		<div class="detail-item">
			<div class="title">
				<h5 translate="dashboard.hostStatus"></h5>
			</div>
			<div id="hostCircle" class="circle"></div>
			<div id="hostInfo" class="numBar" >
				<div class="numItem" id="numItem-normal">
					<label></label><br>
					<span translate="dashboard.opened"></span>
				</div>
				<div class="numItem" id="numItem-close">
					<label></label><br>
					<span translate="dashboard.unKnown"></span>
				</div>
				<div class="numItem" id="numItem-maintain">
					<label></label><br>
					<span translate="dashboard.maintain"></span>
				</div>
			</div>
		</div>
	</div> 
	
	<div class="overviewheight  vmcpu-top5 col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<!-- top5虚拟机CPU-->
		<div class="detail-item" id="vmCpuTop5" >
			<div class="title">
				<h5 translate="board.virtualHostCpuRateInfoTitle"></h5>
			</div>
			<div id="vmCpuTop5Chart" class="trendChart" style="height:89%;min-height:249px"></div>
		</div>
	</div>
	<div class="overviewheight vmmem-top5 col-xs-12 col-sm-6 col-md-6 col-lg-4">
		 <!-- top5虚拟机内存-->
		<div class="detail-item" id="vmMemoryTop5">
			<div class="title">
				<h5 translate="board.virtualHostMemoryInfoTitle"></h5>
			</div>
			<div id="vmMemoryTop5Chart" class="trendChart" style="height:89%;min-height:249px"></div>
		</div>
	</div>
</div>