<!-- 模板列表 -->
<div  class='calc100' ng-controller="CvmTemplateListCtrl">
	<nav class="navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="btn-group navbar-right" >
				<label class="btn btn-default btn-menu hidden-xs"  ng-click="refreshTemplateList()">
				    <span class='sm-icon icon-refresh'></span>
				    <span translate="common.refresh"></span>
		        </label>
		        <!-- 手工同步 -->
		        <label ng-if="!queryType" class="btn btn-default btn-menu hidden-xs"  ng-click="syncResource()">
				    <span class='sm-icon icon-synchronize'></span>
				    <span translate="cloudResource.syncTemplateResource"></span>
		        </label>
			</div>
		</div>
	</nav>
	<div class="cas-list-body twoListWithOneNav1-calc">
	    <div id='templateDivId' class="calc100" style="width:100%;" ng-grid="gridOptions"></div>
	</div>
	<!-- 网络和磁盘 -->
	<!-- <div class="cas-list-body">
		    <castabset>
		      	<castab href=".net" icon="icon-net-gray" heading="{{::'template.netCards'|translate}}"></castab> 
		      	<castab href=".storage" icon="icon-storage-gray" heading="{{::'template.storage'|translate}}"></castab> 
		    </castabset>
		    <div class="content" ui-view></div>
	</div> -->
	<div class="section">
	    <ul class="newcas-tabs">
	    	<li ng-class="{active: currentTab=='netCards',newnavliActive2:currentTab=='netCards',hand:currentTab!='netCards'}"><a ng-click="selectNet()" ng-class="{newnavaActive2:currentTab=='netCards'}"><span class="sm-icon icon-net-gray"></span><span>{{'template.netCards'|translate}}</span></a></li>
	    	<li ng-class="{active: currentTab=='disks',newnavliActive2:currentTab=='disks',hand:currentTab!='disks'}"><a ng-click="selectDisk()" ng-class="{newnavaActive2:currentTab=='disks'}"><span class="sm-icon icon-storage-gray"></span><span>{{'template.storage'|translate}}</span></a></li>
	    </ul>
	</div>
	<div id="vmwareTemplateDevices" class="cas-list-body twoListWithOneNav2-calc">
		<div id="vmwareTemplateNet" ng-if="currentTab=='netCards'"  list-style  class="table" ng-grid="gridOptions2"></div>	
		<div id="vmwareTemplateDisk" ng-if="currentTab=='disks'"  list-style  class="table" ng-grid="gridOptions3"></div>	
	</div>
</div>