<!-- CVM 虚拟机列表 -->
<div  class='calc100' ng-controller="CvmVmListController">
	<nav class="navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="btn-group navbar-right" >
				<!-- 刷新 -->
			    <label class="btn btn-default btn-menu hidden-xs"  ng-click="refreshVmList()">
				    <span class='sm-icon icon-refresh'></span>
				    <span translate="common.refresh"></span>
		        </label>
		        <!-- 手工同步 -->
		        <label class="btn btn-default btn-menu hidden-xs"  ng-click="syncResource()">
				    <span class='sm-icon icon-synchronize'></span>
				    <span translate="cloudResource.syncResource"></span>
		        </label>
				<!-- 界面定制 -->
				<label class="btn btn-default btn-menu hidden-xs"  ng-click="uicustom()" >
					<span class="sm-icon icon-uicustom"></span>
					<span translate="common.uicustom"></span>
				</label>
		        <!-- 批量操作 -->
				<div has-permission="VIRT_HOST_START | VIRT_HOST_PAUSE | VIRT_HOST_RESTORE | VIRT_HOST_RESTART | VIRT_HOST_SHUTDOWN | VIRT_HOST_CLOSE | VIRT_HOST_DEL | VIRT_HOST_MIGRATE | VIRT_HOST_UPGRADE_CASTOOLS" class="btn btn-default btn-menu" dropdown dropdown-toggle>
                        <span class="sm-icon icon-more-actions"></span> <span translate="common.batchOper"></span> 
                        <span class="dropdown-toggle icon-xialahao" type="button"></span>
                        <ul class="dropdown-menu" role="menu">
                        	<!-- 批量启动 -->
                        	<li has-permission="VIRT_HOST_START"><a href="#" ng-click="batchOperateVm('batchStartVm')"><span class="sm-icon icon-start"></span><span translate="menu.start"></span></a></li>
                        	<!-- 批量暂停 -->
                        	<li has-permission="VIRT_HOST_PAUSE"><a href="#" ng-click="batchOperateVm('batchPauseVm')"><span class="sm-icon icon-pause-yellow"></span><span translate="menu.pause"></span></a></li>
                        	<!-- 批量恢复 -->
                        	<li has-permission="VIRT_HOST_RESTORE"><a href="#" ng-click="batchOperateVm('batchResumeVm')"><span class="sm-icon icon-vm-resume"></span><span translate="menu.resume"></span></a></li>
                        	<!-- 批量重启 -->
                        	<li has-permission="VIRT_HOST_RESTART"><a href="#" ng-click="batchOperateVm('batchRestartVm')"><span class="sm-icon icon-vm-reboot"></span><span translate="menu.restart"></span></a></li>
                        	<!-- 批量关闭 -->
                        	<li has-permission="VIRT_HOST_SHUTDOWN"><a href="#" ng-click="batchOperateVm('batchShutdownVm')"><span class="sm-icon icon-vm-shutdown"></span><span translate="menu.shutdown"></span></a></li>
                        	<!-- 批量关闭电源 -->
                        	<li has-permission="VIRT_HOST_CLOSE"><a href="#" ng-click="batchOperateVm('batchCloseVm')"><span class="sm-icon icon-vm-power-off"></span><span translate="menu.close"></span></a></li>
                        	<!-- 批量删除 -->
                        	<li has-permission="VIRT_HOST_DEL"><a href="#" ng-click="batchOperateVm('batchDeleteVm')"><span class="sm-icon icon-delete"></span><span translate="menu.delete"></span></a></li>
                            <!-- 批量迁移虚拟机 -->
                            <li has-permission="VIRT_HOST_MIGRATE"><a href="#" ng-click="batchOperateVm('batchMigrateVm')"><span class="sm-icon icon-vm-migrate"></span><span translate="menu.batchMigrateVm"></span></a></li>
                            <!-- 批量虚拟机创建还原点 -->
                            <!-- <li has-permission="VIRT_HOST_CREATE_RESTOREPOINT"><a href="#" ng-click="batchOperateVm('batchCreateRestorePoint')"><span class="sm-icon icon-vm-restore"></span><span translate="menu.batchCreateRestorePoint"></span></a></li>-->
                        	<!-- 批量修改虚拟机 -->
                        	<!-- <li has-permission="VIRT_HOST_MODIFY"><a href="#" ng-click="batchOperateVm('batchModifyVm')"><span class="sm-icon icon-modify"></span><span translate="menu.batchModifyVm"></span></a></li> -->
                        	<!-- 批量升级CasTools -->
                        	<li has-permission="VIRT_HOST_UPGRADE_CASTOOLS"><a href="#" ng-click="batchOperateVm('batchUpgradeCastools')"><span class="sm-icon icon-upgrade"></span><span translate="menu.upgradeCastools"></span></a></li>
                        </ul>
                 </div>
                 
				<!-- 搜索框 -->
				<label>
			      <input class="form-control" id="navbarInput-01" type="search" placeholder="{{'vmTitleSearchHolder'|translate}}" ng-model="vmListTitle" maxlength="64">
				</label>
			</div>
		</div>
	</nav>
	<div class="cas-list-body rightClick oneList-calc" ng-controller="VmListCtrl" data-toggle="context">
	    <div ng-if="gridOptions" id='cvmVmListDivId' class="table" ng-grid="gridOptions"></div>
	    <div cas-context-menu-id="cas-context-menu" cas-context-menu="gridOptions.selectedItems" cas-context-menu-type="cloudVmlist" cas-enter-node-type="cloudResource"> </div>
	</div>
</div>