<!-- 申请正式License-->
<div class="panel-body row" style="height:555px;" ng-controller="applyLicenseCtrl">
	<form name="form" class="form-horizontal" role="form" novalidate ng-show="formVisible">
		<fieldset class="col-xs-6">
			<legend>
				<b><span translate="licenseMng.endUserInformation"></span></b>
			</legend>
			<div style="margin-top:15px;">
			    <!-- 用户姓名 -->
				<div class="form-group" ng-class="{'has-error': (form.username.$dirty && form.username.$invalid)}">
		           <label for="username_id" class="control-label"><span translate="licenseMng.userName"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.username"  ng-trim="false" id="username_id" name="username" required >
		                   <span class="input-group-addon help-addon" ng-messages="form.username.$error">
		                       <span ng-if="form.username.$valid||!form.username.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form.username.$dirty">
		                           <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		       <!-- 国家/地区 -->
				<div class="form-group">
					<label for="nationRegion_id" class="control-label"><span translate="licenseMng.nationRegion"></span></span><span style="color: red">*</span>
					</label>
					<div class="control-input">
						<div class="input-group width260">
							<select-input options="nationRegion.options" ng-init="model.nationRegion='China'" bind-model="model.nationRegion" input-id="nationRegion_id" input-name="nationRegion" required></select-input>
						</div>
					</div>
				</div>
				<!-- 省/市 -->
				<div class="form-group" ng-class="{'has-error': (form.provinceCity.$dirty && form.provinceCity.$invalid)}">
		           <label for="provinceCity_id" class="control-label"><span translate="licenseMng.provinceCity"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.provinceCity"  ng-trim="false" id="provinceCity_id" name="provinceCity" required >
		                   <span class="input-group-addon help-addon" ng-messages="form.provinceCity.$error">
		                       <span ng-if="form.provinceCity.$valid||!form.provinceCity.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form.provinceCity.$dirty">
		                           <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		       <!-- 公司或单位名称 -->
				<div class="form-group" ng-class="{'has-error': (form.company.$dirty && form.company.$invalid)}">
		           <label for="company_id" class="control-label"><span translate="licenseMng.companyOrganization"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.company"  ng-trim="false" id="company_id" name="company" required >
		                   <span class="input-group-addon help-addon" ng-messages="form.company.$error">
		                       <span ng-if="form.company.$valid||!form.company.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form.company.$dirty">
		                           <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		        <!-- 地址 -->
				<div class="form-group" ng-class="{'has-error': (form.address.$dirty && form.address.$invalid)}">
		           <label for="address_id" class="control-label"><span translate="licenseMng.address"></span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.address"  ng-trim="false" id="address_id" name="address" >
		                   <span class="input-group-addon help-addon" ng-messages="form.address.$error">
		                       <span ng-if="form.address.$valid||!form.address.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form.address.$dirty">
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		        <!-- 邮编 -->
				<div class="form-group" ng-class="{'has-error': (form.postcode.$dirty && form.postcode.$invalid)}">
		           <label for="postcode_id" class="control-label"><span translate="licenseMng.postcode"></span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.postcode"  ng-trim="false" id="postcode_id" name="postcode" >
		                   <span class="input-group-addon help-addon" ng-messages="form.postcode.$error">
		                       <span ng-if="form.postcode.$valid||!form.postcode.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form.postcode.$dirty">
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		        <!-- 电子邮件地址 -->
				<div class="form-group" ng-class="{'has-error': (form.email.$dirty && form.email.$invalid)}">
		           <label for="email_id" class="control-label"><span translate="licenseMng.emailAddress"></span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="email" ng-maxlength=32 class="form-input form-control" ng-model="model.email"  ng-trim="false" id="email_id" name="email" >
		                   <span class="input-group-addon help-addon" ng-messages="form.email.$error">
		                       <span ng-if="form.email.$valid||!form.email.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form.email.$dirty">
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                           <span ng-message="email"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'bademail'|translate}}"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
				<!-- 联系电话 -->
				<div class="form-group" ng-class="{'has-error': (form.phone.$dirty && form.phone.$invalid)}">
		           <label for="phone_id" class="control-label"><span translate="licenseMng.phone"></span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.phone"  ng-trim="false" id="phone_id" name="phone" >
		                   <span class="input-group-addon help-addon" ng-messages="form.phone.$error">
		                       <span ng-if="form.phone.$valid||!form.phone.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form.phone.$dirty">
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
			</div>
		</fieldset>
		<fieldset class="col-xs-6">
			<legend>
				<b><span translate="licenseMng.applicantInfo"></span></b>
			</legend>
			<div style="margin-top:15px;margin-left:10px;">
			    <!-- 姓名 -->
				<div class="form-group" ng-class="{'has-error': (form.applicantName.$dirty && form.applicantName.$invalid)}">
		           <label for="applicantName_id" class="control-label"><span translate="licenseMng.name"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.applicantName"  ng-trim="false" id="applicantName_id" name="applicantName" required >
		                   <span class="input-group-addon help-addon" ng-messages="form.applicantName.$error">
		                       <span ng-if="form.applicantName.$valid||!form.applicantName.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form.applicantName.$dirty">
		                           <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		       <!-- 公司或单位名称 -->
				<div class="form-group" ng-class="{'has-error': (form.applicantCompany.$dirty && form.applicantCompany.$invalid)}">
		           <label for="applicantCompany_id" class="control-label"><span translate="licenseMng.companyOrganization"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.applicantCompany"  ng-trim="false" id="applicantCompany_id" name="applicantCompany" required >
		                   <span class="input-group-addon help-addon" ng-messages="form.applicantCompany.$error">
		                       <span ng-if="form.applicantCompany.$valid||!form.applicantCompany.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form.applicantCompany.$dirty">
		                           <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
		        <!-- 电子邮件地址 -->
				<div class="form-group" ng-class="{'has-error': (form.applicantEmail.$dirty && form.applicantEmail.$invalid)}">
		           <label for="applicantEmail_id" class="control-label"><span translate="licenseMng.emailAddress"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="email" ng-maxlength=32 class="form-input form-control" ng-model="model.applicantEmail"  ng-trim="false" id="applicantEmail_id" name="applicantEmail" required>
		                   <span class="input-group-addon help-addon" ng-messages="form.applicantEmail.$error">
		                       <span ng-if="form.applicantEmail.$valid||!form.applicantEmail.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form.applicantEmail.$dirty">
		                       	   <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                           <span ng-message="email"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'bademail'|translate}}"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
				<!-- 联系电话 -->
				<div class="form-group" ng-class="{'has-error': (form.applicantPhone.$dirty && form.applicantPhone.$invalid)}">
		           <label for="applicantPhone_id" class="control-label"><span translate="licenseMng.phone"></span><span style="color: red">*</span></label>
		           <div class="control-input">
		               <div class="input-group input-xlarge">
		                   <input type="text" ng-maxlength=32 class="form-input form-control" ng-model="model.applicantPhone"  ng-trim="false" id="applicantPhone_id" name="applicantPhone" required>
		                   <span class="input-group-addon help-addon" ng-messages="form.applicantPhone.$error">
		                       <span ng-if="form.applicantPhone.$valid||!form.applicantPhone.$dirty">
		                           <span class="icon-occupying"></span>
		                       </span>
		                       <span ng-if="form.applicantPhone.$dirty">
		                       	   <span ng-message="required"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'require'|translate}}"></span></span>
		                           <span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}32"></span></span>
		                       </span>
		                    </span>
		               </div>
		          </div>   
		       </div>
			</div>
		</fieldset>
		<fieldset class="col-xs-12">
			<div class="text-center" style="margin-bottom: 30px;">
				<label class="btn btn-default btn-menu" ng-class="{'btn-forbidden':form.$invalid}" ng-click="ok()"> 
					<span class="sm-icon icon-ok"></span><span class="ng-scope" translate="common.confirm"></span> 
				</label> 
				<label class="btn btn-default btn-menu" ng-click="reset()"> 
					<span class="sm-icon icon-reset"></span><span class="ng-scope" translate="common.reset"></span> 
				</label>
			</div>
		</fieldset>
	</form>
	<div style="margin-top: 10px;margin-left:5px;" ng-hide="formVisible">
		<h3 class="text-danger" translate="licenseMng.downloadInfo"></h3>
		<label class="btn btn-default btn-menu" ng-click="download()"> 
			<span class="sm-icon icon-download"></span><span class="ng-scope" translate="licenseMng.download"></span> 
		</label> 
	</div>
</div>