<!-- License详细信息 -->
<div class="panel-body" ng-controller="LicenseDetailsCtrl"  style="padding:0px 0px 0px 45px;">
	<form name="form" class="form-horizontal" role="form" novalidate >
		<fieldset>
			<legend>
				<h5 style="padding-top:20px;"><span translate="licenseMng.licenseDetails"></span></h5>
			</legend>
			<div ng-if="license.isApplyCic">
			    <h5><span translate="licenseMng.isCloudService"></span></h5>
			    <!-- 可管理vm个数 -->
				<div class="form-group" style="margin-bottom:0;">
			        <label class="control-label"><span translate="licenseMng.canMngVmAmount"></label>
			        <div class="control-input">
			            <div class="input-group wid260" style="margin-top: 5px;">
			                {{license.totalVm|totalVm}}
			            </div>
			        </div>   
			    </div>
			     <!-- 已管理vm个数 -->
				<div class="form-group" style="margin-bottom:0;">
			        <label class="control-label"><span translate="licenseMng.alreadyMngVmAmount"></span></label>
			        <div class="control-input">
			            <div class="input-group wid260" style="margin-top: 5px;">
			                {{license.manageVm}}
			            </div>
			        </div>   
			    </div>
			     
			    <!-- 版本 -->
				<div class="form-group" style="margin-bottom:0;">
			        <label class="control-label"><span translate="paramconfig.version"></span></label>
			        <div class="control-input" style="margin-top: 5px;">
			            <div class="input-group wid260">
			                {{license.cicVer}}
			            </div>
			        </div>   
			    </div>
			    <hr>
			</div>
			 
		    <div ng-if="license.isApplyVdi" style="margin-top:20px;">
			    <h5><span translate="licenseMng.vdiLabel"></span></h5>
			    <!-- 可管理user个数 -->
				<div class="form-group" style="margin-bottom:0;">
			        <label class="control-label"><span translate="licenseMng.canMngUserAmount"></label>
			        <div class="control-input">
			            <div class="input-group wid260" style="margin-top: 5px;">
			                {{license.totalUser}}
			            </div>
			        </div>   
			    </div>
			     <!-- 已管理user个数 -->
				<div class="form-group" style="margin-bottom:0;">
			        <label class="control-label"><span translate="licenseMng.alreadyMngUserAmount"></span></label>
			        <div class="control-input">
			            <div class="input-group wid260" style="margin-top: 5px;">
			                {{license.manageUser}}
			            </div>
			        </div>   
			    </div>
			     
			    <!-- 版本 -->
				<div class="form-group" style="margin-bottom:0;">
			        <label class="control-label"><span translate="paramconfig.version"></span></label>
			        <div class="control-input" style="margin-top: 5px;">
			            <div class="input-group wid260">
			                {{license.vdiVer}}
			            </div>
			        </div>   
			    </div>
			    <hr>
			</div>
			
		    <!-- 授权码 -->
			<div class="form-group" style="margin-bottom:0;margin-top:10px;">
		        <label class="control-label"><span translate="licenseMng.authorizeCode"></span></label>
		        <div class="control-input">
		            <div class="input-group wid260" style="margin-top: 5px;">
		            	<ul style="list-style-type:none">
			            	<li ng-repeat="x in license.barcode">
	   							{{x}}
	 						</li>
		            	</ul>
		            </div>
		        </div>   
		    </div>
		    <!-- 有效期 -->
			<div class="form-group" >
		        <label class="control-label"><span translate="licenseMng.licenseValidityPeriod"></span></label>
		        <div class="control-input" style="margin-top: 5px;">
		            <div class="input-group wid260">
		           		{{license.timeStr|licenseTime}}
		            </div>
		        </div>   
		    </div>
		    <div class="btn-group">
				<!-- <label class="btn btn-default btn-menu" ng-click="applyLicense()"> 
					<span class="sm-icon icon-license-reply"></span><span class="ng-scope" translate="licenseMng.applyLicense"></span> 
				</label> 
				<label class="btn btn-default btn-menu" ng-click="registerLicense()"> 
					<span class="sm-icon icon-license-register"></span><span class="ng-scope" translate="licenseMng.registerLicense"></span> 
				</label> 
				<label class="btn btn-default btn-menu" ng-if="license.timeStr == -1" ng-click="exportLicense()"> 
					<span class="sm-icon icon-save"></span><span class="ng-scope" translate="licenseMng.exportLicense"></span> 
				</label> -->
				<label class="btn btn-default btn-menu" ng-click="applyLicense()" ng-if="licenseType==='undecided'||licenseType==='file'"> 
					<span class="sm-icon icon-license-reply"></span><span class="ng-scope" translate="productRegisterByFile"></span> 
				</label>
				<label class="btn btn-default btn-menu" ng-click="applyLicenseServer()" ng-if="licenseType==='undecided'"> 
					<span class="sm-icon icon-key"></span><span class="ng-scope" translate="productRegisterByLicenseServer"></span> 
				</label>
				<label class="btn btn-default btn-menu" ng-click="changeLicenseServer()" ng-if="licenseType==='server'"> 
					<span class="sm-icon icon-key"></span><span class="ng-scope" translate="licenseServer.changeLicenseServer"></span> 
				</label>
				<label class="btn btn-default btn-menu" ng-click="showLicenseServerDetail()" ng-if="licenseType==='server'"> 
					<span class="sm-icon icon-key"></span><span class="ng-scope" translate="licenseServer.licenseServerDetail"></span> 
				</label>
				<label class="btn btn-default btn-menu" ng-click="registerLicense()" ng-if="licenseType==='undecided'||licenseType==='file'"> 
					<span class="sm-icon icon-license-register"></span><span class="ng-scope" translate="licenseMng.registerLicense"></span> 
				</label> 
				<label class="btn btn-default btn-menu" ng-if="license.validPeriod == -1" ng-click="exportLicense()"> 
					<span class="sm-icon icon-save"></span><span class="ng-scope" translate="licenseMng.exportLicense"></span> 
				</label>
			</div>
		</fieldset>
	</form>
</div>