<!-- License管理 -->
<div class="panel panel-default cas-panel"  ng-controller="systemCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display:inline;">
			<li><a ui-sref='main.systemMng' ><span translate="systemMng.systemMng"></span></a></li>
			<li class="active"><span translate="licenseMng.licenseMng"></span></li>
		</ol>
	   <span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/license/licenseMgmt')"></span>
	</div>
	
	<div class="panel-body">
		<div class="section">
			<div class='lead'>
		      <span class="pic Icon_license_manage Icon_common_display">
<!-- 		      	<img alt="" src="css/img/blue/Icon_system_parameter.svg"> -->
		      </span>
		      <span class="desc">
		          <span ng-if ="uiConfig.copyrightFrom == 'UNIS'" translate="licenseMng.licenseDesc_unis"></span>
		          <span ng-if ="uiConfig.copyrightFrom != 'UNIS'" translate="licenseMng.licenseDesc"></span>
		      </span>
		    </div>
		</div>
	    <div ui-view></div>
	
	</div>
</div>