<!-- 注册License-->
<div class="panel-body" style="height:555px;" ng-controller="registerLicenseCtrl">
	<form name="form" class="form-horizontal" role="form" novalidate >
		<fieldset>
			<legend>
				<b><span translate="licenseMng.registerLicense"></span></b>
			</legend>
			<div style="margin-top:15px;">
			 	<!-- 请选择License文件 -->
				<div class="form-group" style="margin-bottom:0;">
		        	<label class="control-label"><span translate="licenseMng.selectLicenseFile"></span></label>
		        	<div class="control-input">
		            	<div class="input-group wid260">
		                	<input type="text" style="width:201px !important;" class="form-input form-control first-child-angle selectInput" ng-model="model.licenseFilePath"  ng-trim="false" id="licenseFilePath_id" name="licenseFilePath" required readonly>
		                	<span class="input-group-addon iconSearch last-child-angle" style="background:white;border-left:0;" ng-click="select()"><span style="margin-left:5px;">浏览</span></span>
		            	</div>
		        	</div>   
		    	</div>
		    	<!-- 进度条 -->
		    	<div class="ngCellText" style="width:400px;">
		    		<div class="progress progressgray" style="margin-top:0;height:20px;"> 
                    	<div class="progress-bar progress-bar-success progress-bar-striped"  role="progressbar" aria-valuenow="{{progress | number:2}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress | number:2}}%;position:relative;">
                    		<span style="margin-left:190px;">{{progress | number:2}}%</span> 
                     	</div> 
                    </div>
                </div>
		    	<div style="margin-top: 10px;margin-left:5px;">
					<label class="btn btn-default btn-menu" ng-click="upload()"> 
						<span class="sm-icon icon-upload"></span><span class="ng-scope" translate="licenseMng.upload"></span> 
					</label> 
				</div>
		     </div>
		</fieldset>
	</form>
</div>