<!-- 虚拟机电子流 -->
<div class="panel cas-panel panel-default" style="height:100%;" ng-controller="WorkflowVmCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li><a ui-sref='main.workflowMng' ><span translate="workflow.manage"></span></a></li>
			<li class="active"><span translate="workflow.vmWorkFLow"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudService/workFlow/workFlowMgmt')"></span>
	</div>
	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_vm_workflow Icon_common_display">
		      </span>
		      <span class="desc"><span translate="workflow.vmWorkflowHead"></span></span>
			</div>
		</div>
		<nav class="navbar-default" role="navigation">
		    <div class="container-fluid">
				<div class="btn-group navbar-right" style='margin-right: -14px;' >
					<div class="form-group" style="position: relative;width: 160px;float: left;margin-right:10px;margin-bottom:6px;">
				         <label for="type" class="control-label short" style="margin-left: -55px;"><span translate="common.state"></span></label>
				         <div class="input-group" style="width: 150px;display: inline-block;float: right;">
				             <select-input class="" options="statusOptions" bind-model="model.status"   input-id="vmStatus" input-name="vmStatus"> </select-input>
						</div>
				   </div>
				   <label id="refreshvmworkflow" class="btn btn-default btn-menu hidden-xs"   ng-click="refresh()">
						<span class="sm-icon icon-refresh"></span>
						<span translate="common.refresh"></span>
					</label>
				   <!-- 高级过滤 -->
					<label class="btn btn-default btn-menu hidden-xs"  ng-click="filterWorkflow()" >
						<span class="sm-icon icon-filter"></span>
						<span translate="workflow.advancedFilter"></span>
					</label>
					<label id="clearAlarm" class="btn btn-default btn-menu hidden-xs" has-permission="VMWORKFLOW_DELETE"  ng-click="delWorkflows()">
						<span class="sm-icon icon-delete"></span>
						<span translate="workflow.del"></span>
					</label>
					<!-- 界面定制 -->
					<label class="btn btn-default btn-menu hidden-xs"  ng-click="uicustom()" >
						<span class="sm-icon icon-uicustom"></span>
						<span translate="common.uicustom"></span>
					</label>
					<!-- 附加字段 -->
					<label class="btn btn-default btn-menu hidden-xs" has-permission="VMWORKFLOW_DEFIEN_FIELD_MNG" ng-click="defineField()" >
						<span class="sm-icon icon-user-field-define"></span>
						<span translate="field.title"></span>
					</label>
					<!-- 下载 -->
					<label class="btn btn-default btn-menu hidden-xs" has-permission="VMWORKFLOW_DOWNLOAD" ng-click="downloadWorkflow()" >
						<span class="sm-icon icon-download"></span>
						<span translate="common.download"></span>
					</label>
				</div>
	        </div>
        </nav>
		<div class="cas-list-body oneListWithLead-calc" ng-controller="WorkflowVmListCtrl">
			<div class="table" ng-if="gridOptions" ng-grid="gridOptions" id="workflowVmListDiv"></div>
		</div>
	</div>
</div>
