<!-- 备份策略电子流流程设置 -->
<div class="panel cas-panel panel-default" style="height:100%;" ng-controller="WorkflowStepCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
		    <li><a ui-sref= "main.cloudService"><span translate="cloudService.cloudService"></span></a></li>
		    <li><a ui-sref= "main.workflowMng"><span translate="workflow.manage"></span></a></li>
			<li><a ui-sref= "main.workflowSetting"><span translate="common.workflowSetting"></span></a></li>
			<li class="active"><span ng-bind="title"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudService/workFlow/workFlowCustomizedMgmt')"></span>
	</div>
	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      <span class="pic">
		      	<img ng-if="workflowId == '1'" alt="" src="css/img/gray/icon_vm_workflow_16x16.svg" />
		      	<img ng-if="workflowId == '2'" alt="" src="css/img/gray/Icon_vm_disk_workflow_16x16.svg" />
		      	<img ng-if="workflowId == '3'" alt="" src="css/img/gray/Icon_user_preregister_workflow_16x16.svg" />
		      	<img ng-if="workflowId == '4'" alt="" src="css/img/gray/Icon_vm_backup_cloud_16x16.svg" />
		      </span>
		      <span class="desc"><span ng-bind="title"></span><span translate="workflow.workflowStepSetHead"></span></span>
			</div>
		</div>
		<div class="workflow">
				<ul class="bd">
		            <li class="start" translate="workflow.workflowStart"></li>
<!-- 		            <li class="dft">
		                <div class="typeBox">
		                    <label translate="workflow.approvalType"></label>
		                    <label translate="workflow.selSign"></label>
		                </div>
		                <div class="personBox">
		                    <label style="margin-top: 10px;" translate="workflow.approver"></label>
		                    <label style="margin-left: 0px;">{{defaultOper}}</label>
		                </div>
		            </li> -->
		            <li class="add" title="{{addApprovalStep}}"></li>
		            <li class="end" translate="workflow.workflowEnd"></li>
		        </ul>
		        <div class="btns">
		        	<label class="btn btn-default btn-menu hidden-xs" ng-click="save()">
						<span class='sm-icon icon-save'></span>
						<span translate="common.save"></span>
					</label>
		        </div>        
		</div>
	</div>
</div>