<!-- 用户预注册电子流 -->
<div class="panel cas-panel panel-default" style="height:100%;" ng-controller="WorkflowRegisterCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li><a ui-sref='main.workflowMng' ><span translate="workflow.manage"></span></a></li>
			<li class="active"><span translate="workflow.register"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudService/pre-reg/userPreRegWorkflowMgmt')"></span>
	</div>
	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_user_preregister_workflow Icon_common_display">
		      </span>
		      <span class="desc"><span translate="workflow.registerHead"></span></span>
			</div>
		</div>
		<nav class="navbar-default" role="navigation">
		    <div class="container-fluid">
				<div class="btn-group navbar-right" style='margin-right: -14px;' >
					<div class="form-group" style="position: relative;width: 165px;float: left;margin-right:10px;margin-bottom:6px;">
				         <label for="type" class="control-label short" style="margin-left: -35px;"><span translate="common.state"></span></label>
				         <div class="input-group" style="width: 130px;display: inline-block;float: right;">
				             <select-input class="" options="levels.statusOptions" bind-model="model.status"   input-id="registerStatus" input-name="registerStatus"> </select-input>
						</div>
				   </div>
				   <label id="refreshregisterworkflow" class="btn btn-default btn-menu hidden-xs"   ng-click="refresh()">
						<span class="sm-icon icon-refresh"></span>
						<span translate="common.refresh"></span>
					</label>
					<label id="clearAlarm" class="btn btn-default btn-menu hidden-xs"  has-permission="USERREGISTERFLOW_DELETE" ng-click="delWorkflows()">
						<span class="sm-icon icon-delete"></span>
						<span translate="workflow.del"></span>
					</label>
				</div>
	        </div>
        </nav>
		<div class="cas-list-body oneListWithLead-calc">
			<div class="table"  ng-grid="gridOptions" id="registerWorkflowDiv"></div>
		</div>
	</div>
</div>
