<!-- 流程管理 -->
<div class="panel panel-default cas-panel">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li class="active" translate="workflow.manage"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudService/workFlow/processManagement')"></span>
	</div>

	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      	<span class="pic Icon_vm_workflow_handle Icon_common_display">
		      	</span>
		      	 <span class='desc' >
		      	 		<span translate="workflow.manageHead"></span>
		      	 </span>
		    </div>
		</div>
	    <div class="panel-body">
 			<!-- 虚拟电子流 -->
			<a ui-sref='main.workflowVm' class="dashboard-box" has-permission="VMWORKFLOW_MNG"> 
				<span class="custom-picture Icon_common_display Icon_vm_workflow" ></span>
				<span class="box-title" text="{{::'workflow.vmWorkFLow'|translate}}"><span translate="workflow.vmWorkFLow"></span></span>
			</a>
			<!-- 云硬盘电子流 -->
			<a  ui-sref="main.workflowDisk" class="dashboard-box" has-permission="CLOUDDISKFLOW_MNG"> 
				<span class="custom-picture Icon_common_display Icon_vm_disk_workflow"></span>
				<span class="box-title" text="{{::'workflow.cloudDiskWorkflow'|translate}}"><span translate="workflow.cloudDiskWorkflow"></span></span>
			</a>
			<!-- 用户预注册电子流 -->
			<a  ui-sref="main.workflowRegister" class="dashboard-box" has-permission="USERREGISTERFLOW_MNG"> 
				<span class="custom-picture Icon_common_display Icon_user_preregister_workflow"></span>
				<span class="box-title" text="{{::'workflow.register'|translate}}"><span translate="workflow.register"></span></span>
			</a>
			<!-- 云备份策略电子流 -->
			<a  ui-sref="main.workflowBack" class="dashboard-box" has-permission="CLOUDBACKUPSTRATEGY_MNG"> 
				<span class="custom-picture Icon_common_display Icon_vm_backup_cloud"></span>
				<span class="box-title" text="{{::'workflow.backupSt'|translate}}"><span translate="workflow.backupSt"></span></span>
			</a>
			<!-- 流程定制 -->
			<a  ui-sref="main.workflowSetting" class="dashboard-box" has-permission="CUSTWORKFLOW_MNG"> 
				<span class="custom-picture Icon_common_display Icon_workflow_customized"></span>
				<span class="box-title" text="{{::'common.workflowSetting'|translate}}"><span translate="common.workflowSetting"></span></span>
			</a>
			<!-- 云消息 -->
			<a  ui-sref="main.cloudMessage" class="dashboard-box" has-permission="CLOUDMESSAGE_MNG"> 
				<span class="custom-picture Icon_common_display Icon_cloud_message"></span>
				<span class="box-title" text="{{::'cloudService.cloudMessage'|translate}}"><span translate="cloudService.cloudMessage"></span></span>
			</a>
			<!-- 云工单 -->
			<a  ui-sref="main.cloudWorkorder" class="dashboard-box" has-permission="CLOUDWORKORDER_MNG"> 
				<span class="custom-picture Icon_common_display Icon_work_order"></span>
				<span class="box-title" text="{{::'cloudService.cloudTicket'|translate}}"><span translate="cloudService.cloudTicket"></span></span>
			</a>
		</div>
	</div>
</div>