<!-- 流程定制 -->
<div class="panel cas-panel" style="height:100%;" >
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
		    <li><a ui-sref= "main.workflowMng"><span translate="workflow.manage"></span></a></li>
			<li class="active"><span translate="common.workflowSetting"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudService/workFlow/workFlowCustomizedMgmt')"></span>
	</div>
	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_common_display Icon_workflow_customized">
		      </span>
		      <span class="desc"><span translate="workflow.workflowStepSetHead"></span></span>
			</div>
		</div>
		<div class="cas-list-body oneListWithLeadNoBtns-calc" ng-controller="WorkflowListCtrl">
			<div class="table" ng-grid="gridOptions"></div>
		</div>
	</div>
</div>