#  This file is part of mdadm.
#
#  mdadm is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.

[Unit]
Description=MD array monitor
DefaultDependencies=no
Wants=systemd-tmpfiles-setup.service
After=systemd-tmpfiles-setup.service

[Service]
Type=forking
PIDFile=/run/mdadm/mdadm.pid
Environment=  MDADM_MONITOR_ARGS="--scan --syslog"
EnvironmentFile=-/etc/sysconfig/mdadm
ExecStartPre= mkdir -p /run/mdadm
ExecStart=/sbin/mdadm --monitor $MDADM_MONITOR_ARGS -f --pid-file=/run/mdadm/mdadm.pid

[Install]
WantedBy=multi-user.target
