[Unit]
Description=net-agentd daemon
After=network.target
After=openvswitch.service
After=libvirtd.service
[Service]
ExecStartPre=/usr/bin/mkdir -p "/etc/net-agent/" "/etc/net-agent/portprofile/" "/etc/net-agent/netprofile/" "/etc/net-agent/netprofile/qos" "/etc/net-agent/netprofile/acl" "/etc/net-agent/netprofile/drain" "/etc/net-agent/netprofile/trunkport" "/etc/net-agent/netprofile/pvlan" "/etc/net-agent/netprofile/pvlan_all" "/var/run/net-agent/"
ExecStart=/usr/sbin/net-agentd $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s
[Install]
WantedBy=multi-user.target
