<div class="modal-header">
    <button type="button" class="close" custom-title="{{::'common.close'|translate}}" ng-click="cancel()">
        <span class="icon-closenew"></span>
    </button>
    <h4 class="modal-title" translate="licenseServer.licenseServerDetail"></h4>
</div>
<div class="modal-body modal-body-padding" style="background: #fff;">
    <div class="row">
        <div class="col-md-4">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td colspan="2" style="border-top: none;padding-bottom: 10px;background: #fff;"><span
                                translate="licenseServer.licenseServerInfo"></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-top: 25px;"><span
                                translate="licenseServer.licenseServerIP"></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: 1px solid #ddd;">
                            <span">{{model.ip}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span translate="licenseServer.licenseServerPort"></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: 1px solid #ddd;"><span>{{model.port}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"><span translate="licenseServer.clientName"></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: 1px solid #ddd;"><span>{{model.username}}</span></td>
                    </tr>
                    <!-- <tr>
                        <td colspan="2"><span translate="licenseServer.clientPassword"></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: 1px solid #ddd;"><span>*****</span></td>
                    </tr> -->
                </tbody>
            </table>
            <div class="modal-page-action-box">
                <span ng-if="connectStatus === false" style="color: red;"
                    translate="licenseServer.disconnectted"></span>
                <span ng-if="connectStatus === true" style="color: green;" translate="licenseServer.connectted"></span>
                <br />
                <label ng-class="{'btn-forbidden' : noselected}" class="btn btn-default btn-menu hidden-xs"
                    ng-if="connectStatus === false" ng-click="connectLicenseServer()" style="line-height: 25px;">
                    <span translate="licenseServer.connect"></span>
                </label>
                <!-- <label ng-class="{'btn-forbidden' : noselected}" class="btn btn-default btn-menu hidden-xs"
                    ng-if="connectStatus === true" ng-click="stopConnectLicenseServer()" style="line-height: 25px;">
                    <span translate="licenseServer.stopConnect"></span>
                </label> -->
            </div>
        </div>
        <div class="col-md-8">
            <!-- 当前版本及CPU数量授权信息 -->
            <!-- <nav class="navbar-default" role="navigation" style="height: 14px;">
                <div class="container-fluid">
                    <div class="btn-group navbar-left">
                        <span translate="licenseServer.currentVersionAndCpuNumber"></span>
                    </div>
                    <div class="btn-group navbar-right">
                        <span translate="licenseMng.canMngCpuAmount"></span>：
                        <span ng-if='license.cpuNum != -1'>
                            {{license.cpuNum}}
                        </span>
                        <span ng-if='license.cpuNum == -1'>
                            <span translate="infinite"></span>
                        </span>
                        <span translate="licenseMng.alradyMngCpuAmount"></span>：{{license.mCpuNum}}
                    </div>
                </div>
            </nav>
            <div class="cas-list-body" ng-controller="versionAndCpuListCtrl" style="height:150px">
                <div id="versionAndCpuListDivId" ui-grid="gridOptions" ui-grid-save-state ui-grid-resize-columns
                    ui-grid-move-columns ui-grid-pagination ui-grid-selection ui-grid-auto-resize class="grid">
                </div>
            </div> -->
            <!-- 当前SRM保护虚拟机数量授权信息 -->
            <!-- <nav class="navbar-default" role="navigation" style="height: 14px;">
                <div class="container-fluid">
                    <div class="btn-group navbar-left">
                        <span translate="licenseServer.currentSrmProtectedVmLicense"></span>
                    </div>
                    <div class="btn-group navbar-right">
                        <span translate="licenseMng.canProtectVmAmount"></span>：{{license.protectVmSum}}
                        <span translate="licenseMng.alradyProtectVmAmount"></span>：{{license.protectedVmNum}}
                    </div>
                </div>
            </nav>
            <div class="cas-list-body" ng-controller="srmVmLicenseListCtrl" style="height:80px">
                <div id="srmVmLicenseListDivId" ui-grid="gridOptions" ui-grid-save-state ui-grid-resize-columns
                    ui-grid-move-columns ui-grid-pagination ui-grid-selection ui-grid-auto-resize class="grid">
                </div>
            </div> -->
            <!-- 当前CIC管理虚拟机数量授权信息 -->
            <nav class="navbar-default" role="navigation" style="height: 14px;">
                <div class="container-fluid">
                    <div class="btn-group navbar-left">
                        <span translate="licenseServer.currentCicManageVmLicense"></span>
                    </div>
                    <!-- <div class="btn-group navbar-right">
                        <span translate="licenseServer.vmNumberCanManage"></span>：0
                    </div> -->
                </div>
            </nav>
            <div class="cas-list-body" ng-controller="cicVmLicenseListCtrl" style="height:80px">
                <div style="min-height:250px;height:100%" ng-grid="gridOptions"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-green pull-left" ng-click="changeLicenseServer()"
        translate="licenseServer.changeLicenseServer">
    </button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.close"></button>
</div>