[Unit]
Description=irqbalance daemon
Documentation=man:irqbalance(1)
Documentation=https://github.com/Irqbalance/irqbalance
ConditionVirtualization=!container
After=syslog.target

[Service]
OOMScoreAdjust=-500
Type=forking
EnvironmentFile=/etc/sysconfig/irqbalance
ExecStart=/usr/sbin/irq_balancer
StartLimitInterval=10
StartLimitBurst=10000
RuntimeDirectory=irqbalance/

[Install]
WantedBy=multi-user.target
