<!-- VDC管理 -->
<div class="panel panel-default cas-panel">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li class="active" translate="VDC.VDCMng"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('VDC/VDCMgmt')"></span>
	</div>

	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      	<span class="pic Icon_common_display Icon_vdc_manage">
		      	</span>
		      	 <span class='desc' ><span translate="VDC.VDCMngPrompt"/></span></span>
		    </div>
		</div>
	    <div class="panel-body">
	    	<!-- 资源池管理 -->
			<a ui-sref='main.resourcePoolMng' class="dashboard-box" has-permission="RESOURCEPOOL_MNG"> 
				<span class="custom-picture Icon_common_display Icon_res_pool_manage" ></span>
				<span class="box-title" text="{{::'resourcePool.resourcePoolMng'|translate}}"><span translate="resourcePool.resourcePoolMng"></span></span>
			</a>
 			<!-- 组织管理 -->
			<a ui-sref='main.orgMng' class="dashboard-box" has-permission="ORGANIZATION_MNG"> 
				<span class="custom-picture Icon_common_display Icon_organize_manage" ></span>
				<span class="box-title" text="{{::'org.orgMng'|translate}}"><span translate="org.orgMng"></span></span>
			</a>
			<!-- 用户管理 -->
			<a  ui-sref="main.userManage" class="dashboard-box" has-permission="USER_AND_GROUP_MGR"> 
				<span class="custom-picture Icon_common_display Icon_operator_manage"></span>
				<span class="box-title" text="{{::'user.userManage'|translate}}"><span translate="user.userManage"></span></span>
			</a>
			<!-- 虚拟桌面池 -->
			<a  ui-sref="main.desktopMng" class="dashboard-box" has-permission="DESKTOP_POOL_MGR"> 
				<span class="custom-picture Icon_common_display Icon_desktop_pool_manage"></span>
				<span class="box-title" text="{{::'org.virDesk'|translate}}"><span translate="org.virDesk"></span></span>
			</a>
		</div>
	</div>
	
</div>
