<!-- 防火墙 -->
<div class="panel panel-default cas-panel" ng-controller="firewallCtrl"><!-- aclStrategyCtrl -->
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li><a ui-sref= "main.cloudService"><span translate="cloudService.cloudService"></span></a></li>
		    <li><a ui-sref= "main.cloudSecurity"><span translate="cloudSecurity.cloudSecurity"></span></a></li>
			<li class="active" translate="cloudSecurity.Firewall"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}" target="_blank"
			aria-hidden="true" ng-click="openHelp('cloudService/srm/protectionGroupMgmt')"></span>
	</div>
	<div class="panel-body">
		<div class="section">
			<p class="lead">
			  <span class="pic Icon_common_display Icon_security_acl_strategy">
		      </span>
		      <span class="desc lead-text-align" translate="cloudSecurity.firewallHeader"></span>
		    </p>
		</div>
	    <!-- 防火墙策略 -->
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-left" >
			     <h5 translate="cloudSecurity.Firewall"></h5>
		        </div>
		       
				<div class="btn-group navbar-right" >
					<label class="btn btn-default btn-menu hidden-xs"  ng-click="refreshFirewallStrategy()">
					    <span class='sm-icon icon-refresh'></span>
				       <span translate="common.refresh"></span>
			        </label>
					<!-- <label  class="btn btn-default btn-menu hidden-xs" ng-click="addAcl()">
						<span class="sm-icon icon-add"></span> 
						<span translate="common.add"></span>
					</label> -->
				</div>
			</div>
		</nav>
		
		<div class="cas-list-body twoListWithLeadAndButton-calc" ng-controller="firewallListCtrl"><!-- AclStrategyListCtrl -->
			<div id="firewallList"  class="table"  ng-grid="gridOptions"></div>
		</div>
		<!-- 虚拟机网卡列表 -->
		<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-left" >
			        <h5 translate="cloudSecurity.VMNetwork"></h5>
		        </div>
		        
				<!-- <div class="btn-group navbar-right" >
			    	<label class="btn btn-default btn-menu hidden-xs "  ng-click="addUseCVM()" >
						<span class="sm-icon icon-add"></span>
						<span translate="netstrategy.addUseAclCvm"></span>
					</label>
				</div> -->
			</div>
		</nav>	
		<div class="cas-list-body twoListWithLeadAndButton-calc" ng-controller="firewallCvmListCtrl">
			 <div id="aclStrategyCvmDivId"  class="table"  ng-grid="gridOptions2"></div>
		</div>
	</div>
</div>