# NVIDIA vGPU Manager Daemon Init Script
#
# Copyright (c) 2016 NVIDIA Corporation
#
# All rights reserved.  All information contained herein is proprietary and
# confidential to NVIDIA Corporation.  Any use, reproduction, or disclosure
# without the written permission of NVIDIA Corporation is prohibited.
#

[Unit]
Description=NVIDIA vGPU Manager Daemon
Wants=syslog.target

[Service]
Type=forking
KillMode=process
ExecStart=/usr/bin/nvidia-vgpu-mgr
ExecStopPost=/bin/rm -rf /var/run/nvidia-vgpu-mgr

[Install]
WantedBy=multi-user.target
