<div ng-repeat="line in poolList" class="inline" style="float:left;width:240px;">
	<div id="{{line.path}}" cascheckbox class="cas-checkbox labeled-btn radio" style="float:left;margin-left:10px;" ng-model="selectModel.model" value={{line}} false-value=null>
        <input name="pool" type="radio" ng-checked="line.path=='/vms/images'">
        <div class="corner-label">
            <i class="glyphicon glyphicon-ok icon"></i>
        </div>
        <div class="box poolBox" style="text-align: left; height:75px;">
        	<span>
        		<!-- 活动 -->
				<img style="margin-top:10px;margin-left:8px;display:inline;" class="pic2img" src="css/img/gray/Icon_storage_green_16x16.svg" custom-title="{{::'common.active'|translate}}">
			</span>
			<div style="width:162px;padding-top:10px;float:right;">
				<!-- 名称 -->
				<!-- 修改问题单201703030189，cic上各处存储池都用的是名称，应该为显示名称。 -->
				<span style="padding-top:10px;text-align: left;font-weight:bold;" shortcut custom-title cut-str="{{line.title}}" short-width="160"></span><br/>
				<!-- 类型 -->
				<div style="height:5px;"></div>
				<span style="padding-top:10px;text-align: left" shortcut custom-title cut-str="{{line.type | storageType}}" short-width="160"></span><br/>
				<!-- 目标路径 -->
				<!-- <div style="height:5px;"></div>
				<span style="margin-top:10px;text-align: left" shortcut custom-title cut-str="{{line.path}}" short-width="160"></span> -->
				<!-- 实际可用容量 -->
				<div style="height:5px;"></div>
				<span custom-title translate="storagePool.remainSize"></span><span style="margin-top:10px;text-align: left" shortcut custom-title cut-str="{{line.remainSize|byteUnitRender}}" short-width="160"></span>			
			</div>
        </div>
    </div>
</div>