
	<div ng-repeat="line in poolList" class="inline" style="float:left;width:240px;">
		<div id="{{line.targetPath}}" cascheckbox class="cas-checkbox labeled-btn radio" style="float:left;margin-left:10px;" ng-model="selectModel.model" value={{line}} false-value=null>
	        <input name="migratePool" type="radio">
	        <div class="corner-label">
	            <i class="glyphicon glyphicon-ok icon"></i>
	        </div>
	        <div class="box poolBox" style="text-align: left;height:80px;">
	        	<span>
	        		<!-- 活动 -->
					<img ng-if="line.status==1" style="margin-top:10px;margin-left:8px;display:inline;" class="pic2img" src="css/img/gray/Icon_storage_green_16x16.svg" custom-title="{{::'common.active'|translate}}">
					<!-- 不活动 -->
					<img ng-if="line.status==0" style="margin-top:10px;margin-left:8px;display:inline;" class="pic2img" src="css/img/gray/Icon_storage_16x16.svg" custom-title="{{::'common.inactive'|translate}}">
					<!-- 未知 -->
					<img ng-if="line.status==2" style="margin-top:10px;margin-left:8px;display:inline;" class="pic2img" src="css/img/gray/Icon_storage_16x16.svg" custom-title="{{::'common.unkown'|translate}}">
				</span>
				<div style="width:162px;padding-top:10px;float:right;">
					<!-- 目标路径 -->
					<span style="padding-top:10px;text-align: left;font-weight:bold;" shortcut custom-title cut-str="{{line.targetPath}}" short-width="160"></span><br/>
					<!-- 类型 -->
					<div style="height:5px;"></div>
					<span style="padding-top:10px;text-align: left" shortcut custom-title cut-str="{{line.type | templateStorageTypeRender}}" short-width="160"></span><br/>
					<!-- 可用存储将 -->
					<div style="height:5px;"></div>
					<span translate="cluster.availableStorage" style="margin-top:10px;text-align: left" class="span_padding"></span><span shortcut custom-title cut-str="{{line.available | byteUnitRender}}" short-width="110"></span>
				</div>
	        </div>
	    </div>
	</div>
	<div ng-if="poolList.length == 0" style="font-size: 12px;color: #818181;" translate="template.emptyTemplateStorage">
	</div>