
<div style="margin:10px">
	<div ng-repeat="line in orgList" class="inline" style="float:left;width:180px;">
	    <div ng-dblclick="ok()" id="{{line.id}}" cascheckbox class="cas-checkbox labeled-btn radio" style="float:left;" ng-model="selectModel.model" value={{line}} false-value=null>
	        <input name="selectedOrg" type="radio" ng-checked="isSelected(line.id)">
	        <div class="corner-label">
	            <i class="glyphicon glyphicon-ok icon"></i>
	        </div>
	        <div class="box poolBox" style="text-align: left; height: 80px; width: 170px;">
	            <span style="margin:10px">
	                <img ng-if="!line.clusterEnableHa" class="pic2" src="css/img/gray/Icon_cluster_noha_16x16.svg">
	                <img ng-if="line.clusterEnableHa" class="pic2" src="css/img/gray/Icon_cluster_ha_16x16.svg">
	            </span>
	            <div style="margin-left:68px;">
	                <!-- 组织名称 -->
	                <span style="padding-top:10px;text-align: left;font-weight:bold;" shortcut custom-title cut-str="{{line.name}}" short-width="84"></span><br/>
	            </div>
	        </div>
	    </div>
	</div>
</div>