<div class="file-input" style='width:50px;' custom-title>
	<label class="file-label form-control" style="height:25px;margin-bottom:0;padding-top:0;padding-left:7px;padding-righ:18px;padding-bottom:0;line-height:23px;border:1px solid #CBCAD8;font-size:12px;"> 
	   <span ng-repeat="option in options" ng-if="bindModel==option" class="file-name" in-select-input=true shortcut cut-str="{{option}}" short-width="{{cutWidth}}">{{option}}</span>
	   <button class="sm-icon icon-xialahao" style='line-height:23px;height:15px;width:17px;out-line:0'></button>
	</label> 
	<select id="{{inputId}}" name="{{inputName}}" style="width:50px;height:25px;cursor:pointer;position: absolute; opacity: 0;"
		ng-model="bindModel"  name="splitTag"	ng-options="option as option for option in options">
	</select>
</div>