
<div class="select-svg-content">
    <div ng-repeat="line in svgList" class="inline select-svg-inline">
        <div ng-dblclick="ok()" id="{{line.id}}" cascheckbox class="cas-checkbox labeled-btn radio left" ng-model="selectModel.model" value={{line}} false-value=null>
            <input name="selectedCluster" type="radio" ng-checked="isSelected(line.id)">
            <div class="corner-label">
                <i class="glyphicon glyphicon-ok icon"></i>
            </div>
            <div class="box poolBox select-svg-box">
                <span class="select-svg-img">
                    <img class="pic2" ng-src="{{svgSrc}}">
                </span>
                <div class="select-svg-info">
                    <!-- 名称 -->
                    <span class="select-svg-info-name" shortcut custom-title cut-str="{{line.name}}" short-width="84"></span><br/>
                    <!-- 信息 -->
                    <div ng-if="infoOneDesc !=null && infoOneDesc !=''">
		                 <div class="select-svg-info-desc-height"></div>
		                 <span class="select-svg-info-desc span_padding" shortcut custom-title cut-str="{{line.infoOneDesc + ':' + ((infoOneValue !=null && infoOneValue !='') ? ((infoOneFilter != null && infoOneFilter != '') ? line.infoOneFilterValue : (line[infoOneValue] !=null ? line[infoOneValue] : '')) : '')}}" short-width="100"></span>
		            </div>
		            <div ng-if="infoTwoDesc !=null && infoTwoDesc !=''">
		                 <div class="select-svg-info-desc-height"></div>
		                 <span class="select-svg-info-desc span_padding" shortcut custom-title cut-str="{{line.infoTwoDesc + ':' + ((infoTwoValue !=null && infoTwoValue !='') ? ((infoTwoFilter != null && infoTwoFilter != '') ? line.infoTwoFilterValue : (line[infoTwoValue] != null ? line[infoTwoValue] : '')) : '')}}" short-width="100"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>