<div class="file-input width100" ng-class="{'disable noPointerEvents':inputReadonly=='true'}" custom-title>
	<label class="file-label form-control" style="border:1px solid #CBCAD8;"> 
	   <span ng-repeat="option in options" ng-if="bindModel==option.value" class="file-name" in-select-input=true shortcut cut-str="{{option.label}}" short-width="{{cutWidth}}">{{option.label}}</span>
		<button class="sm-icon icon-xialahao"></button>
	</label> 
	<select id="{{inputId}}" name="{{inputName}}" ng-class="{'noPointerEvents':inputReadonly=='true'}" style="position: absolute; opacity: 0;" ng-disabled="inputReadonly=='true'"
		ng-model="bindModel" class="selectAuto" name="splitTag"
		ng-options="option.value as option.label for option in options">
	    <option value="" hidden disabled ng-if='false'></option>	<!-- IE不支持hidden属性 -->
	</select>
</div>