<div class="file-input" style="display:inline-block;">
	<label class="file-label form-control" style="height: 34px;"> <span
		ng-repeat="option in options" ng-if="bindModel==option.value"
		class="file-name">{{option.label}}</span>
		<button class="sm-icon icon-xialahao"></button>
	</label> <select id="{{inputId}}" name="{{inputName}}" style="position: absolute; opacity: 0"
		ng-model="bindModel" class="selectAuto" name="splitTag"
		ng-options="option.value as option.label for option in options">
	</select>
</div>