<div class="progress progressgray">
	 <div class="progress-bar progressgreen" ng-if="rate < 50" role="progressbar" aria-valuenow="{{rate | number:2}}" aria-valuemin="0" aria-valuemax="100" style="text-align:left;" ng-style="{width: '{{rate | number:2}}%'}"> 
     	<span progress-style ng-if="rate < 50">{{rate | number:2}}%</span>
     </div>
     <div class="progress-bar progressyellow" ng-if="rate >= 50 && rate <=80" role="progressbar" aria-valuenow="{{rate | number:2}}" aria-valuemin="0" aria-valuemax="100" style="text-align:left;" ng-style="{width: '{{rate | number:2}}%'}"> 
     	<span progress-style ng-if="rate >= 50 && rate <=80">{{rate | number:2}}%</span>
     </div>
     <div class="progress-bar progressred" ng-if="rate > 80" role="progressbar" aria-valuenow="{{rate | number:2}}" aria-valuemin="0" aria-valuemax="100" style="text-align:left;" ng-style="{width: '{{rate > 100 ? 100 : rate | number:2}}%'}"> 
     	<span progress-style ng-if="rate > 80">{{rate | number:2}}%</span>
     </div>
</div>