<!-- 查看云资源防病毒信息弹出窗口 -->
<div class="modal-header">
   <button type="button" class="close" custom-title="{{::'common.close'|translate}}"  ng-click="cancel()">
		<span class="icon-closenew"></span>
	</button>
    <h4 class="modal-title" translate="cloudService.viewAntivirus"></h4>
</div>
<div class="modal-body modal-detail">
	<div class="description">
		<div class="detail-item">
			<dl  class="dl-horizontal">
				<dt style="width:45%;" translate="cloudService.resourceName"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::info.resourceName}}">{{::server.resourceName}}</dd>
				<dt style="width:45%;" translate="cloudSecurity.vendor"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::info.vendor}}">{{::info.filePath}}</dd>
				<dt style="width:45%;" translate="cloudSecurity.filePath"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::info.filePath}}">{{::info.filePath}}</dd>
				<dt style="width:45%;" translate="cloudSecurity.fileName"></dt><dd custom-title short-width=240 str-fontsize=12 shortcut cut-str="{{::info.fileName}}">{{::info.fileName}}</dd>
			</dl>
		</div>
	</div>
</div>
<!-- 内容1:按钮栏 -->
<div class="modal-footer">
    <button class="btn btn-black" ng-click="cancel()" translate="common.close"></button>
</div>