[Unit]
Description=sys-audit
Wants=network.service
Requires=libvirtd.service
After=network.service
After=libvirtd.service

[Service]
WorkingDirectory=/usr/lib64/python3.9/site-packages/sysaudit
ExecStart=/usr/bin/python3 sys_auditd.pyc start
ExecStop=/usr/bin/python3 sys_auditd.pyc stop

# Always restart if the service is not running
Restart=always
# Restart after 60 seconds
RestartSec=60
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target

