[Unit]
Description=Libvirt interface local read-only socket
Before=virtinterfaced.service
BindsTo=virtinterfaced.socket
After=virtinterfaced.socket
Conflicts=libvirtd.socket libvirtd-ro.socket libvirtd-admin.socket libvirtd-tcp.socket libvirtd-tls.socket

[Socket]
# The directory must match the /etc/libvirt/virtinterfaced.conf unix_sock_dir setting
# when using systemd version < 227
ListenStream=/var/run/libvirt/virtinterfaced-sock-ro
Service=virtinterfaced.service
SocketMode=0666

[Install]
WantedBy=sockets.target
