[Unit]
Description=Libvirt interface admin socket
Before=virtinterfaced.service
BindsTo=virtinterfaced.socket
After=virtinterfaced.socket
Conflicts=libvirtd.socket libvirtd-ro.socket libvirtd-admin.socket libvirtd-tcp.socket libvirtd-tls.socket

[Socket]
# The directory must match the /etc/libvirt/virtinterfaced.conf unix_sock_dir setting
# when using systemd version < 227
ListenStream=/var/run/libvirt/virtinterfaced-admin-sock
Service=virtinterfaced.service
SocketMode=0600

[Install]
WantedBy=sockets.target
