[Unit]
Description=cvm_ha
Wants=network.service
After=network.service

[Service]
Type=forking
ExecStart=/usr/sbin/cvm_ha
PIDFile=/var/run/chacvmd.pid

# Always restart if cvm_ha is not running
Restart=always
# Restart after 60 seconds
RestartSec=60
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
