[Unit]
Description=the timer for daily check and delete the backuped vm xml existing for 30 days

[Timer]
#execute at 00:00:00 every day
OnCalendar=daily
Unit=cha_vm_backupfiles_check.service
Persistent=true
AccuracySec=1h

[Install]
WantedBy=timers.target
