[Unit]
Description=daily check and delete the backuped vm xml existing for 30 days

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/bin/cha_ha_delete_vm_backup_conf.sh

[Install]
WantedBy=multi-user.target
