<!-- 虚拟桌面池 -->
<div class="panel cas-panel panel-default" ng-controller="DesktopListCtrl">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
		 	<li><a ui-sref='main.VDCMng' ><span translate="VDC.VDCMng"></span></a></li>
			<li class="active"><span translate="virdesk.virdesk"></span></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('cloudService/virtualDesktopPool/virtualDesktopPool')"></span>
	</div>
	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      <span class="pic Icon_desktop_pool_manage Icon_common_display">
		      </span>
		      <span class="desc"><span translate="virdesk.virdeskHead"></span></span>
			</div>
		</div>
        <nav class="navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="btn-group navbar-right" >
				    <label class="btn btn-default btn-menu hidden-xs"  ng-click="refreshDesktopList()">
						<span class='sm-icon icon-refresh'></span>
						<span translate="common.refresh"></span>
					</label>
					<label class="btn btn-default btn-menu" has-permission="DESKTOP_POOL_ADD" ng-click="addDesktop()">
		                <span class="sm-icon icon-add"></span><span translate="virdesk.add"></span>
		            </label>
				</div>
			</div>
		</nav>
		<div class="cas-list-body oneListWithLead-calc">
			<div id="desktopListDivId" class="table"  ng-grid="gridOptions"></div>
		</div>
	</div>
</div>
