<div class="cas-panel" style="min-width:400px">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display: inline;">
			<li><a ui-sref='main.VDCMng' ><span translate="VDC.VDCMng"></span></a></li>
			<li><a ui-sref='main.desktopMng' ><span translate="virdesk.virdesk"></span></a></li>
			<li class="active">
				<span translate="virdesk.virdesk"></span>：{{entryName}}
			</li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}" target="_blank"
			aria-hidden="true" ng-click="openHelp('/cloudService/virtualDesktopPool/desktop/desktopPoolDesktop')"></span>
	</div>

	<div class="panel-body">
		<div class="section">
			<castabset>
			    <castab href=".dashboard" active="{{currentTab == 'dashboard'}}" icon="icon-summary-gray" heading="{{::'editDomain.summary'|translate}}"></castab> 
			    <castab href=".virtualDesk" active="{{currentTab == 'virtualDesk'}}" icon="icon-virtual-host-gray" heading="{{::'cloudService.virtualDesktop'|translate}}"></castab>
			    <castab href=".vmTemplate" active="{{currentTab == 'vmTemplate'}}" icon="icon-vm-template-gray" heading="{{::'cloudService.vmTemplate'|translate}}"></castab>
			</castabset>
		</div>
		<div id="desktopContent" class="tabContent"  ui-view></div>
	</div>
</div>