<!-- 虚拟桌面池面板 -->
<div class='row overview-content-row' ng-controller="desktopOverviewCtrl">
	<!-- 概要 -->
	<div class="description-new overviewheight overview-desc col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<div class="detail-item">
			<div class="title">
				<h5 translate="editDomain.summary"></h5>
				<span has-permission="DESKTOP_POOL_EDIT" class="modify-vm-title Icon_modify edit_vmTitle_img" style="position: relative;left: 78%;" ng-click="modify()" custom-title="{{::'common.modify'|translate}}"></span>
			</div>
			<dl class="dl-horizontal dl-wide" style="margin-bottom:0">
				<dt translate="name"></dt>
				<dd id="dc-name" shortcut cut-str="{{overview.name}}" short-width=300 custom-title>{{overview.name}}</dd>
				<dt translate="common.desc"></dt>
				<dd id="dc-desc" shortcut cut-str="{{overview.desc}}" short-width=300 custom-title>{{overview.desc}}</dd>
				<dt translate="virdesk.assignMode"></dt>
				<dd id="dc-distributeWay">{{overview.assignMode}}</dd>
				<dt translate="virdesk.maxVmNum"></dt>
				<dd id="dc-maxVmNum">{{overview.maxVmNum}}</dd>
				<dt translate="virdesk.resourcePool"></dt>
				<dd id="dc-resourcePool" shortcut cut-str="{{overview.resourcePoolName}}" short-width=300 custom-title>{{overview.resourcePoolName}}</dd>
				<dt translate="virdesk.storagePool"></dt>
				<dd id="dc-storagePool" shortcut cut-str="{{overview.storagePoolName}}" short-width=300 custom-title>{{overview.storagePoolName}}</dd>
				<dt translate="virdesk.byOrg"></dt>
				<dd id="dc-byOrg" shortcut cut-str="{{overview.orgName}}" short-width=300 custom-title>{{overview.orgName}}</dd>
				<dt translate="virdesk.userGroup"></dt>
				<dd id="dc-userGroup" shortcut cut-str="{{overview.userGroup}}" short-width=300 custom-title>{{overview.userGroup}}</dd>
			</dl>
  	     </div>
	</div>
	<!-- 桌面外设映射规则 -->
	<div class="description-new overviewheight virdesk-devRule col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<div class="detail-item">
			<div class="title">
				<h5 translate="virdesk.desktopDevRule"></h5>
			</div>
			<dl ng-if="system==0" class="dl-horizontal dl-wide" style="margin-bottom:0">
				<dt translate="virdesk.sessionColorDept"></dt>
				<dd id="dc-sessionColorDept">{{overview.color}}</dd>
				<dt translate="virdesk.localDiskMapping"></dt>
				<dd id="dc-localDiskMapping">{{overview.disk}}</dd>
				<dt translate="virdesk.clipBoardMapping"></dt>
				<dd id="dc-clipBoardMapping">{{overview.clipboard}}</dd>
				<dt translate="virdesk.printerMapping"></dt>
				<dd id="dc-printerMapping">{{overview.printer}}</dd>
				<dt translate="virdesk.usbMapping"></dt>
				<dd id="dc-usbMapping">{{overview.usb}}</dd>
				<dt translate="virdesk.serialPortMapping"></dt>
				<dd id="dc-serialPortMapping">{{overview.serial}}</dd>
				<dt translate="virdesk.localAudioMapping"></dt>
				<dd id="dc-localAudioMapping">{{overview.audio}}</dd>
			</dl>
  	     </div>
	</div> 
	<!-- 虚拟机状态统计 -->
	<div class="overviewheight virdesk-vmStatus col-xs-12 col-sm-6 col-md-6 col-lg-4" >
		<div class="detail-item" id="vmInfo">
			<div class="title">
				<h5 translate="dashboard.vmStatusInfo"></h5>
			</div>
			<div id="vmCircle" class="circle"> </div>
			<div id="vmnumBar" class="numBar">
				<div class="numItem" id="numItem-normal">
					<label></label><br> <span translate="dashboard.vmOpened"></span>
				</div>
				<div class="numItem" id="numItem-close">
					<label></label><br> <span translate="dashboard.vmClosed"></span>
				</div>
				<div class="numItem" id="numItem-error">
					<label></label><br> <span translate="dashboard.vmUnKnown"></span>
				</div>
			</div>
		</div>
	</div>
	<!-- Top5虚拟桌面CPU利用率-->
	 <div class="overviewheight virdesk-vmCpuTop5 col-xs-12 col-sm-6 col-md-6 col-lg-6" >
		<div class="detail-item" id="virtulDesktopCpuTop5">
			<div class="title">
				<h5 translate="virdesk.virtulDesktopCpuRateTitle"></h5>
			</div>
			<div id="vmringChart" class="trendChart"></div>
		</div>
	</div>
	<!-- Top5虚拟桌面内存利用率-->
	<div   class="overviewheight virdesk-vmMemTop5 col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="detail-item" id="virtulDesktopTop5" >
			<div class="title">
				<h5 translate="virdesk.virtulDesktopMemoryTitle"></h5>
			</div>
			<div id="vmbarChart" class="trendChart"></div>
		</div>
	</div> 
</div>