<!-- 虚拟机模板列表 -->
<div class="calc100"  ng-controller="virtualDeskCtrl" style="overflow:auto;">
	<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
		        <div class="btn-group navbar-left" >
			        <h5 translate="cloudService.virtualDesktop"></h5>
		        </div>
		        
			    <!-- 按钮栏 -->
			    <div class="btn-group navbar-right" >
					<!-- 活动桌面池操作 -->
					<!-- 回收策略 -->
					<label has-permission="DESKTOP_POOL_RESTRATEGY"  ng-if="cloudType==2 && assignMode==2" class="btn btn-default btn-menu" ng-click="retrieveStrategy()">
					  <span class="sm-icon icon-synchronize"></span><span translate="virdesk.retrieveStrategy"></span>
					</label>
					<!-- 健康检测 -->
					<label has-permission="DESKTOP_POOL_HEALTHCHECK" ng-if="cloudType==2 && assignMode==2" class="btn btn-default btn-menu" ng-click="checkVirDesk()">
					  <span class="sm-icon icon-ok"></span><span translate="virdesk.checkVirDesk"></span>
					</label>
					<!-- 刷新 -->
					<label class="btn btn-default btn-menu hidden-xs"  ng-click="refreshVirtualDeskList()">
						<span class='sm-icon icon-refresh'></span>
						<span translate="common.refresh"></span>
					</label>
			    </div>
			</div>
	</nav>
   	<!-- 虚拟桌面列表列表 -->
	<div class="cas-list-body rightClick twoListWithOneNav1-calc" data-toggle="context">
	    <div ng-if="gridOptions" id='virtualDeskDivId' list-style  class="table" ng-grid="gridOptions"></div>
	    <div cas-context-menu-id="vmware-context-menu" cas-context-menu="gridOptions.selectedItems" cas-context-menu-type="{{menuType}}" cas-enter-node-type="virtualDesktopPool"> </div>
	</div>
	<!-- 使用虚拟机打用户，用户分组-->
	<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
		       <div class="btn-group navbar-left" >
			     <h5 ng-bind="userListTitle"></h5>
		       </div>
			</div>
	</nav>
	<div id="vmwareTemplateDevices" class="cas-list-body twoListWithOneNav2-calc">
		<div id="vmUserOrUserGrpListDivId" list-style  class="table" ng-grid="gridOptions2"></div>	
	</div>
</div>