<!-- 虚拟机模板列表 -->
<div class="calc100"  ng-controller="vmTemplateCtrl">
	<nav class="navbar-default" role="navigation">
			<div class="container-fluid">
		       <div class="btn-group navbar-left" >
			     <h5 translate="virdesk.templet"></h5>
		       </div>
			</div>
	</nav>
   	<div class="cas-list-body userList-calc">
        <div id="vmTemplateListDivId" class="calc100" style="width:100%;" ng-grid="gridOptions"></div>
	</div>
	<!-- <div class="cas-list-body">
        <ul id="myTab" class="newcas-tabs">
			 <li role="presentation" ng-class="{'active': isNet,newnavliActive2:isNet}" ng-click = "selectTab('net')"><a ng-class="{newnavaActive2:isNet}" href="#"><span class="sm-icon icon-net-gray"></span><span>{{::'addDomain.network'|translate}}</span></a></li>
			 <li role="presentation"  ng-class="{'active': isStorage,newnavliActive2:isStorage}" ng-click = "selectTab('storage')"><a ng-class="{newnavaActive2:isStorage}" href="#"><span class="sm-icon icon-storage-gray"></span><span>{{::'cluster.storage'|translate}}</span></a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div  ng-class="{true: 'tab-pane fade in active', false: 'tab-pane fade'}[isNet]" id="user">
				<div style="width: 100%;height:200px; " class="table"  ng-grid="netGridOptions"></div>
			</div>
			<div  ng-class="{true: 'tab-pane fade in active', false: 'tab-pane fade'}[isStorage]" id="back">
		    	<div style="width: 100%;height:200px; " class="table"  ng-grid="storageOptions"></div>
			</div>
        </div>
    </div> -->
	<div class="cas-list-body" style="height:165px;">
		    <castabset>
		      	<castab href=".net" icon="icon-net-gray" heading="{{::'addDomain.network'|translate}}"></castab> 
		      	<castab href=".storage" icon="icon-storage-gray" heading="{{::'vm.storage'|translate}}"></castab> 
		    </castabset>
		    <div style="height: -moz-calc(100% - 36px);height: -webkit-calc(100% - 36px);height: calc(100% - 36px);" ui-view></div>
	</div>
</div>