<!-- 系统管理 -->
<div class="panel panel-default cas-panel">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li class="active" translate="systemMng.systemMng"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('sysMgmt/sysMgmt')"></span>
	</div>

	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      	<span class="pic Icon_system_manage Icon_common_display">
		      	</span>
		      	 <span class='desc' ><span translate="systemMng.systemPrompt"/></span></span>
		    </div>
		</div>
	    <div class="panel-body">
 			<!-- 操作员管理 -->
			<a ui-sref='main.operatorMng' class="dashboard-box" has-permission="OPERATOR_SERVICE_MGR"> 
				<span class="custom-picture Icon_common_display Icon_operator_manage" ></span>
				<span class="box-title" text="{{::'operator.operatorMgr'|translate}}"><span translate="operator.operatorMgr"></span></span>
			</a>
			<!-- 密码策略 -->
			<a  ui-sref="main.pwdStrategy" class="dashboard-box" has-permission="PWD_MNG"> 
				<span class="custom-picture Icon_common_display Icon_security_pwd_strategy"></span>
				<span class="box-title" text="{{::'securityMng.passwordStrategy'|translate}}"><span translate="securityMng.passwordStrategy"></span></span>
			</a>
			<!-- 访问策略 -->
			<a ui-sref="main.accessStrategy" class="dashboard-box" has-permission="ACCESS_STRATEGY_MNG"> 
				<span class="custom-picture Icon_common_display Icon_security_access_strategy" ></span>
				<span class="box-title" text="{{::'securityMng.accessStrategy'|translate}}"><span translate="securityMng.accessStrategy"></span></span>
			</a>
			<!-- 证书配置 -->
			<a ui-sref='main.cerConfig' class="dashboard-box" has-permission="CER_AUTH_VIEW"> 
				<span class="custom-picture Icon_common_display Icon_security_cert" ></span>
				<span class="box-title" text="{{::'cerConfig'|translate}}"><span translate="cerConfig"></span></span>
			</a>
			<!-- CIC备份配置 -->
			<a ui-sref="main.cicBackupStrategy.cicBackupConfig" class="dashboard-box" has-permission="CIC_BACKUP_MNG"> 
				<span class="custom-picture Icon_common_display Icon_cvm_backup_config" ></span>
				<span class="box-title" text="{{::'securityMng.cicBackupMng'|translate}}"><span translate="securityMng.cicBackupMng"></span></span>
			</a>
			<!-- 操作日志 -->
			<a  ui-sref="main.operlog" class="dashboard-box" has-permission="OPERATE_LOG_MNG"> 
				<span class="custom-picture Icon_common_display Icon_operate_log"></span>
				<span class="box-title" text="{{::'operlog.operlog'|translate}}"><span translate="operlog.operlog"></span></span>
			</a>
			<!-- 日志文件收集 -->
			<a  ui-sref="main.gatherLog" class="dashboard-box" has-permission="GATHER_LOG_MNG"> 
				<span class="custom-picture Icon_common_display Icon_run_log_gather"></span>
				<span class="box-title" text="{{::'systemMng.gatherLog'|translate}}"><span translate="systemMng.gatherLog"></span></span>
			</a>
			<!-- LDAP用户同步配置 -->
			<a  ui-sref="main.ldapUserSync" class="dashboard-box" has-permission="LDAP_MNG"> 
				<span class="custom-picture Icon_common_display Icon-ldap-user-config" ></span>
				<span class="box-title" text="{{::'ldap.ldapUserSync'|translate}}"><span translate="ldap.ldapUserSync"></span></span>
			</a>
			<!-- 参数配置 -->
			<a  ui-sref="main.paramSet.systemParam" class="dashboard-box" has-permission="SYSCONFIG_MNG"> 
				<span class="custom-picture Icon_common_display Icon_parameter_setting" ></span>
				<span class="box-title" text="{{::'common.paramConfig'|translate}}"><span translate="common.paramConfig"></span></span>
			</a>
			<!-- License管理 -->
			<a  ui-sref="main.license.licenseinfo" class="dashboard-box" has-permission="LICENSE_MNG"> 
				<span class="custom-picture Icon_common_display Icon_license_manage"></span>
				<span class="box-title" text="{{::'licenseMng.licenseMng'|translate}}"><span translate="licenseMng.licenseMng"></span></span>
			</a>
			
		</div>
	</div>
	
</div>
