<!-- 用户管理 -->
<div class="panel panel-default cas-panel">
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb">
			<li><a ui-sref='main.VDCMng' ><span translate="VDC.VDCMng"></span></a></li>
			<li class="active" translate="user.userManage"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('usrMgmt/usrMgmt')"></span>
	</div>

	<div class="panel-body">
		<div class="section">
			<div class='lead' >
		      	<span class="pic Icon_operator_manage Icon_common_display">
		      	</span>
		      	 <span class='desc' ><span translate="user.userMngPrompt"/></span></span>
		    </div>
		</div>
	    <div class="panel-body">
 			<!-- 用户 -->
			<a ui-sref='main.user' class="dashboard-box" has-permission="USER_MNG"> 
				<span class="custom-picture Icon_common_display Icon_operator" ></span>
				<span class="box-title" text="{{::'org.user'|translate}}"><span translate="org.user"></span></span>
			</a>
			<!-- 用户分组 -->
			<a  ui-sref="main.userGroup" class="dashboard-box" has-permission="USER_GROUP_MNG"> 
				<span class="custom-picture Icon_common_display Icon_operator_group"></span>
				<span class="box-title" text="{{::'user.userGroup'|translate}}"><span translate="user.userGroup"></span></span>
			</a>
			
		</div>
	</div>
	
</div>
