.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-current{
	background:url('icons/current.png') no-repeat center center;
}
.icon-snapshot{
	background:url('icons/default/s-snapshot.png') no-repeat center center;
}
.icon-snapshotmng{
	background:url('icons/snapshot.png') no-repeat center center;
}
.icon-startvm{
	background:url('icons/default/s-start.png') no-repeat center center;
}
.icon-shutdownvm{
	background:url('icons/default/s-close.png') no-repeat center center;
}
.icon-poweroffvm{
	background:url('icons/default/s-power-off.png') no-repeat center center;
}
.icon-rdp{
	background:url('icons/default/s-rdp.png') no-repeat center center;
}
.icon-ssh{
	background:url('icons/default/s-ssh.png') no-repeat center center;
}
.icon-console{
	background:url('icons/default/s-console.png') no-repeat center center;
}
.icon-canelvm{
	background:url('icons/default/s-cancel.png') no-repeat center center;
}
.icon-backup{
	background:url('icons/default/s-backup.png') no-repeat center center;
}
.icon-antivirusopen{
	background:url('icons/default/s-antivirusopen.png') no-repeat center center;
}
.icon-antivirusclose{
	background:url('icons/default/s-antivirusclose.png') no-repeat center center;
}
.icon-restore{
	background:url('icons/restore.png') no-repeat center center;
}
.icon-delay{
	background:url('icons/delay.png') no-repeat center center;
}
.icon-unlink{
	background:url('icons/s-unlink.png') no-repeat center center;
}
.icon-help-gray:before {
	content: url("icons/Icon_help_16x16.svg");
}