<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.h3cloud.bare.metal.mapper.BareMetalNicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.h3c.h3cloud.bare.metal.model.BareMetalNic">
        <id column="ID" property="id" />
        <result column="BARE_METAL_ID" property="bareMetalId" />
        <result column="MAC" property="mac" />
        <result column="SPEED" property="speed" />
        <result column="STATUS" property="status" />
        <result column="MODEL" property="model" />
        <result column="PORT_GROUP" property="portGroup" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Image_Column_List">
        ID AS id, BARE_METAL_ID AS bareMetalId, MAC AS mac, SPEED AS speed, STATUS AS status, MODEL AS model, PORT_GROUP AS portGroup
    </sql>

    <select id="deleteByBareMetalId" resultType="com.h3c.h3cloud.bare.metal.model.BareMetalNic">
        delete from TBL_BARE_METAL_NIC where BARE_METAL_ID = #{bareMetalId}
    </select>

    <select id="updateStatus" resultType="com.h3c.h3cloud.bare.metal.model.BareMetalNic">
        update TBL_BARE_METAL_NIC set STATUS = #{status}, SPEED = #{speed} where BARE_METAL_ID = #{bareMetalId} AND MAC = #{mac};
    </select>

</mapper>