<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.h3cloud.bare.metal.mapper.ParameterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.h3c.h3cloud.bare.metal.entity.Parameter">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="TYPE" property="type" />
        <result column="VALUE" property="value" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, TYPE AS type, NAME AS name, VALUE AS value
    </sql>

    <!-- 根据名称查询 -->
    <select id="getParameterByName" resultType="com.h3c.h3cloud.bare.metal.entity.Parameter">
        select
        parameter.*
        from TBL_PARAMETER parameter
        <where>
            <if test="name!=null and name!=''">
                and NAME=#{name}
            </if>
            <if test="type!=null and type!=''">
                and type=#{type}
            </if>
        </where>
    </select>

    <!-- 根据类型查询 -->
    <select id="getParametersByType" resultType="com.h3c.h3cloud.bare.metal.entity.Parameter">
        select
        parameter.*
        from TBL_PARAMETER parameter
        where TYPE=#{type}
    </select>

    <update id="updateByName">
        UPDATE
        TBL_PARAMETER SET value = #{value} WHERE NAME=#{name}
    </update>

</mapper>
