<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.h3cloud.bare.metal.mapper.ScheduledJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.h3c.h3cloud.bare.metal.model.ScheduledJob">
        <id column="ID" property="id" />
        <result column="BEAN_NAME" property="beanName" />
        <result column="METHOD_NAME" property="methodName" />
        <result column="METHOD_PARAMS" property="methodParams" />
        <result column="CRON_EXPRESSION" property="cronExpression" />
        <result column="START_DELAY" property="startDelay" />
        <result column="REPEAT_INTERVAL" property="repeatInterval" />
        <result column="JOB_STATUS" property="jobStatus" />
        <result column="TYPE" property="type" />
        <result column="DESCRIPTION" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, BEAN_NAME AS beanName, METHOD_NAME AS methodName, METHOD_PARAMS AS methodParams, CRON_EXPRESSION AS cronExpression, START_DELAY AS startDelay, REPEAT_INTERVAL AS repeatInterval, JOB_STATUS AS jobStatus, TYPE AS type, DESCRIPTION AS description
    </sql>

    <select id="queryScheduledJobByType" resultType="com.h3c.h3cloud.bare.metal.model.ScheduledJob">
        select * from
        tbl_scheduled_job
        <where>
            <if test="type!=null and type!=''">
                and TYPE = #{type}
            </if>
        </where>
    </select>

</mapper>
