<div ng-controller="LoginCtrl" loadbackground="{{::sysBackgroundImg}}" class="height100 loginBg">
    <div class="h3ccloudpic"><img ng-src="{{h3cloudlogo}}" id="h3clogo"></div> <!-- 解决方案logo -->
	<img style="width: 300px;position: absolute;left:60px;top:40px;" ng-if="uiConfig.copyrightFrom == 'UNIS'" src="css/img/loginlogoLeft_unis.svg" />
	<div id="container">
		<!--左右布局-->
		<div id="left">
			<!--左边-->
			<div ng-if ="!isCasIc" id="caslogo">
				<!--左边：系统logo-->
				<img ng-src="{{systemLogo}}" id="systemLogo" style="width:210px;height:130px;">
			</div>
			
			<div ng-if="isCasIc" id="caslogo" style="margin-left:117px;margin-bottom:25px">
				<!--左边：系统logo-->
				<img ng-src="{{systemLogo}}" id="systemLogo" style="height:150px">
			</div>
		</div>
		<div id="right">
		   <p id="ukeyCT"></p>
			<!--右边登录表单-->
			<form id="loginform" name="loginform" class="form" style="padding-left: 20px;padding-top:5px" ng-controller="formController" ng-keypress="enter($event)" role="form" novalidate>
			    <div ng-hide="usbkey" class="form-group" style='margin-bottom: 30px'>
					<div id="username" class="input-group">
						<span class='input-group-addon addonspan_login'><span
							class="imgspan"><img src="css/img/user.png">
						</span>
						</span> <input id="loginName" type="text" value="" name="name"
							ng-model="formData.name" placeholder="{{::'username'|translate}}"
							required>
					</div>
				</div>
				<div ng-hide="usbkey" class="form-group" style='margin-bottom: 45px'>
					<div id="password" class="input-group">
						<span class='input-group-addon addonspan_login'><span
							class="imgspan"><img src="css/img/password.png">
						</span>
						</span> <input id="pwd" type="password" value="" name="password"
							ng-model="formData.password"
							placeholder="{{::'password'|translate}}" required>
					</div>
				</div>
				<div ng-if="usbkey" class="form-group" style='margin-bottom: 30px'>
					<div id="username" class="input-group">
						<span class='input-group-addon addonspan_login'><span
							class="imgspan"><img src="css/img/password.png">
						</span>
						</span> <input id="pin" type="password" value="" name="pin"
							ng-model="formData.pin" placeholder="{{::'usbkey.pin'|translate}}" required>
					</div>
				</div>
				<div id="alertMessage" class="alert alert-danger  ng-class:{true: '', false: 'hidden'}[isActive]" role="alert">
					<button type="button" class="close" ng-click="isActive=false">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					{{errorMessage}}
				</div>
				<a id="loginId" ng-disabled="loginform.$invalid" ng-click="processForm()" >
<!-- 				    <span translate="loginPage"></span> -->
                    <img ng-src="{{::'loginBtnImgPath'|translate}}" style="cursor:pointer;">
				</a>
				<div class="form-group" style="margin-top: 20px;width:100%">
					<div class="input-group" style="width: 350px; text-align: left">
					    <a ng-hide="usbkey" id="forgetpwdId" ng-click="forgetPwd()" style="width:70px;display:inline-block" class="btn-register" translate="forgetpwd"></a>
						<!-- <a id="registerId" ng-click="productRegister()" style="width:70px;display:inline-block;text-align:right;float:right" class="btn-register" translate="productRegister"></a> -->
										
						<div class="btn-register" ng-style="{'margin-right':isEn?'75px':'0px'}" style="width:90px;float:right;position: relative;" dropdown dropdown-toggle>
							<span translate="productRegister"></span> 
							<span class="dropdown-toggle icon-xialahao" type="button"></span>
							<ul class="dropdown-menu" role="menu" style="background: #006ca8;">
								<li><a id="registerId" href="#" ng-click="productRegister()"><span translate="productRegisterByFile"></span></a></li>
								<li><a id="registerId" href="#" ng-click="registerByLicenseServer()"><span translate="productRegisterByLicenseServer"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- 				<a id="registerId" ng-click="productRegister()" class="btn-register" translate="productRegister"></a> -->
			</form>
		</div>

	</div>
	<div id="footer">
		<span id="company">
			<img ng-if ="!isCasIc && uiConfig.copyrightFrom != 'UNIS'" ng-src="{{::copyrightLogo}}" id="copyrightLogo" style="width:69px;height:18px;">
			<img ng-if ="!isCasIc && uiConfig.copyrightFrom == 'UNIS'" ng-src="{{::copyrightLogo}}" id="copyrightLogo" style="width:100px; height:40px;">
			<img ng-if ="isCasIc"  ng-src="{{::copyrightLogo}}" id="copyrightLogo" style="height:30px">		</span>
		<span ng-if ="!isCasIc" id="copyright" ng-bind="sysCopyright"></span>
		<span ng-if ="isCasIc" id="copyright" ng-bind="sysCopyright" class='casic-color'></span>
		
		<div ng-if ="!isCasIc" id="operator-login-recommend" translate="loginBottomPrompt"></div>
	    <div ng-if ="isCasIc" id="operator-login-recommend" translate="loginBottomPrompt" class='casic-color'></div>
	</div>
</div>