
<div id ="mainPanel" class="page" cas-slidebar websocket>
	<div class="slidebar rightClick unselect" id="slidebar" style="overflow:hidden" data-toggle="context">
	    <div id="top-navbar-header" ng-class="{'navwidth30':slideHidden == true}" ng-controller="personalizationController">
			<span ng-if="slideHidden == false" >
				<img ng-if ="!isCasIc" style='margin-top:5px;width:140px;height:70px' ng-src="{{::appTopLogo}}">
				<img ng-if ="isCasIc" style='margin-top:5px;height:56px' ng-src="{{::appTopLogo}}">
			</span>
			<span ng-if="slideHidden == true" style='margin-left:3px' >
				<img  style="margin-top:5px;{{uiConfig.copyrightFrom == 'UNIS' || 'UniCloud' ? 'width: 24px' : ''}}" ng-src="{{::appTopLogoMini}}">
			</span>
<!-- 				&nbsp<span id="header-title" style='color:#fff' translate="casname"></span> -->
		</div>
		<div id="treeDivId" class="treeDiv" style='overflow:auto'>
			<ul cas-accordion>
	<!-- 			<li id="top-navbar-header"><div style='height:80px'><img src='images/logo-48.png'>&nbsp<span style='color:#fff'>H3C CAS云计算管理平台</span></div></li> -->
<!-- 				<li cas-accordion-only-link aid="dashboardLinkId" tree-id="dashboardTree" icon="icon-quickstart" href="main.overview" -->
<!-- 				   listhref="" text="{{::'dashboard.overview' | translate}}"> -->
				<!-- 云资源 -->
				<li has-permission="CLOUD_RESOURCE_MNG" cas-accordion-link tree-id="cloudResourcTreeId" aid="cloudResourceAccordionLinkId" icon="icon-cloudresource" href="cloudResource"
					listhref="tree/getCloudNodes" text="{{'cloudResource.cloudResource' | translate}}">
				</li>
				<!-- 云服务 -->
				<li has-permission="CLOUD_SERVICE_MNG" cas-accordion-link tree-id="cloudServiceTreeId" aid="drxAccordionLinkId" icon="icon-cloud-business" href="cloudService"
					listhref="tree/getCloudServiceList" text="{{'cloudService.cloudService'|translate}}"></li>
				<!-- VDC管理 -->
				<li has-permission="VDC_MNG" cas-accordion-link tree-id="VDCTreeId" aid="VDCLinkId" icon="icon-vdc-manage" href="VDCMng"
					listhref="tree/VDCNodes" text="{{'VDC.VDCMng'|translate}}"></li>
					
				<!-- 云主机 -->
				<!-- <li has-permission="VIRT_MNG" cas-accordion-only-link tree-id="cloudHostTreeId" aid="cloudHostAccordionLinkId" icon="icon-virtual-host" href="main.cloudHost"
					listhref="" text="{{'cloudHost.cloudHost' | translate}}"></li> -->
				<!-- 云硬盘 -->
				<!-- <li has-permission="CLOUD_DISK_MGR" cas-accordion-only-link tree-id="cloudDiskTreeId" aid="cloudDiskAccordionLinkId" icon="icon-virtual-storage" href="main.cloudDisk"
					listhref="" text="{{'cloudDisk.cloudDisk' | translate}}"></li> -->
				<!-- 云备份 -->
				<!-- <li has-permission="CLOUD_BACKUP_STRATEGY_MGR" cas-accordion-only-link tree-id="cloudBackupTreeId" aid="cloudBackupAccordionLinkId" icon="icon-backup-stragety" href="main.cloudBackup"
					listhref="" text="{{'cloudBackup.cloudBackup' | translate}}"></li> -->
				<!-- 云安全 has-permission="CLOUD_SECURITY" -->
				<!-- <li has-permission="CLOUDSECURITY_MNG" cas-accordion-link tree-id="cloudSecurityId" aid="cloudSecurityAccordionLinkId" icon="icon-cloud-business" href="cloudSecurity"
					listhref="tree/getCloudSecurityList" text="{{'cloudSecurity.cloudSecurity'|translate}}"></li> -->
				<!-- 资源池管理 -->
				<!-- <li has-permission="RESOURCEPOOL_MNG" cas-accordion-link tree-id="resourcePoolId" aid="resourcePoolLinkId" icon="icon-resourcePools" href="resourcePoolMng"
					listhref="tree/getResourcePool" text="{{'resourcePool.resourcePoolMng'|translate}}"></li> -->
				<!-- 流程管理 -->
				<li has-permission="WORKFLOW_MNG" cas-accordion-link tree-id="workflowId" aid="workflowAccordionLinkId" icon="icon-vm-workflow-handle" href="workflowMng"
					listhref="tree/workflows" text="{{'workflow.manage'|translate}}"></li>
				<!-- 统计报表 -->
				<!-- <li has-permission="REPORT_MNG" cas-accordion-link tree-id="reportMgrTreeId" id='reportManageTreeNode_id' aid="reportManageAccordionLinkId" icon="icon-report-manage" href="reportMng"
					listhref="tree/getReport" text="{{'report.reportMng'|translate}}"></li> -->
				<!-- 告警管理   -->
                <li has-permission="ALARM_MGR" cas-accordion-link  aid="alarmAccordionLinkId" tree-id="alarmMngTreeId" icon="icon-event-manage" href="alarmMng"
                    listhref="tree/alarm" text="{{::'alarm.alarmMng'|translate}}"></li>
				<!-- 监控管理 -->
				<li has-permission="MONITOR_MNG" cas-accordion-link tree-id="MonitorMgrTreeId" id='monitorManageTreeNode_id' aid="monitorManageAccordionLinkId" icon="icon-monitor-manage" href="monitorMng"
					listhref="tree/getMonitor" text="{{'monitorMng.monitorMng'|translate}}"></li>
				<!-- 系统管理 -->
				<li has-permission="SYS_MNG" cas-accordion-link tree-id="systemMgrTreeId" id='systemManageTreeNode_id' aid="systemManageAccordionLinkId" icon="icon-system-manage" href="systemMng"
					listhref="tree/getSystemList" text="{{'systemMng.systemMng'|translate}}"></li>
				<!-- 暂时屏蔽插件管理功能 -->	
				<!-- <li  cas-accordion-link tree-id="pluginMgrTreeId" id='pluginManageTreeNode_id' aid="pluginManageAccordionLinkId" icon="icon-plugin" href="pluginMng"
					 listhref="pluginMgr/pluginNavigations" text="{{'pluginMgr.pluginMgr'|translate}}"></li> -->
				
			</ul>
		</div>
		<!-- right click menu -->
		<div cas-context-menu-id="cas-context-menu-node" cas-context-menu="'mainNavTree'" cas-context-menu-type="node"> </div>
	</div>
	
	
	<div id="main" class="main">
		<div class="navbar navbar-default" ng-style="navbarwidth" style="margin:0px;position: fixed;top: 0;right: 0;width: 85%;" id="top-navbar" removebackground>
		    <div  cas-accordion-toggle1></div>
			<div class="container-fluid" style="display:inline-block;position: absolute;right: 0;padding-right:0;">
				<div role="navigation" id="top-navigation" class="navbar-collapse collapse" ng-controller='NavController'>
					<ul class="nav navbar-nav pull-right">
					    <li>
					    </li>
		<!-- 			    <li><input class="form-control" id="navbarInput-01" type="search" placeholder="Search"></li> -->
		<!-- 				<li><a><span class="fa fa-home"></span></a></li> -->
						<li has-permission="DASHBOARD_MGR"><a href='main/overview'><span class="icon-quickstart" custom-title={{::'dashboard.overview'|translate}}></span></a></li>

						<li class="has-up-badge" has-permission="VMWORKFLOW_VIEW||CLOUDDISKFLOW_VIEW||USERREGISTERFLOW_VIEW||CLOUDBACKUPSTRATEGY_VIEW" custom-title={{::'dashboard.flowHead'|translate}}>
							<div ng-controller="flowHeadController" >
								<button id="flowNeed" class="icon-vm-workflow-handle bgcolor0"  
									data-container="body" data-toggle="popover" data-placement="auto bottom" 
	   						  	 	ng-click="btnToFlowView()" style="border:none;margin-top:14px">
	     						 	<span id="flow-top"  ng-if='flowNeed!=0' ng-click="$event.stopPropagation();" class="badge" ng-bind="flowNeed"></span> 
	   						  	</button> 
							</div>
						</li>
						
						<li class="has-up-badge" has-permission="CLOUDWORKORDER_VIEW" custom-title={{::'dashboard.workOrderHead'|translate}}>
							<div ng-controller="workOrderController" >
								<button id="workOrderNeed" class="icon-work-order bgcolor0"  
									data-container="body" data-toggle="popover" data-placement="auto bottom" 
	   						  	 	ng-click="btnToWorkOrderView()" style="border:none;margin-top:14px">
	     						 	<span id="order-top"  ng-if='workOrderNeed!=0' class="badge" ng-click="$event.stopPropagation();" ng-bind="workOrderNeed"></span> 
	   						  	</button> 
							</div>
						</li>

						<li><a><span ng-click="switchSkin()" class="icon-skin" custom-title={{::'switchSkin'|translate}} style="cursor:pointer;"></span></a></li>
						<li id="switchSkin" style="display:none;" class="picColor-li">
							<ul>
							    <li ng-if ="isCasIc" data-color="casic"><a class="colorpick-btn" ng-click="colorPick('casic')" href="javascript:void(0)"><span class="skin-circle" style="background-color:#5390F7;"></span></a></li>
								<li data-color="blue"><a class="colorpick-btn" ng-click="colorPick('blue')" href="javascript:void(0)"><span class="skin-circle" style="background-color:#436bb3;"></span></a></li>
								<li data-color="black"><a class="colorpick-btn" ng-click="colorPick('black')" href="javascript:void(0)"><span class="skin-circle" style="background-color:#25292e;"></span></a></li>
								<li data-color="green"><a class="colorpick-btn" ng-click="colorPick('green')" href="javascript:void(0)"><span class="skin-circle" style="background-color:#3c8266;"></span></a></li>
								<li data-color="red"><a class="colorpick-btn" ng-click="colorPick('red')" href="javascript:void(0)"><span class="skin-circle" style="background-color:#9e4959;"></span></a></li>
								<li data-color="purple"><a class="colorpick-btn" ng-click="colorPick('purple')" href="javascript:void(0)"><span class="skin-circle" style="background-color:#593f6a;"></span></a></li>
								<li data-color="azure"><a class="colorpick-btn" ng-click="colorPick('azure')" href="javascript:void(0)"><span class="skin-circle" style="background-color:#0a183a;"></span></a></li>
							</ul>
						</li>
<!-- 						<li class="has-up-badge"><a ><span class="icon-waring-triangle"><span class="badge">42</span></span></a></li> -->
<!-- 						<li><a><span id="mainPanelHelp" class="icon-help-circle" style="cursor:pointer;" custom-title={{::'help'|translate}}></span></a></li> -->
<!-- 					    <li><a class="has-popover-progress"><span class="icon-menu" style="cursor:pointer;" popover-progress ></span></a></li> -->
					    
<!-- 					    <li id="openBottomControl"><a><span class="fa fa-tasks" style="cursor:pointer;"></span></a></li> -->
					    <li id="openBottomControl"><a><span class="icon-menu" style="cursor:pointer;" custom-title={{::'taskView'|translate}}></span></a></li>
					    <!-- 操作信息 -->
						<li custom-title={{::'loginInfo'|translate}} ng-controller="loginInfoController">
							<button id="loginInfoButton" class="icon-operator bgcolor0" ng-click="iconClick()"
	    						data-container="body" data-toggle="popover" data-placement="auto bottom" 
	    						data-content="<div id='loginInfoDiv' class='loginInfoPopover'></div>"	  
	    						style="border:none;margin-top:14px">
	 						</button>
						</li>
						<li>
	                        <div class="btn-group" style="boder:none;">
								  <button  type="button" class="btn btn-default btn-menu onekeyOperate"   
								          style="border:none;margin:10px 10px 0 10px;padding:0px;height:30px;width:45px;" 
								          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    <span class="sm-icon icon-options" ></span>
<!-- 								    <span translate="selectItem" style="vertical-align:text-bottom"></span> -->
								    <span class="icon-xialahao"></span>
								  </button>
								  <ul class="dropdown-menu navdrawdown" style="margin-left:9px;min-width:105px;">
								    <li class="dropdown-li" ng-click="openHelp()">
								    	<span class="sm-icon icon-helpnew"></span>
										<span translate="help"></span>
								    </li>
								    <li ng-if="!uiConfig.copyrightInfo && uiConfig.copyrightFrom != 'UNIS' && uiConfig.copyrightFrom != 'CASIC'" class="dropdown-li"  ng-click="openTechForum()">	
								    	<span class="imgspan" style="width:19px;"><img src="css/img/user.png" style="width:16px;height:16px;margin-bottom:3px;"></span>
										<span translate="techForum"></span>								    						    
								    </li>
								    <li ng-if="!uiConfig.copyrightInfo && uiConfig.copyrightFrom != 'UNIS' && uiConfig.copyrightFrom != 'CASIC'"  class="dropdown-li" ng-click="techExper()">
								    	<span class="sm-icon icon-download"></span>
										<span translate="dataDownload"></span>									    
								    </li>
								    <li class="dropdown-li" ng-click="helpExper()">
								    	<span class="sm-icon icon-download"></span>
										<span translate="helpDownload"></span>
								    </li>
								    <li class="dropdown-li" ng-click="openAbout()">
								    	<span class="sm-icon icon-info"></span>
										<span translate="about"></span>
								    </li>
								  </ul>
						 	</div>
						</li>
						<li><a ng-click='logout()' style="cursor:pointer;" custom-title="{{::'load.static.logout'|translate}}"><span class="icon-goback"></span></a></li>
					</ul>
				</div>
			</div>
	    </div>
		<div class="mainContent mainContent-calc" ui-view ></div>
	</div>
</div>

<div id = "bottomPanel" ng-controller='ControlController' jq-resize>
	<div id = "bottomTitle" class="dialog-header" style="font-size:14px;">{{::'common.taskconsole'|translate}}
		<button type="button" class="close" ng-click="cancelTaskList()"  style="opacity: 1;color: white;">
			<span class="icon-closenew"></span>
		</button>
	</div>
	<div id = "bottomMain" style="height:168px;">
	      <table id="grid-table"  jqgrid>
	      </table>
	      <div cas-context-menu-id="cas-context-menu-taskconsole" taskconsole-context-menu cas-context-menu-type="taskconsolelist"> </div>
	</div>
<iframe id="websocketIframe" frameborder="0" marginheight="0" marginwidth="0" width="0" height="0"></iframe>

</div>

<div class="nonConnected" ng-controller="pusherchatController">
		<!--***************************************************** pusher chat html *******************************************************-->
		<div id="pusherChat" style="box-sizing: inherit;z-index:1001;">
			<div id="membersContent">
				<span class="expand"><span class="closeDlg">&#x25BC;</span><span class="openDlg">&#x25B2;</span></span>
				<h2 style="margin: 10px 0px;">
					<span id="count">0</span>&nbsp<span translate="common.online"></span>
				</h2>
				<div class="scroll">
					<div id="members-list"></div>
				</div>
			</div>

			<!-- chat box template -->
			<div id="templateChatBox">
				<div class="pusherChatBox" style="box-sizing: content-box !important;">
				    <div class="boxHeader">
				        <div>
							<span class="state"> 
							   <span class="pencil"> 
							      <img src="images/quote.png" />
							   </span>
							   <span class="quote"> 
							      <img src="images/quote.png" />
							   </span>
							</span> 
							<span class="expand">
							   <span class="closeDlg">&#x25BC;</span>
							   <span class="openDlg" style="display:none">&#x25B2;</span>
							</span> 
							<span class="closeBox">x</span>
						    <span class="userName" title="title"></span>
				        </div>
					    <div class="headerBottom" href="#">
					       <img src="" class="imgFriend" />
                           <span class="userName"></span>
                        </div>
				    </div>
					<div class="slider">
						<div class="logMsg">
							<div class="msgTxt"></div>
						</div>
						<form method="post" name="#123" style="margin: auto;">
							<textarea name="msg" rows="3" style=""></textarea>				
							<input type="hidden" name="to" class="to" /> 
							<!--  
							<input type="hidden" name="from" class="from" /> 
							<input type="hidden" name="typing" class="typing" value="false" />
							-->
						</form>
					</div>
				</div>
			</div>
			<!-- chat box template end -->

			<div class="chatBoxWrap">
				<div class="chatBoxslide"></div>
				<span id="slideLeft"> <img src="images/quote.png" />&#x25C0;</span> 
				<span id="slideRight">&#x25B6; <img src="images/quote.png" /></span>
			</div>
		</div>
		<!--***************************************************** end pusher chat html *******************************************************-->
	</div>


