<div class="panel cas-panel" ng-controller="definedMonitorCtrl">
<!-- 进入设计模式（打开某一个监控面板） -->
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display: inline;">
			<li class="active">
				<span translate="cloudMonitor.performanceMonitor"></span>：{{monitor.name}}
			</li>
		</ol>
	</div>
	<div class="panel-body">
		<div class="flow">
			<div class="west">
				<a id="save" class="btn linkbtn" custom-title="{{::'common.save'|translate}}"><img src="css/img/blue/Icon_save.svg" ><span translate="{{'common.save'|translate}}"></span></a>
				<a id="exit" class="btn linkbtn" custom-title="{{::'cloudMonitor.exitDefined'|translate}}"><img src="css/img/blue/Icon_logout.svg" ><span translate="{{'cloudMonitor.exitDefined'|translate}}"></span></a>
				<div class="gridster">
					<ul>
					</ul>
				</div>
			</div>
		</div>
    	<div class="east">
    		<h4 translate="dashboard.computeConf"></h4>
    	    <!-- 健康度 组织和资源池-->
	    	<div class="samplechart" id="healthChart_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="healthChart_img" custom-title="{{::'dashboard.cvmHealth'|translate}}" class="checkboximg" src="css/img/dashboard/healthchart.png">
	    	</div>
	    	<!-- 主机健康度 组织和资源池-->
	    	<div class="samplechart" id="healthFlow_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="healthFlow_img" custom-title="{{::'dashboard.cvkHealth'|translate}}" class="checkboximg" src="css/img/dashboard/healthflow.png">
	    	</div>
	    	<!-- 主机状态  组织和资源池-->
	    	<div class="samplechart" id="hoststatus_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="hoststatus_img" custom-title="{{::'dashboard.hostStatus'|translate}}" class="checkboximg" src="css/img/dashboard/hoststatus.png">
	    	</div>
	    	<!-- 主机top5cpu  组织和资源池-->
	    	<div class="samplechart" id="top5hostcpu_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="top5hostcpu_img" custom-title="{{::'board.hostCpuRateInfoTitle'|translate}}" class="checkboximg" src="css/img/dashboard/top5_host_cpu.png">
	    	</div>
	    	<!-- 主机top5内存  组织和资源池-->
	    	<div class="samplechart" id="top5hostmem_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="top5hostmem_img" custom-title="{{::'board.hostMemoryInfoTitle'|translate}}" class="checkboximg" src="css/img/dashboard/top5_host_mem.png">
	    	</div>
	    	<!-- 虚拟机状态 组织和资源池-->
	    	<div class="samplechart" id="vmstatus_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="vmstatus_img" custom-title="{{::'dashboard.vmStatus'|translate}}" class="checkboximg" src="css/img/dashboard/vmstatus.png">
	    	</div>
	    	<!-- 虚拟机top5cpu 组织和资源池-->
	    	<div class="samplechart" id="top5vmcpu_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="top5vmcpu_img" custom-title="{{::'board.virtualHostCpuRateInfoTitle'|translate}}" class="checkboximg" src="css/img/dashboard/top5_vm_cpu.png">
	    	</div>
	    	<!-- 虚拟机top5内存 组织和资源池-->
	    	<div class="samplechart" id="top5vmmem_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="top5vmmem_img" custom-title="{{::'board.virtualHostMemoryInfoTitle'|translate}}" class="checkboximg" src="css/img/dashboard/top5_vm_mem.png">
	    	</div>
	    	<hr class="status-back">
	    	<h4 translate="dashboard.orgConf"></h4>
	    	<!-- 用户状态 组织-->
	    	<div class="samplechart" id="userstatus_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="userstatus_img" custom-title="{{::'dashboard.countUser'|translate}}" class="checkboximg" src="css/img/dashboard/userstatus.png">
	    	</div>
	    	<!-- cpu配额 组织-->
	    	<div class="samplechart" id="cpuRateOrg_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="cpuRateOrg_img" custom-title="{{::'dashboard.cpuRateOrg'|translate}}" class="checkboximg" src="css/img/dashboard/cpuRateOrg.png">
	    	</div>
	    	<!-- 内存配额 组织-->
	    	<div class="samplechart" id="memRateOrg_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="memRateOrg_img" custom-title="{{::'dashboard.memRateOrg'|translate}}" class="checkboximg" src="css/img/dashboard/memRateOrg.png">
	    	</div>
	    	<!-- 存储配额 组织-->
	    	<div class="samplechart" id="storeRateOrg_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="storeRateOrg_img" custom-title="{{::'dashboard.storeRateOrg'|translate}}" class="checkboximg" src="css/img/dashboard/storeRateOrg.png">
	    	</div>
	    	<!-- 虚拟机配额 组织-->
	    	<div class="samplechart" id="vmRateOrg_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="vmRateOrg_img" custom-title="{{::'dashboard.vmRateOrg'|translate}}" class="checkboximg" src="css/img/dashboard/vmRateOrg.png">
	    	</div>
	    	<hr class="status-back">
	    	<h4 translate="dashboard.poolConf"></h4>
	    	<!-- CPU分配比 资源池-->
	    	<div class="samplechart" id="cpuRate_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="cpuRate_img" custom-title="{{::'dashboard.cpuRate'|translate}}" class="checkboximg" src="css/img/dashboard/cpuRate.png">
	    	</div>
	    	<!-- 内存分配比 资源池-->
	    	<div class="samplechart" id="memRate_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="memRate_img" custom-title="{{::'dashboard.memRate'|translate}}" class="checkboximg" src="css/img/dashboard/memRate.png">
	    	</div>
	    	<!-- 存储分配比 资源池-->
	    	<div class="samplechart" id="storeRate_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="storeRate_img" custom-title="{{::'dashboard.storeRate'|translate}}" class="checkboximg" src="css/img/dashboard/storeRate.png">
	    	</div>
	    	<!-- 资源池计算资源趋势分析 资源池
	    	<div class="samplechart" id="computeTrend_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="computeTrend_img" custom-title="{{::'board.computeTrend'|translate}}" class="checkboximg" src="css/img/dashboard/computeTrend.png">
	    	</div>-->
	    	<!-- 资源池存储资源趋势分析 资源池
	    	<div class="samplechart" id="storeTrend_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="storeTrend_img" custom-title="{{::'board.storeTrend'|translate}}" class="checkboximg" src="css/img/dashboard/storeTrend.png">
	    	</div>-->
	    	<!-- 资源池风险评估 资源池
	    	<div class="samplechart" id="risk_sample">
	    		<div class="dashboard-corner-label"><i class="definedicon glyphicon glyphicon-ok icon"></i></div>
				<img id="risk_img" custom-title="{{::'board.risk'|translate}}" class="checkboximg" src="css/img/dashboard/risk.png">
	    	</div>-->
    	</div>
	</div>
</div>