<div class="panel cas-panel" ng-controller="PerformanceMonitorCtrl">
<!--自定义监控页面头部  -->
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display:inline;">
			<li><a ui-sref='main.monitorMng' ><span translate="monitorMng.monitorMng"></span></a></li>
			<li class="active"><span translate="monitorMng.performanceMonitor"></li>
		</ol>
		<span class="glyphicon glyphicon-question-sign link-help" custom-title="{{::'help'|translate}}"
			aria-hidden="true" ng-click="openHelp('moniterMgmt/customMonitoring')"></span>
	</div>
	<div class="panel-body">
		<div class="viewflow">
		</div>
	</div>
</div>