<div class="panel cas-panel " ng-controller="viewMonitorCtrl">
<!--自定义监控中的某一个监控面板  -->
	<div class="panel-heading cas-panel-heading">
		<ol class="breadcrumb" style="display: inline;">
			<li class="active">
				<span translate="monitorMng.performanceMonitor"></span>：{{monitor.name}}
			</li>
		</ol>
	</div>
	<div class="panel-body blackback">
		<div class="viewflow" style="overflow-x:auto;">
		<a id="expand" class="btn linkbtn" custom-title="{{'dashboard.expand'|translate}}" >
			<img src="css/img/dashboard/icon_full_screen_16x16.png" > <span style="color:#83d0ff !important;" translate="dashboard.expand"></span>
		</a>
		<a id="enter" class="btn linkbtn" custom-title="{{'dashboard.enterDenfined'|translate}}">
			<img src="css/img/blue/Icon_rename.svg" > <span style="color:#83d0ff !important;" translate="dashboard.enterDenfined"></span>
		</a>
		<div class="gridster">
			<ul>
			</ul>
		</div>
		</div>
	</div>
</div>