/*左侧树*/
.slidebar {
	/* For old syntax, otherwise collapses. */
	overflow: auto;
	-webkit-flex: 1; /* Chrome */
	-ms-flex: 1; /* IE 10 */
	flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
	width: 15%;
	min-width: 200px;
	min-height: 640px;
	border-right: 0px solid #D8E0EB;
	/**主题**/
	/*background-color: #020D38;*/
	background: -moz-linear-gradient(top, #0a183a 0%,#102344 50%, #05102f 100%);
	background: -webkit-linear-gradient(left top, #0a183a 0%,#102344 50%, #05102f 100%);
	background: -ms-linear-gradient(left top, #0a183a 0%,#102344 50%, #05102f 100%);
	background: linear-gradient(left top, #0a183a 0%,#102344 50%, #05102f 100%);
/* 	margin-top: 50px; */
	padding-top:5px;
/* 	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease; */
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-webkit-order: 1;
	order: 1;
	-webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1; /* OLD - Firefox 19- */
}
.slidebar .treeview {
	display: none;
	font-size: 13px;
	/**主题**/
/* 	background-color: #302857; */
	z-index: 998;
	font-weight: normal;
}
.slidebar .accordion .open .link {
	/*background-color: #302857;*/
	color: #fff;
}

.slideHidden .slidebar .treeview, 
.slideHidden .slidebar .treeview ul.list-group{
	background-color: #102344;
}
.slideHidden .slidebar .accordion > li:hover{/**隐藏左侧导航图标hover颜色**/
	background: #3d4962;
}
.slidebar .accordion > li:after, .slidebar .accordion > li:before { /**鼠标hover时候的底线出现的动画效果**/
    transition: width 0.5s ease 0s;
	-moz-transition: width 0.5s ease 0s; /* Firefox 4 */
	-webkit-transition: width 0.5s ease 0s; /* Safari 和 Chrome */
	-o-transition: width 0.5s ease 0s; /* Opera */
    height: 0px;
    width: 0px;
    position: absolute;
    content: ' ';
    display: block;
    box-shadow: 0px 0px 5px #717b8d;
}

.input-group-addon.help-addon{
	border: none;
}
/**logo背景**/
#top-navbar-header{
	white-space: nowrap;
/* 	position: absolute; */
	top:0;
	/**主题**/
	width:100%;
	height:80px;
	display: inline-block;
	z-index: 800;
	padding-bottom: 15px;
	/*设置左侧树顶部大图标的背景颜色*/	
	background-color: #0a183a;
	text-align: center;
}

/* 折叠展开左侧树的按钮图标样式 	start*/
.leftTreeToggele{		
	font-size: 16px;
	padding: 16px;
/* 	border-right: solid 1px rgb(238, 238, 238); */
	cursor:pointer;
	color : #fff;
}
#leftTreeToggle:hover{	
/* 	background-color:#BCB1E8; */
}
/* 折叠展开左侧树的按钮图标样式 	end*/

/*页面菜单上的普通按钮*/
.btn-menu {
	padding: 4px 12px;
	color: #fff;
	border-width:0px;
	height:31px;
	/**主题**/
	border: 1px solid #14203f;
	margin-right: 6px !important;
	font-size: 12px;
	border-radius: 3px !important;;
	/**主题**/
	background: none repeat scroll 0 0 #14203f;
}
/**按钮hover样式**/

#oneBtnControl {
	background-color: #2ba6ea !important;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  /**主题**/
  color:#fff;
  background-color: #132f5f;
  border-color: #132f5f;
}
/**已经不代表绿色按钮**/
.btn-green {
  color: #fff;
  background: #14203f;
  border-bottom-color: #14203f;
}
/**已经不代表黑色按钮**/
.btn-black {  /**取消按钮**/
  color: #fff;
  background-color: #132f5f;
  border-color: #132f5f;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  color: #fff;
  background-color: #14203f;
  border-color: #14203f;
}

.selectedPool{
	border-left:10px dashed #14203f;
}

/** h5标题显示样式*/
h5{
	color : #14203f !important;
}

.breadcrumb > .active {
	color : #999999 	
}

.btn-green:hover,
.btn-green:focus,
.btn-green.focus,
.btn-green:active,
.open > .dropdown-toggle.btn-green {
  color: #fff;
  background-color: #132f5f;
  border-color: #132f5f;
}
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-black {
  background-image: none;
}
/**包括树右键菜单**/
.cas-context-menu .dropdown-menu {
	background:#14203f;
	cursor:pointer;
}
/**更多操作下拉按钮的样式**/
.btn-menu .dropdown-menu{
	border-radius: 0;
	font-size: 12px;
	background: none repeat scroll 0 0 #14203f;
	left: -1px;
}
.navdrawdown{
    background-color: #14203f;
    color:#fff;
    border-radius: 0;
    font-size: 12px;
}
.navdrawdown>li:hover,.navdrawdown>li:focus{
    background-color: #132f5f;
    color:#fff;
    cursor:pointer;
} 
.onekeyOperate{
	background-color: #14203f;
    color: #fff !important;
}
.onekeyOperate.hover{
	background-color: #132f5f;
}
/* 不可操作按钮样式 */
.btn-forbidden{
	cursor: no-drop;
	color: #fff;
	background: #818fa7;
	border-color: #818fa7;
}
.btn-forbidden:hover{
	color: #fff;
	background: #818fa7;
	border-color: #818fa7;
}
.dropdown-forbidden, .dropdown-forbidden:hover{
	cursor: no-drop;
	color:#818fa7 !important;
	background:transparent !important;
}
/**下拉框hover**/
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #132f5f;
    color: #f8f8f8;
    text-decoration: none;
}

/**弹出框标题**/
.modal-header {
  background: -webkit-linear-gradient(left, #0d1835, #091534);
  background: -moz-linear-gradient(left, #0d1835, #091534);
  background: -ms-linear-gradient(left, #0d1835, #091534);
  background: linear-gradient(left, #0d1835, #091534);
}
.modal-footer {
	background: #F5F5F5;
}
/** step page modal footer **/
.carousel .modal-footer {
	background: #FFFFFF;
}
/**分步窗口 start**/

 /**  激活的li文字颜色  **/
.wizard-nav li.showActive {
    color:   #14203f;                
}

 /**  激活的横线颜色 */
.wizard-nav li.showActive  span.cas-slide-arrow-left {
    border-bottom: 19px solid #14203f;
    border-top: 19px solid #14203f;
}
 
.wizard-nav li.showActive  span.cas-slide-arrow-right {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0); 
	border-left: 19px solid #14203f;
}

 /**  激活的圆圈颜色 */
  /** 激活的圆圈中的数字颜色 */
.wizard-nav li.showActive span.cas-slide-content {
    background: none repeat scroll 0 0  #14203f;       
    color: #FFF;                                       
}
/**分步窗口 end**/

/**slider**/
.slider-input:focus{
	border:solid 2px #132f5f;
	outline:0;
}
.slider-track >.ui-slider-range{
    background: rgb(74, 164, 206); /**slider背景条划过后**/
}
.slider-track >.ui-slider-handle{   
	cursor:pointer; 
	margin-top: -1px;
    width: 12px;
    height: 30px;
    background: rgb(74, 164, 206);
    border: 1px solid rgb(74, 164, 206);
}
/* 控件内数据校验通过与否的边框颜色变化  start */
.greenBorder{
	border:solid 1px #132f5f !important;
}

/**checkbox插件 start**/
.corner-label{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    font-size: 0.8125em;
    height: 2em;
    margin: 0;
    padding: 0;
    right: 0;
    text-align: center;
    top: 0;
    transition: color 0.2s ease 0s;
    width: 2em;
    z-index: 10;
/*     border-color: #2dbdef; */
    /**蓝色改为绿色**/
    border-color:#14203f;
    color:#fff;
}
.cas-checkbox input:checked ~ .box {
/*     border-color: #2dbdef; */
    /**蓝色改为绿色**/
    border-color:#14203f;
    color:#14203f;
}
.cas-checkbox input:checked + label:before {
/*     border-color: #2dbdef; */
    /**蓝色改为绿色**/
    border-color:#14203f;
}

.cas-checkbox .box {
	border-color:#CBCAD8;
}

.cas-checkbox .box img.osimg{
	height:24px;
	margin:4px 6px;
	width:111px;
}

/**checkbox插件 end**/

/**input元素 start**/
.form-control:focus {
  border-color: #132f5f;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 rgba(102, 175, 233, .6);
}

.file-input select:focus, .file-input select:hover{
	border:1px solid #132f5f;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 rgba(102, 175, 233, .6);
}

/**nggrid列表 ========== start**/
.ngTopPanel{
/*    background-color: #8ea6d1; */
   background-color: #132f5f;
   color:#fff; 
}
.ngMenuText{
	color:#fff;
}
.ngColMenu {
   background-color:#183c79;
   border-color:#183c79;
}
.ngColList {
    color:#fff;
}
.ngSortButtonDown {
	border-color:#fff transparent;
}
.ngSortButtonUp {
	border-color:#fff transparent;
}
.ngHeaderButtonArrow {
	border-color:#fff transparent transparent transparent;
}
.ngRow.selected, .trRowSelected {
  background-color: #c4cbd7;
}
/**nggrid列表 =============end**/

/**jqGrid列表 ========== start**/
.ui-state-default{
   background: #14203f  none !important;
   font-weight:normal !important;
   color:#fff !important; 
}
.ui-state-default:hover{
   background: #14203f  none !important;
   font-weight:normal !important;
   color:#fff !important; 
}
.ui-widget-content {
	color:#333 !important;
}
tr.ui-state-hover {
	 background: #FFF  none !important;
	 border:1px solid #c4cbd7 !important;;
}
tr.jqgrow.ui-row-ltr.ui-widget-conent.ui-state-hover{
	 background: #FFF  none !important;
}
tr.ui-state-highlight {
	background:#c4cbd7 none !important;
	border:1px solid #c4cbd7 !important;
}
/**jqGrid列表 =============end**/

/* 新选项卡样式 		 start */
.newcas-tabs{
	height: 36px;
    background-color: #F0F0F0;
}
.newnavliActive2{
	border-bottom:0;
	border-top:solid 3px #14203f;
	background-color:#FFF;
	color:#14203f;
	padding-top:6px !important;
}
.newnavaActive2{
	color:#14203f !important;
}
/* 新选项卡样式 	end */

/**右上角的导航条**/
#top-navbar{
	
	background: -webkit-linear-gradient(left, #0a183a 0%, #101a39 20% , #101a39 100%);
    background: -moz-linear-gradient(left, #0a183a, #101a39 20% , #101a39 100%);
    background: -ms-linear-gradient(left, #0a183a, #101a39 20% , #101a39 100%);
    background: linear-gradient(left, #0a183a, #101a39 20% , #101a39 100%);
/* 	background-color: #14203f;   */
	z-index: 900;
	margin:0px;
	border:0px; /**去除左侧白色边框**/
	height:50px;/**右上角导航条固定为50px**/
}
.mainContent {
    background-color: #f0f0f0;	
}	
/*cas大面板*/
.cas-panel {
	border-width:0px;
/* 	min-width:1100px; */
	min-width:940px;
	background-color: #f0f0f0;
	box-shadow:none;
}
.cas-panel .panel-heading {
	background: none repeat scroll 0 0 #f0f0f0;
}
.cas-panel .panel-body .section{
	background: none repeat scroll 0 0 #f0f0f0;
}
/**右上脚帮助按钮**/
.nav-helpicon {
	font-size : 16px;
	color:#fff;
	cursor: pointer;
}
/**右侧面板帮助按钮**/
.link-help {
	color:#132f5f;
}
/**左侧树 start**/
.treeSelectColor {
   background-color: #3f4a63!important;
}
/**左侧导航logo下面的隐藏与展示的图标 目前已不再使用**/
/* .slidebar #toggleli span.fa-outdent{ */
/* 	color:#57b382; */
/* 	display: inline-block; */
/* 	font-size:17px; */
/* 	right: 5px; */
/* 	margin: 0px; */
/* 	position: absolute; */
/* } */
.treeview .list-group-item{cursor:pointer;background:inherit;}
.treeview span.indent{margin-left:10px;margin-right:10px}
.treeview span.icon{
/* 	width:12px;
	margin-right:5px */
}
.treeview .node-disabled{color:silver;cursor:not-allowed}
/**主题 树节点背景色**/
 .node-cloudResourcTreeId, .node-cloudRainbowTreeId, .node-cloudServiceTreeId, .node-orgMngId, .node-alarmMngTreeId, 
 .node-userTreeId, .node-MonitorMgrTreeId,.node-systemMgrTreeId, .node-reportMgrTreeId, .node-resourcePoolId,
 .node-VDCTreeId, .node-workflowId{
	color:#fff;
/* 	background-color:#143158; */
	border:none;
}
/**树节点选中的颜色**/
.node-selected {
   background-color:#3d4962 !important;	
}
.node-cloudResourcTreeId:not(.node-disabled):hover{background-color:#3d4962;}
.node-cloudRainbowTreeId:not(.node-disabled):hover{background-color:#3d4962;}
.node-cloudServiceTreeId:not(.node-disabled):hover{background-color:#3d4962;}
.node-systemMgrTreeId:not(.node-disabled):hover{background-color:#3d4962;}
.node-MonitorMgrTreeId:not(.node-disabled):hover{background-color:#3d4962;}
/**左侧树 end**/
/** Details Page **/
.modal-body .detail-table {
	background-color:#EBEBEB !important;
}

.detail-table .table > thead > tr:nth-of-type(even),
.detail-table .table > tbody > tr:nth-of-type(even),
.detail-table .table > tfoot > tr:nth-of-type(even) {
  border: 0px;
  background-color: #FFF;
}

.detail-table .table > thead > tr:nth-of-type(odd),
.detail-table .table > tbody > tr:nth-of-type(odd),
.detail-table .table > tfoot > tr:nth-of-type(odd) {
  border: 0px;
  background-color: #F5F5F5;
}

 .detail-table .table > thead > tr > td:first-child,
 .detail-table .table > tbody > tr > td:first-child,
 .detail-table .table > tfoot > tr > td:first-child,
 .detail-table .table > thead > tr > th:first-child,
 .detail-table .table > tbody > tr > th:first-child,
 .detail-table .table > tfoot > tr > th:first-child {
 	 border: 0px;
	 color:#666666;
	 width:120px;
     padding: 10px;
     line-height: 1.25;
}

 .detail-table .table > thead > tr > td:last-child,
 .detail-table .table > tbody > tr > td:last-child,
 .detail-table .table > tfoot > tr > td:last-child,
 .detail-table .table > thead > tr > th:last-child,
 .detail-table .table > tbody > tr > th:last-child,
 .detail-table .table > tfoot > tr > th:last-child {
	 color:#333333;
	 border: 0px;
	 padding: 10px;
	 line-height: 1.25;
}
/** Detail Title **/

.detail-table .table > tbody:first-child > tr:first-child,
.detail-table .table > tbody:first-child > th:first-child,
.detail-table .table > tbody:first-child > tr:first-child > td:first-child,
.detail-table .table > tbody:first-child > tr:first-child > td:last-child,
.detail-table .table > tbody:first-child > th:first-child > td:first-child,
.detail-table .table > tbody:first-child > th:first-child > td:last-child {
	background-color: #EBEBEB;
	padding:3px 10px;
}

.detail-table .table > tbody:first-child > tr:first-child > td:first-child > h4{
	color:#000000;
}

/** Details Page End**/
/**============================图标======================== start**/
.icon-skin:before {
	content: url("img/white/yifu_16x16.svg");
}
.icon-help-circle:before {
	content: url("img/white/wenhao_16x16.svg");
}
.icon-menu:before {
	content: url("img/white/caidan_16x16.svg");
}
.icon-goback:before {
	content: url("img/white/fanhui_16x16.svg");
}
/*other 告警三角叹号*/
.icon-waring-triangle:before {
	content: url("img/white/gantanhao_16x16.svg");
}
.icon-xialahao:before {
	content: url("img/xialahao_13x13.svg");
}

.icon-cascpu:before {
	 content: url("img/azure/Icon_cpu.svg");
}

.icon-casmemory:before {
	 content: url("img/azure/Icon_memory.svg");
}

.icon-casdisk:before {
	 content: url("img/azure/Icon_disk.svg");
}

.icon-casfloppy:before {
	 content: url("img/azure/Icon_floppy.svg");
}

.icon-cascdrom:before {
	 content: url("img/azure/Icon_cdrom.svg");
}

.icon-casnet:before {
	 content: url("img/azure/Icon_net.svg");
}

.icon-caspci:before {
	 content: url("img/azure/Icon_pci_dev.svg");
}

.icon-casusb:before {
	 content: url("img/azure/Icon_usb.svg");
}

.icon-casgpu:before {
	 content: url("img/azure/Icon_gpu.svg");
}

.icon-casadd:before {
	 content: url("img/azure/Icon_add.svg");
}

.icon-casnuma:before {
	content: url("img/azure/Icon_numa.svg");
}
.icon-downarrow:before {
	content: url("img/white/downarrow.png");
}
.icon-uparrow:before {
	content: url("img/white/uparrow.png");
}
/*other 下拉号*/
ul.nav .icon-xialahao:before,
.btn.btn-menu .icon-xialahao:before {
	content: url("img/white/xialahao_13x13.svg");
}

.btn.btn-menu .icon-xialahao:before {
	content: url("img/white/xialahao_13x13.svg");
}

.icon-virtual-host:before {
	content: url("img/white/Icon_virtual_host.svg");
}
.icon-search:before {
	content: url("img/white/Icon_search.svg");
}
.icon-modify-in-vm-overview:before {
	content: url("img/azure/Icon_modify.svg");
}
.icon-more-actions-in-vm-overview:before {
	content: url("img/azure/Icon_more_actions.svg");
}

/**============================图标======================== end**/

/* 局域加载等待的遮罩层背景颜色  	start*/
.areawaitBgcolor{	
	background-color:#8ea6d1;
	display:none;
	opacity:.2;
	z-index:999999;
}
.load6 .loader {
  margin: 4em auto;
  font-size: 20px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load6 1.1s infinite ease;
  animation: load6 1.1s infinite ease;
}
@-webkit-keyframes load6 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #1005F7, 1.8em -1.8em 0 0em rgba(16,5,247, 0.2), 2.5em 0em 0 0em rgba(16,5,247, 0.2), 1.75em 1.75em 0 0em rgba(16,5,247, 0.2), 0em 2.5em 0 0em rgba(16,5,247, 0.2), -1.8em 1.8em 0 0em rgba(16,5,247, 0.2), -2.6em 0em 0 0em rgba(16,5,247, 0.5), -1.8em -1.8em 0 0em rgba(16,5,247, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(16,5,247, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(16,5,247, 0.2), 1.75em 1.75em 0 0em rgba(16,5,247, 0.2), 0em 2.5em 0 0em rgba(16,5,247, 0.2), -1.8em 1.8em 0 0em rgba(16,5,247, 0.2), -2.6em 0em 0 0em rgba(16,5,247, 0.2), -1.8em -1.8em 0 0em rgba(16,5,247, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(16,5,247, 0.5), 1.8em -1.8em 0 0em rgba(16,5,247, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(16,5,247, 0.2), 0em 2.5em 0 0em rgba(16,5,247, 0.2), -1.8em 1.8em 0 0em rgba(16,5,247, 0.2), -2.6em 0em 0 0em rgba(16,5,247, 0.2), -1.8em -1.8em 0 0em rgba(16,5,247, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(16,5,247, 0.2), 1.8em -1.8em 0 0em rgba(16,5,247, 0.5), 2.5em 0em 0 0em rgba(16,5,247, 0.7), 1.75em 1.75em 0 0em rgba(16,5,247, 0.2), 0em 2.5em 0 0em rgba(16,5,247, 0.2), -1.8em 1.8em 0 0em rgba(16,5,247, 0.2), -2.6em 0em 0 0em rgba(16,5,247, 0.2), -1.8em -1.8em 0 0em rgba(16,5,247, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(16,5,247, 0.2), 1.8em -1.8em 0 0em rgba(16,5,247, 0.2), 2.5em 0em 0 0em rgba(16,5,247, 0.5), 1.75em 1.75em 0 0em rgba(16,5,247, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(16,5,247, 0.2), -2.6em 0em 0 0em rgba(16,5,247, 0.2), -1.8em -1.8em 0 0em rgba(16,5,247, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(16,5,247, 0.2), 1.8em -1.8em 0 0em rgba(16,5,247, 0.2), 2.5em 0em 0 0em rgba(16,5,247, 0.2), 1.75em 1.75em 0 0em rgba(16,5,247, 0.5), 0em 2.5em 0 0em rgba(16,5,247, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(16,5,247, 0.2), -1.8em -1.8em 0 0em rgba(16,5,247, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(16,5,247, 0.2), 1.8em -1.8em 0 0em rgba(16,5,247, 0.2), 2.5em 0em 0 0em rgba(16,5,247, 0.2), 1.75em 1.75em 0 0em rgba(16,5,247, 0.2), 0em 2.5em 0 0em rgba(16,5,247, 0.5), -1.8em 1.8em 0 0em rgba(16,5,247, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(16,5,247, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(16,5,247, 0.2), 1.8em -1.8em 0 0em rgba(16,5,247, 0.2), 2.5em 0em 0 0em rgba(16,5,247, 0.2), 1.75em 1.75em 0 0em rgba(16,5,247, 0.2), 0em 2.5em 0 0em rgba(16,5,247, 0.2), -1.8em 1.8em 0 0em rgba(16,5,247, 0.5), -2.6em 0em 0 0em rgba(16,5,247, 0.7), -1.8em -1.8em 0 0em #1005F7;
  }
}
@keyframes load6 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #1005F7, 1.8em -1.8em 0 0em rgba(16,5,247, 0.2), 2.5em 0em 0 0em rgba(16,5,247, 0.2), 1.75em 1.75em 0 0em rgba(16,5,247, 0.2), 0em 2.5em 0 0em rgba(16,5,247, 0.2), -1.8em 1.8em 0 0em rgba(16,5,247, 0.2), -2.6em 0em 0 0em rgba(16,5,247, 0.5), -1.8em -1.8em 0 0em rgba(16,5,247, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(16,5,247, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(16,5,247, 0.2), 1.75em 1.75em 0 0em rgba(16,5,247, 0.2), 0em 2.5em 0 0em rgba(16,5,247, 0.2), -1.8em 1.8em 0 0em rgba(16,5,247, 0.2), -2.6em 0em 0 0em rgba(16,5,247, 0.2), -1.8em -1.8em 0 0em rgba(16,5,247, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(16,5,247, 0.5), 1.8em -1.8em 0 0em rgba(16,5,247, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(16,5,247, 0.2), 0em 2.5em 0 0em rgba(16,5,247, 0.2), -1.8em 1.8em 0 0em rgba(16,5,247, 0.2), -2.6em 0em 0 0em rgba(16,5,247, 0.2), -1.8em -1.8em 0 0em rgba(16,5,247, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(16,5,247, 0.2), 1.8em -1.8em 0 0em rgba(16,5,247, 0.5), 2.5em 0em 0 0em rgba(16,5,247, 0.7), 1.75em 1.75em 0 0em rgba(16,5,247, 0.2), 0em 2.5em 0 0em rgba(16,5,247, 0.2), -1.8em 1.8em 0 0em rgba(16,5,247, 0.2), -2.6em 0em 0 0em rgba(16,5,247, 0.2), -1.8em -1.8em 0 0em rgba(16,5,247, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(16,5,247, 0.2), 1.8em -1.8em 0 0em rgba(16,5,247, 0.2), 2.5em 0em 0 0em rgba(16,5,247, 0.5), 1.75em 1.75em 0 0em rgba(16,5,247, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(16,5,247, 0.2), -2.6em 0em 0 0em rgba(16,5,247, 0.2), -1.8em -1.8em 0 0em rgba(16,5,247, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(16,5,247, 0.2), 1.8em -1.8em 0 0em rgba(16,5,247, 0.2), 2.5em 0em 0 0em rgba(16,5,247, 0.2), 1.75em 1.75em 0 0em rgba(16,5,247, 0.5), 0em 2.5em 0 0em rgba(16,5,247, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(16,5,247, 0.2), -1.8em -1.8em 0 0em rgba(16,5,247, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(16,5,247, 0.2), 1.8em -1.8em 0 0em rgba(16,5,247, 0.2), 2.5em 0em 0 0em rgba(16,5,247, 0.2), 1.75em 1.75em 0 0em rgba(16,5,247, 0.2), 0em 2.5em 0 0em rgba(16,5,247, 0.5), -1.8em 1.8em 0 0em rgba(16,5,247, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(16,5,247, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(16,5,247, 0.2), 1.8em -1.8em 0 0em rgba(16,5,247, 0.2), 2.5em 0em 0 0em rgba(16,5,247, 0.2), 1.75em 1.75em 0 0em rgba(16,5,247, 0.2), 0em 2.5em 0 0em rgba(16,5,247, 0.2), -1.8em 1.8em 0 0em rgba(16,5,247, 0.5), -2.6em 0em 0 0em rgba(16,5,247, 0.7), -1.8em -1.8em 0 0em #1005F7;
  }
}
/* 局域加载等待的遮罩层背景颜色  	end*/
/* 对话框的标题栏背景颜色 */
.dialog-header{		
  background: -webkit-linear-gradient(left, #0d1835, #091534);
  background: -moz-linear-gradient(left, #0d1835, #091534);
  background: -ms-linear-gradient(left, #0d1835, #091534);
  background: linear-gradient(left, #0d1835, #091534);
  color: #fff;
  padding: 5px 10px 5px 10px;
}
/* 悬浮提示和错误提示div的背景颜色 */
.tooltip-inner {
	text-align: left;
	background-color: #14203f;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  border-width: 5px 0px 5px 5px;
  border-left-color: #14203f !important;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0px;
  border-right-color: #14203f !important;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  border-width: 5px 5px 0px 5px;
  border-top-color: #14203f !important;
}
.tooltip.down .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-top: -5px;
  border-width: 0px 5px 5px 5px;
  border-bottom-color: #14203f !important;
}
/* 导航栏搜索框样式 */
.navSearchInput{
	border: none;
    height: 30px;
    font-size:12px;
}
.navSelectDiv{
	border:none;
	background-color:#14203f;
}
.navSearchSpan{
	border: none;
    height: 30px;
}
.navSearchBtn,.navSelectBtn{
	background-color:#14203f;
	line-height:10px;
}
.navSearchSpan:last-child{
	border-radius:0;
}
.navSearchBtn:focus,.navSearchBtn:hover,.navSelectBtn:focus,.navSelectBtn:hover{
	background-color:#14203f;
	outline:none;	/* 覆盖定义在bootstrap.css中定义的相同属性 */
}



/*dashboard 根据主题样式进行调整*/
.dashboard-corner-label {
	border-right-color: #14203f;
}

.checkboximg.active {
    border: 2px solid #14203f;
}

.rowDashboard h4 , .quarterRow h4, .health-box h4, .east h4{
	color: #14203f;	
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .glyphicon-chevron-left{
	background-color: #132f5f;
}

.selectBar li {
	color: #fff;
	border:1px solid #CCD1D5;
	background-color: #818fa7;
}

.selectBar li span {
	color: #fff;
}

.selectBack {
	background: url(boardimg/selected_azure.svg) left top no-repeat;
}


.box.active {
    border: 1px solid #14203f !important;
}
.box.active:after{
    border-top:10px solid #14203f !important;
}
 
.elastislide-wrapper nav span {
	background-color: #132f5f !important;
}

/**超链接样式*/
a {
	color: #14203f;
}
a:focus {
  color: #14203f;
  outline: none;
}
/**echarts的tooltip的颜色**/
.echarts-tooltip {
	background-color: #14203f !important;
	border-color:#14203f !important;
}
/* 导航树最外层树节点，鼠标hover时候的动画效果 */ 
.slidebar .accordion > li:after {
    background: -webkit-linear-gradient(left, #515b71, #515b71);
    background: -moz-linear-gradient(left, #515b71, #515b71);
    background: -ms-linear-gradient(left, #575b5e, #575b5e);
    background: linear-gradient(left, #575b5e, #575b5e);
    top: 31px;
    left: 50%;
}

.slidebar .accordion > li:before {
    background: -webkit-linear-gradient(right, #515b71, #515b71);
    background: -moz-linear-gradient(right, #515b71, #515b71);
    background: -ms-linear-gradient(right, #575b5e, #575b5e);
    background: linear-gradient(right, #575b5e, #575b5e);
    top: 31px;
    right:50%;
}

.slidebar .accordion > li:hover:after, .slidebar .accordion > li:hover:before{
    width: 50%;
    height: 1px;
    opacity:1;
} 

.icon-add-btn.btn-forbidden:before {
	background:#FFFFFF;
	content: url("img/azure/Icon_add_forbidden.svg")
}
/**========================ng-grid===============strat**/
.ngPagerButton {
  height: 22px;
  min-width: 22px;
  width:22px;
  border:none;
  display:inline-block;
/*   border-radius:100%; */
  background-color:#14203f;
  color:#fff;
  font-size:12px;
  line-height:20px;
  padding:1px 6px;
  cursor:pointer;
}
.ngPagerButton.ngPagerButton2 {
	 padding:1px 6px 1px 8px;
}
.ngPagerButton.ngPagerButton3 {
	 padding:1px 6px 1px 9px;
}
.ngPagerButton.btn-forbidden {
  background-color:#818fa7;
}
.ngPagerButton:hover{
  background-color:#132f5f;
}
.ngPagerButton:focus{
  border:none;
  border-radius:100%;
}
.ngPagerButton.btn-forbidden:hover {
  background-color:#818fa7;
  cursor:no-drop;
}
/**========================ng-grid===============end**/

/** ==================edit vm start==============**/
.list-group-item-custom {
  position: relative;
  display: block;
  padding: 0px;
  background-color: #f5f5f5;
  color:#14203f;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  line-height:3.5;
  max-height:65px;
}


.list-group-item-custom.active a{
  color: #f5f5f5;
  background-color:#14203f;
}

.dropdown-menu.editVmNav > li > a,
.dropdown-menu.editVmNav > li > a:hover{
	color:#14203f;
	background-color:#f5f5f5;
}
.dropdown-menu.editVmNav > .list-group-item-custom.active a{
  color: #f5f5f5;
  background-color:#14203f;
  
} 

#triangle-right{
	width:0;
	height:0;
	border-top:8px solid transparent;
	border-left:10px solid #14203f;
	border-bottom:8px solid transparent;
	left:55px;
	top:3px;
	position:relative;
	display:inline-block;
}
/**================edit vm end==============**/

/**=================ace checkbox start=================**/
input[type=checkbox].ace+.lbl::before,
input[type=radio].ace+.lbl::before
{
	color:#14203f;
}

input[type=checkbox].ace:hover+.lbl::before,
input[type=radio].ace:hover+.lbl::before,
input[type=checkbox].ace+.lbl:hover::before,
input[type=radio].ace+.lbl:hover::before
{border-color:#14203f}

input[type=checkbox].ace.ace-checkbox-2:checked+.lbl::before,
input[type=radio].ace.ace-checkbox-2:checked+.lbl::before
{background-color:#fff;border-color:#14203f;color:#14203f}

/**=================ace checkbox end=================**/
/*========== vm uicustom start =========*/
.uicustom-background{
	background-color:#14203f;
	color:#fff;
	height: 32px;
}
/*========== vm uicustom end =========*/

/**================advanced setting right arrow==============**/
#advanced-triangle-right{
	width:0;
	height:0;
	border-top:8px solid transparent;
	border-left:10px solid #132f5f;
	border-bottom:8px solid transparent;
	right:-10px;
	top:40%;
	position:absolute;
	display:block;
}
/**================edit vm end==============**/

/**============== jQuery-UI中dialog样式覆盖  start===================**/
.ui-dialog .ui-dialog-titlebar{
    background: -webkit-linear-gradient(left, #0d1835, #091534);
    background: -moz-linear-gradient(left, #0d1835, #091534);
    background: linear-gradient(left, #0d1835, #091534);
}
.ui-dialog .ui-dialog-buttonpane button{
    background: #14203f;
    border: 1px #14203f solid;
}
.ui-dialog .ui-dialog-buttonpane button:hover,
.ui-dialog .ui-dialog-buttonpane button:focus{
    background-color: #132f5f;
    border: 1px #132f5f solid;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    background: #14203f;
    border: 1px #14203f solid;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset:hover,
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset:focus{
    border-color:#132f5f;
    background: #132f5f;
}   
/**============== jQuery-UI中dialog样式覆盖  end===================**/

/**===========================系统中漏掉主题样式添加位置 begin=================================**/
.oneBtn-healthyCheck-titleBar{
	background-color:#132f5f !important;
}

.box-title {
	color:#428bca !important;
}

.cloudService-introduce {
	background-color:rgba(102,134,185,0.2) !important;
}

.cloudService-introduce-arrow {
	color:#8EA6D1 !important;
	font-size:7em !important;
}

.cloudService-introduce .box-title {
	background-color:rgba(102,134,185,0.2) !important;
	color:#6686b9  !important;
}

/** 虚拟机迁移历史 **/
.migrate-history .live .detail {
	border-bottom: 1px solid #f4f4f4;
}

.migrate-history .live .detail h3 {
	color: #707070;
}

.migrate-history .live .detail p {
	color: #b2b2b2;
}

.migrate-history .live .wrap ul.historylist > li {
	border-top: 2px solid #3498db;
}

.migrate-history .live .wrap li.current, .live .wrap li.after {
	border-top: 2px solid #3498db;
}

.migrate-history .live .wrap li:last-child {
	color: #3498db;
}

.migrate-history .live .wrap .before a { color: #3498db; }
.migrate-history .live .wrap .current a { color: #3498db; }
.migrate-history .live .wrap .after a { color: #abb2bc; }

.migrate-history .live .wrap li a::before {
	border: 2px solid #3498db;
}

.migrate-history .live .wrap li:first-child a {
	color: #3498db;
}

.migrate-history .live .wrap li span {
	color:#707070;
}

.migrate-history .live .wrap li div {
	color:#707070;
}

.migrate-history .live .wrap li div::before {
	border-bottom: 1px solid #3498db;
}

.migrate-history .live .wrap .before a::before  {background-color: #ffffff;}
.migrate-history .live .wrap .current a::before {background-color: #3498db;}
.migrate-history .live .wrap .after a::before   {background-color: #abb2bc;}

.migrate-history .live .wrap li a::after {
	border-left: 1px dashed  #d7d7d7;
}

.migrate-history .popup {
	border:1px solid #8E8888;
	background:#FFFFFF;
	color:#454545;
}

.migrate-history ul.store li {
	color: #707070 !important;
}

.table-checking td.td-checked {
	background-color: #6885b1;
	border: 1px solid #6885b1;
}
/**===========================系统中漏掉主题样式添加位置 end=================================**/

/**=========================== UIGrid主题 begin================================**/
.ui-grid-menu-button{
    background: #132f5f;
    border: 0px;
    color: #fff;
}

.ui-grid-selection-row-header-buttons.ui-grid-row-selected {
    color: #132f5f;
}

/*表格头下拉样式*/
.ui-grid-menu .ui-grid-menu-inner {
    background:#183c79;
    border-color:#183c79;
}
/* 表格头样式*/
.ui-grid-top-panel {
   background: #132f5f;
   color:#fff; 
   font-weight:normal;
}
/* 表格选中行背景色 */
.ui-grid-row.ui-grid-row-selected>[ui-grid-row]>.ui-grid-cell {
  background-color: #c4cbd7;
}
/**=========================== UIGrid主题 end================================**/

/**==========================修改图标跟主题变化 begin============================**/

.Icon_common_display {
	display:block !important;
	background-size: 100% 100% !important;
}

/**云资源**/
.Icon_cloud_resource {
	background:url("img/azure/Icon_cloud_resource.svg") no-repeat;
}
.Icon_backup_strategy {
	background:url("img/azure/Icon_backup_strategy.svg") no-repeat;
}
/**云彩虹**/
/**云服务**/
.Icon-cloud-business {
	background:url("img/azure/Icon_cloud_business.svg") no-repeat;
}
.Icon_organize {
	background:url("img/azure/Icon_organize.svg") no-repeat;
}
.Icon_desktop_pool_manage {
	background:url("img/azure/Icon_desktop_pool_manage.svg") no-repeat;
}
.Icon_desktop_pool {
	background:url("img/azure/Icon_desktop_pool.svg") no-repeat;
}
.Icon_vm_workflow_handle {
	background:url("img/azure/Icon_vm_workflow_handle.svg") no-repeat;
}

.Icon_vm_workflow {
	background:url("img/azure/Icon_vm_workflow.svg") no-repeat;
}

.Icon_vm_disk_workflow {
	background:url("img/azure/Icon_vm_disk_workflow.svg") no-repeat;
}

.Icon_user_preregister_workflow {
	background:url("img/azure/Icon_user_preregister_workflow.svg") no-repeat;
}

.Icon_vm_backup_cloud {
	background:url("img/azure/Icon_vm_backup_cloud.svg") no-repeat;
}

.Icon_workflow_customized {
	background:url("img/azure/Icon_workflow_customized.svg") no-repeat;
}
.Icon_cloud_message {
	background:url("img/azure/Icon_cloud_message.svg") no-repeat;
}

.Icon_work_order {
	background:url("img/azure/Icon_work_order.svg") no-repeat;
}

.Icon_operator_group {
	background:url("img/azure/Icon_operator_group.svg") no-repeat;
}
.Icon_operator_manage {
	background:url("img/azure/Icon_operator_manage.svg") no-repeat;
}
.Icon_operator_online {
	background:url("img/azure/Icon_operator_online.svg") no-repeat;
}
.Icon_operator {
	background:url("img/azure/Icon_operator.svg") no-repeat;
}
.Icon_organize_manage{
	background:url("img/azure/Icon_organize_manage.svg") no-repeat;
}
.Icon_organize {
	background:url("img/azure/Icon_organize.svg") no-repeat;
}
.Icon_parameter_setting {
	background:url("img/azure/Icon_parameter_setting.svg") no-repeat;
}
.Icon_run_log_gather {
	background:url("img/azure/Icon_run_log_gather.svg") no-repeat;
}
.Icon_security_access_strategy {
	background:url("img/azure/Icon_security_access_strategy.svg") no-repeat;
}
.Icon_security_cert {
	background:url("img/azure/Icon_security_cert_16x16.svg") no-repeat;
}
.Icon_antivirus {
	background:url("img/azure/Icon_antivirus.svg") no-repeat;
}
.Icon_security_pwd_strategy {
	background:url("img/azure/Icon_security_pwd_strategy.svg") no-repeat;
}
.Icon_system_manage {
	background:url("img/azure/Icon_system_manage.svg") no-repeat;
}

/** 系统管理 **/
.Icon_operate_log {
	background:url("img/azure/Icon_operate_log.svg") no-repeat;
}
.Icon_license_manage {
	background:url("img/azure/Icon_license_manage.svg") no-repeat;
}

.Icon-ldap-user-config {
	background: url("img/azure/Icon_ldap_user_config.svg") no-repeat;
}
.Icon-ldap-server-config {
	background: url("img/azure/Icon_ldap_server_config.svg") no-repeat;
}
.Icon-ldap-sync-config {
	background: url("img/azure/Icon_ldap_sync_config.svg") no-repeat;
}
.Icon-ldap-user-export {
	background: url("img/azure/Icon_ldap_user_export.svg") no-repeat;
}

/**虚拟机**/
.Icon_vm_summary {
	background:url("img/azure/Icon_vm_summary.svg") no-repeat;
}
.Icon_cpu {
	background:url("img/azure/Icon_cpu.svg") no-repeat;
}
.Icon_memory {
	background:url("img/azure/Icon_memory.svg") no-repeat;
}
.Icon_disk {
	background:url("img/azure/Icon_disk.svg") no-repeat;
}
.Icon_cdrom {
	background:url("img/azure/Icon_cdrom.svg") no-repeat;
}
.Icon_floppy {
	background:url("img/azure/Icon_floppy.svg") no-repeat;
}
.Icon_net {
	background:url("img/azure/Icon_net.svg") no-repeat;
}
.Icon_more_actions {
	background:url("img/azure/Icon_more_actions.svg") no-repeat;
}
.Icon_pencil {
	background:url("img/azure/Icon_pencil.svg") no-repeat;
}
.Icon_mouse {
	background:url("img/azure/Icon_mouse.svg") no-repeat;
}
.Icon_vm_console {
	background:url("img/azure/Icon_vm_console.svg") no-repeat;
}
.Icon_video {
	background:url("img/azure/Icon_video.svg") no-repeat;
}
.Icon_sound {
	background:url("img/azure/Icon_sound.svg") no-repeat;
}
.Icon_usb {
	background:url("img/azure/Icon_usb.svg") no-repeat;
}
.Icon_pci_dev {
	background:url("img/azure/Icon_pci_dev.svg") no-repeat;
}
.Icon_serial {
	background:url("img/azure/Icon_serial.svg") no-repeat;
}
.Icon_boot {
	background:url("img/azure/Icon_boot.svg") no-repeat;
}
.Icon_advanced {
	background:url("img/azure/Icon_advanced.svg") no-repeat;
}
.Icon_gpu {
	background:url("img/azure/Icon_gpu.svg") no-repeat;
}
.Icon_tpm {
	background:url("img/azure/Icon_tpm.svg") no-repeat;
}
.Icon_shmem {
	background:url("img/azure/Icon_tpm.svg") no-repeat;
}
.Icon_modify {
	background:url("img/azure/Icon_modify.svg") no-repeat;
}
.Icon-virtual-storage {
	background:url("img/azure/Icon_virtual_storage.svg") no-repeat;
}
.Icon-virtual-host {
	background:url("img/azure/Icon_virtual_host.svg") no-repeat;
}
.Icon-vm-backup {
	background:url("img/azure/Icon_vm_backup.svg") no-repeat;
}
.Icon_eject {
	background:url("img/azure/Icon_eject.svg") no-repeat;
}
.Icon_mount {
	background:url("img/azure/Icon_mount.svg") no-repeat;
}
.Icon_security_acl_strategy {
	background:url("img/azure/Icon_security_acl_strategy_16x16.svg") no-repeat;
}
.Icon_cvm_backup_config {
	background:url("img/azure/Icon_cvm_backup_config_16x16.svg") no-repeat;
}
.Icon_security_manage{
	background:url("img/azure/Icon_security_manage.svg") no-repeat;
}
/**==========================修改图标跟主题变化 end============================**/
.bgcolor0{
	background-color:#101A39;
}
#pusherChat .pusherChatBox {
	background-color: #101A39;
}
#pusherChat #membersContent {
	background-color: #101A39;
}
/** 告警管理 **/
.Icon_event_manage {
    background:url("img/azure/Icon_event_manage_16x16.svg") no-repeat;
}
.Icon_event_query {
    background:url("img/azure/Icon_event_query_16x16.svg") no-repeat;
}
.Icon_event_setting {
    background:url("img/azure/Icon_event_setting_16x16.svg") no-repeat;
}
.Icon_event_email {
    background:url("img/azure/Icon_event_email_16x16.svg") no-repeat;
}
/**自定义监控**/
.Icon_cloud_monitor {
	background:url("img/azure/Icon_cloud_monitor.svg") no-repeat;
}
.Icon_view_monitor {
	background:url("img/azure/Icon_view_monitor.svg") no-repeat;
}
.Icon_add {
	background:url("img/azure/Icon_add.svg") no-repeat;
}

/** 云彩虹 **/
.Icon_cloud_rainbow {
	background:url("img/azure/Icon_cloud_rainbow32x32.svg") no-repeat;
}

/** 操作按钮 */
.tip-item-btn {
	float: left;
    line-height: 20px;
    padding: 2px 5px;
    background: #0a183a;
    cursor: pointer;
    margin: 3px 3px 6px 3px;
    border-radius: 3px;
    color:#FFF;
}

.tip-item-btn .more {
	display: block;
    position: absolute;
    background: #0a183a;
    left: 101%;
    bottom: 0%;
    width: 70px;
    border-radius: 3px;
}

.tip-item-btn:hover, 
.tip-item-btn:focus {
    background-color: #132f5f;
    color: #fff;
    cursor: pointer;
}

/* 不可操作按钮样式 */
.tip-item-btn.btn-forbidden{
	cursor: no-drop;
	color: #fff;
	background: #818fa7;
	border-color: #818fa7;
}
.tip-item-btn.btn-forbidden:hover{
	color: #fff;
	background: #818fa7;
	border-color: #818fa7;
}

.table-checking td.td-checked {
	background-color: #6885b1;
	border: 1px solid #6885b1;
}

/** Iframe **/
.topoTab li.active a,
.topoTab li.active a:focus,
.topoTab li.active a:hover {
    color: #fff;
    background-color: #428bca;
}

.topo progress.normal {
    border: 1px solid #88CC67;  
    background-color:#e6e6e6;
    color: #88CC67; /*IE10*/
}

.topo progress.normal::-moz-progress-bar { background: #88CC67; }
.topo progress.normal::-webkit-progress-bar { background: #e6e6e6; }
.topo progress.normal::-webkit-progress-value  { background: #88CC67; }

.topo progress.high {
    border: 1px solid #FFAC2A;  
    background-color:#e6e6e6;
    color: #FFAC2A; /*IE10*/
}

.topo progress.high::-moz-progress-bar { background: #FFAC2A; }
.topo progress.high::-webkit-progress-bar { background: #e6e6e6; }
.topo progress.high::-webkit-progress-value  { background: #FFAC2A; }

.topo progress.warning {
    border: 1px solid #FF3636;  
    background-color:#e6e6e6;
    color: #FF3636; /*IE10*/
}

.topo progress.warning::-moz-progress-bar { background: #FF3636; }
.topo progress.warning::-webkit-progress-bar { background: #e6e6e6; }
.topo progress.warning::-webkit-progress-value  { background: #FF3636; }

.topo .hostVm {
    border:1px solid #DEDEDE;
    background-color:#FFF;
}

.topo .dcTitle {
    border: 2px solid #DEDEDE;
}

.topo #myCarousel {
    background:#F5F0F7;
}

.topo .carousel-ctrl {
    background: url("../css/img/xialahao_13x13.svg") no-repeat #D9E1F0;
    background-position: center;
    border:1px solid #F5F0F7;
}

.topo .carousel-ctrl-show {
    border-right:1px solid #EBEBEB;
}

.topo .selected {
	background: #DED1E5;
}

.topo .selectedVm {
	background: antiquewhite;
}

.topo .selectPublicCloud {
    background: url("../css/img/azure/caslogo_cn.svg") no-repeat;
}
.topo .selectPublicCloud_unis {
	background: url("../css/img/azure/caslogo_unis.svg") no-repeat;
}
.topo .selectPublicCloud2 {
    background: url("../css/img/spaceflight_loginlogo.png") no-repeat;
}
/* loading animate start */
.topo .loading-background {
  background-color:#EBEBEB;
}

.topo .loading > div {
  background-color: #808080;
}

/** accordin 组件样式  start **/
.panel-group .panel .panel-heading {
	background-color:#132f5f;
}

/** topo分割线 **/
.breakLine {
    width: calc(100% - 20px);
    border: 1px solid #0a183a;
	margin: 0px 10px;
}

/** topo存储分割线 **/
.breakLine2 {
    width: calc(100% - 20px);
    border-bottom: 1px dashed #0a183a;
    margin: 0px 10px;
}

/** topo分割线 **/
.split-line {
	border-left:2px solid #56B982;
	top:5px !important;
}
/**统计报表**/
.Icon_report_manage {
	background:url("img/azure/Icon_resource_report.svg") no-repeat;
}
.Icon_report_respool_compute {
	background:url("img/azure/Icon_host_resource_report.svg") no-repeat;
}
.Icon_report_respool_storage {
   background:url("img/azure/Icon_report_respool_storage.svg") no-repeat;
}
.Icon_report_orgres_quota {
   background:url("img/azure/Icon_orgres_quota_report.svg") no-repeat;
}
.Icon_vm_resource_report {
    background:url("img/azure/Icon_vm_resource_report.svg") no-repeat;
}
.Icon_vm_resource_summary_report {
    background:url("img/azure/Icon_vm_resource_summary_report.svg") no-repeat;
}
/**监控管理**/
.Icon_monitor_manage {
    background:url("img/azure/Icon_report_monitor_16x16.svg") no-repeat;
}
.Icon_monitor_trend_analysis {
    background:url("img/azure/Icon_report_host_performance_16x16.svg") no-repeat;
}
.Icon_storage_res_capacity {
    background:url("img/azure/Icon_storage_res_capacity.svg") no-repeat;
}
.Icon_monitor_risk_assessment {
    background:url("img/azure/Icon_monitor_risk_assessment.svg") no-repeat;
}
.Icon_vdc_manage {
	background:url("img/azure/Icon_vdc_manage.svg") no-repeat;
}
.Icon_res_pool_manage{
	background:url("img/azure/Icon_resource_pools_default.svg") no-repeat;
}
.Icon_virtual_host{
	background:url("img/azure/Icon_virtual_host_default.svg") no-repeat;
}
.Icon_virtual_storage{
	background:url("img/azure/Icon_virtual_storage_default.svg") no-repeat;
}
.Icon_security{
	background:url("img/azure/Icon_security_manage_default.svg") no-repeat;
}