/*dashboard AND cloudMonitor styles begin*/

/* .highrow { */
/* 	width:99%; */
/* 	height: 100%; */
/* 	border: 0px solid #DEDEDE; */
/* 	margin-top: 5px; */
/* 	margin-left: 1%; */
/* 	min-height:671px; */
/* 	min-width:1100PX; */
/* } */


/* .rowDashboard { */
/* 	width:99%; */
/* 	height: 50%; */
/* 	border: 0px solid #DEDEDE; */
/* 	margin-left: 1%; */
/* 	min-height:292px; */
/* 	min-width:1165PX; */
/* } */

/* .quarterRow { */
/* 	height: 25%; */
/* 	border: 0px solid #DEDEDE; */
/* 	min-height:100px; */
/* 	min-width:800px; */
/* 	margin-left: 1%; */
/* } */


.dashboardh4{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left:15px;
	font-size:14px;
	width:99%;
	font-family: "微软雅黑","Arial";
	word-break:break-all;
	word-wrap:break-word;
}

hr {
	margin-top:0px;
	margin-bottom:0px;	
}

.container.demo-1 {
	width: 100%;
	height: 165px;
	min-height:100px; 
	margin-right: auto; 
	margin-left: -15px;
}

/* .nb-square-96, .hb-square-96  {width: 96%;} */
/* .nb-square-98, .hb-square-98  {width: 98%;} */
/* .nb-square-96, .nb-square-98  */
/* 	{ */
/* 	float: left; */
/* 	height: 100%; */
/* 	border: 0px solid #DEDEDE; */
/* 	margin-right: 1%; */
/* 	min-height:80px; */
/* } */
/* .hb-square-96, .hb-square-98 */
/* 	{ */
/* 	float: left; */
/* 	height: 100%; */
/* 	border: 1px solid #DEDEDE; */
/* 	margin-right: 1%; */
/* 	min-height:160px; */
/* } */

/* .square-dashboard-9 {width: 9%;} */
/* .square-dashboard-14 {width: 14%;} */
/* .square-dashboard-18 {width: 18%;} */
/* .square-dashboard-23,.square-dashboard-half-23,.noboder_square-dashboard-23,.noboder_square-dashboard-half-23 {width: 23%;} */
/* .square-dashboard-24,.square-dashboard-half-24,.noboder_square-dashboard-24,.noboder_square-dashboard-half-24 {width: 24%;} */
/* .square-dashboard-25 {width: 25%;} */
/* .square-dashboard-26 {width: 26%;} */
/* .square-dashboard-28 {width: 28%;} */
/* .square-dashboard-30 {width: 30%;} */
/* .square-dashboard-32 {width: 32%;} */
/* .square-dashboard-31 {width: 31%;} */
/* .square-dashboard-33 {width: 33%;} */
/* .square-dashboard-34 {width: 34%;} */
/* .square-dashboard-35 {width: 35%;} */
/* .square-dashboard-36 {width: 36%;} */
/* .square-dashboard-40 {width: 40%;} */
/* .square-dashboard-45 {width: 45%;} */
/* .square-dashboard-47,.square-dashboard-half-47,.noboder_square-dashboard-47,.noboder_square-dashboard-half-47 {width: 47%;} */
/* .square-dashboard-48,.square-dashboard-half-48,.noboder_square-dashboard-48,.noboder_square-dashboard-half-48 {width: 48%;} */
/* .square-dashboard-49,.square-dashboard-half-49,.noboder_square-dashboard-49,.noboder_square-dashboard-half-49 {width: 49%;} */
/* .square-dashboard-62 {width: 62%;} */
/* .square-dashboard-64 {width: 64%;} */
/* .square-dashboard-71,.square-dashboard-half-71,.noboder_square-dashboard-71,.noboder_square-dashboard-half-71 {width: 71%;} */
/* .square-dashboard-72 {width: 72%;} */
/* .square-dashboard-73,.square-dashboard-half-73,.noboder_square-dashboard-73,.noboder_square-dashboard-half-73 {width: 73%;} */
/* .square-dashboard-74,.square-dashboard-half-74,.noboder_square-dashboard-74,.noboder_square-dashboard-half-74 {width: 74%;} */
/* .square-dashboard-95,.square-dashboard-half-95,.noboder_square-dashboard-95,.noboder_square-dashboard-half-95 {width: 95%;} */
/* .square-dashboard-96 {width: 96%;} */
/* .square-dashboard-97 {width: 97%;} */
/* .square-dashboard-98,.square-dashboard-half-98,.noboder_square-dashboard-98,.noboder_square-dashboard-half-98 {width: 98%;} */
/* .square-dashboard-99,.square-dashboard-half-99,.noboder_square-dashboard-99,.noboder_square-dashboard-half-99 {width: 99%;} */

/* .square-dashboard-9, */
/* .square-dashboard-14,.square-dashboard-18, */
/* .square-dashboard-23,.square-dashboard-24,.square-dashboard-25,.square-dashboard-26,.square-dashboard-28, */
/* .square-dashboard-30,.square-dashboard-31,.square-dashboard-32,.square-dashboard-33,.square-dashboard-34,.square-dashboard-35,.square-dashboard-36, */
/* .square-dashboard-40,.square-dashboard-45,.square-dashboard-47,.square-dashboard-48,.square-dashboard-49, */
/* .square-dashboard-62,.square-dashboard-64, */
/* .square-dashboard-71,.square-dashboard-72,.square-dashboard-73,.square-dashboard-74, */
/* .square-dashboard-95,.square-dashboard-96,.square-dashboard-97,.square-dashboard-98,.square-dashboard-98,.square-dashboard-99 */
/* { */
/* 	float: left; */
/* 	height: 99%; */
/* 	border: 1px solid #DEDEDE; */
/* 	margin-right: 1%; */
/* 	min-width:275px; */
/* } */

/* .square-dashboard-half-49,.square-dashboard-half-24,.square-dashboard-half-74,.square-dashboard-half-99, */
/* .square-dashboard-half-47,.square-dashboard-half-23,.square-dashboard-half-71,.square-dashboard-half-95 */
/* { */
/* 	float: left; */
/* 	height: 49%; */
/* 	border: 1px solid #DEDEDE; */
/* 	margin-right: 1%; */
/* 	min-width:275px; */
/* } */

/* .noboder_square-dashboard-half-49,.noboder_square-dashboard-half-24,.noboder_square-dashboard-half-74,.noboder_square-dashboard-half-99, */
/* .noboder_square-dashboard-half-47,.noboder_square-dashboard-half-23,.noboder_square-dashboard-half-71,.noboder_square-dashboard-half-95 */
/* { */
/* 	float: left; */
/* 	height: 50%; */
/* 	border: 0px solid #DEDEDE; */
/* 	margin-right: 1%; */
/* 	min-width:275px; */
/* } */
/* .noboder_square-dashboard-49,.noboder_square-dashboard-24,.noboder_square-dashboard-74,.noboder_square-dashboard-99, */
/* .noboder_square-dashboard-47,.noboder_square-dashboard-23,.noboder_square-dashboard-71,.noboder_square-dashboard-95 */
/* { */
/* 	float: left; */
/* 	height: 50%; */
/* 	border: 0px solid #DEDEDE; */
/* 	margin-right: 1%; */
/* 	min-width:275px; */
/* } */

.remind.count{
	width:100%;
	height:47%;
	margin:0 auto;
	display:inline-block;
}
.height44 {
	height:45% !important;
}
.countTable{
	width:140px;
	float:right;
	font-size:14px;
	margin-right:5px;
	margin-top:8%;
	position:relative;
	left:-10px;
}
.countTable td{
	border-bottom:1px solid #EFEFEF;
	font-family: "微软雅黑","Arial";
	padding-left: 5px;
	min-width: 65px;
}
.countTable td.leftText{
 	text-align:right;
 	padding-left: 15px;
}
.countTable tr {
	line-height:30px;
}

.countPic{
	position: relative;
	width: -moz-calc(100% - 160px);
	width: -webkit-calc(100% - 160px);
	width: calc(100% - 160px);
	text-align:center;
	height: 95%;
	min-height:110px;
	float:left;
	cursor:default !important;
}

.countNum{
	font-size:10px;
	position: absolute;
	top: 23px;
	width:80px;
}
.countLabel{
	font-size:15px;
	position: absolute;
	top: 53px;
	width:80px;
}
.countPic img{
	width:100%;
	height:100%;
}
 
/* .log { */
/* 	width: 40%; */
/* 	height: 40%; */
/* 	border: 1px solid #789976; */
/* 	margin-top: 3%; */
/* 	margin-left: 6%!important; */
/* 	margin-right: 0!important; */
/* 	float: left; */
/* 	position: relative; */
/* 	min-height:90px; */
/* 	min-width:90px; */
/* } */


/* .logPic{ */
/* 	position: relative; */
/* 	float: left; */
/* 	width:30%; */
/* 	margin-left:10%; */
/* } */

/* .logImg{ */
/* 	height:60%; */
/* 	width: 60%; */
/* 	display:inline; */
/* } */

/* .logNum { */
/* 	position: relative; */
/* 	font-size: 16px; */
/* 	float: right; */
/* 	width:60%; */
/* 	font-family:"微软雅黑","Arial"; */
/* } */

/* .logTitle { */
/* 	width: 100%; */
/* 	height: 30%; */
/* 	text-align: center; */
/* 	background-color: #ddd; */
/* 	bottom: 0; */
/* 	min-height: 18px; */
/* 	cursor:pointer; */
/* 	font-size: 16px; */
/* 	font-family: "微软雅黑","Arial"; */
/* } */

.circle{
	width:100%;
	height: -moz-calc(100% - 82px);
	height: -webkit-calc(100% - 82px);
	height: calc(100% - 82px);
	min-height:130px;
	margin: 0 auto;
}

/* .numBar { */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
/* 	width:263px; */
/* 	height: 52px; */
/* } */

/* .numItem { */
/* 	width: 19%; */
/* 	height: 98%; */
/* 	float: left; */
/* 	margin-left: 12%; */
/* 	font-family: "Microsoft Yahei","微软雅黑","Arial"; */
/* } */

.numItem_double {
	width: 19% !important;
	height: 98% !important;;
	margin-left: 25% !important;
}

.numItem#numItem-useryes {
	border-left: 3px solid #86CC16;
}
.numItem#numItem-userno {
	border-left: 3px solid #FF8000;
}

.numItem#numItem-useryes label {
	color: #86CC16;
}

.numItem#numItem-userno label {
	color: #FF8000;
}

/* .trendChart{ */
/* 	width: 100%; */
/* 	height: -moz-calc(100% - 30px); */
/* 	height: -webkit-calc(100% - 30px); */
/* 	height: calc(100% - 30px); */
/* 	min-height:240px; */
/* 	margin: 0 auto; */
/* } */

/* .monitorChart{ */
/* 	width: 100%; */
/* 	height: 100%; */
/* 	min-height:120px; */
/* 	margin: 0 auto; */
/* } */

/* .progress { */
/*   margin-bottom: 0px; */
/*   margin-top: 5px; */
/* } */

/* .carousel-control { */
/*     color: #ccc; */
/*     width: 30px; */
/*     height: 85%; */
/*     top:50px; */
/* } */

.status-bar {
	position: relative;
	padding: 5px 0px 10px;
	min-width:1000px;
}

.status-back {
	width: 100%;
}

.operation-table {
	float: left;
	margin: 25px 15px auto 20px;
}

.status { /*float: left; remove by w10456 2014-07-10*/
	width: 223px;
	height: 103px;
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;
	border: 1px solid #ccc;
}

.status-left{
	width: 90px;
	background-color: #eee;
	height: 100%;
	position: relative;
}
.status-num {
	font-family: "微软雅黑",Arial, sans-serif;
	font-size: 70px;
	height: 75px;
	line-height: 75px;
	margin: -80px 0 0 95px;
	text-align: center;
}

.status-pic {
	padding: 35px 35px;
	width: 50px;
	height: 50px;
}

.status-name {
	font-family: "微软雅黑", Arial,
		sans-serif;
	font-size: 14px;
	text-align: center;
	width: 100%;
	line-height: 20px;
	position: absolute;
	bottom: 10px;
}

.minWidth310 {
	min-width:310px;
}

/*dashboard AND cloudMonitor styles end*/


/*dashboard AND cloudMonitor styles begin*/

/**大屏幕监控样式*/

.dashboard-viewflow {
	position: relative;
	width: 100%;
	height: 100%;
	overflow:visible;
	min-width:1300px;
}

.blackback {
/* 	background: -moz-linear-gradient(top, #143158 0%,#2C4D6C 50%, #05112B 100%); */
/* 	background: -webkit-linear-gradient(left top, #143158 0%,#2C4D6C 50%, #05112B 100%);	 */
	background:url(img/dashboard/background.png) no-repeat;
	background-size: 100% 100%;
}

.backhealth {
	background:url(img/dashboard/back_health.png) no-repeat;
	background-size: 100% 100%;
}

.backcloud {
	background:url(img/dashboard/cloud_back.png) no-repeat;
	background-size: 100% 100%;
}

.backcloud_en {
	background:url(img/dashboard/cloud_back_en.png) no-repeat;
	background-size: 100% 100%;
}

.backrate {
	background:url(img/dashboard/rate_back.png) no-repeat;
	background-size: 100% 100%;
}

.backstatus {
	background:url(img/dashboard/status_back.png) no-repeat;
	background-size: 100% 100%;
}

.backthrend {
	background:url(img/dashboard/thrend_back.png) no-repeat;
	background-size: 100% 100%;
}

.viewback {
	background:url(img/dashboard/view_back.png) no-repeat;
	background-size: 100% 100%;
}

.backbattery,.backbattery1,.backbattery2,.backbattery3,.backbattery4
,.backbattery5,.backbattery6,.backbattery7,.backbattery8,.backbattery9,.backbattery10 
,.overview-backbattery,.overview-backbattery1,.overview-backbattery2,.overview-backbattery3,.overview-backbattery4
,.overview-backbattery5,.overview-backbattery6,.overview-backbattery7,.overview-backbattery8,.overview-backbattery9,.overview-backbattery10 {
	padding:10px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-origin: content-box;
}
.backbattery {
	background-image: url(img/dashboard/battery.svg);
}
.backbattery1 {
	background-image: url(img/dashboard/battery1.svg);
}
.backbattery2 {
	background-image: url(img/dashboard/battery2.svg);
}
.backbattery3 {
	background-image: url(img/dashboard/battery3.svg);
}
.backbattery4 {
	background-image: url(img/dashboard/battery4.svg);
}
.backbattery5 {
	background-image: url(img/dashboard/battery5.svg);
}
.backbattery6 {
	background-image: url(img/dashboard/battery6.svg);
}
.backbattery7 {
	background-image: url(img/dashboard/battery7.svg);
}
.backbattery8 {
	background-image: url(img/dashboard/battery8.svg);
}
.backbattery9 {
	background-image: url(img/dashboard/battery9.svg);
}
.backbattery10 {
	background-image: url(img/dashboard/battery10.svg);
}

.overview-backbattery {
	background-image: url(img/dashboard/overview_battery.svg);
}
.overview-backbattery1 {
	background-image: url(img/dashboard/overview_battery1.svg);
}
.overview-backbattery2 {
	background-image: url(img/dashboard/overview_battery2.svg);
}
.overview-backbattery3 {
	background-image: url(img/dashboard/overview_battery3.svg);
}
.overview-backbattery4 {
	background-image: url(img/dashboard/overview_battery4.svg);
}
.overview-backbattery5 {
	background-image: url(img/dashboard/overview_battery5.svg);
}
.overview-backbattery6 {
	background-image: url(img/dashboard/overview_battery6.svg);
}
.overview-backbattery7 {
	background-image: url(img/dashboard/overview_battery7.svg);
}
.overview-backbattery8 {
	background-image: url(img/dashboard/overview_battery8.svg);
}
.overview-backbattery9 {
	background-image: url(img/dashboard/overview_battery9.svg);
}
.overview-backbattery10 {
	background-image: url(img/dashboard/overview_battery10.svg);
}


.rowDashboard_34 {
	width: 100%;
	height: 34%;
	border: 0px solid #DEDEDE;
	min-height:150px;
	min-width:1100PX;
}

.rowDashboard_66 {
	width: 100%;
	height: 66%;
	border: 0px solid #DEDEDE;
	min-height:430px;
	min-width:1100px;
}

.col-dashboard h4 , .col-dashboard-48 h4, .col-dashboard-24 h4 , 
.col-dashboard-23 h4 , .col-dashboard-25 h4{
	margin-top: 15px;
	margin-bottom: 0px;
	padding-left:15px;
	font-size:16px;
	width:100%;
	font-family: "Microsoft Yahei","微软雅黑","Arial";
	word-break:break-all;
	word-wrap:break-word;
	color:#83d0ff;
/* 	font-weight:bold; */
}

.col-dashboard {width:100%}
.col-dashboard-23 {width:23%}
.col-dashboard-24 {width:24%}
.col-dashboard-25 {width:25%}
.col-dashboard-48 {width:48%}
.col-dashboard-23, .col-dashboard-24,.col-dashboard-25, .col-dashboard-48, .col-dashboard
{
	float: left;
	height: 100%;
/* 	border: 1px solid #DEDEDE; */
	min-width:100px;
}

.half-col {height:50%}
.nb-col {
/* 	border: 0px solid #DEDEDE; */
}
.col-margin {
	margin: 0px 0px 0px 6px;	
}

.dashboard-trendChart{
	width: 100%;
	height: 90%;
	min-height:20px;
	margin: 0 auto;
}

.dashboard-outerTable {
	width:60%;
	height:100%;
	display:table;
	float:right;
	color:white;
	min-width:120px;
	max-width:150px;
}

.dashboard-innerTable {
	display:table-cell;
	vertical-align:middle;
}

.dashboard-countTable {
	height:100px;
	float:right;	
	font-size:12px;	
	color:#7dabe2;
}

.dashboard-countTable td.name{
	padding-left:10px;
 	text-align:left;
 	width: 65%;
 	min-width:50px;
}

.dashboard-countTable td.leftText{
	padding-right:10px;
 	text-align:right;
 	width: 35%;
 	min-width:20px;
}


.dashboard-outerImg {
	width:80px;
	height:100%;
	display:table;
	float:left;
	color:white;
	padding-left:10px;
}

.dashboard-innerImg {
	display:table-cell;
	vertical-align:middle;
}

.dashboard_rate_img {
	width:80px;
	height:100px;
	background-image:url(img/gray/Icon_event_minor_16x16.svg);
	float:left;
	text-align:center;
}

.cpu_rate_img, .mem_rate_img, .store_rate_img, .vm_rate_img  {
	width:80px;
	height:100px;
	float:left;
	text-align:center;
}

.cpu_rate_img {
	background:url(img/dashboard/pruple_back.svg) no-repeat;
	background-size: 100% 100%;
}
.mem_rate_img {
	background:url(img/dashboard/green_back.svg) no-repeat;
	background-size: 100% 100%;
}
.store_rate_img {
	background:url(img/dashboard/blue_back.svg) no-repeat;
	background-size: 100% 100%;
}
.vm_rate_img {
	background:url(img/dashboard/red_back.svg) no-repeat;
	background-size: 100% 100%;
}

.rate_span {
	font-size:32px;	
	color:#ffffff;
	margin:40px auto;
}

.health_span {
	font-size:70px;
	color:#84c308;
	margin-left:auto;
	margin-right:auto;
	height:80px;	
	width:130px;
	text-align:center;	
}

.view_span {
	font-size:60px;	
	color:#ffffff;
	font-weight:lighter;
	font-family:"Arial";
	position: relative;
	top:50%;
}

.table_font_color {
	color : #7dabe2;
}



.dashboard_numBar {
	margin-left: auto;
	margin-right: auto;
	width:263px;
	height: 46px;
}

.dashboard_numItem {
	width: 19%;
	height: 98%;
	float: left;
	margin-left: 12%;
	font-family: "Microsoft Yahei","微软雅黑","Arial";
}

.dashboard_numItem label {
	font-size: 18px;
	margin-left: 10px;
	margin-bottom: 0px;
}
.dashboard_numItem span {
	font-size: 12px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.dashboard_numItem#numItem-normal {
	border-left: 3px solid #84c308;
}
.dashboard_numItem#numItem-normal-vm {
	border-left: 3px solid #84c308;
}
.dashboard_numItem#numItem-paused {
	border-left: 3px solid #00E4FF;
}

.dashboard_numItem#numItem-close {
	border-left: 3px solid #F73737;
}

.dashboard_numItem#numItem-close-vm {
	border-left: 3px solid #F73737;
}

.dashboard_numItem#numItem-error {
	border-left: 3px solid #d98629;
}

.dashboard_numItem#numItem-error-vm {
	border-left: 3px solid #d98629;
}

.dashboard_numItem#numItem-maintain {
	border-left: 3px solid #2ba6eb;
}

.dashboard_numItem#numItem-normal label, .dashboard_numItem#numItem-normal span {
	color: #84c308;
}

.dashboard_numItem#numItem-normal-vm label, .dashboard_numItem#numItem-normal-vm span {
	color: #84c308;
}

.dashboard_numItem#numItem-close label, .dashboard_numItem#numItem-close span {
	color: #F73737;
}

.dashboard_numItem#numItem-close-vm label, .dashboard_numItem#numItem-close-vm span {
	color: #F73737;
}

.dashboard_numItem#numItem-error label, .dashboard_numItem#numItem-error span {
	color: #d98629;
}

.dashboard_numItem#numItem-error-vm label, .dashboard_numItem#numItem-error-vm span {
	color: #d98629;
}

.dashboard_numItem#numItem-maintain label, .dashboard_numItem#numItem-maintain span {
	color: #2ba6eb;
}

.dashboard_numItem#numItem-useryes {
	border-left: 3px solid #84c308;
}
.dashboard_numItem#numItem-userno {
	border-left: 3px solid #d98629;
}

.dashboard_numItem#numItem-useryes label, .dashboard_numItem#numItem-useryes span {
	color: #84c308;
}

.dashboard_numItem#numItem-userno label,  .dashboard_numItem#numItem-userno span{
	color: #d98629;
}

.healthChart_sample {
	background:url(img/dashboard/healthchart.png) no-repeat;
	background-size: 100% 100%;
}
.healthFlow_sample {
	background:url(img/dashboard/healthflow.png) no-repeat;
	background-size: 100% 100%;
}
.cpuRate_sample {
	background:url(img/dashboard/cpuRate.png) no-repeat;
	background-size: 100% 100%;
}
.memRate_sample {
	background:url(img/dashboard/memRate.png) no-repeat;
	background-size: 100% 100%;
}
.storeRate_sample {
	background:url(img/dashboard/storeRate.png) no-repeat;
	background-size: 100% 100%;
}
.cpuRateOrg_sample {
	background:url(img/dashboard/cpuRateOrg.png) no-repeat;
	background-size: 100% 100%;
}
.memRateOrg_sample {
	background:url(img/dashboard/memRateOrg.png) no-repeat;
	background-size: 100% 100%;
}
.storeRateOrg_sample {
	background:url(img/dashboard/storeRateOrg.png) no-repeat;
	background-size: 100% 100%;
}
.vmRateOrg_sample {
	background:url(img/dashboard/vmRateOrg.png) no-repeat;
	background-size: 100% 100%;
}
.warnInfo_sample {
	background:url(img/dashboard/warnInfo.png) no-repeat;
	background-size: 100% 100%;
}
.hoststatus_sample {
	background:url(img/dashboard/hoststatus.png) no-repeat;
	background-size: 100% 100%;
}
.top5hostcpu_sample {
	background:url(img/dashboard/top5_host_cpu.png) no-repeat;
	background-size: 100% 100%;
}
.top5hostmem_sample {
	background:url(img/dashboard/top5_host_mem.png) no-repeat;
	background-size: 100% 100%;
}
.vmstatus_sample {
	background:url(img/dashboard/vmstatus.png) no-repeat;
	background-size: 100% 100%;
}
.top5vmcpu_sample {
	background:url(img/dashboard/top5_vm_cpu.png) no-repeat;
	background-size: 100% 100%;
}
.top5vmmem_sample {
	background:url(img/dashboard/top5_vm_mem.png) no-repeat;
	background-size: 100% 100%;
}
.vm_definedInfo_sample {
	background:url(img/dashboard/vm_definedinfo.png) no-repeat;
	background-size: 100% 100%;
}
.host_definedInfo_sample {
	background:url(img/dashboard/host_definedinfo.png) no-repeat;
	background-size: 100% 100%;
}
.store_definedInfo_sample {
	background:url(img/dashboard/store_definedinfo.png) no-repeat;
	background-size: 100% 100%;
}
.userstatus_sample {
	background:url(img/dashboard/userstatus.png) no-repeat;
	background-size: 100% 100%;
}
.computeTrend_sample {
	background:url(img/dashboard/computeTrend.png) no-repeat;
	background-size: 100% 100%;
}
.storeTrend_sample {
	background:url(img/dashboard/storeTrend.png) no-repeat;
	background-size: 100% 100%;
}
.risk_sample {
	background:url(img/dashboard/risk.png) no-repeat;
	background-size: 100% 100%;
}

/**大屏幕监控样式*/

.viewflow {
	position: relative;
	width: 100%;
	height: 100%;
	overflow:auto;
	overflow-x:hidden;
}

.dashboard-main {
	width: 100%;
	height:100%;
	overflow: auto;
    -webkit-box-ordinal-group: 2; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-ordinal-group: 2; /* OLD - Firefox 19- */
	-ms-flex-order: 2; /* TWEENER - IE 10 */
	-webkit-order: 2; /* NEW - Chrome */
	order: 2;
}

div.carousel-inner  form {
	padding-left:30px;
	padding-right:0px;
}

.carousel-inner > .active {
  left: 0;
  height:100%;
  width:auto;
}


.dashboardBtn {
  display: inline-block;
  padding: 1px 1px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.handler{
	height:100%;
	width:100%;
}

.viewflow {
	position: relative;
	width: 100%;
	height: 100%;
	overflow:auto;
	overflow-x:hidden;
}

.highrow {
	width:99%;
	height: 95%;
	border: 0px solid #DEDEDE;
	margin-top: 5px;
	/* margin-left: 1%; */
	min-height:671px;
	min-width:1100PX;
}

.himg {
	z-index:9999!important;
	position:absolute;
	cursor:pointer;
	margin: 0 auto;	
	float:left;
	width: 20px;
	height: 20px
}

.rowDashboard {
	width: 99%;
	height: 50%;
	border: 0px solid #DEDEDE;
	/* margin-left: 1%; */
	min-height:292px;
	min-width:1165px;
}

.quarterRow {
	height: 25%;
	border: 0px solid #DEDEDE;
	min-height:100px;
	min-width:800px;
/* 	margin-left: 1%; */
}

.rowDashboard h4 , .quarterRow h4, .health-box h4, .east h4{
	margin-top: 10px;
	margin-bottom: 0;
	padding-left:15px;
	font-size:14px;
	width:99%;
	font-family: "Microsoft Yahei","微软雅黑","Arial";
	word-break:break-all;
	word-wrap:break-word;
/* 	font-weight:bold; */
}


.viewback h4  {
	margin-top: 15px;
	margin-bottom: 0px;
	padding-left:15px;
	font-size:16px;
	width:100%;
	height:17px;
	font-family: "Microsoft Yahei","微软雅黑","Arial";
	word-break:break-all;
	word-wrap:break-word;
	color:#83d0ff !important;
}

/* .container.demo-1 { */
/* 	width: 100%; */
/* 	height: 80%; */
/* 	min-height:100px;  */
/* 	margin-right: auto;  */
/* 	margin-left: auto;  */
/* 	padding-left:0px; */
/* 	padding-right:15px; */
/* } */

.nb-square-96, .hb-square-96  {width: 96%;}
.nb-square-98, .hb-square-98  {width: 98%;}
.nb-square-100, .hb-square-100  {width: 100%;}
.nb-square-96, .nb-square-98 ,.nb-square-100
	{
	float: left;
	height: 100%;
	border: 0px solid #DEDEDE;
/* 	margin-right: 1%; */
	margin:0px;
	min-height:80px;
}
.hb-square-96, .hb-square-98
	{
	float: left;
	height: 100%;
	border: 1px solid #DEDEDE;
/* 	margin-right: 1%; */
	margin:10px 0px 0px 10px;
	min-height:160px;
}

.square-dashboard-9 {width: 9%;}
.square-dashboard-14 {width: 14%;}
.square-dashboard-18 {width: 18%;}
.square-dashboard-23,.square-dashboard-half-23,.noboder_square-dashboard-23,.noboder_square-dashboard-half-23 {width: 23%;}
.square-dashboard-24,.square-dashboard-half-24,.noboder_square-dashboard-24,.noboder_square-dashboard-half-24 {width: 24%;}
.square-dashboard-25 {width: 25%;}
.square-dashboard-26 {width: 26%;}
.square-dashboard-28 {width: 28%;}
.square-dashboard-30 {width: 30%;}
.square-dashboard-32 {width: 32%;}
.square-dashboard-31 {width: 31%;}
.square-dashboard-33 {width: 33%;}
.square-dashboard-34 {width: 34%;}
.square-dashboard-35 {width: 35%;}
.square-dashboard-36 {width: 36%;}
.square-dashboard-40 {width: 40%;}
.square-dashboard-45 {width: 45%;}
.square-dashboard-47,.square-dashboard-half-47,.noboder_square-dashboard-47,.noboder_square-dashboard-half-47 {width: 47%;}
.square-dashboard-48,.square-dashboard-half-48,.noboder_square-dashboard-48,.noboder_square-dashboard-half-48 {width: 48%;}
.square-dashboard-49,.square-dashboard-half-49,.noboder_square-dashboard-49,.noboder_square-dashboard-half-49 {width: 49%;}
.square-dashboard-62 {width: 62%;}
.square-dashboard-64 {width: 64%;}
.square-dashboard-71,.square-dashboard-half-71,.noboder_square-dashboard-71,.noboder_square-dashboard-half-71 {width: 71%;}
.square-dashboard-72 {width: 72%;}
.square-dashboard-73,.square-dashboard-half-73,.noboder_square-dashboard-73,.noboder_square-dashboard-half-73 {width: 73%;}
.square-dashboard-74,.square-dashboard-half-74,.noboder_square-dashboard-74,.noboder_square-dashboard-half-74 {width: 74%;}
.square-dashboard-95,.square-dashboard-half-95,.noboder_square-dashboard-95,.noboder_square-dashboard-half-95 {width: 95%;}
.square-dashboard-96 {width: 96%;}
.square-dashboard-97 {width: 97%;}
.square-dashboard-98,.square-dashboard-half-98,.noboder_square-dashboard-98,.noboder_square-dashboard-half-98 {width: 98%;}
.square-dashboard-99,.square-dashboard-half-99,.noboder_square-dashboard-99,.noboder_square-dashboard-half-99 {width: 99%;}

.square-dashboard-9,
.square-dashboard-14,.square-dashboard-18,
.square-dashboard-23,.square-dashboard-24,.square-dashboard-25,.square-dashboard-26,.square-dashboard-28,
.square-dashboard-30,.square-dashboard-31,.square-dashboard-32,.square-dashboard-33,.square-dashboard-34,.square-dashboard-35,.square-dashboard-36,
.square-dashboard-40,.square-dashboard-45,.square-dashboard-47,.square-dashboard-48,.square-dashboard-49,
.square-dashboard-62,.square-dashboard-64,
.square-dashboard-71,.square-dashboard-72,.square-dashboard-73,.square-dashboard-74,
.square-dashboard-95,.square-dashboard-96,.square-dashboard-97,.square-dashboard-98,.square-dashboard-98,.square-dashboard-99
{
	float: left;
	height: -moz-calc(100% - 10px);
	height: -webkit-calc(100% - 10px);
	height: calc(100% - 10px);
	border: 1px solid #DEDEDE;
	/* margin-right: 1%; */
	margin:10px 0px 0px 10px;
	min-width:190px;
}

.square-dashboard-half-49,.square-dashboard-half-24,.square-dashboard-half-74,.square-dashboard-half-99,
.square-dashboard-half-47,.square-dashboard-half-23,.square-dashboard-half-71,.square-dashboard-half-95
{
	float: left;
	height: -moz-calc(50% - 10px);
	height: -webkit-calc(50% - 10px);
	height: calc(50% - 10px);
	border: 1px solid #DEDEDE;
/* 	margin-right: 1%; */
	margin:10px 0px 0px 10px;
	min-width:190px;
}

.noboder_square-dashboard-half-49,.noboder_square-dashboard-half-24,.noboder_square-dashboard-half-74,.noboder_square-dashboard-half-99,
.noboder_square-dashboard-half-47,.noboder_square-dashboard-half-23,.noboder_square-dashboard-half-71,.noboder_square-dashboard-half-95
{
	float: left;
	height: 50%;
	border: 0px solid #DEDEDE;
/* 	margin-right: 1%; */
	margin:10px 0px 0px 10px;
	min-width:190px;
}
.noboder_square-dashboard-49,.noboder_square-dashboard-24,.noboder_square-dashboard-74,.noboder_square-dashboard-99,
.noboder_square-dashboard-47,.noboder_square-dashboard-23,.noboder_square-dashboard-71,.noboder_square-dashboard-95
{
	float: left;
	height: 50%;
	border: 0px solid #DEDEDE;
/* 	margin-right: 1%; */
	margin:10px 0px 0px 10px;
	min-width:190px;
}

.noboder {
 	border: 0px !important; 
}

.dashBoard_countPic{
	position: relative;
	width: 100%;
	text-align:center;
	height: -moz-calc(100% - 125px);
	height: -webkit-calc(100% - 125px);
	height: calc(100% - 125px);
	float:left;
	cursor:default !important;
}

.dashBoard_viewPic{
	position: relative;
	width: 100%;
	text-align:center;
	height: -moz-calc(100% - 132px);
	height: -webkit-calc(100% - 132px);
	height: calc(100% - 132px);
	float:left;
}

.view-countPic{
	position: relative;
	width: 100%;
	text-align:center;
	height: -moz-calc(100% - 192px);
	height: -webkit-calc(100% - 192px);
	height: calc(100% - 192px);
	float:left;
	margin-top:30px;
	margin-bottom:30px;
}

.overview-circle {
	width:100%;
	min-height:130px;
	margin: 0 auto;
	height: -moz-calc(100% - 87px);
	height: -webkit-calc(100% - 87px);
	height: calc(100% - 87px);
}

.dashBoard_countTable{
	height:100px;
	width: 100%;
	min-width:200px;
	max-width:263px;
	font-size:14px;
	margin:0px auto 0;
}

.dashBoard_table {
	margin-left: auto;
	margin-right: auto;
    width: 100%;
    height: 100%;
    background-color: transparent;
    float:left;
}
.dashBoard_countTable td{
	border-bottom:0px solid #EFEFEF;
	font-family: "Microsoft Yahei","微软雅黑","Arial";
}

.dashBoard_countTable td.name{
	padding-left:10px;
 	text-align:left;
 	width: 48%;
 	min-width:50px;
}

.dashBoard_countTable td.leftText{
	padding-right:10px;
 	text-align:right;
 	width: 15%;
 	min-width:20px;
}

.dashBoard_countTable tr {
	line-height:33%;
}

.logInfo {
	width: 100%;
	height: 93%;
}

.log {
	width: 40%;
	height: 40%;
	border: 1px solid #ececec;
	margin-top: 3%;
	margin-left: 6%!important;
	margin-right: 0!important;
	float: left;
	position: relative;
	min-height:70px;
	min-width:70px;
}

.logCenter{
	height:70%;
	width: 100%;
}

.logPic{
	position: relative;
	float: left;
	width:30%;
	margin-left:10%;
	margin-top:20%;
}

.logImg{
	min-height:24px;
	min-width: 24px;
	height:60%;
	width:60%;
	display:inline;
}

.logNum {
	text-align:right;
	position: relative;
	font-size: 20px;
	float: right;
	width:50%;
	font-family:"Microsoft Yahei","微软雅黑","Arial";
	margin-top:20%;
	margin-right:10%;
}

.urgent {
	color : #f74848
}

.important {
	color : #ff8000
}

.accessor {
	color : #dfd714
}

.warning {
	color : #00ffff
}

.logTitle {
	width: 100%;
	height: 30%;
	text-align: center;
	background-color: #f2f2f2;
	bottom: 0;
	min-height: 18px;
	cursor:pointer;
	font-size: 14px;
	font-family: "Microsoft Yahei","微软雅黑","Arial";
}

.dashboard_circle{
	width:100%;
	height: -moz-calc(100% - 32px);
	height: -webkit-calc(100% - 32px);
	height: calc(100% - 32px);
	min-height:130px;
	margin: 0 auto;
}

.numBar {
	margin-left: auto;
	margin-right: auto;
	width:100%; /**修改问题单：201607280438**/
	height: 52px;
}

.numItem {
	width: 21%;/**修改问题单：201607280438**/
	height: 98%;
	float: left;
	margin-left: 10%;
	font-family: "Microsoft Yahei","微软雅黑","Arial";
}

.numItem label {
	font-size: 14px;
	margin-left: 10px;
	margin-bottom: 0px;
}
.numItem span {
	font-size: 14px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.numItem#numItem-normal {
	border-left: 3px solid #86CC16;
}

.numItem#numItem-normal-vm {
	border-left: 3px solid #86CC16;
}

.numItem#numItem-paused {
	border-left: 3px solid #00E4FF;
}

.numItem#numItem-close {
	border-left: 3px solid #F74848;
}

.numItem#numItem-close-vm {
	border-left: 3px solid #F74848;
}

.numItem#numItem-error {
	border-left: 3px solid #FF8000;
}

.numItem#numItem-error-vm {
	border-left: 3px solid #FF8000;
}

.numItem#numItem-maintain {
	border-left: 3px solid #00B7FF;
}

.numItem#numItem-normal label {
	color: #86CC16;
}

.numItem#numItem-normal-vm label {
	color: #86CC16;
}

.numItem#numItem-close label {
	color: #F74848;
}

.numItem#numItem-close-vm label {
	color: #F74848;
}

.numItem#numItem-error label {
	color: #FF8000;
}

.numItem#numItem-error-vm label {
	color: #FF8000;
}

.numItem#numItem-maintain label {
	color: #00B7FF;
}

.selectBar {
	display: block;
	position: relative;
	float:right;
	height: 20px;
	right: 0px;
	top: 0px;
	margin-top:-15px;
	z-index: 0;
	padding: 0 30px 0 0;
}
.selectBar li {
	display: inline;
	float: right;
	width: 80px;
	height: 28px;
	color: #fff;
	font-size: 12px;
	line-height: 16px;
	border:1px solid #CCD1D5;
	background-color:#EBEEF3;
	padding-top: 5px;
}

.selectBar li span {
	position: relative;
	display: block;
	width: 100%;
	height: 24px;
	padding-bottom: 6px;
	z-index: 4;
	cursor: pointer;
	color: #333;
	font-size: 14px;
	font-family: "Microsoft Yahei","微软雅黑","Arial";
	text-align:center;
}
.selectBar li span.selected{
	color: #fff;
}
.selectBack {
	position: absolute;
	width: 81px;
	height: 35px;
	background: url(boardimg/selected.svg) left top no-repeat;
	_background: none;
	top: 0px;
	right: 110px;
	z-index: 3;
	color:#fff;
}

.trendChart{
	width: 100%;
	height: -moz-calc(100% - 25px);
	height: -webkit-calc(100% - 25px);
	height: calc(100% - 25px);
	min-height:85px;
	margin: 0 auto;
}

.dashboard_trendChart{
	width: 100%;
	height: -moz-calc(100% - 32px);
	height: -webkit-calc(100% - 32px);
	height: calc(100% - 32px);
	min-height:85px;
	margin: 0 auto;
}

.monitorChart{
	width: 100%;
	height: 100%;
	min-height:120px;
	margin: 0 auto;
}

.carousel-little-box {
    bottom: 20px;
    color: #222;
    left: 5%;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    right: 5%;
    z-index: 10;
    top:0px;
}
.carousel-little-box  .legend div,.carousel-little-box  .legend table{
	top:-10px !important;
	
}
.ngCell .ngCellText .progress {
  margin-top:5px;	/* 进度条在列表单元格中垂直居中显示 */
}

/** description progress bar  overide bootstrap UI**/
.progress {
	margin-bottom: 0px;
}

.carousel-control {
    color: #ccc;
    width: 30px;
    height: 85%;
    top:50px;
}

.carousel-indicators .active {
    background-color: #CCCCCC;
}
.carousel-indicators li {
    background-color: transparent;
    border: 2px solid #CCCCCC;
}

a.list-group-item-danger {
    background-color: #F2DEDE;
    color: #A94442;
}
a.list-group-item-danger:hover, a.list-group-item-danger:focus {
    background-color: #EBCCCC;
    color: #A94442;
}

a.list-group-item-warning {
	background-color: #FCF8E3;
    color: #8A6D3B;
}
a.list-group-item-warning:hover, a.list-group-item-warning:focus {
    background-color: #FAF2CC;
    color: #8A6D3B;
}

a.list-group-item-success {
	background-color: #DFF0D8;
    color: #3C763D;
}
a.list-group-item-success:hover, a.list-group-item-success:focus {
    background-color: #D0E9C6;
    color: #3C763D;
}

.health-box {
    border: 1px solid #dddee0;
    cursor: pointer;
    display: block;
    position: relative;
    margin: 10px 0px 0px 10px;
    float: left;
    width:200px;
    height:200px;
}

.cvkhealth {
	height:93px;
	width:100%;
}

.cvkhealth_div {
	height:100%;
	width:50%;
	float:left;
}

.cvkhealth_div > img {
	width:60px;
	height:60px;
	margin-top:15px;
	margin-left:25px;
}
.cvkhealth_div > span {
	text-align:center;
	display:block;
	font-size:48px;
	padding-top:35px;
	padding-right:20px;
}

.health-box-table {
	width:100%;
	height:80px;
	background-color:#eee;
}

.health-box-table > tr {
	width:100%;
}

.cpuHealth ,.storeHealth {
	width:50%;
	border-top: 1px solid #dddee0;
	border-right: 1px solid #dddee0;"
}

.memHealth,.netHealth{
	width:50%;
	border-top: 1px solid #dddee0;
	border-left: 1px solid #dddee0;
}

.healthDetail_span{
	float:right;
	padding-right:20px
}

.healthDetail_img_span{
	float:left;
	padding-left:20px
}

.healthDetail_img_span > img {
	width:20px;
	height:20px;
}


.healthRed {
	color:#f73737;
}

.healthYellow {
	color:#d98629;
}

.healthGreen {
	color:#84c308;
}

.dashboard-box {
    border: 1px solid #dddee0;
    cursor: pointer;
    display: block;
    position: relative;
    text-align: center;
    margin: 10px 0px 0px 10px;
    float: left;
    width:200px;
    height:160px;
}

.dashboard-box .custom-picture, .dashboard-box .custom-picture img {
    margin: 0 auto;
}
.dashboard-box .custom-picture {
    margin-top:10%;
    display: inline-block;
    height: 100px;
    width: 100px;
    opacity: 0.7;
}

.dashboard-box .custom-picture > img {
    display: block;
    height: 100%;
    width: 100%;
    float: left;
}

.dashboard-box .box-title {
	color:#428bca;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    font-size:14px;
    line-height:28px;
    height:28px;
    display: block;
    position:absolute;
    bottom:0px;
    text-align: center;
    background-color:#eee;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.monitorDel {
	cursor:pointer;
	text-align: right;
	text-shadow: 0px 1px 0px rgb(255,255,255);
	opacity:0.2;
	position:absolute;
	padding-left:165px;
}

.del {
	cursor:pointer;
	text-align: right;
	text-shadow: 0px 1px 0px rgb(255,255,255);
	opacity:0.2;
	float:right;
}

.del > .fa{
	font-size: 15px;
	margin-right: 1px;
}

.del:hover {
	opacity: 0.8;
	color: rgb(0,0,0);
	cursor:pointer;
}

.markStyle {
	/* font-size:30px; */
	padding-left:25px;
}


.flow {
	position: relative;
	width: 100%;
	height: 100%;
	margin-right:-275px;
	float:left;
}

.west {
	height: 100%;
	margin-right:275px;
	overflow: auto;
}

.east {
	position: relative;
	border-left: solid 1px #aaa;
	width:275px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	float:right;
}

header {
	padding-left:15px;
	padding-top:15px;
	text-align:left;
	word-break:break-all;
	word-wrap:break-word;
	color:#83d0ff;
	font-size:16px;
}

.west_btnbar {
	z-index:9999!important;
	position:absolute;
	float: right;
	width: 160px;
    margin-left:5px;
	height: 20px
}

.east_btnbar {
	width: 95%;
    margin-left:5%;
	height: 20px
}

.samplechart {
	position: relative;
	float:left;
	width: 250px;
	margin-left:5px;
    height:130px;
	text-align: center;
}

.checkboximg {
	width: 234px;
	height:117px;
	border: 1px solid #DEDEDE;
	margin:1%;
}

.checkboximg.active {
    border: 2px solid #57b382;
    outline: none;
}

.dashboard-corner-label {
	position: absolute;
    background-color: rgba(0, 0, 0, 0);
    font-size: 0.8125em;
    height: 2em;
    width: 2em;
    right: 0.7em;
    top: 0.35em;
    text-align: center;
    color:#fff;
	border-top-right-radius: 0em;
	border-bottom: 3em solid rgba(0, 0, 0, 0);
    border-left: 0 solid rgba(0, 0, 0, 0);
    border-right-color: #57b382;
    border-style: solid;
    border-top: 0 solid rgba(0, 0, 0, 0);
    border-width: 0 27px 27px 0;
    transition: color 0.2s ease 0s;
    transition: border-color 0.2s ease 0s;
	visibility:hidden;
    z-index: 10;
}

.definedicon {
	top:-3px;
	right:-1.1em;
}

.dashboard-corner-label.active{
    visibility:visible;
}

.dashboard-overview-info {
	width:100%;
	height: -moz-calc(50% + 235px);
	height: -webkit-calc(50% + 235px);
	height: calc(50% + 235px);
}

.dashboard-overview-row {
	height: -moz-calc(100% - 235px);
	height: -webkit-calc(100% - 235px);
	height: calc(100% - 235px);
}

/* .definedimg { */
/* 	width: 92%; */
/* 	height: 89%; */
/* 	border: 0px solid #DEDEDE; */
/* 	margin: 2px 0px 0px 0px; */
/* } */

/* .gridster ul { */
/*     list-style-type: none; */
/* } */

/* .gridster li { */
/*     font-size: 1em; */
/*     line-height: 100%; */
/* } */

/* .gridster { */
/* 	padding-top:15px; */
/*     margin: 0 auto; */
/*     opacity: .8; */
/*     -webkit-transition: opacity .6s; */
/*     -moz-transition: opacity .6s; */
/*     -o-transition: opacity .6s; */
/*     -ms-transition: opacity .6s; */
/*     transition: opacity .6s; */
/* } */


/*dashboard AND cloudMonitor styles end*/