/* CAS通用图标 */

/*A001 联机帮助、界面提示信息*/
.icon-help:before {
	content: url("img/white/Icon_help.svg");
}
.icon-help-gray:before {
	content: url("img/gray/Icon_help_16x16.svg");
}
.icon-helpnew:before {
	content: url("img/white/wenhao.svg");
}
.icon-closenew:before {
	content: url("img/white/guanbi.svg");
}
/*A002 信息、关于等*/
.icon-info:before {
	content: url("img/white/Icon_info.svg");
}
.icon-info-gray:before {
	content: url("img/gray/Icon_info_16x16.svg");
}
/*A003 当前在线操作员*/
.icon-useronline:before {
	content: url("img/white/Icon_user_online.svg");
}
/*A004 注销退出系统*/
.icon-logout:before {
	content: url("img/white/Icon_logout.svg");
}
/*A005 通用搜索*/
.icon-search:before {
	content: url("img/white/Icon_search.svg");
}
.icon-search-gray:before {
    content: url("img/gray/Icon_search_16x16.svg");
}
/*A006 提示信息*/
.icon-tips:before {
	content: url("img/white/Icon_tips.svg");
}
.icon-tips-gray:before {
	content: url("img/gray/Icon_tips_16x16.svg");
}
/*A007 关闭窗口*/
.icon-close:before {
	content: url("img/white/Icon_close.svg");
}
.icon-close-gray:before {
	content: url("img/gray/Icon_close_16x16.svg");
}
/*A008 增加(各种资源)*/
.icon-add:before {
	content: url("img/white/Icon_add.svg");
}
.icon-add-gray:before {
	content: url("img/gray/Icon_add_16x16.svg");
}
/*A009 修改编辑*/
.icon-modify:before {
	content: url("img/white/Icon_modify.svg");
}
.icon-modify-gray:before {
	content: url("img/gray/Icon_modify_16x16.svg");
}
/*A010 删除（资源）*/
.icon-delete:before {
	content: url("img/white/Icon_delete.svg");
}
.icon-delete-new:before {
	content: url("img/white/Icon_delete.svg");
}
.icon-delete-gray:before {
	content: url("img/gray/Icon_delete.svg");
}
/*A011 拷贝*/
.icon-copy:before {
	content: url("img/white/Icon_copy.svg");
}
/*A012 查看详细信息*/
.icon-preview:before, .icon-view-detail:before {
	content: url("img/white/Icon_view_detail.svg");
}
.icon-preview-gray:before, .icon-view-detail-gray:before {
	content: url("img/gray/Icon_view_detail_16x16.svg");
}
/*A013 查看历史记录（如历史周期表）*/
.icon-viewhistory:before {
	content: url("img/white/Icon_view_history.svg");
}
/*A014 快速入门，简介，首页*/
.icon-quickstart:before {
	content: url("img/white/Icon_quick_start.svg");
}
/*A015 (配置、部署等操作的)向导*/
.icon-guide:before {
	content: url("img/white/Icon_guide.svg");
}
/*A016 刷新数据*/
.icon-refresh:before {
	content: url("img/white/Icon_refresh.svg");
}
.icon-refresh-gray:before {
	content: url("img/gray/Icon_refresh_16x16.svg");
}
/*A017 同步数据*/
.icon-synchronize:before {
	content: url("img/white/Icon_synchronize.svg");
}
.icon-synchronize-gray:before {
	content: url("img/gray/Icon_synchronize_16x16.svg");
}
/*A018 更多操作*/
.icon-more-actions:before{
	content: url("img/white/Icon_more_actions.svg");
}

/*A020 导出*/
.icon-export:before{
	content: url("img/white/Icon_export.svg");
}
.icon-export-gray:before{
	content: url("img/gray/Icon_export_16x16.svg");
}
/*A021 过滤*/
.icon-filter:before{
	content: url("img/white/Icon_filter.svg");
}
/*A022 确定*/
.icon-ok:before{
	content: url("img/white/Icon_ok.svg");
}
.icon-ok-grey:before{
	content: url("img/gray/Icon_ok_16x16.svg");
}
/*A023 活动*/
.icon-active:before{
	content: url("img/white/Icon_active.svg");
}
.icon-active-gray:before{
	content: url("img/gray/Icon_active_16x16.svg");
}
/*A024 不活动*/
.icon-inactive:before{
	content: url("img/white/Icon_inactive.svg");
}
.icon-inactive-gray:before{
	content: url("img/gray/Icon_inactive_16x16.svg");
}
/*A025 启动*/
.icon-start:before {
	content: url("img/gray/Icon_start_green.svg");
}
.icon-start-gray:before {
	content: url("img/gray/Icon_start_16x16.svg");
}
/*A026 暂停*/
.icon-pause:before {
	content: url("img/white/Icon_pause.svg");
}
.icon-pause-task:before {
	content: url("img/white/Icon_pause_16x16.svg");
}
.icon-pause-gray:before {
	content: url("img/gray/Icon_pause_16x16.svg");
}
.icon-pause-yellow:before {
	content: url("img/gray/Icon_pause_yellow.svg");
}
/*A027 保存*/
.icon-save:before {
	content: url("img/white/Icon_save.svg");
}
/*A028 上一步*/
.icon-previous:before {
	content: url("img/white/Icon_previous.svg");
}
.icon-previous-gray:before {
	content: url("img/gray/Icon_previous_16x16.svg");
}
/*A029 下一步*/
.icon-next:before {
	content: url("img/white/Icon_next.svg");
}
.icon-next-gray:before {
	content: url("img/gray/Icon_next_16x16.svg");
}
/*A030 下载*/
.icon-download:before {
	content: url("img/white/Icon_download.svg");
}
.icon-download-gray:before {
	content: url("img/gray/Icon_download_16x16.svg");
}
/*A031 高级*/
.icon-advanced:before {
	content: url("img/white/Icon_advanced.svg");
/* 	content: url("img/gray/Icon_advanced_16x16.svg"); */
}
.icon-advanced-gray:before {
/* 	content: url("img/white/Icon_advanced.svg"); */
	content: url("img/gray/Icon_advanced_16x16.svg");
}
/*A032 重置*/
.icon-reset:before {
	content: url("img/white/Icon_reset.svg");
}
/*A033 完成*/
.icon-finish:before {
	content: url("img/white/Icon_fininsh.svg");
}
.icon-finish-gray:before {
	content: url("img/gray/Icon_fininsh_16x16.svg");
}
.icon-finish-green:before {
	content: url("img/green/Icon_fininsh.svg");
}
/*A034 取消*/
.icon-cancel:before {
	content: url("img/white/Icon_cancel.svg");
}
.icon-cancel-gray:before {
	content: url("img/gray/Icon_cancel_16x16.svg");
}
.icon-cancel-red:before {
	content: url("img/red/Icon_cancel.svg");
}
/*A035 导出*/
.icon-exportfile:before{
	content: url("img/white/Icon_exportfile.svg");
}
.icon-pdf:before{
	content: url("img/white/Icon_PDF.svg");
}
.icon-excel:before{
	content: url("img/white/Icon_excel.svg");
}
/* ========CAS业务图标 ==========*/

/*B001 云资源或者数据中心*/
.icon-cloudresource:before {
	content: url("img/white/Icon_cloud_resource.svg");
}
.icon-cloudresource-gray:before {
	content: url("img/gray/Icon_cloud_resource_16x16.svg");
}
/*B002 备份策略管理*/
.icon-backup-stragety:before {
	content: url("img/white/Icon_backup_strategy.svg");
}
/*B003 增加备份策略*/
.icon-backup-stragety-add:before {
	content: url("img/white/Icon_backup_strategy_add.svg");
}

/* 虚拟机快照策略管理*/
.icon-snapshot-stragety:before {
	content: url("img/white/Icon_snapshot_strategy.svg");
}
/*B004 增加虚拟机快照策略*/
.icon-snapshot-stragety-add:before {
	content: url("img/white/Icon_snapshot_strategy_add.svg");
}
/*B005 NTP时间服务器*/
.icon-time-server:before {
	content: url("img/white/Icon_time_server.svg");
}
/*B006 监控策略管理*/
.icon-monitor-startegy:before {
	content: url("img/white/Icon_monitor_strategy.svg");
}
/*B007 增加监控策略*/
.icon-monitor-startegy-add:before {
	content: url("img/white/Icon_monitor_strategy_add.svg");
}
/*B008 备份CVM数据*/
.icon-cvm-backup:before {
	content: url("img/white/Icon_cvm_backup.svg");
}
/*B009 概要信息*/
.icon-summary:before {
	content: url("img/white/Icon_summary.svg");
}
.icon-summary-gray:before {
	content: url("img/gray/Icon_summary_16x16.svg");
}
/*B009 概要信息*/
.icon-summary-white:before {
	content: url("img/white/Icon_summary.svg");
}
/*B010 主机*/
.icon-host:before {
	content: url("img/white/Icon_host.svg");
}
.icon-hostright:before {
	content: url("img/white/Icon_host_right.svg");
}
/*B010 主机*/
.icon-host-gray:before {
	content: url("img/gray/Icon_host_16x16.svg");
}
/*B011 虚拟机*/
.icon-virtual-host:before {
	content: url("img/white/Icon_virtual_host.svg");
}
/*B011 虚拟机*/
.icon-virtual-host-gray:before {
	content: url("img/gray/Icon_virtual_host_16x16.svg");
}
/*B012 网络策略模板*/
.icon-network-profile:before {
/* 	content: url("img/white/Icon_network_profile.svg"); */
	content: url("img/gray/Icon_network_profile_16x16.svg");
}
/*B012 网络策略模板*/
.icon-profile:before {
	content: url("img/white/Icon_network_profile.svg");
}
/*B013 操作日志*/
.icon-operate-log:before {
	content: url("img/white/Icon_operate_log.svg");
}
/*B014 操作日志*/
.icon-operate-log:before {
	content: url("img/white/Icon_operate_log.svg");
}
/*B015 主机池*/
.icon-host-pool:before {
	content: url("img/white/Icon_host_pool.svg");
}
.icon-host-pool-gray:before {
	content: url("img/gray/Icon_host_pool_16x16.svg");
}
/*B016 增加主机池*/
.icon-host-pool-add:before {
	content: url("img/white/Icon_host_pool_add.svg");
}
/*B017 增加主机*/
.icon-host-add:before {
	content: url("img/white/Icon_host_add.svg");
}
/*B018 增加集群*/
.icon-cluster-add:before {
	content: url("img/white/Icon_cluster_add.svg");
}
/*B019 连接主机*/
.icon-connect-host:before {
	content: url("img/white/Icon_connect_host.svg");
}
/*B020 共享文件系统*/
.icon-share-storage:before {
/* 	content: url("img/white/Icon_share_storage.svg"); */
	content: url("img/gray/Icon_share_storage_16x16.svg");
}
/*B021 增加共享文件系统*/
.icon-share-storage-add:before {
	content: url("img/white/Icon_share_storage_add.svg");
}
/*B022 主机处于维护状态*/
.icon-host-maint:before {
	content: url("img/white/Icon_host_maint.svg");
}
.icon-host-maint-gray:before {
	content: url("img/gray/Icon_host_maint_16x16.svg");
}
/*B023 主机连接状态正常*/
.icon-host-normal:before {
	content: url("img/white/Icon_host_normal.svg");
}
/*B023 主机连接状态正常*/
.icon-host-normal-gray:before {
	content: url("img/gray/Icon_host_normal_16x16.svg");
}
/*B024 主机连接状态错误*/
.icon-host-error:before {
	content: url("img/white/Icon_host_error.svg");
}
.icon-host-error-gray:before {
	content: url("img/gray/Icon_host_error.svg");
}
/*B025 主机不在集群HA下*/
.icon-host-warning:before {
	content: url("img/white/Icon_host_warning.svg");
}
.icon-host-warning-gray:before {
	content: url("img/gray/Icon_host_warning_16x16.svg");
}
/*B027 关闭状态的虚拟机*/
.icon-vm-close:before {
	content: url("img/white/Icon_vm_close.svg");
}
.icon-vm-close-gray:before {
	content: url("img/gray/Icon_vm_close.svg");
}
/*B028 运行状态的虚拟机*/
.icon-vm-running:before {
	content: url("img/white/Icon_vm_running.svg");
}
.icon-vm-running-gray:before {
	content: url("img/gray/Icon_vm_running.svg");
}
/**HA异常状态的虚拟机**/
.icon-vm-haexception:before {
	content: url("img/white/Icon_vm_haexception.svg");
}
/*B029 集群*/
.icon-cluster:before {
	content: url("img/white/Icon_cluster.svg");
}
.icon-cluster-gray:before {
	content: url("img/gray/Icon_cluster_16x16.svg");
}
/*B030 未知状态的虚拟机*/
.icon-unkown:before {
	content: url("img/white/Icon_unkown.svg");
}
.icon-unkown-gray:before {
	content: url("img/gray/Icon_unkown.svg");
}
/*B031 集群启用HA功能*/
.icon-cluster-ha:before {
	content: url("img/white/Icon_cluster_ha.svg");
}
.icon-cluster-ha-gray:before {
	content: url("img/gray/Icon_cluster_ha_16x16.svg");
}
/*B032 集群没启用HA功能*/
.icon-cluster-noha:before {
	content: url("img/white/Icon_cluster_noha.svg");
}
.icon-cluster-noha-gray:before {
	content: url("img/gray/Icon_cluster_noha_16x16.svg");
}
/*B033 增加虚拟机*/
.icon-vm-add:before {
	content: url("img/white/Icon_vm_add.svg");
}
.icon-vm-add-gray:before {
	content: url("img/gray/Icon_vm_add_16x16.svg");
}
/*B034 重命名*/
.icon-rename:before {
	content: url("img/white/Icon_rename.svg");
}
.icon-rename-gray:before {
	content: url("img/gray/Icon_rename_16x16.svg");
}
/*B035 高可靠性*/
.icon-ha:before {
	content: url("img/white/Icon_ha.svg");
}
.icon-ha-gray:before {
	content: url("img/gray/Icon_ha_16x16.svg");
}
/*B036 动态资源调度*/
.icon-lb:before {
	content: url("img/white/Icon_lb.svg");
}
.icon-lb-gray:before {
	content: url("img/gray/Icon_lb_16x16.svg");
}
/*B037 电源智能管理*/
.icon-ipm:before {
	content: url("img/white/Icon_ipm.svg");
}
.icon-ipm-gray:before {
	content: url("img/gray/Icon_ipm_16x16.svg");
}
/*B038 虚拟机规则*/
.icon-vm-rule:before {
	content: url("img/white/Icon_vm_rule.svg");
}
.icon-vm-rule-gray:before {
	content: url("img/gray/Icon_vm_rule_16x16.svg");
}
/*B039 虚拟交换机*/
.icon-vswitch:before {
	content: url("img/white/Icon_vswitch.svg");
/* 	content: url("img/gray/Icon_vswitch_16x16.svg"); */
}
.icon-vswitch-gray:before {
/* 	content: url("img/white/Icon_vswitch.svg"); */
	content: url("img/gray/Icon_vswitch_16x16.svg");
}
.icon-resourcePool:before {
	content: url("img/white/resourcePool.svg");
}
/*B040 存储*/
.icon-storage:before {
	content: url("img/white/Icon_storage.svg");
}
/*模板存储*/
.icon-template-storage:before {
	content: url("img/white/Icon_template_storage.svg");
}
.icon-storage-gray:before {
	content: url("img/gray/Icon_storage_16x16.svg");
}
/*B041 增加存储池*/
.icon-storage-pool-add:before {
	content: url("img/white/Icon_storage_pool_add.svg");
}
/*B042 增加存储卷*/
.icon-volumn:before {
	content: url("img/white/Icon_volume.svg");
}

/*B043 上传文件*/
.icon-upload:before {
	content: url("img/white/Icon_upload.svg");
}
.icon-upload-gray:before {
	content: url("img/gray/Icon_upload_16x16.svg");
}
/*B044 关闭主机*/
.icon-close-host:before {
	content: url("img/white/Icon_close_host.svg");
}
.icon-close-host-gray:before {
	content: url("img/gray/Icon_close_host_16x16.svg");
}
/*B045 重启主机*/
.icon-reboot-host:before {
	content: url("img/white/Icon_reboot_host.svg");
}
.icon-reboot-host-gray:before {
	content: url("img/gray/Icon_reboot_host_16x16.svg");
}
/*B046 远程唤醒主机*/
.icon-remote-wake-host:before {
	content: url("img/white/Icon_remote_wake_host.svg");
}
.icon-remote-wake-host-gray:before {
	content: url("img/gray/Icon_remote_wake_host_16x16.svg");
}
/*B047 主机进入维护模式*/
.icon-host-into-maintain:before {
	content: url("img/white/Icon_host_into_maintain.svg");
}
.icon-host-into-maintain-gray:before {
	content: url("img/gray/Icon_host_into_maintain_16x16.svg");
}

/*B048 主机退出维护模式*/
.icon-host-exit-maintain:before {
	content: url("img/white/Icon_host_exit_maintain.svg");
}
.icon-host-exit-maintain-gray:before {
	content: url("img/gray/Icon_host_exit_maintain_16x16.svg");
}

/*B049 主机远程唤醒参数配置*/
.icon-power-setting:before {
	content: url("img/white/Icon_power_setting.svg");
}
/*B050 导入虚拟机*/
.icon-import-vm:before {
	content: url("img/white/Icon_import_vm.svg");
}
.icon-import-vm-gray:before {
	content: url("img/gray/Icon_import_vm_16x16.svg");
}
/*B051 通过ovf导入虚拟机*/
.icon-import-vm-by-ovf:before {
	content: url("img/white/Icon_import_vm_by_ovf.svg");
}
/*B052 性能监控*/
.icon-performance-monitor:before {
	content: url("img/white/Icon_performance_monitor.svg");
}
.icon-performance-monitor-gray:before {
	content: url("img/gray/Icon_performance_monitor_16x16.svg");
}
/*B053 网卡*/
.icon-nic:before {
	content: url("img/white/Icon_nic.svg");
}
.icon-nic-gray:before {
/* 	content: url("img/white/Icon_nic.svg"); */
	content: url("img/gray/Icon_nic_16x16.svg");
}
/*B054 FC hab卡*/
.icon-fc-hba:before {
	content: url("img/white/Icon_fc_hba.svg");
}
/*B055 iscsi*/
.icon-iscsi:before {
	content: url("img/white/Icon_iscsi.svg");
}
/*B056 暂停虚拟机*/
.icon-vm-pause:before {
	content: url("img/white/Icon_vm_pause.svg");
}
.icon-vm-pause-gray:before {
	content: url("img/gray/Icon_vm_pause_16x16.svg");
}
/*B057 恢复虚拟机*/
.icon-vm-resume:before {
	content: url("img/white/Icon_vm_resume.svg");
}
.icon-vm-resume-gray:before {
	content: url("img/gray/Icon_vm_resume_16x16.svg");
}
/*B058 休眠虚拟机*/
.icon-vm-sleep:before {
	content: url("img/white/Icon_vm_sleep.svg");
}
.icon-vm-sleep-gray:before {
	content: url("img/gray/Icon_vm_sleep_16x16.svg");
}
/*B059 重启虚拟机*/
.icon-vm-reboot:before {
	content: url("img/white/Icon_vm_reboot.svg");
}
.icon-vm-reboot-gray:before {
	content: url("img/gray/Icon_vm_reboot_16x16.svg");
}
/*B060 正常关闭虚拟机*/
.icon-vm-shutdown:before {
	content: url("img/white/Icon_vm_shutdown.svg");
}
.icon-vm-shutdown-gray:before {
	content: url("img/gray/Icon_vm_shutdown_16x16.svg");
}
/*B061 关闭虚拟机电源*/
.icon-vm-power-off:before {
	content: url("img/white/Icon_vm_power_off.svg");
}
.icon-vm-power-off-gray:before {
	content: url("img/gray/Icon_vm_power_off_16x16.svg");
}
/*B062 克隆虚拟机*/
.icon-vm-clone:before {
	content: url("img/white/Icon_vm_clone.svg");
}
.icon-vm-clone-gray:before {
	content: url("img/gray/Icon_vm_clone.svg");
}
/*B063 迁移虚拟机*/
.icon-vm-migrate:before {
	content: url("img/white/Icon_vm_migrate.svg");
}
/*B063 迁移虚拟机*/
.icon-vm-migrate-gray:before {
	content: url("img/gray/Icon_vm_migrate.svg");
}
/*B064 备份虚拟机*/
.icon-vm-backup:before {
	content: url("img/white/Icon_vm_backup.svg");
}
.icon-vm-backup-gray:before {
	content: url("img/gray/Icon_vm_backup.svg");
}
/*B065 还原虚拟机（备份相反操作）*/
.icon-vm-restore:before {
	content: url("img/white/Icon_vm_restore.svg");
}
.icon-vm-restore-gray:before {
	content: url("img/gray/Icon_restore.svg");
}
/*B066 虚拟机快照管理*/
.icon-vm-snapshot:before {
	content: url("img/white/Icon_vm_snapshot.svg");
}
.icon-vm-snapshot-gray:before {
	content: url("img/gray/Icon_vm_snapshot.svg");
}
/*B067 从快照还原虚拟机*/
.icon-vm-revert-from-snapshot:before {
	content: url("img/white/Icon_vm_revert_from_snapshot.svg");
}
/*B068 虚拟机模板*/
.icon-vm-template:before {
	content: url("img/white/Icon_vm_template.svg");
}
.icon-vm-template-gray:before {
	content: url("img/gray/Icon_vm_template.svg");
}
/*B069 虚拟机克隆为模板*/
.icon-vm-clone-to-template:before {
	content: url("img/white/Icon_vm_clone_to_template.svg");
}
.icon-vm-clone-to-template-gray:before {
	content: url("img/gray/Icon_vm_clone_to_template.svg");
}
/*B070 虚拟机转换为模板*/
.icon-vm-convert-to-template:before {
	content: url("img/white/Icon_vm_convert_to_template.svg");
}
.icon-vm-convert-to-template-gray:before {
	content: url("img/gray/Icon_vm_convert_to_template.svg");
}
/*B071 虚拟机控制台*/
.icon-vm-console:before {
	content: url("img/white/Icon_vm_console.svg");
}
.icon-vm-console-gray:before {
	content: url("img/gray/Icon_vm_console.svg");
}
/*B072 虚拟机转换为OVF模板*/
.icon-vm-export-to-ovf-temp:before {
	content: url("img/white/Icon_vm_export_to_ovf_temp.svg");
}
.icon-vm-export-to-ovf-temp-gray:before {
	content: url("img/gray/Icon_vm_export_to_ovf_temp.svg");
}
/*B073 远程桌面*/
.icon-vm-rdp:before {
	content: url("img/white/Icon_vm_rdp.svg");
}
.icon-vm-rdp-gray:before {
	content: url("img/gray/Icon_vm_rdp_16x16.svg");
}
/*B074 ssh*/
.icon-vm-ssh-view:before {
	content: url("img/white/Icon_vm_ssh_view.svg");
}
/*B075 虚拟机概要信息*/
.icon-vm-summary:before {
	content: url("img/white/Icon_vm_summary.svg");
}
/*B076 虚拟机转换为模板*/
.icon-vm-convert-to-template:before {
	content: url("img/white/Icon_vm_convert_to_template.svg");
}
/*B077 虚拟机转换为模板*/
.icon-vm-convert-to-template:before {
	content: url("img/white/Icon_vm_convert_to_template.svg");
}
/*B078 虚拟机转换为模板*/
.icon-vm-convert-to-template:before {
	content: url("img/white/Icon_vm_convert_to_template.svg");
}
/*B079 虚拟机转换为模板*/
.icon-vm-convert-to-template:before {
	content: url("img/white/Icon_vm_convert_to_template.svg");
}
/*B080 上传文件*/
.icon-disk:before {
	content: url("img/white/Icon_disk.svg");
}
/*B081 USB设备*/
.icon-usb:before {
	content: url("img/white/Icon_usb.svg");
}
/*B082 显卡*/
.icon-video:before {
	content: url("img/white/Icon_video.svg");
}
/*B083  串口设备*/
.icon-serail:before {
	content: url("img/white/Icon_serial.svg");
}
/*B084 网络*/
.icon-net:before {
	content: url("img/white/Icon_net.svg");
}
.icon-net-gray:before {
	content: url("img/gray/Icon_net_16x16.svg");
}
/*B085 鼠标*/
.icon-mouse:before {
	content: url("img/white/Icon_mouse.svg");
}
/*B086 光驱*/
.icon-cdrom:before {
	content: url("img/white/Icon_cdrom.svg");
}
/*B087 USB设备*/
.icon-floppy:before {
	content: url("img/white/Icon_floppy.svg");
}
/*B088 PCI设备*/
.icon-pci-dev:before {
	content: url("img/white/Icon_pci_dev.svg");
}
/*B089 声卡*/
.icon-sound:before {
	content: url("img/white/Icon_sound.svg");
}
/*B090 图形加速卡*/
.icon-graphic:before {
	content: url("img/white/Icon_graphic.svg");
}
/*B091 概览 dashboard*/
.icon-dashboard:before {
	content: url("img/white/Icon_dashboard.svg");
}
/*B092 虚拟存储*/
.icon-virtual-storage:before {
	content: url("img/white/Icon_virtual_storage.svg");
}
/*B093 部署虚拟机*/
.icon-deploy:before {
	content: url("img/white/Icon_deploy.svg");
}
.icon-deploy-gray:before {
	content: url("img/gray/Icon_deploy_16x16.svg");
}
.icon-batch-deploy-gray:before {
	content: url("img/gray/Icon_batch_deploy_16x16.svg");
}
/*B094 导入虚拟机模板*/
.icon-import-vm-tmp:before {
	content: url("img/white/Icon_import_vm_tmp.svg");
}
/*B095 虚拟机视图*/
.icon-vm-view:before {
	content: url("img/white/Icon_vm_view.svg");
}
.icon-vm-view-gray:before {
	content: url("img/gray/Icon_vm_view_16x16.svg");
}
/*B096 收藏虚拟机*/
.icon-vm-collection:before {
	content: url("img/white/Icon_vm_collection.svg");
}
.icon-vm-collection-gray:before {
	content: url("img/gray/Icon_vm_collection_16x16.svg");
}
/*B097 切换虚拟机视图*/
.icon-vm-view-witch:before {
	content: url("img/white/Icon_vm_view_witch.svg");
}
.icon-vm-view-witch-gray:before {
	content: url("img/gray/Icon_vm_view_witch_16x16.svg");
}
/*B098 视图中增加目录*/
.icon-folder-add:before {
	content: url("img/white/Icon_folder_add.svg");
}
.icon-folder-add-gray:before {
	content: url("img/gray/Icon_folder_add_16x16.svg");
}
/*B099 视图中删除目录*/
.icon-folder-delete:before {
	content: url("img/white/Icon_folder_del.svg");
}
.icon-folder-delete-gray:before {
	content: url("img/gray/Icon_folder_del_16x16.svg");
}
/*B100 视图中删除虚拟机*/
.icon-vm-delete-from-view:before {
	content: url("img/white/Icon_vm_delete_from_view.svg");
}
.icon-vm-delete-from-view-gray:before {
	content: url("img/gray/Icon_vm_delete_from_view_16x16.svg");
}
.icon-release-template-gray:before {
	content: url("img/gray/Icon_release_vm_template_16x16.svg");
}
/*B101 云业务*/
.icon-cloud-business:before {
	content: url("img/white/Icon_cloud_business.svg");
}
/*B102 drx业务分组*/
.icon-drx-business-group:before {
	content: url("img/white/Icon_drx_business_group.svg");
}
/*B103 drx业务*/
.icon-drx-business:before {
	content: url("img/white/Icon_drx_business.svg");
}
/*B104 drx策略*/
.icon-drx-strategy:before {
	content: url("img/white/Icon_drx_strategy.svg");
}
/* drx纵向扩展*/
.icon-drx-vertiaclExtendStrategy:before {
	content: url("img/white/Icon_drx_verticalExtendStrategy.svg");
}
/* drx-LB*/
.icon-drx-LB:before {
	content: url("img/white/Icon_drx_LB.svg");
}
/* drx-LB-gray*/
.icon-drx-LB-gray:before {
	content: url("img/gray/Icon_drx_LB.svg");
}
/*B105 注销*/
.icon-logout:before {
	content: url("img/white/Icon_logout.svg");
}
/*B106 拓扑*/
.icon-topo:before {
	content: url("img/white/Icon_topo.svg");
}
/*B107 计算拓扑*/
.icon-topo-compute:before {
	content: url("img/white/Icon_topo_compute.svg");
}
/*B108 网络拓扑*/
.icon-topo-network:before {
	content: url("img/white/Icon_topo_network.svg");
}
/*B109 存储拓扑*/
.icon-topo-storage:before {
	content: url("img/white/Icon_topo_storage.svg");
}
/*B110 告警管理*/
.icon-event-manage:before {
	content: url("img/white/Icon_event_manage.svg");
}
/*B111 实时告警*/
.icon-event-query:before {
	content: url("img/white/Icon_event_query.svg");
}
/*B112 告警阈值管理*/
.icon-event-setting:before {
	content: url("img/white/Icon_event_setting.svg");
}
/*B113 告警转email配置*/
.icon-event-email:before {
	content: url("img/white/Icon_event_email.svg");
}
/*B114 紧急告警（红色）*/
.icon-event-critial:before {
	content: url("img/white/Icon_event_critical.svg");
}
/*B1105 重要告警*/
.icon-event-major:before {
	content: url("img/white/Icon_event_major.svg");
}
/*B116 次要告警*/
.icon-event-minor:before {
	content: url("img/white/Icon_event_minor.svg");
}
/*B117 提示告警*/
.icon-event-prompt:before {
	content: url("img/white/Icon_event_prompt.svg");
}
/*B118 报表管理*/
.icon-report-manage:before {
	content: url("img/white/Icon_resource_report.svg");
}
/*B119 主机报表*/
.icon-report-host:before {
	content: url("img/white/Icon_report_host.svg");
}
/*B120 主机性能top N报表*/
.icon-report-host-performance:before {
	content: url("img/white/Icon_report_host_performance.svg");
}
/*B121 主机性能统计报表*/
.icon-report-host-stat:before {
	content: url("img/white/Icon_report_host_stat.svg");
}
/*B122 主机网络流量top N报表*/
.icon-report-host-netflow-topn:before {
	content: url("img/white/Icon_report_host_netflow_topn.svg");
}
/*B123 主机网络流量统计报表*/
.icon-report-host-netflow-stat:before {
	content: url("img/white/Icon_report_host_netflow_stat.svg");
}
/*B124 主机磁盘io读写速率*/
.icon-report-host-disk-io-stat:before {
	content: url("img/white/Icon_report_host_disk_io_stat.svg");
}
/*B125 主机io吞吐量top N报表*/
.icon-report-host-io-topn:before {
	content: url("img/white/Icon_report_host_io_topn.svg");
}
/*B126 主机io吞吐量统计报表*/
.icon-report-host-io-stat:before {
	content: url("img/white/Icon_report_host_io_stat.svg");
}
/*B127 虚拟机报表*/
.icon-report-vm:before {
	content: url("img/white/Icon_report_vm.svg");
}
/*B128 虚拟机性能top N报表*/
.icon-report-vm-performance:before {
	content: url("img/white/Icon_report_vm_performance.svg");
}
/*B129 虚拟机性能统计报表*/
.icon-report-vm-stat:before {
	content: url("img/white/Icon_report_vm_stat.svg");
}
/*B130 虚拟机网络流量top N报表*/
.icon-report-vm-netflow-topn:before {
	content: url("img/white/Icon_report_vm_netflow_topn.svg");
}
/*B131 虚拟机网络流量统计报表*/
.icon-report-vm-netflow-stat:before {
	content: url("img/white/Icon_report_vm_netflow_stat.svg");
}
/*B132 虚拟机磁盘io读写速率*/
.icon-report-vm-disk-io-stat:before {
	content: url("img/white/Icon_report_vm_disk_io_stat.svg");
}
/*B133 虚拟机io吞吐量top N报表*/
.icon-report-vm-io-topn:before {
	content: url("img/white/Icon_report_vm_io_topn.svg");
}
/*B134 虚拟机io吞吐量统计报表*/
.icon-report-vm-io-stat:before {
	content: url("img/white/Icon_report_vm_io_stat.svg");
}
/*B135 虚拟机快照*/
.icon-vm-snapshot:before {
	content: url("img/white/Icon_vm_snapshot.svg");
}
/*B136 虚拟机 当前快照*/
.icon-vm-currnet-snapshot:before {
	content: url("img/white/Icon_vm_current_snapshot.svg");
}
.icon-vm-currnet-snapshot-gray:before {
	content: url("img/gray/Icon_vm_current_snapshot_16x16.svg");
}
/*B137 DHCP服务*/
.icon-dhcp:before {
	content: url("img/white/Icon_dhcp.svg");
}
/*B138 打开重定向*/
.icon-port-redirect:before {
	content: url("img/white/Icon_port_redirect.svg");
}
/*B139 流量整形*/
.icon-netflow:before {
	content: url("img/white/Icon_netflow.svg");
}
/*B140 系统管理*/
.icon-system-manage:before {
	content: url("img/white/Icon_system_manage.svg");
}
/* 组织管理*/
.icon-org-manage:before {
	content: url("img/white/Icon_organize_manage.svg");
}
.icon-org-manage-gray:before {
	content: url("img/gray/Icon_organize_manage_16x16.svg");
}
/* 组织*/
.icon-org:before {
	content: url("img/white/Icon_organize.svg");
}
.icon-org-gray:before {
	content: url("img/gray/Icon_organize_16x16.svg");
}

/* 分配虚拟机*/
.icon-distributeVm:before {
	content: url("img/white/Icon_distributeVm.svg");
}
.icon-distributeVm-gray:before {
	content: url("img/gray/Icon_distributeVm.svg");
}
/* 取消分配虚拟机 */
.icon-revokeDomain:before {
	content: url("img/white/Icon_revokeDomain.svg");
}
.icon-revokeDomain-gray:before {
	content: url("img/gray/Icon_revokeDomain.svg");
}
/* 流程管理*/
.icon-vm-workflow-handle:before {
	content: url("img/white/Icon_vm_workflow_handle.svg");
}
/* 虚拟机电子流*/
.icon-vm-workflow:before {
	content: url("img/white/Icon_vm_workflow.svg");
}
/* 云硬盘电子流*/
.icon-vm-disk-workflow:before {
	content: url("img/white/Icon_vm_disk_workflow.svg");
}
/* 用户预注册电子流*/
.icon-user-preregister-workflow:before {
	content: url("img/white/Icon_user_preregister_workflow.svg");
}
/* 云备份策略电子流*/
.icon-cvm-backup:before {
	content: url("img/white/Icon_vm_backup_cloud.svg");
}
/* 虚拟机电子流*/
.icon-vm-workflow-tooltip:before {
	content: url("img/green/Icon_vm_workflow.svg");
}
/* 云硬盘电子流*/
.icon-vm-disk-workflow-tooltip:before {
	content: url("img/green/Icon_vm_disk_workflow.svg");
}
/* 用户预注册电子流*/
.icon-user-preregister-workflow-tooltip:before {
	content: url("img/green/Icon_user_preregister_workflow.svg");
}
/* 云备份策略电子流*/
.icon-cvm-backup-tooltip:before {
	content: url("img/green/Icon_vm_backup_cloud.svg");
}
/* 云工单*/
.icon-work-order:before {
	content: url("img/green/Icon_work_order.svg");
}
/* 流程定制*/
.icon-workflow-customized:before {
	content: url("img/white/Icon_workflow_customized.svg");
}
/** 虚拟桌面池管理*/
.icon-desktop-pool-manage:before {
	content: url("img/white/Icon_desktop_pool_manage.svg");
}
/** 虚拟桌面池*/
.icon-desktop-pool:before {
	content: url("img/white/Icon_desktop_pool.svg");
}
/** 云消息*/
.icon-cloud-message:before {
	content: url("img/white/Icon_cloud_message.svg");
}
/** 工单*/
.icon-work-order:before {
	content: url("img/white/Icon_work_order.svg");
}
.icon-desktop-pool-gray:before {
	content: url("img/gray/Icon_desktop_poo_16x16.svg");
}
/**B191 界面定制*/ 
.icon-ui-define:before {
	content: url("img/white/Icon_ui_define.svg");
}
/**B192 用户附加字段定义*/
.icon-user-field-define:before {
	content: url("img/white/Icon_ui_user_field_define.svg")
}
/*B141 操作员管理*/
.icon-operator-manage:before {
	content: url("img/white/Icon_operator_manage.svg");
}
.icon-operator-manage-gray:before {
	content: url("img/gray/Icon_operator_manage_16x16.svg");
}
/*B142 操作员*/
.icon-operator:before {
	content: url("img/white/Icon_operator.svg");
}
.icon-operator-gray:before {
	content: url("img/gray/Icon_operator_16x16.svg");
}
/*B143 增加操作员*/
.icon-operator-add:before {
	content: url("img/white/Icon_operator_add.svg");
}
/*B144 修改操作员*/
.icon-operator-edit:before {
	content: url("img/white/Icon_operator_edit.svg");
}
/*B145 删除操作员*/
.icon-operator-delete:before {
	content: url("img/white/Icon_operator_delete.svg");
}
/*B146 查看操作员*/
.icon-operator-view:before {
	content: url("img/white/Icon_operator_view.svg");
}
/*B147 操作员分组*/
.icon-operator-group:before {
	content: url("img/white/Icon_operator_group.svg");
}
.icon-operator-group-gray:before {
	content: url("img/gray/Icon_operator_group_16x16.svg");
}
/*B148 在线操作员*/
.icon-operator-online:before {
	content: url("img/white/Icon_operator_online.svg");
}
/*B149 操作员下线*/
.icon-operator-offline:before {
	content: url("img/white/Icon_operator_offline.svg");
}
/*B150 安全管理*/
.icon-security-manage:before {
	content: url("img/white/Icon_security_manage.svg");
}
/*B151 密码策略*/
.icon-security-pwd-strategy:before {
	content: url("img/white/Icon_security_pwd_strategy.svg");
}
/*B152 访问策略*/
.icon-security-access-strategy:before {
	content: url("img/white/Icon_security_access_strategy.svg");
}
/*B153 ACL策略*/
.icon-security-acl-strategy:before {
	content: url("img/white/Icon_security_acl_strategy.svg");
}
/* 证书认证　*/
.icon_security_cert:before  {
	content:url("img/white/Icon_security_cert.svg");
}
/*B154 cvm备份配置*/
.icon-cvm-backup-config:before {
	content: url("img/white/Icon_cvm_backup_config.svg");
}
.icon-cvm-backup-config-gray:before {
	content: url("img/gray/Icon_cvm_backup_config_16x16.svg");
}
/*B155 cvm备份历史*/
.icon-cvm-bakcup-hisotry:before {
	content: url("img/white/Icon_cvm_backup_history.svg");
}
.icon-cvm-bakcup-hisotry-gray:before {
	content: url("img/gray/Icon_cvm_backup_history_16x16.svg");
}
.icon-cvm-backup-history-gray-unis:before {
	content: url("img/gray/Icon_cvm_backup_history_unis.svg");
	width: 16px;
	height: 16px;
	display: inline-block;
}
/*B156 cvm恢复*/
.icon-cvm-restore:before {
	content: url("img/white/Icon_cvm_restore.svg");
}
.icon-cvm-restore-gray:before {
	content: url("img/gray/Icon_cvm_restore_16x16.svg");
}
/*B157 任务管理*/
.icon-task-manage:before {
	content: url("img/white/Icon_task_manage.svg");
}
.icon-task-manage-gray:before {
	content: url("img/gray/Icon_task_manage_16x16.svg");
}
/*B158 主机自动发现任务*/
.icon-task-host-discover:before {
	content: url("img/white/Icon_task_host_discover.svg");
}
.icon-task-host-discover-gray:before {
	content: url("img/gray/Icon_task_host_discover_16x16.svg");
}
/*B159 日志文件收集*/
.icon-run-log-gather:before {
	content: url("img/white/Icon_run_log_gather.svg");
}
.icon-run-log-gather-gray:before {
	content: url("img/gray/Icon_run_log_gather_16x16.svg");
}
/*B160 参数配置*/
.icon-parameter-setting:before {
	content: url("img/white/Icon_parameter_setting.svg");
}
/*B161 系统参数配置*/
.icon-system-parameter:before {
/* 	content: url("img/white/Icon_system_parameter.svg"); */
	content: url("img/gray/Icon_system_parameter_16x16.svg");
}
/*B162 邮件服务器参数配置*/
.icon-email-parameter:before {
/* 	content: url("img/white/Icon_email_parameter.svg"); */
	content: url("img/gray/Icon_email_parameter_16x16.svg");
}
/*B163 认证服务器参数配置*/
.icon-auth-server:before {
	content: url("img/white/Icon_auth_server.svg");
}
.icon-auth-server-gray:before {
	content: url("img/gray/Icon_auth_server_16x16.svg");
}
/*B164 cvm联动资源*/
.icon-cvm-linkage:before {
	content: url("img/white/Icon_cvm_linkage.svg");
}
/*165 同步*/
.icon-sychronization:before {
	content: url("img/white/Icon_sychronization.svg");
}
/*B165 license管理**/
.icon-license-manage:before {
	content: url("img/white/Icon_license_manage.svg");
}
/*B166 licensez注册*/
/* .icon-license-reply:before { */
/* 	content: url("img/white/Icon_license_reply.svg"); */
/* } */
/*B167 license申请*/
.icon-license-reply:before {
	content: url("img/white/Icon_license_reply.svg");
}
.icon-key:before {
	content: url("img/white/icon-key.svg");
}
.icon-license-reply-gray:before {
	content: url("img/gray/Icon_license_reply_16x16.svg");
}
.icon_license_register-gray{
	content: url("img/gray/icon_license_register_16x16.svg");
}
.icon-license-register{
	content: url("img/white/Icon_license_register.svg");
}
/*B168 选项*/
.icon-options:before {
	content: url("img/white/Icon_options_16x16.svg");
}
.icon-options-gray:before {
	content: url("img/gray/Icon_options_16x16.svg");
}
/*B169 任务台*/
.icon-task-view:before {
	content: url("img/white/Icon_task_view.svg");
}
/*B170 cas资源*/
.icon-cas:before {
	content: url("img/white/Icon_cas.svg");
}

/*B197 LDAP用户同步配置*/
.icon-ldap-user-config:before {
	content: url("img/white/Icon_ldap_user_config.svg");
}
/*B198 LDAP服务器配置*/
.icon-ldap-server-config:before {
	content: url("img/white/Icon_ldap_server_config.svg");
}
/*B199 LDAP同步策略配置*/
.icon-ldap-sync-config:before {
	content: url("img/white/Icon_ldap_sync_config.svg");
}
/*B200 LDAP用户导出配置*/
.icon-ldap-user-export:before {
	content: url("img/white/Icon_ldap_user_export.svg");
}
/*B201 防病毒软件*/
.icon-antivirus:before {
	content: url("img/white/Icon_antivirus.svg");
}


/*other 下拉号*/
.icon-xialahao:before {
	content: url("img/white/xialahao_13x13.svg");
}
/*other input后面的提示符号*/
.icon-tooltip:before {
	content: url("img/white/fuhao_18x18.svg");
}

/*other input内部的加号*/
.icon-add-btn:before {
	content: url("img/white/jiahao.svg");
}
/*other 三角号 left*/
.icon-triangle-left:before {
	content: url("img/white/sanjiaohao_left_5x10.svg");
}
/*other 图标占位，为了格式整齐*/
.icon-occupying:before{
	content: url("img/white/Icon_help.svg");
	filter: alpha(opacity=0);
    opacity: 0;
}
/*other 顶部导航栏图标*/
/*other 皮肤*/
.icon-skin:before {
	content: url("img/white/yifu_16x16.svg");
}
/*other 告警三角叹号*/
.icon-waring-triangle:before {
	content: url("img/gray/gantanhao_16x16.svg");
}
/*other 帮助问号*/
.icon-help-circle:before {
	content: url("img/gray/wenhao_16x16.svg");
}
/*other 菜单*/
.icon-menu:before {
	content: url("img/gray/caidan_16x16.svg");
}
/*other 登陆管理员头像*/
.icon-photo:before {
	content: url("img/gray/touxiang_16x16.svg");
}
/*other 返回*/
.icon-goback:before {
	content: url("img/white/fanhui_16x16.svg");
}
/*other 返回*/
.icon-goback-gray:before {
	content: url("img/fanhui_16x16.svg");
}
/*other 日历*/
.icon-rili:before {
	content: url("img/white/rili.svg");
}
/* other 界面定制 */
.icon-uicustom:before {
	content: url("img/white/Icon_uicustom.svg");
}
/* 资源授权管理 */
.icon-res-auth-gray:before {
	content: url("img/gray/Icon_res_auth.svg");
}
/* 升级  */
.icon-upgrade:before {
	content: url("img/white/Icon_upgrade.svg");
}
/*  升级(灰)*/
.icon-upgrade-gray:before {
	content: url("img/gray/Icon_upgrade.svg");
}
/* 云资源  */
.icon-cloud-website:before {
	content: url("img/white/Icon_cloud_website.svg");
}
.icon-cloud-website-gray:before {
	content: url("img/gray/Icon_cloud_website_16x16.svg");
}
/* 登录  */
.icon-remote-login-gray:before {
	content: url("img/gray/Icon_remote_login_16x16.svg");
}
/*一键存储清理*/
.icon-oneBtn-storageClean:before {
	content: url("img/white/Icon_clean.svg");
}
/*检查*/
.icon-check-repair:before {
	content: url("img/white/Icon_check_repair.svg");
}
/* 自定义监控*/
.icon-cloud-Monitor:before {
	content: url("img/white/Icon_cloud_monitor.svg");	
}
.icon-performance-Monitor:before {
	content: url("img/white/Icon_operator_monitor.svg");
}
.icon-view-Monitor:before {
	content: url("img/white/Icon_view_monitor.svg");
}
/*修复*/
.icon-repair:before {
	content: url("img/white/Icon_repair_16x16.svg");
}
/*批量部署虚拟机*/
.icon-batchdeploy-gray:before {
	content: url("img/gray/Icon_vm_batchdeploy.svg");
}
/* 历史图标 */
.icon-history:before {
	content: url("img/gray/Icon_history.svg");
}
/* 文件夹（灰）*/
.icon-folder-gray:before {
	content: url("img/gray/Icon_folder_16x16.svg");
}
.icon-vm-recycle:before{
	content: url("img/white/Icon_recycle_bin.svg");	
}
.icon-vm-recycle-gray:before{
	content: url("img/gray/Icon_recycle_bin.svg");	
}
.icon-setup:before {
	content: url("img/white/Icon_setup.svg");
}
.icon-setup-gray:before {
	content: url("img/gray/Icon_setup_16x16.svg");
}
/*告警阈值模板*/
.icon-alarm-rule-template-gray:before {
    content: url("img/gray/Icon_alarm_rule_template_16x16.svg");
}
/*安全管理(灰色)*/
.icon-security-manage-gray:before {
	content: url("img/gray/Icon_security_manage.svg");
}
/*安全管理(绿色)*/
.icon-security-manage-green:before {
	content: url("img/green/Icon_security_manage.svg");
}
/*云彩虹*/
.icon-cloud-rainbow:before {
	content: url("img/white/Icon_cloud_rainbow.svg");
}

/*统计报表*/
.icon-report-manage:before {
   content:url("img/white/Icon_resource_report.svg");
}
/*资源池计算资源使用统计*/
.icon-report-respool-compute:before {
   content:url("img/white/Icon_host_resource_report.svg");
}
/*资源池存储资源使用统计*/
.icon-report-respool-storage:before {
   content:url("img/white/Icon_report_respool_storage.svg");
}
/*组织资源配额使用审计*/
.icon-report-orgres-quota:before {
   content:url("img/white/Icon_orgres_quota_report.svg");
}
/*虚拟机使用量报表明细*/
.icon-vm-resource-report:before {
   content:url("img/white/Icon_vm_resource_report.svg");
}
/*虚拟机使用量报表汇总*/
.icon-vm-resource-summary-report:before {
   content:url("img/white/Icon_vm_resource_summary_report.svg");
}
/*监控管理*/
.icon-monitor-manage:before {
    content: url("img/white/Icon_report_monitor_16x16.svg");
}
/*趋势分析*/
.icon-monitor-trend-analysis:before {
    content: url("img/white/Icon_report_host_performance.svg");
}
/*存储资源容量监控*/
.icon-storage-res-capacity:before {
   content:url("img/white/Icon_storage_res_capacity.svg");
}
/*风险评估*/
.icon-monitor-risk-assessment:before {
    content: url("img/white/Icon_monitor_risk_assessment.svg");
}

/*插件管理*/
.icon-plugin:before {
	content: url("img/white/Icon_plugin_16x16.svg");
}

/*资源池图标*/
.icon-resourcePool:before {
	content: url("img/white/resourcePool.svg");
}

/*资源池列表图标*/
.icon-resourcePools:before {
	content: url("img/white/resourcePools.svg");
<<<<<<< .mine
}

/*防病毒*/
.icon-antivirus:before {
	content: url("img/white/Icon_antivirus.svg");
}

.icon-firewall:before {
	content: url("img/white/Icon_antivirus.svg");
=======
}

.icon-srm-faliover-gray:before {
    content: url("img/gray/Icon_srm_faliover.svg");
}

/*VDC管理*/
.icon-vdc-manage:before {
	content: url("img/white/Icon_vdc_manage.svg");
}
.icon-vdc-manage-gray:before {
	content: url("img/gray/Icon_vdc_manage_16x16.svg");
>>>>>>> .r18947
}