.input-group.has-right-btn{
	border: 1px solid #CCC;
	margin-bottom: 20px;
}
.input-group.has-right-btn input,
.input-group.has-right-btn button,
.input-group.has-right-btn textarea {
	border: 0px solid #FFF;
}
.input-group.has-right-btn input:focus,
.input-group.has-right-btn button:focus,
.input-group.has-right-btn textarea:focus{
	background-color: #FFF;
	border: 0px solid #FFF;
	outline:none;
}
.input-group.has-right-btn input:hover,
.input-group.has-right-btn button:hover,
.input-group.has-right-btn textarea:hover{
	background-color: #FFF;
}
.input-group.has-right-btn .input-group-btn{
	background-color: #FFF;

}
.input-group.has-right-btn .form-control:focus{
	border-color: #FFF;
  	outline: 0;
 	-webkit-box-shadow: none;
          box-shadow: none;
}
.input-group.has-right-btn .glyphicon{
	top:0px;
	margin-right: 0px;
	color:#6F7B87;
}
.input-group.has-right-btn.active{
	border-color: "#66afe9";
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.input-group.has-right-btn .input-group-btn.chevron-up,
.input-group.has-right-btn .input-group-btn.chevron-down{
	position:absolute;
	right:1px;
	z-index:2;
	width:22px;
    height:17px;
    background-color: #EBEEF3 ;
    padding:5px 4px 0px;
    border: 1px solid #E1E2E6;
    cursor: pointer;
}
.input-group.has-right-btn .input-group-btn.chevron-up {
	top: 1px;
}
.input-group.has-right-btn .input-group-btn.chevron-down {
	bottom: 1px;
}
.input-group.has-right-btn .input-group-btn.chevron-down .btn,
.input-group.has-right-btn .input-group-btn.chevron-up .btn{
	line-height: 14px;
	line-height: 14px;
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
	width:0;
    height:0;
}
.input-group.has-right-btn .input-group-btn.chevron-down .btn{
    border-width:5px 5px 0 5px ;
    border-style:solid dashed dashed dashed;
    border-color:#6F7B87 transparent transparent transparent;
}
.input-group.has-right-btn .input-group-btn.chevron-up .btn{
    border-width:0 5px  5px 5px ;
    border-style:dashed dashed solid dashed;
    border-color:transparent transparent #6F7B87  transparent;
}
.page.slideHidden .treeview {
/* 	width:190px !important; */
}
.description-new {
    min-width:282px;
}

.description-new .detail-item {
    background: none repeat scroll 0 0 #FFFFF;
    border: 1px solid #DEDEDE;
    height: 100%;
}

.description-new .detail-item .title h5 {
    color: #000000;
}

.description-new dl.dl-horizontal dt {
    border-bottom: 0 none;
    text-align: left;
    font-size: 12px;
    font-weight:normal;
    margin: 0px;
    line-height: 16px;
    padding: 7px 7px 1px 7px;
    float:left;
}
.description-new dl.dl-horizontal dd {
    border-bottom: 0 none;
    text-align: left;
    font-size: 12px;
    font-weight:normal;
    margin: 0px;
    line-height: 16px;
    padding: 7px;
    word-break: break-all;
}
.description-new dl.dl-horizontal dt {
    width: 120px;
    color:#666666;
}

.description-new dl.dl-horizontal dd {
    border-bottom: 0px;
    padding-left: 120px;
    margin-left: 0px;
    color:#333333;
}
.description-new dl.dl-wide dd {
    padding-left: 140px;
}

.description-new dl.dl-wide dt {
    width: 140px;
}

/* .description-new dl.dl-horizontal dd:after, .description-new dl.dl-horizontal dd:before { */
/* 	display: none; */
/* } */

.description-new dl.dl-horizontal dd:nth-of-type(even), .description-new dl.dl-horizontal dt:nth-of-type(even),
.description-new dl.dl-horizontal div:nth-of-type(even) dd, .description-new dl.dl-horizontal div:nth-of-type(even) dt {
	background-color: #FFFFFF;
}

.description-new dl.dl-horizontal dd:nth-of-type(odd), .description-new dl.dl-horizontal dt:nth-of-type(odd),
.description-new dl.dl-horizontal div:nth-of-type(odd) dd,  .description-new dl.dl-horizontal div:nth-of-type(odd) dt {
    background-color: #F5F5F5;
}
.row.overview-content-row {
	overflow:auto;
	margin:0;
	height:100%;
}
.row.overview-content-row  .overviewheight,
.row.overview-content-row  .overviewheight .detail-item
 {
	min-height : 282px;
}
.row.overview-content-row  .overviewheight-host,
.row.overview-content-row  .overviewheight-host .detail-item
 {
	min-height : 282px;
}

@media (min-width:1200px)  and (min-height: 750px) {
  .overviewheight {
	height:50% !important;
  }
  .desc-height-host { /**主机概要基本属性div**/
	height:100% !important;
   }
  .overviewheight-host {/**主机概要中内存利用率等div**/
    height:50% !important;
  }
}
 @media (min-width:992px) and (max-width:1200px)  and (min-height: 750px) {
  .overviewheight-host {/**主机概要中内存利用率等div**/
    height:33.33333333% !important;
  }
 }
 
 @media (min-width:1200px)  and (min-height: 750px)  {
  .desc-height {
	height:100% !important;
  }
 }
 @media (min-width:992px) and (max-width:1200px){
  .desc-height-host {
	height:100% !important;
  }
 }
@media (min-width:1200px) {
  .overview-desc {
	padding: 10px 0 0 10px;
  }
  .hostcpuTop5 {
	padding: 10px 0 0 10px;
  }
  .hostmenTop5 {
	padding: 10px 10px 0 10px;
  }
  .hoststatus {
    padding: 10px 0 10px 10px;
  }
  .vmcpu-top5 {
    padding :10px 0 10px 10px;
  }
  .vmmem-top5 {
    padding : 10px 10px 10px 10px;
  }
  .overview-host-desc { /**主机集群概览基本信息**/
    padding: 10px 0 10px 10px;
  }
  .vmcpu-top5-hostpage { /**主机集群概要**/
    padding :10px 0 0 10px;
  }
  .vmmem-top5-hostpage {/**主机下虚拟机内存利用率top5**/
    padding : 10px 10px 0 10px;
  }
  .compute-res-host { /**主机下计算资源监控**/
     padding : 10px 0 10px 10px;
  }
  .net-throughput { /**主机下网络吞吐量**/
     padding : 10px 10px 10px 10px;
  }
  .deskmem-top5 {/**virtulDesktopTop5*/
  	padding : 10px 10px 10px 10px;
  }
  
  .user-status {/**组织概要用户数统计**/
  	padding: 10px 0 0 10px;
  }
  .org-cpu-mem { /**cpu mem count in org overview**/
  	padding: 10px 0 0 10px;
  }
  .org-store-vm  {/**组织概要用户数统计**/
  	padding: 10px 10px 0 10px;
  }
  .org-vmCpuTop5 {
  	padding: 10px 0 10px 10px;
  }
  .org-vmMemTop5 {
  	padding: 10px 10px 10px 10px;
  }
  
  .virdesk-devRule {
 	 padding: 10px 10px 0 10px;
  }
  .virdesk-vmStatus {
  	padding: 10px 10px 0 0;
  }
  .virdesk-vmCpuTop5 {
  	padding: 10px 0 10px 10px;
  }
  .virdesk-vmMemTop5 {
  	padding: 10px 10px 10px 10px;
  }
  .resource-pool-up-line-left {
  	padding: 0 0 0 10px;
  }
  .resource-pool-up-line-right {
  	padding: 0 10px 0 10px;
  }
  .resource-pool-down-line-left {
  	padding: 10px 0 10px 10px;
  }
  .resource-pool-down-line-right {
  	padding: 10px 10px 10px 10px;
  }
}
@media (min-width:992px) and (max-width:1200px){
  
  .overview-desc {
	padding: 10px 0 0 10px;
  }
  .hostcpuTop5 {
	padding: 10px 10px 0 10px;
  }
  .hostmenTop5 {
	padding: 10px 0 0 10px;
  }
  .hoststatus {
    padding: 10px 10px 0 10px;
  }
  .vmcpu-top5 {
    padding :10px 0 10px 10px;
  }
  .vmmem-top5 {
    padding : 10px 10px 10px 10px;
  }
  
  .overview-host-desc { /**主机集群概览基本信息**/
    padding: 10px 0 0 10px;
  }
  .vmcpu-top5-hostpage { /**主机集群页面的虚拟机cpu利用率的top5**/
    padding :10px 10px 0 10px;
  }
  .vmmem-top5-hostpage {/**主机下虚拟机内存利用率top5**/
    padding : 10px 10px 0 10px;
  }
  .compute-res-host { /**主机下计算资源监控**/
     padding : 10px 0 10px 10px;
  }
  .net-throughput { /**主机下网络吞吐量**/
     padding : 10px 10px 10px 10px;
  }
   .deskmem-top5 { /**virtulDesktopTop5*/
  	padding : 0px 0px 10px 10px;
  }
  
   .user-status {/**组织概要用户数统计**/
  	padding: 10px 10px 0 10px;
  }
  .org-cpu-mem { /**cpu mem count in org overview**/
  	padding: 10px 0 0 10px;
  }
  .org-store-vm  {/**组织概要用户数统计**/
  	padding: 10px 10px 0 10px;
  }
  .org-vmCpuTop5 {
  	padding: 10px 0 10px 10px;
  }
  .org-vmMemTop5 {
  	padding: 10px 10px 10px 10px;
  }
  
  
  .virdesk-devRule {
 	 padding: 10px 10px 0 10px;
  }
  .virdesk-vmStatus {
  	padding: 10px 0 0 10px;
  }
  .virdesk-vmCpuTop5 {
  	padding: 10px 10px 0 10px;
  }
  .virdesk-vmMemTop5 {
  	padding: 10px 0px 10px 10px;
  }
  .resource-pool-up-line-left {
  	padding: 0 10px 0 10px;
  }
  .resource-pool-up-line-right {
  	padding: 10px 10px 0 10px;
  }
  .resource-pool-down-line-left {
  	padding: 10px 0 0 10px;
  }
  .resource-pool-down-line-right {
  	padding: 10px 10px 0 10px;
  }
}
 @media (min-width:768px) and (max-width:992px){
  .overview-desc {
	padding: 10px 0 0 10px;
  }
  .hostcpuTop5 {
	padding: 10px 10px 0 10px;
  }
  .hostmenTop5 {
	padding: 10px 0 0 10px;
  }
  .hoststatus {
    padding: 10px 10px 0 10px;
  }
  .vmcpu-top5 {
    padding :10px 0 10px 10px;
  }
  .vmmem-top5 {
    padding : 10px 10px 10px 10px;
  }
  
  .overview-host-desc { /**主机集群概览基本信息**/
    padding: 10px 0 0 10px;
  }
  .vmcpu-top5-hostpage { /**主机集群页面的虚拟机cpu利用率的top5**/
    padding :10px 10px 0 10px;
  }
  .vmmem-top5-hostpage {/**主机下虚拟机内存利用率top5**/
    padding : 10px 10px 0 10px;
  }
  .compute-res-host { /**主机下计算资源监控**/
     padding : 10px 0 10px 10px;
  }
  .net-throughput { /**主机下网络吞吐量**/
     padding : 10px 10px 10px 10px;
  }
  .deskmem-top5 { /**virtulDesktopTop5*/
  	padding : 0px 0px 10px 10px;
  }
  
  .user-status {/**组织概要用户数统计**/
  	padding: 10px 10px 0 10px;
  }
  .org-cpu-mem { /**cpu mem count in org overview**/
  	padding: 10px 0 0 10px;
  }
  .org-store-vm  {/**组织概要用户数统计**/
  	padding: 10px 10px 0 10px;
  }
  .org-vmCpuTop5 {
  	padding: 10px 0 10px 10px;
  }
  .org-vmMemTop5 {
  	padding: 10px 10px 10px 10px;
  }
  
  .virdesk-devRule {
 	 padding: 10px 10px 0 10px;
  }
  .virdesk-vmStatus {
  	padding: 10px 0 0 10px;
  }
  .virdesk-vmCpuTop5 {
  	padding: 10px 10px 0 10px;
  }
  .virdesk-vmMemTop5 {
  	padding: 10px 0px 10px 10px;
  }
  .resource-pool-up-line-left {
  	padding: 0 0 0 10px;
  }
  .resource-pool-up-line-right {
  	padding: 10px 0 0 10px;
  }
  .resource-pool-down-line-left {
  	padding: 10px 0 0 0;
  }
  .resource-pool-down-line-right {
  	padding: 10px 10px 0 10px;
  }
}
  @media (max-width:768px){
  .overview-desc {
	padding: 10px 10px 0 10px;
  }
  .hostcpuTop5 {
	padding: 10px 10px 0 10px;
  }
  .hostmenTop5 {
	padding: 10px 10px 0 10px;
  }
  .hoststatus {
    padding: 10px 10px 0 10px;
  }
  .vmcpu-top5 {
    padding :10px 10px 0 10px;
  }
  .vmmem-top5 {
    padding : 10px 10px 10px 10px;
  }
  
    .overview-host-desc { /**主机集群概览基本信息**/
    padding: 10px 10px 0 10px;
  }
  .vmcpu-top5-hostpage { /**主机集群页面的虚拟机cpu利用率的top5**/
    padding :10px 10px 0 10px;
  }
  .vmmem-top5-hostpage {/**主机下虚拟机内存利用率top5**/
    padding : 10px 10px 0 10px;
  }
  .compute-res-host { /**主机下计算资源监控**/
     padding : 10px 10px 0 10px;
  }
  .net-throughput { /**主机下网络吞吐量**/
     padding : 10px 10px 10px 10px;
  }
  .deskmem-top5 { /**virtulDesktopTop5*/
  	padding : 0px 0px 10px 10px;
  }
  
  .user-status {/**组织概要用户数统计**/
  	padding: 10px 10px 0 10px;
  }
  .org-cpu-mem { /**cpu mem count in org overview**/
  	padding: 10px 10px 0 10px;
  }
  .org-store-vm  {/**组织概要用户数统计**/
  	padding: 10px 10px 0 10px;
  }
  .org-vmCpuTop5 {
  	padding: 10px 10px 0 10px;
  }
  .org-vmMemTop5 {
  	padding: 10px 10px 10px 10px;
  }
  
  .virdesk-devRule {
 	 padding: 10px 10px 0 10px;
  }
  .virdesk-vmStatus {
  	padding: 10px 10px 0 10px;
  }
  .virdesk-vmCpuTop5 {
  	padding: 10px 10px 0 10px;
  }
  .virdesk-vmMemTop5 {
  	padding: 10px 10px 0 10px;
  }
  .resource-pool-up-line-left {
  	padding: 10px 10px 0 0
  }
  .resource-pool-up-line-right {
  	padding: 10px 10px 0 0
  }
  .resource-pool-down-line-left {
  	padding: 10px 10px 0 0;
  }
  .resource-pool-down-line-right {
  	padding: 10px 10px 10px 0;
  }
}
