.topo {
    background: white;
    width:100%;
    border:0px;
    position:relative;
    overflow: hidden;
}

.topo div,button,input {
	font-family: Arial,"Microsoft Yahei","微软雅黑",SimSun !important;
}

.topo input[type="text"],
#search input[type="text"] {
	border-radius:0px;
	width: 210px;
	line-height:20px;
	font-size:12px;
}

.topo .list{
	margin-left: 0;
	padding-left: 0;
	display: inline;
} 
.topo .list li{
	border-bottom: 1px;
    list-style: none;
    padding-bottom: 1px;
    margin-bottom: 1px;
    width: 100%;
    float: left;
    word-break:break-all;
    word-wrap:break-word;
} 

.topo #loadingDiv{ 
	display: block;
	position: absolute;  
	top: 0%;  
	left: 0%;  
	width: 100%;  
	height: 100%; 
	z-index:1001;  
	-moz-opacity: 0.7;  
	opacity:.70; 
	filter: alpha(opacity=70);
}
.topo #loadingImgDiv{
	display: block;  
	position: absolute;  
	top: 45%;  
	left: 45%; 
	z-index:1002;
}

.topo progress {
	width: 140px;
}

.topo progress.normal {
    display: inline-block;
}

.topo progress.high {
    display: inline-block;
}

.topo progress.warning {
    display: inline-block;
}

.topo .hostVm {
    opacity: 0;
    border-radius: calc(50%);
    width:0px;
    height:0px;
    transform:scale(0, 0);
    transition:transform 0.5s,opacity 0.5s,width 0.5s,height 0.5s;
    transition-property:width,height,transform,opacity;
    display: none;
    position: relative;
}
.topo .active {
    opacity: 0.95;
    transform:scale(1, 1);
    display: block;
    position: relative;
}
.topo .vm {
    width:50px;
    position: absolute;
}

.topo .vmImg {
    height: 32px;
    vertical-align: top;
    padding: 2px 8px;
    cursor: move;
    background-size: 100% 100% !important;
}

.topo .vmTitle {
    float: left;
    line-height: 15px;
    font-size: 12px;
    width: 52px;
    padding: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align:center;
}


.topo .dcTitle {
    border-left:none;
    border-top:none;
    line-height: 18px;
    font-size: 14px;
    width: 120px;
    height:20px;
    text-align: center;
}

.change-mode {
	width: 100%;
    height: 100%;
    opacity: 0.1;
    background-color: #EBEBEB;
    z-index: 999999;
    transition: width 2s,opacity 2s,background-color 2s;
}

.topo #myCarousel {
    width:92px;
    height: 625px;
    padding: 5px;
    border-left:none;
    left: calc(50% - 45px);
}

.topo .searchLeft,.topo .searchRight{
    position: absolute;
    top: 0px;
	margin:2px 5px;
	box-sizing: border-box;
}

.topo .searchLeft{
    left: calc(25% - 110px);
}

.topo .searchRight{
    left: calc(75% - 110px);
}

.topo .search-hide {
	display:none;
}


.topo .carousel-outter {
    width: 92px;
    height: 15px;
    left: calc(50% - 45px);
	position: relative;
}

.topo .carousel-ctrl-show ~ .carousel-ctrl-inner {
	 border-right:none;
	 display:none;
}

.topo .carousel-ctrl-inner {
    width: 30px;
    height: 200px;
    float: left;
}

.topo .carousel-ctrl {
    float:left;
    width: 100%;
    height: 15px;
    font-size: 16px;
    cursor: pointer;
    background-position: 9px 5px;
    -moz-user-select: none;
	-webkit-user-select: none;
	transform:rotate(180deg);
}

.topo .carousel-ctrl-show {
    margin:0px 5px 5px 0px;
    transform: rotate(0deg);
}

.topo .carousel-hide {
    width:0px;
    transition:width 2s,display 2s;
    transition-property:width, display;
    display: none;
}

.topo .selected {
    margin-top: 2px;
    border-radius: 10px;
    width:86px !important;
}

.topo .selectedVm {
    margin-top: 2px;
    border-radius: 3px;
}

.topo .selected .deleteIcon {
	display:block;
}

.topo .carouselVm:first-child {
}

.topo .carouselVm:last-child {
}

.topo .carouselVm {
    width:80px;
    padding:2px;
    height:80px;
    margin-top: 8px;
}
.topo .selectPublicCloud_unis {
    width:80px;
    height:64px;
    margin-top: 8px;
    background-size: 100% 100% !important;
    display: block !important;
}
.topo .selectPublicCloud {
    width:80px;
    height:64px;
    margin-top: 8px;
    background-size: 100% 100% !important;
    display: block !important;
}

.topo .selectPublicCloud2 {
    width:80px;
    height:64px;
    margin-top: 8px;
    margin-left : 8px;
    background-size: 70% 80% !important;
    display: block !important;
}


.topo .addPublicCloud {
	height: 60px;
    width: 60px;
    margin: 10px;
    background-size: 100% 100% !important;
    display: block !important;
}

.topo .deleteIcon {
    width: 20px;
    height: 20px;
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}


.topo .carouselVmTitle {
    line-height: 15px;
    font-size: 14px;
    text-align:center;
    margin-top: -15px;
    width:80px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -moz-user-select: none; /*火狐*/
	-webkit-user-select: none; /*webkit浏览器*/
}

/*bootstrap carousel  css*/
.topo a {
    color: #A9A1A1;
    text-decoration: none;
}

.topo .carousel {
    position: relative;
}

.topo .carousel-inner {
    position: relative;
    height: 100%;
    width:86px;
    padding-top:30px;
    overflow: hidden;
}

.topo .carousel-inner > .item {
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}

.topo .carousel-inner > .item > img,
.topo .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
}

.topo .carousel-inner > .active,
.topo .carousel-inner > .next,
.topo .carousel-inner > .prev {
    display: block;
}

.topo .carousel-inner > .active {
    left: 0;
}

.topo .carousel-inner > .next,
.topo .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.topo .carousel-inner > .next {
    top: 100%;
}

.topo .carousel-inner > .prev {
    top: -100%;
}

.topo .carousel-inner > .next.left,
.topo .carousel-inner > .prev.right {
    top: 0;
}

.topo .carousel-inner > .active.left {
    top: -100%;
}

.topo .carousel-inner > .active.right {
    top: 100%;
}

.topo .carousel-control {
    position: absolute;
    left: 40%;
    width: 20px;
    font-size: 22px;
    line-height: 12px;
    color: #A9A1A1;
    text-align: center;
    opacity: 0.5;
    border: 2px solid #A9A1A1;
    height: 20px;
}

.topo .carousel-control.left {
	top: 10px;
	transform:rotate(90deg);
	-moz-user-select: none;
	-webkit-user-select: none;
}

.topo .carousel-control.right {
    top: 570px;
    transform:rotate(90deg);
    -moz-user-select: none;
	-webkit-user-select: none;
}

.topo .carousel-control:hover,
.topo .carousel-control:focus {
    color: #A9A1A1;
    text-decoration: none;
    outline: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.topo .carousel-control .icon-prev,
.topo .carousel-control .icon-next,
.topo .carousel-control .glyphicon-chevron-left,
.topo .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.topo .carousel-control .icon-prev,
.topo .carousel-control .glyphicon-chevron-left {
    left: 50%;
}

.topo .carousel-control .icon-next,
.topo .carousel-control .glyphicon-chevron-right {
    right: 50%;
}

.topo .carousel-control .icon-prev,
.topo .carousel-control .icon-next {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    font-family: serif;
}

.topo .carousel-control .icon-prev:before {
    content: '\2039';
}

.topo .carousel-control .icon-next:before {
    content: '\203a';
}

.topo .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.topo .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.topo .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #ffffff;
}

.topo .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.topo .carousel-caption .btn {
    text-shadow: none;
}
/*bootstrap carousel  css*/

/* loading animate start */
.topo .loading-background {
  width: 100%;
  height:100%;
  opacity:0.5;
  background-color:#EBEBEB;
  z-index:888;
}

.topo .loading {
  opacity:1;
  margin: auto;
  width: 50px;
  height: 35px;
  margin-top:45%;
  text-align: center;
  font-size: 10px;
}

.topo .loading-fixed {
  margin-top:300px;
}

.topo .loading > div {
  background-color: #808080;
  height: 100%;
  width: 5px;
  margin-left:5px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.topo .loading .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.topo .loading .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.topo .loading .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.ui-autocomplete {
	max-width:210px;
	max-height:250px;
	overflow-y: auto;
	overflow-x: auto;
}

.topo .ui-menu .ui-menu-item a {
	line-height: 14px;
    font-size: 14px;
    padding: 2px;
    font-weight: normal;
    font-family: Arial,"Microsoft Yahei","微软雅黑",SimSun !important;
}

/** 图例 **/
.topoImg {
	width:30px;
	height:30px;
}

.topoTab>li>a {
	border-radius: 0px;
}

.filterMenu{
    display: inline-block;
    padding:3px;
    background:#EEEEEE;
    position: absolute;
    left: calc(100% - 250px);
    top: 30px;
    z-index:100;
}

/** VXLAN 拓扑 **/

.filterMenu > select {
    height:22px;
}


.filterMenu > select[name=scope] {
    width:100px;
}

.filterMenu > select[name=vxlanId] {
    width:120px;
}

/** tooltip **/
.tipDiv {
    width: 350px;
    text-align: center;
    font-size: 12px;
    font-family: 'Microsoft Yahei', 微软雅黑, SimSun;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    background: none repeat scroll 0 0 #fff;
    box-sizing: border-box;
}

.titleDiv {
    height: 26px;
    text-align: left;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    line-height:26px;
}
.titleDiv h5{
	display: inline;
}

.titleDiv .topoTitleImg {
	cursor: default;
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

.tip-items {
    width: 340px;
    margin: 1px 1px;
    padding-left: 0px;
    display: inline-block;
    list-style: none;
}

.tip-items > li:not(:last-child) {
    display: inline-block;
}

.tip-item-name {
    box-sizing:border-box;
    clear:left;
    color:rgb(102, 102, 102);
    display: inline-block;
    height:24px;
    line-height:12px;
    margin:0px;
    padding-bottom:1px;
    text-align:left;
    width:100px;
    padding: 7px;
    vertical-align: top;
}

.tip-item-value {
    padding-left: 100px;
    width: 220px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    line-height: 12px;
    padding: 7px;
    word-break: break-all;
    display: inline-block;
    vertical-align: top;
}

.tip-item-value img {
	margin-right:2px;
}

.tip-items > li .tip-item-btn:first-child {
	margin-left : 16px;
}

ul.more li .tip-item-btn {
	width: 70px;
    margin: 0px;
    margin-left : 0px !important;
    border-radius: 0px;
}
.testleft {
	background-image:url(img/sanjiaohao_left_5X10.svg) !important;
	background-position: center left !important;
	background-repeat: no-repeat !important;
}
.testright {
	background-image:url(img/sanjiaohao_right_5X10.svg) !important;
	background-position: center right !important;
	background-repeat: no-repeat !important;
}