.wizard-nav {
	padding: 0px 18px 18px 18px;
	height: 60px;
	font-size:12px;
	list-style-type: none;
	display: block;
	border-bottom:1px solid #CBCAD8;
}
.wizard-nav li {
	display: inline;
	text-align: center;
	width: 33%;
	float: left;
	position: relative;
	color: #696969;        /* 未激活的li文字颜色*/
}

.wizard-nav li.showActive span {
    color: #FFFFFF;
}
.wizard-nav li span.cas-slide-content {
    color: #666666;                                     /* 未激活的圆圈中的数字颜色*/
    display: block;
    margin: 0px auto 3px;
    position: relative;
    font-size:12px;
	padding:12px;
    line-height:14px;
/*     border-radius: 24px; */
/* 	border: 3px solid #F0F0F0; */
    border: 3px  #eee;
	background: none repeat scroll 0 0 #EBEBEB;         /*未激活的圆圈颜色*/
	cursor: pointer;
	width: 90%
}
.wizard-nav li:first-child span.cas-slide-content {
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.wizard-nav li:last-child span.cas-slide-content {
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wizard-nav li  span.cas-slide-arrow-left {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);        /*未激活的横线颜色*/
    border-bottom: 19px solid #EBEBEB;
    border-left: 19px solid rgba(0, 0, 0, 0);
    border-top: 19px solid #EBEBEB;
    display: block;
    float: left;
    position: relative;
    width: 0;
    height: 0;
    margin-left: -30px;
    margin-top: -12px;
}

.wizard-nav li  span.cas-slide-arrow-right {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);        /*未激活的横线颜色*/
    border-bottom: 19px dashed rgba(0, 0, 0, 0);
    border-left: 19px solid #EBEBEB;
    border-top: 19px dashed rgba(0, 0, 0, 0);
    display: block;
    float: right;
    position: relative;
    width: 0;
    height: 0;
    margin-right: -30px;
    margin-top: -12px;
}

.wizard-header {
/*   border-bottom: 1px solid #eee; */
  border-top: 0px !important;
  padding-top: 16px !important;
  padding-bottom: 20px !important;
}
.carousel-footer{
	 width:100%;
	 text-align:right;
}
.carousel-footer .left{
	float:left;
}
.carousel-footer .right{
	float:right;
}