.workflow{
	position:relative;
	width:100%;
	overflow:auto;
	font-size:12px;
	height:91%;
}
.workflow div,.workflow ul,.workflow ol,.workflow li{padding:0;margin:0;overflow:hidden;}
.workflow ol,.workflow ul,.workflow li{list-style:none;}
.workflow img{display:block;vertical-align:top;}
.workflow input{padding:0;margin:0;font-family:Verdana; vertical-align:middle;font-size:12px;}
.workflow a{color:#333;text-decoration:none;outline:none;}
.workflow a:hover{color:#bb2a2f;text-decoration:none;outline:none;}
.workflow a:focus{outline:none;}

.workflow .bd{
	margin:20px auto 0;
	width:100%;
	background:url('img/dashed.png') center repeat-y;
}
.workflow .bd li{
	z-index:90;
	position:relative;
	margin:20px auto 0;
	width:30px;
	min-height:30px;
	line-height:37px;
	border:solid 1px #ddd;
	border-radius:5px;
	text-align:center;
	cursor:default;
	overflow:visible;
	background:#f7f7f7;
}
.workflow .bd li.start{
	margin-top:0;
	border-radius:15px;
	width:100px;
	height:40px;
}
.workflow .bd li.dft{
	padding:10px;
	width:500px;
	text-align:left;
	line-height: 20px;
}
.workflow .bd li.step{
	padding:10px;
	width:500px;
	text-align:left;
	line-height: 20px;
}
.workflow .bd li.add{
	cursor:pointer;
	background:url('img/gray/Icon_add_50x50.svg') center no-repeat;
	text-indent:-10000px;
	border-radius:25px;
	width:48px;
	height:48px;
	line-height:47px;
	text-align:center;
}
.workflow .bd li.add:hover{
	border-color:#436BB3;
	cursor:pointer;
}
.workflow .bd li.end{
	border-radius:15px;
	width:100px;
	height:40px;
}
.workflow .btns{
	margin:20px auto 10px;
	width:200px;
	text-align:center;
}

.workflow .bd .typeBox{
	border-bottom:solid 1px #ddd;
}
.workflow .bd .typeBox .typeRadio{
	padding-right:10px;
}
.workflow .bd .personBox{}
.workflow .bd .personBox .lbl{
	padding-top:10px;
}
.workflow .bd .personBox .lbl,
.workflow .bd .personBox .selected{
	float:left;
}
.workflow .bd .personBox .selected{
	max-width:418px;
}
.workflow .bd .personBox .selected li{
	position:relative;
	float:left;
	margin:10px 0 0 10px;
	padding:0 10px 0 15px;
	width:auto;
	min-height:20px;
	height:20px;
	line-height:20px;
	border:solid 1px #ddd;
	border-radius:2px;
	overflow:visible;
	background:#fff;
}
.workflow .bd .personBox .selected li .operImg{
	position:absolute;
	top:2px;
	left:0px;
	width:14px;
	height:14px;
	background:url('img/gray/Icon_operator_12x12.svg') center no-repeat;
	text-indent:-10000px;
}

.workflow .bd .personBox .selected .selectOper{
	padding:0;
	width:20px;
	cursor:pointer;
}
.workflow .bd .personBox .selected .selectOper:hover{
	border-color:#436BB3;
	cursor:pointer;
}
.workflow .bd .personBox .l{
	float:left;
}
.workflow .bd .personBox .r{
	float:right;
	width:418px;
}
.workflow li .delOper{
	position:absolute;
	top:-5px;
	right:-5px;
	width:14px;
	height:14px;
	background:url('img/del_bg.png') center no-repeat;
	text-indent:-10000px;
	cursor:pointer;
}
.workflow li .delOper:hover{
	background:url('img/del_bg_hover.png') center no-repeat;
}

.workflow li .delStep{
	position:absolute;
	top:-5px;
	right:-5px;
	width:14px;
	height:14px;
	background:url('img/gray/Icon_delete_16x16.svg') center no-repeat;
	text-indent:-10000px;
	cursor:pointer;
}