<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.h3cloud.performance.monitor.service.mapper.clickhouse.CoreServiceMonDataMapper">
  <select id="queryCoreServiceMonData"
          resultType="com.h3c.h3cloud.performance.monitor.service.module.clickhouse.CoreServiceMonData">
    SELECT
        INSERT_TIME as insertTime, TIME AS time, SERVICE AS service, METRIC AS metric, VALUE AS value
        FROM TBL_CORE_SERVICE_MON_DATA
    WHERE TIME BETWEEN #{start} AND #{end}
    <if test="service != null">
      AND SERVICE = #{service}
    </if>
    <if test="metric != null">
      AND METRIC = #{metric}
    </if>
    ORDER BY TIME ASC
  </select>
</mapper>