<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.h3cloud.performance.monitor.service.mapper.clickhouse.VswitchFlowAggregation5mMapper">
    <delete id ="deleteBeforeTime">
        ALTER TABLE AGG_VSWITCH_FLOW_5M DELETE WHERE TIME &lt; #{time}
    </delete>

</mapper>
