Z*e*d
Z+e*Z,e
Z-e'e-
Z.e,e
e%e,
Z/e!e
Z5e4e5A
e%e6
e#e7
Z8e8
Z:e:
e&Z;e;e
Z<e:e
Z=e.e
Z>e+e
e>e=B
Z@e@
List
Optional
Set)
Combine
Literalr
ParseException
Regex
Word
ZeroOrMore
originalTextFor
	stringEnd
stringStart
MARKER_EXPR
Marker)
LegacySpecifier
	Specifier
SpecifierSetc
InvalidRequirementzJ
    An invalid requirement was found, users should refer to PEP 508.
    N)
__name__
__module__
__qualname__
__doc__
M/usr/lib/python3.9/site-packages/setuptools/_vendor/packaging/requirements.pyr
namez
[^ ]+
extrasF)
joinStringZ
adjacent
	_raw_specc
<lambda>@
	specifierc
markerc
_original_startZ
_original_endr'
x[]c
Requirementz
Parse a requirement.
    Parse a given requirement string into its parts, such as name, specifier,
    URL, and extras. Raises InvalidRequirement on a badly-formed requirement
    string.
    N)
requirement_string
returnc
Parse error at "
filez
Invalid URL givenz
Invalid URL: )
REQUIREMENT
parseStringr
msgr"
urllib
parse
urlparse
scheme
urlunparse
netloc
setr$
asListr
selfr0
parsed_urlr
__init__d
Requirement.__init__)
; r&
)	r"
join
sorted
appendr-
strr#
partsZ
formatted_extrasr
__str__}
Requirement.__str__c
<Requirement('z
')>r
__repr__
Requirement.__repr__)
string
urllib.parser7
typingr
Z	TOptionalr
setuptools.extern.pyparsingr
markersr
specifiersr
ValueErrorr
ascii_letters
digitsZ
ALPHANUM
suppressZ
LBRACKETZ
RBRACKETZ
LPARENZ
RPAREN
COMMAZ	SEMICOLON
PUNCTUATIONZ
IDENTIFIER_ENDZ
IDENTIFIER
NAMEZ
EXTRAZ
URIZ
URLZ
EXTRAS_LISTZ
EXTRASZ
_regex_str
VERBOSE
IGNORECASEZ
VERSION_PEP440Z
VERSION_LEGACYZ
VERSION_ONEZ
VERSION_MANYZ
_VERSION_SPECZ
setParseActionZ
VERSION_SPECZ
MARKER_SEPARATORZ
MARKERZ
VERSION_AND_MARKERZ
URL_AND_MARKERZ
NAMED_REQUIREMENTr4
<module>
