[Unit]
Description=Hook host shutdown event for high ability
Requires=network-online.target
DefaultDependencies=no
After=network.target
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/bin/bash /opt/bin/cha_record_host_shutdown.sh

[Install]
WantedBy=network.target
