<!-- 增加字段 -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" custom-title="{{'common.close'|translate}}">
        <span class="icon-closenew"></span>
    </button>
	<h4 class="modal-title" >{{title}}</h4>
</div>
<div class="list-body">
	<nav class="navbar-default" role="navigation" style="margin:0 0 0 6px;">
		<div class="container-fluid" style="padding:4px;">
			<div>
			     <h5 translate="field.fieldTip"></h5>
		       </div>
			<div style="float: right;">
					<label class="btn btn-default btn-menu hidden-xs" ng-click="refreshPage()" >
						<span class='sm-icon icon-refresh'></span>
						<span translate="common.refresh"></span>
				    </label>
					<label class="btn btn-default btn-menu hidden-xs" ng-click="add()">
						<span class="sm-icon icon-add"></span>
						<span translate="field.add"></span>
					</label>
			</div>
		</div>
	</nav>
	<div class="cas-list-body define-field-list" ng-style="{'margin-top' : '50px'}">
	    <div class="uicustom-background">
      	 	<div class="fieldgrid-title" translate="field.name"></div>
      	 	<div class="fieldgrid-type" translate="field.type"></div>
      	 	<div class="fieldgrid-type" translate="field.prop"></div>
      	 	<div class="fieldgrid-type" translate="common.oper"></div>
      	 </div>
         <div class="dd" id="nestable" style="max-width:100%;">
			 <ol class="dd-list" >
				 <li ng-repeat="item in myData" class="dd-item item-green vmgrid-dditem" data-id="{{item.index}}"  ng-model="item.fieldPriority">
					 <div  class="dd-handle vmgrid-ddhandle">
						 <div class="fieldgrid-col-title" custom-title='{{item.fieldName}}'>{{item.fieldName}}</div>
						 <div class="fieldgrid-col-type"><div>
						    <span ng-if= 'item.fieldType == 0' translate="field.intager"></span>
						    <span ng-if= 'item.fieldType == 1' translate="field.strIntager"></span>
						    <span ng-if= 'item.fieldType == 2' translate="field.anyStr"></span>
						    <span ng-if= 'item.fieldType == 3' translate="field.selData"></span></div></div>
						 <div class="fieldgrid-col-type" ><div>
						    <span ng-if= 'item.fieldAllowBlank == 0' translate="field.allowBlank"></span>
						    <span ng-if= 'item.fieldAllowBlank == 1' translate="field.forbBlank"></span></div></div>
						 <div class="fieldgrid-col-type"><div style="padding-top:2px;">
					 		<div type="button" class="btn btn-sm-icon icon-modify-gray" ng-click="modify(item)" custom-title="{{'common.modify'|translate}}"></div>
					 		<div type="button" class="btn btn-sm-icon icon-delete-gray" ng-click="del(item)" custom-title="{{'common.delete'|translate}}"></div>
					 	</div></div>
					 </div>
				 </li>
			 </ol>
		  </div>
	</div>
</div>
<!-- 按钮栏 -->
<div class="modal-footer">
	<button id="okBtn" class="btn btn-green"  ng-click="ok()" translate="common.confirm"></button>
    <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>