<!-- share file system selector弹出窗口 -->
<!-- 标题 -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" custom-title="{{'common.close'|translate}}">
        <span class="icon-closenew"></span>
    </button>
    <h4 class="modal-title" translate="entrust.entrustHistoryTitle"></h4>
</div>
<!-- 内容1:单form -->
<div class="modal-body list-body">
      <div style="width: 100%; height: 360px;" class="table"  ng-grid="gridOptions"></div>
</div>
<!-- 按钮栏 -->
<div class="modal-footer">
    <button class="btn btn-black" ng-click="cancel()" translate="common.close"></button>
</div>