<!-- 标题 -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" custom-title="{{'common.close'|translate}}">
        <span class="icon-closenew"></span>
    </button>
    <button type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" 
    	ng-click="openHelp('cloudService/pre-reg/handleUserPreRegWorkflow')">
		<span class="icon-helpnew"></span>
	</button>
    <h4 class="modal-title"><span translate="workflow.handleRegister"></span></h4>
</div>
<!-- 内容 -->
<div class="modal-body row">
	<form name="form"  class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate >
		<div class="form-group">
		    <label class="control-label"><span translate="common.loginName"></span></label>
		    <div class="control-input">
		      <p class="form-control-static" custom-title shortcut short-width=300 cut-str="{{model.loginName}}">{{model.loginName}}</p>
		    </div>
		</div>
		<div class="form-group">
		    <label class="control-label"><span translate="licenseMng.userName"></span></label>
		    <div class="control-input">
			    <p class="form-control-static" custom-title shortcut short-width=300 cut-str="{{model.userName}}">{{model.userName}}</p>
		    </div>
		</div>
		<div class="form-group">
		    <label class="control-label"><span translate="workflow.credentialNumber"></span></label>
		    <div class="control-input">
			    <p class="form-control-static" custom-title shortcut short-width=300 cut-str="{{model.credentialNumber}}">{{model.credentialNumber}}</p>
		    </div>
		</div>
		<div class="form-group">
		    <label class="control-label">E-mail</label>
		    <div class="control-input">
			    <p class="form-control-static" custom-title shortcut short-width=300 cut-str="{{model.email}}">{{model.email}}</p>
		    </div>
		</div>
		<div class="form-group">
		    <label class="control-label"><span translate="workflow.phone"></span></label>
		    <div class="control-input">
			    <p class="form-control-static" custom-title shortcut short-width=300 cut-str="{{model.phone}}">{{model.phone}}</p>
		    </div>
		</div>
		<div class="form-group">
		    <label class="control-label"><span translate="workflow.address"></span></label>
		    <div class="control-input">
			    <p class="form-control-static" custom-title shortcut short-width=300 cut-str="{{model.address}}">{{model.address}}</p>
		    </div>
		</div>
		<div class="form-group">
		    <label class="control-label"><span translate="common.organization"></span><span class="required">*</span></label>
		    <div class="control-input">
				<div class="input-group width260" ng-click="selectSingleOrganize()">
					<input type="text" class="form-control first-child-angle selectInput" ng-model="orgName" id="orgName" name="orgName" required readonly>
					<span class="input-group-addon inner-addon last-child-angle" style="cursor:pointer;">
                    	<span class="icon-search-gray" type="button"></span>
                    </span>
				</div>
			</div>
		</div>
		<div class="form-group">
		    <label class="control-label"><span translate="common.userGroup"></span><span class="required">*</span></label>
		    <div class="control-input">
				<div class = "input-group width260" ng-click="selectSingleGroup()">
					<input type="text" class="form-control first-child-angle selectInput" ng-model="groupName" id="groupName" name="groupName" required readonly>
					<span class="input-group-addon inner-addon last-child-angle" style="cursor:pointer;">
                    	<span class="icon-search-gray" type="button"></span>
                    </span>
				</div>
			</div>
		</div>
	</form>
</div>
 <div class="modal-footer">
	  <button id="okBtn" class="btn btn-green" ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
	  <button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
 </div>
