<!-- 修改组织 -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" custom-title="{{'common.close'|translate}}">
        <span class="icon-closenew"></span>
    </button>
    <h4 class="modal-title"><span translate="workflow.handlerDelayWorkflow"></span></h4>
</div>
<!-- 内容 -->
<div class="modal-body row">
	<form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
		<div class="form-group">
        	<label for="doaminName" class="control-label"><span translate="cloudResource.vmName"></span></label>
       		<div class="control-input" >
         		<div class="input-group input-xlarge">
         		<input type="text" class="form-input form-control" ng-model="model.domainName" id="displayName" name="displayName" ng-disabled='true'>
         		</div>
         	</div>
         </div>
         <div class="form-group">
        	<label for="title" class="control-label"><span translate="vm.displayName"></span></label>
       		<div class="control-input" >
         		<div class="input-group input-xlarge">
         		<input type="text" class="form-input form-control" ng-model="model.title" id="title" name="title" ng-disabled='true'>
         		</div>
         	</div>
         </div>
         <div class="form-group">
        	<label for="applyReason" class="control-label"><span translate="workflow.delayResion"></span></label>
       		<div class="control-input" >
         		<div class="input-group input-xlarge">
         		<textarea type="text" class="form-input form-control" ng-model="model.applyReason" id="applyReason" name="applyReason" ng-disabled='true'></textarea>
         		</div>
         	</div>
         </div>
		<!-- 到期日期 -->
		<div class="form-group">
			<label for="expireDate" class="control-label">
				<span translate="common.expireDate"></span>
			</label>
			<div class="control-input">		     	
		     	<div class="input-group date input-large"  date-cell="#expireDateInput" jes-date format="YYYY-MM-DD" min-date="minDate" picker-position="right" ng-model="model.expireDate">
                    <input id="expireDateInput" class="form-input form-control selectInput first-child-angle calendar-input-img" type="text" readonly value="{{model.expireDate}}">
                </div>
		     </div>
		</div>
		<!-- 实施意见 -->
		<div class="form-group" ng-class="{'has-error': (form.handleReason.$dirty && form.handleReason.$invalid)}">
			<label class="col-sm-1 control-label"><span translate="workflow.handleReason"></span></label>
			<div class="control-input input-group input-xlarge">
				<textarea  class="form-input form-control"  ng-model="handleReason" ng-maxlength=256 name="handleReason" ></textarea>
				<span class="input-group-addon help-addon" ng-messages="form.handleReason.$error">
					<span ng-if="form.handleReason.$valid||!form.handleReason.$dirty">
						<span class="icon-occupying"></span>
					</span>
					<span ng-if="form.handleReason.$dirty">
						<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}256"></span></span>
					</span>
				</span>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button id="okBtn" class="btn btn-green"  ng-if="model.opType != 'view'"  ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
	<button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>
