<!-- 修改组织 -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" custom-title="{{'common.close'|translate}}">
        <span class="icon-closenew"></span>
    </button>
<!-- 201703070625 delete this button 
	<button type="button" class="close cornerhelp" custom-title="{{'help'|translate}}" ng-click="openHelp('cloudService/cloudisk/handleWorkflow')">
		<span class="icon-helpnew"></span>
	</button>
-->    
    <h4 class="modal-title"><span translate="workflow.handlerCancelWorkflow"></span></h4>
</div>
<!-- 内容 -->
<div class="modal-body row">
	<form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
		<div class="form-group">
        	<label for="doaminName" class="control-label"><span translate="cloudResource.vmName"></span></label>
       		<div class="control-input" >
         		<div class="input-group input-xlarge">
         		<input type="text" class="form-input form-control" ng-model="model.domainName" id="displayName" name="displayName" ng-disabled='true'>
         		</div>
         	</div>
         </div>
         <div class="form-group">
        	<label for="title" class="control-label"><span translate="vm.displayName"></span></label>
       		<div class="control-input" >
         		<div class="input-group input-xlarge">
         		<input type="text" class="form-input form-control" ng-model="model.title" id="title" name="title" ng-disabled='true'>
         		</div>
         	</div>
         </div>
         <!-- 注销方式 -->
		<div class="form-group">
         	<label for="osList" class="control-label"><span translate="workflow.cancelType"></span><span style="color:red">&nbsp;</span></label>
        	<div class="control-input">
		  		<div id="keepVmTypeDiv" cascheckbox class="cas-checkbox labeled-btn radio" ng-model="delVmType" value='0' ng-init="delVmType == 0">
			 		<input id="keepVmType" name="type" type="radio" ng-checked ="delVmType == 0">
			  		<div class="corner-label">
			       		<i class="glyphicon glyphicon-ok icon"></i>
			   		</div>
			 		<div class="box">
		           		 <span class="box-name" style="width:70px;" translate="workflow.keepVmType"></span>
			   		</div>
		    	</div>
		    	<div id="delVmTypeDiv" cascheckbox class="cas-checkbox labeled-btn radio" ng-model="delVmType" value='1'>
		     		<input id="delVmType" name="type" type="radio" ng-checked ="delVmType == 1">
		         		<div class="corner-label">
		           			<i class="glyphicon glyphicon-ok icon"></i>
		             	</div>
		              	<div class="box">
		              		 <span class="box-name" style="width:70px;" translate="workflow.delVmType"></span>
		            	</div>
	          		</div>
	     		</div>
	  		</div>
		<!-- 实施意见 -->
		<div class="form-group" ng-class="{'has-error': (form.handleReason.$dirty && form.handleReason.$invalid)}">
			<label class="col-sm-1 control-label"><span translate="workflow.handleReason"></span></label>
			<div class="control-input input-group input-xlarge">
				<textarea  class="form-input form-control"  ng-model="handleReason" ng-maxlength=256 name="handleReason" ></textarea>
				<span class="input-group-addon help-addon" ng-messages="form.handleReason.$error">
					<span ng-if="form.handleReason.$valid||!form.handleReason.$dirty">
						<span class="icon-occupying"></span>
					</span>
					<span ng-if="form.handleReason.$dirty">
						<span ng-message="maxlength"><span class="fa fa-exclamation-triangle" tooltip-placement="right" tooltip="{{'maxlen'|translate}}256"></span></span>
					</span>
				</span>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button id="okBtn" class="btn btn-green"  ng-if="model.opType != 'view'"  ng-disabled="form.$invalid" ng-click="ok()" translate="common.confirm"></button>
	<button class="btn btn-black" ng-click="cancel()" translate="common.cancel"></button>
</div>
