<!-- 审批权限委托 --> 
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" custom-title="{{'common.close'|translate}}">
        <span class="icon-closenew"></span>
    </button>
	<h4 class="modal-title" translate="entrust.entrustHead"></h4>
</div>
<div class="modal-body panel-body">
	<div class="form-horizontal">
		<form name="form" class="form-horizontal" ng-keypress="enter($event)" role="form" novalidate>
		    <!-- 全部委托或者按业务委托 -->
            <div class="form-group" style="margin-left:120px;">
                <!-- 全部委托-->
                <div id="effect_0Id" cascheckbox style="margin-left: 0;margin-right: 5px;" class="cas-checkbox labeled-btn radio labelMarginleft" ng-model="model.state" value='0'>
                    <input id="effect_0" name="effectType" type="radio" ng-checked ="model.state == 0">
                    <div class="corner-label">
                        <i class="glyphicon glyphicon-ok icon"></i>
                    </div>
                    <div class="box">
                        <span class="box-name" translate="entrust.allEntrust"></span>
                    </div>
                </div>
                <!-- 按业务委托 -->
                <div id="effect_1Id" cascheckbox style="margin-left: 0;margin-right: 5px;" class="cas-checkbox labeled-btn radio labelMarginleft" ng-model="model.state" value='1'>
                    <input id="effect_1" name="effectType" type="radio" ng-checked ="model.state == 1">
                    <div class="corner-label">
                        <i class="glyphicon glyphicon-ok icon"></i>
                    </div>
                    <div class="box">
                        <span class="box-name" style="width:90px;" translate="entrust.busEntrust"></span>
                    </div>
                </div>
            </div>
		    
		    <!-- 被委托人 -->
		    <div class="form-group" ng-if="model.state == 0">   
                <label for="mandatary" class="control-label">
                    <span translate="entrust.mandatary"></span>
                </label> 
                <div class="control-input">
                    <div class="input-group width260" ng-click="selectSingleOperator('mandatary')">
                        <input id="mandatary" ng-readonly="true" name="mandatary" class="form-control first-child-angle selectInput" type="text" ng-model="model.mandataryOpName" >
                        <span class="input-group-addon inner-addon">
	                    	<span class="icon-search-gray" type="button" style="cursor:pointer;"></span>
	                    </span>                             
                    </div>
                </div>
            </div>
		    <!-- 虚拟机电子流 -->
            <div class="form-group" ng-if="model.state == 1">   
                <label for="vmWorkFLow" class="control-label">
                    <span translate="entrust.vmWorkFLow"/></label> 
                <div class="control-input">
                    <div class="input-group width260" >
                        <input id="vmWorkFLow" ng-readonly="true" name="vmWorkFLow" class="form-control first-child-angle selectInput" type="text" ng-model="model.vmWorkFLowOpName" ng-click="selectSingleOperator('vmWorkFLow')">
                        <span class="input-group-addon inner-addon" ng-click="selectSingleOperator('vmWorkFLow')">
	                    	<span class="icon-search-gray" type="button" style="cursor:pointer;"></span>
	                    </span> 
                        <span class="input-group-addon inner-addon last-child-angle" > 
                            <span class="icon-delete-gray" type="button" ng-click="clearOperator('vmWorkFLow')"></span>     
                        </span>                         
                    </div>
                </div>
            </div>
		    <!-- 云硬盘电子流 -->
		    <div class="form-group" ng-if="model.state == 1">   
                <label for="cloudDisk" class="control-label">
                    <span translate="entrust.cloudDisk"/></label> 
                <div class="control-input">
                    <div class="input-group width260" >
                        <input id="cloudDisk" ng-readonly="true" name="cloudDisk" class="form-control first-child-angle selectInput" type="text" ng-model="model.cloudDiskOpName" ng-click="selectSingleOperator('cloudDisk')">
                        <span class="input-group-addon inner-addon" ng-click="selectSingleOperator('cloudDisk')">
                            <span class="icon-search-gray" type="button" style="cursor:pointer;"></span>
                        </span> 
                        <span class="input-group-addon inner-addon last-child-angle" > 
                            <span class="icon-delete-gray" type="button" ng-click="clearOperator('cloudDisk')"></span>     
                        </span>                         
                    </div>
                </div>
            </div>
		    <!-- 用户预注册电子流 -->
		    <div class="form-group" ng-if="model.state == 1">   
                <label for="userRegister" class="control-label">
                    <span translate="entrust.userRegister"/></label> 
                <div class="control-input">
                    <div class="input-group width260" >
                        <input id="userRegister" ng-readonly="true" name="userRegister" class="form-control first-child-angle selectInput" type="text" ng-model="model.userRegisterkOpName" ng-click="selectSingleOperator('userRegister')">
                        <span class="input-group-addon inner-addon" ng-click="selectSingleOperator('userRegister')">
                            <span class="icon-search-gray" type="button" style="cursor:pointer;"></span>
                        </span> 
                        <span class="input-group-addon inner-addon last-child-angle" > 
                            <span class="icon-delete-gray" type="button" ng-click="clearOperator('userRegister')"></span>     
                        </span>                         
                    </div>
                </div>
            </div>
		    <!-- 云备份策略电子流 -->
		    <div class="form-group" ng-if="model.state == 1">   
                <label for="cloudBackupStrategy" class="control-label">
                    <span translate="entrust.cloudBackupStrategy"/>
                </label> 
                <div class="control-input">
                    <div class="input-group width260" >
                        <input id="cloudBackupStrategy" ng-readonly="true" name="cloudBackupStrategy" class="form-control first-child-angle selectInput" type="text" ng-model="model.cloudBackupStrategyOpName" ng-click="selectSingleOperator('cloudBackupStrategy')">
                        <span class="input-group-addon inner-addon" ng-click="selectSingleOperator('cloudBackupStrategy')">
                            <span class="icon-search-gray" type="button" style="cursor:pointer;"></span>
                        </span> 
                        <span class="input-group-addon inner-addon last-child-angle" > 
                            <span class="icon-delete-gray" type="button" ng-click="clearOperator('cloudBackupStrategy')"></span>     
                        </span>                         
                    </div>
                </div>
            </div>
		</form>
	</div>
</div>
<div class="modal-footer">
  <button id="okId" class="btn btn-green" ng-click="entrust()" translate="entrust.entrust"></button>
  <button class="btn btn-black" ng-click="canEntrust()" translate="entrust.canEntrust"></button>
  <button class="btn btn-black" ng-click="history()" translate="entrust.entrustHistory"></button>
</div>
